Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Fixing switching focus between ToolStrips where TabStop=true with Shift-Tab (#5842)
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 1403982
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Use 'ArgumentValidation' from System.Windows.Forms.Primitives.
  src/System.Windows.Forms.Design/src/ArgumentValidation.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignSurfaceEvent.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionPanel.Line.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/EventBindingService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ExpressionContext.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/RootContext.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/UndoEngine.cs
  src/System.Windows.Forms.Design/tests/UnitTests/ArgumentValidationTests.cs
Due: production, test

Update branding for 5.0.12 (#5920)
  eng/Versions.props
Due: none

Enable nullability in ColumnReorderedEventArgs (#5898)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ColumnReorderedEventArgs.cs
Due: production

Use generic list in ImageCollection (#5908)
  src/System.Windows.Forms/src/System/Windows/Forms/ImageList.ImageCollection.cs
Due: production

Enable nullability in ToolStripContentPanelRenderEventArgs
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripContentPanelRenderEventArgs.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripContentPanelRenderEventArgsTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripRendererTests.cs
Due: production, test

Remove 'using' keyword from theory data
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripContentPanelRenderEventArgsTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripRendererTests.cs
Due: test

Use OrThrowIfNull
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripContentPanelRenderEventArgs.cs
Due: production

Enable nullability in ToolStripArrowRenderEventArgs
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripArrowRenderEventArgs.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripArrowRenderEventArgsTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripRendererTests.cs
Due: production, test

Use OrThrowIfNull
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripArrowRenderEventArgs.cs
Due: production

Remove 'using' keyword from theory data
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripArrowRenderEventArgsTests.cs
Due: test

Remove 'using' from DrawItemEventArgs_TestData
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabControlTests.cs
Due: test

Remove 'using' from DrawItemEventArgs_TestData (#5923)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabControlTests.cs
Due: test

[internal/release/5.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Increasing Xunit version to match visualstudio.
  eng/Versions.props
Due: none

Fix build
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.cs
Due: test

Clean up some code around PropertyTab
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/CollectionEditor.CollectionEditorCollectionForm.cs
  src/System.Windows.Forms.Primitives/src/System/ComponentModel/MemberDescriptorExtensions.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.AxPropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/EventsTab.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/PropertyTab.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/MergePropertyDescriptor.MultiMergeCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/MergePropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/MultiSelectRootGridEntry.PropertyMerger.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyDescriptorGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItemCollection.cs
  src/System.Windows.Forms/src/misc/ImageListUtils.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridTests.cs
Due: production, test

Match EventsTab.OnActiveDesignerChanged nullability annotations to event definition.
  src/System.Windows.Forms/src/System/Windows/Forms/Design/EventsTab.cs
Due: production

Fix test
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/EventsTabTests.cs
Due: test

Clean up some code around PropertyTab (#5931)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/CollectionEditor.CollectionEditorCollectionForm.cs
  src/System.Windows.Forms.Primitives/src/System/ComponentModel/MemberDescriptorExtensions.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.AxPropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/EventsTab.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/PropertyTab.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/MergePropertyDescriptor.MultiMergeCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/MergePropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/MultiSelectRootGridEntry.PropertyMerger.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyDescriptorGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItemCollection.cs
  src/System.Windows.Forms/src/misc/ImageListUtils.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/EventsTabTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 1411173
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Use 'OrThrowIfNull' to check arguments
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ComponentEditorForm.ComponentEditorPageSite.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.WindowSubclassHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
Due: production

Added 'ThrowIfNullOrEmptyWithMessage'
  src/System.Windows.Forms/src/ArgumentValidation.cs
  src/System.Windows.Forms/tests/UnitTests/ArgumentValidationTests.cs
Due: production, test

Use 'ArgumentValidation' to check arguments
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.ListViewItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNodeCollection.cs
Due: production

Move validation-methods from 'Windows.Forms' to 'Windows.Forms.Primitives'
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ArgumentValidation.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/Internals/ArgumentValidationTests.cs
  src/System.Windows.Forms/src/ArgumentValidation.cs
  src/System.Windows.Forms/tests/UnitTests/ArgumentValidationTests.cs
Due: production, test

Marked argument as nullable
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ArgumentValidation.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/Internals/ArgumentValidationTests.cs
Due: none

Disabled CS8604 locally
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/Internals/ArgumentValidationTests.cs
Due: none

'Find(string, bool)': Fixed validation of argument 'key'
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNodeCollection.cs
Due: production

Simplified argument checking
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCellCollection.cs
Due: production

Removed unnecessary argument check
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlCollection.cs
Due: production

Removed unnecessary blank line
  src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs
Due: production
