Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Modeify codes
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Obsolete/ObsoleteControls.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Obsolete/ObsoleteControls.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/Control.ControlAccessibleObjectTests.cs
Due: test

Synchronizing main branch code
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBar.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/MainFormControlsTabOrder.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Obsolete/ObsoleteControls.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Obsolete/ObsoleteControls.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/Control.ControlAccessibleObjectTests.cs
Due: production, test

remove the trailing white spaces
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Obsolete/ObsoleteControls.cs
Due: test

Remove private method
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTablesFactory.cs
Due: production

Update code style and update the obsoletion message
  docs/list-of-diagnostics.md
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/ContextMenu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/Menu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/MenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridAddNewRow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridBoolColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridCaption.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridParentRows.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridPreferredColumnWidthTypeConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridRelationshipRow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridRow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridState.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTable.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTableCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTablesFactory.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTextBoxColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/GridColumnStylesCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/MainMenu/MainMenu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarDrawItemEvent.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarPanelClickEvent.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBarButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBarButtonClickEventArgs.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Obsolete/ObsoleteControls.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Obsolete/ObsoleteControls.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/AccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/Control.ControlAccessibleObjectTests.cs
Due: production, test

Adjust codes
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Obsolete/ObsoleteControls.cs
Due: test

modify code style
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/ContextMenu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/Menu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/MenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/MenuMerge.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridBoolColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridParentRowsLabel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridPreferredColumnWidthTypeConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTable.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTableCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTablesFactory.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTextBoxColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/GridColumnStylesCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/IDataGridEditingService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/MainMenu/MainMenu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarDrawItemEvent.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarDrawItemEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarPanelAutoSize.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarPanelBorderStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarPanelClickEvent.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarPanelClickEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarPanelStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBarAppearance.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBarButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBarButtonClickEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBarButtonClickEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBarButtonStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBarTextAlign.cs
Due: production

Fix code bug
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Obsolete/ObsoleteControls.cs
Due: test

improve test case
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/AccessibleObjectTests.cs
Due: test

Remove redundant comments
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

pr feedback
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGrid.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Obsolete/ObsoleteControls.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Obsolete/ObsoleteControls.cs
Due: production, test

update code styles
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/ContextMenu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/Menu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/MenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/MenuItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridBoolColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridPreferredColumnWidthTypeConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTable.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTableCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTextBoxColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/GridColumnStylesCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/HitTestInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/MainMenu/MainMenu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarDrawItemEvent.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarPanelClickEvent.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarPanelCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBarButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBarButtonClickEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBarButtonCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

,It seems that JIT does not bind to methods that are not directly invoked, thus I changed test to call as many methods as possible directly.
  src/System.Windows.Forms/src/GlobalSuppressions.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGrid.HitTestInfo.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/UnsupportedTypesTests.cs
  src/System.Windows.Forms/tests/UnsupportedTypes/CreateFrameworkTypes.cs
Due: production, test

adding an interop with a framework assembly test case
  Winforms.sln
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/Menu.MenuItemCollection.cs
  src/System.Windows.Forms/tests/AxHosts/AxHosts.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/MainFormControlsTabOrder.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Obsolete/ObsoleteControls.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Obsolete/ObsoleteControls.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Obsolete/ObsoleteControls.resx
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ScrollableControls.cs
  src/System.Windows.Forms/tests/TestUtilities/DialogHostForm.cs
  src/System.Windows.Forms/tests/UnitTests/System.Windows.Forms.Tests.csproj
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/UnsupportedTypesTests.cs
  src/System.Windows.Forms/tests/UnsupportedTypes/App.config
  src/System.Windows.Forms/tests/UnsupportedTypes/CreateFrameworkTypes.cs
  src/System.Windows.Forms/tests/UnsupportedTypes/UnsupportedTypes.csproj
Due: production, test

ensure that constructors and statics throw ensure that nullability is disabled on all re-added classes
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/ContextMenu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/Menu.MenuItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/Menu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/MenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGrid.HitTestInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGrid.HitTestType.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridBoolColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridColumnStyle.CompModSwitches.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridColumnStyle.DataGridColumnHeaderAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridColumnStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridPreferredColumnWidthTypeConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTableCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTableStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTablesFactory.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTextBoxColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/GridColumnStylesCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/IDataGridEditingService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/MainMenu/MainMenu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBar.StatusBarPanelCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarDrawItemEvent.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarDrawItemEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarPanelClickEvent.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarPanelClickEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBar.ToolBarButtonCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBarButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBarButtonClickEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBarButtonClickEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/UnsupportedTypesTests.cs
Due: production, test

re-add class-level attributes from the FX types to the re-added types because these attributes are accessible from the type.
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/ContextMenu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/Menu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/MenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridColumnStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTableStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/GridColumnStylesCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/GridTableStylesCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/MainMenu/MainMenu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBar.StatusBarPanelCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ToolBar/ToolBarButton.cs
Due: production

Match public members of the re-added types between FX and NET10, only override methods or properties are missing on the NET10 types
  src/System.Windows.Forms/src/GlobalSuppressions.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/Menu.MenuItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/Menu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/ContextMenu/MenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGrid.HitTestInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridBoolColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridColumnStyle.CompModSwitches.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridColumnStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTableStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/DataGridTextBoxColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/GridColumnStylesCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/GridTableStylesCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/DataGrid/GridTablesFactory.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/MainMenu/MainMenu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Obsolete/StatusBar/StatusBarDrawItemEventHandler.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/UnsupportedTypesTests.cs
Due: production, test

updated tests to handle the newly added attributes
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/DesignerAttributeTests.cs
Due: test

Add Obsolete attribute to the newly re-added properties on Form and Control classes.
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

add a test for the new enums
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/UnsupportedTypesTests.cs
  src/System.Windows.Forms/tests/UnsupportedTypes/CreateFrameworkTypes.cs
Due: test

adding a description of these types to the unsupported folder
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Unsupported/readme.txt
Due: production

Removing extra space from CreateFrameworkTypes.cs
  src/System.Windows.Forms/tests/UnsupportedTypes/CreateFrameworkTypes.cs
Due: test

Add argument names before the litera
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewColumnConverterTests.cs
Due: test

Add code coverage for DataGridViewColumnConverter (#12766)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewColumnConverterTests.cs
Due: test

Convert some objects to private fields
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignerFrameTests.cs
Due: test

Updated the code lines to resolve the conversations.
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ListControlUnboundActionListTests.cs
Due: test

fix #12777 Keyboard tooltip of toolStripDropDownButton item still displaying when tab to other control
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
Due: production

Add argument names before the literals in the constructor call
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewSortCompareEventArgsTests.cs
Due: test

Revert "fix issue 12680 [HDPI]The dot line disappeared between checkbox and Expand/collapse in HDPI mode (#12706)"
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeView.cs
Due: production

Add unit test for ListControlUnboundActionList (#12770)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ListControlUnboundActionListTests.cs
Due: test

Add unit tests for DataGridViewSortCompareEventArgs (#12768)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewSortCompareEventArgsTests.cs
Due: test

Don't unwrap wrapped DataObject inner data store
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataObjectTests.cs
Due: production, test

Don't unwrap wrapped DataObject inner data store (#12800)
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataObjectTests.cs
Due: production, test

Merged PR 46806: [internal/release/8.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Path conditions:
  production: any of: src/Common/src/, src/Microsoft.VisualBasic/src/, src/Microsoft.VisualBasic.Forms/src/, src/System.Drawing.Common/src/, src/System.Drawing.Design/src/, src/System.Private.Windows.Core/src/, src/System.Private.Windows.GdiPlus/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Analyzers/src/, src/System.Windows.Forms.Analyzers.CSharp/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/, src/System.Windows.Forms.Primitives/src/, src/System.Windows.Forms.PrivateSourceGenerators/src/
  test: any of: src/Common/tests/, src/Microsoft.VisualBasic/tests/, src/Microsoft.VisualBasic.Forms/tests/, src/System.Drawing.Common/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Analyzers/tests/, src/System.Windows.Forms.Analyzers.CSharp/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Primitives/tests/, src/System.Windows.Forms.PrivateSourceGenerators/tests/
