Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Don't force handle creation in TrackBar.OnHandleCreated
  src/System.Windows.Forms/src/System/Windows/Forms/TrackBar.cs
  src/System.Windows.Forms/tests/UnitTests/TrackBarTests.cs
Due: production, test

Don't force TabControl handle creation in OnHandleCreated
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabControlTests.cs
Due: production, test

Move GetDlgItem to Interop User32
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/ColorEditor.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GetDlgItem.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FontDialog.cs
Due: production

Fix VisualBasic Mouse tests (#2716)
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/Devices/MouseTests.cs
Due: none

Cleanup DTM window messages (#2667)
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.DTM.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.WindowMessage.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DateTimePicker.cs
Due: production

Fix IFont and IPicture definitions (#2736)
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IFont.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IPicture.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IPictureDisp.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComponentModel/Com2Interop/COM2PictureConverterTests.cs
Due: production, test

Move GetDlgItem to Interop User32 (#2743)
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/ColorEditor.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GetDlgItem.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FontDialog.cs
Due: production

Remove unused ACM, CP, CONNECT, GCL, IMAGE, LOCK, MB, MSH and P… (#2739)
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
Due: none

Cleanup StatusBar interop
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.CCS.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.SBARS.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/StatusBar.cs
Due: production

Cleanup MENUITEM structs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GetMenuItemInfoW.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.MENUITEMINFOW.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.MFS.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.MFT.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.MIIM.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropDownMenu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripMenuItem.cs
Due: production

Add missing ref assembly
  src/System.Windows.Forms.Primitives/src/System.Windows.Forms.Primitives.csproj
Due: none

Don't force TabControl handle creation in OnHandleCreated (#2741)
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabControlTests.cs
Due: production, test

Don't force handle creation in TrackBar.OnHandleCreated (#2740)
  src/System.Windows.Forms/src/System/Windows/Forms/TrackBar.cs
  src/System.Windows.Forms/tests/UnitTests/TrackBarTests.cs
Due: production, test

Cleanup MENUITEM structs (#2659)
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GetMenuItemInfoW.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.MENUITEMINFOW.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.MFS.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.MFT.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.MIIM.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropDownMenu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripMenuItem.cs
Due: production

Add TableLayoutPanel tests (#2559)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Properties.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Layout/TableLayoutSettingsTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TableLayoutControlCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TableLayoutPanelTests.cs
Due: test

Update public API surface
  src/System.Windows.Forms.Design.Editors/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms.Design/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms.Primitives/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Primitives/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms.Primitives/src/System.Windows.Forms.Primitives.csproj
  src/System.Windows.Forms/src/Properties/TypeForwards.cs
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
Due: production

Fix nullability bug in BindingContext (#2646)
  src/System.Windows.Forms/src/System/Windows/Forms/BindingContext.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BindingContextTests.cs
Due: production, test

Cleanup NMTTDISPINFOW interop
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.NMTTDISPINFOW.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TTF.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TTOOLINFOW.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTipBuffer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MultipleControls.Designer.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolTipBufferTests.cs
Due: production, test

Use actual pointer types in structs to align with other interop declarations.
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TASKDIALOGCONFIG.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TASKDIALOG_BUTTON.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
Due: production

Use an assert to avoid one instance of the null-forgiving operator.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogProgressBar.cs
Due: production

Remove outdated comment.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
Due: production

PR feedback: Validate enum arguments.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogExpander.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogProgressBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStandardButton.cs
Due: production

Update for changes in #2744.
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDM.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.WindowSubclassHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WindowSubclassHandler.cs
Due: production

Fix XML documentation warnings.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogRadioButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStandardButtonCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WindowSubclassHandler.cs
Due: production

Update public API surface.
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
Due: production

Suppress RS0026 for static TaskDialog.ShowDialog() overloads.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
Due: production

Generate transport package manifest
  pkg/Microsoft.Private.Winforms/Directory.Build.targets
  pkg/Microsoft.Private.Winforms/FrameworkListFiles.props
  pkg/Microsoft.Private.Winforms/GenerateFrameworkListFiles.ps1
  pkg/Microsoft.Private.Winforms/README.md
Due: none

Cleanup NMTTDISPINFOW interop (#2645)
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.NMTTDISPINFOW.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TTF.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TTOOLINFOW.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTipBuffer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MultipleControls.Designer.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolTipBufferTests.cs
Due: production, test

Contributing: fixed some typos
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/ImageIndexEditor.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ReferenceService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializerBase.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/LockedBorderGlyph.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/MiniLockedBorderGlyph.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Binding.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxEditingControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DomainUpDown.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Label.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewVirtualItemsSelectionRangeChangedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Contributing: fixed some typos (#2751)
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/ImageIndexEditor.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ReferenceService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializerBase.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/LockedBorderGlyph.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/MiniLockedBorderGlyph.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Binding.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxEditingControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DomainUpDown.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Label.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewVirtualItemsSelectionRangeChangedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Generate transport package manifest (#2745)
  pkg/Microsoft.Private.Winforms/Directory.Build.targets
  pkg/Microsoft.Private.Winforms/FrameworkListFiles.props
  pkg/Microsoft.Private.Winforms/GenerateFrameworkListFiles.ps1
  pkg/Microsoft.Private.Winforms/README.md
Due: none

Unify CoreLib interop files (dotnet/runtime#1914)
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
Due: none

Generate transport package manifest at the right time
  pkg/Microsoft.Private.Winforms/Directory.Build.targets
Due: none

enabling nrt for project System.Windows.Forms
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
Due: production

Move DrawMenuBar to Interop User32
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.DrawMenuBar.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/SafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

Contributing: fixed some typos
  Documentation/testing.md
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/FormatControl.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/DropSourceBehavior.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/CommandSet.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DropTarget.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MDIClient.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropDown.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripPanel.cs
Due: production

Revert incorrect access modifier
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ArraySubsetEnumerator.cs
Due: production
