Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

fix category
  src/System.Windows.Forms/src/System/Windows/Forms/FolderBrowserDialog.cs
Due: production

[internal/release/5.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Enable nullability in PropertyTabChangedEventArgs and PropertyValueChangedEventArgs
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyTabChangedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyValueChangedEventArgs.cs
Due: production

Show ClientGuid in PropertyGrid for interactive test
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Dialogs.cs
Due: test

Add missing option to test SaveFileDialog
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Dialogs.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Dialogs.cs
Due: test

Fix [Inspect]Inspect is crashing when moving cursor inside the DataGridView that setting AllowUserToAddRows as false #4242
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.TopRowAccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/DataGridViewTopRowAccessibleObjectTests.cs
Due: production, test

Enable nullability in PropertyTabChangedEventArgs and PropertyValueCh… (#4684)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyTabChangedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyValueChangedEventArgs.cs
Due: production

Move nested classes into separate files (PR feedback)
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Dialogs.ClientGuidConverter.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Dialogs.ExposedClientGuidMetadata.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Dialogs.cs
Due: test

Commenting on code separated over multiple files.
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Dialogs.ClientGuidConverter.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Dialogs.ExposedClientGuidMetadata.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Dialogs.cs
Due: test

Use full names instead of abbreviations (PR feedback)
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FolderBrowserDialog.cs
Due: production

Add InitialDirectoryEditor with proper description to match SelectedPathEditor
  src/System.Windows.Forms.Design/src/Resources/SR.resx
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/InitialDirectoryEditor.cs
  src/System.Windows.Forms/src/AssemblyRef.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FolderBrowserDialog.cs
Due: production

Added keyboard tooltips to TabPages
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabPageTests.cs
Due: production, test

Added maui tests for TabControl
  Winforms.sln
  src/System.Windows.Forms.Primitives/src/Properties/AssemblyInfo.cs
  src/System.Windows.Forms/src/Properties/AssemblyInfo.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiTabControlTests/MauiTabControlTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiTabControlTests/MauiTabControlTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiTabControlTests.cs
Due: production, test

Inverted incorrect dependencies inside ToolTip
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Label.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/UpDownBase.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/LabelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabPageTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolTipTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/UpDownBaseTests.cs
Due: production, test

PR feedback: freeze version of assembly reference
  src/System.Windows.Forms/src/AssemblyRef.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FolderBrowserDialog.cs
Due: production

Fix nullability warning
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Dialogs.cs
Due: test

Add onelocbuild commit
  eng/common/generate-locproject.ps1
  eng/common/templates/job/onelocbuild.yml
Due: none

Add onelocbuild to CI
  eng/ci.yml
Due: none

Add LocProject.json
  Localize/LocProject.json
Due: none

Fix [Accessibility] An element of the given ControlType must support the Toggle pattern for PropertyGrid
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridToolStripButton.PropertyGridToolStripButtonAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridToolStripButton.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/PropertyGridToolStripButton.PropertyGridToolStripButtonAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridToolStripButtonTests.cs
Due: production, test

Fix build error in integration test
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/WinformsControlsTest.cs
Due: test

Fix Exception appears when Narrator is active and user tries to add row after removing of another row. #4228
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRow.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewRowAccessibleObjectTests.cs
Due: production, test

[Accessibility] The 'Edit' element in ComboBox with DropDownStyle(DropDown, Simple) should support ValuePattern and TextPattern #4409
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Automation/UiaTextRange.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/Automation/UiaTextRangeTests.cs
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.ComboBoxChildEditUiaProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.ComboBoxUiaTextProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.TextBoxBaseUiaTextProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Properties/launchSettings.json
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBox.ComboBoxChildEditUiaProviderTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBox.ComboBoxUiaTextProviderTests.cs
Due: production, test

PR feedback
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Dialogs.Designer.cs
Due: test

Fix inspector crash moving cursor inside the DataGridView with AllowUserToAddRows=false (#4686)
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.TopRowAccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/DataGridViewTopRowAccessibleObjectTests.cs
Due: production, test

Changing the "ComboBox" control type to "RadioButton" control type for buttons in PropertyGrid (#4586)
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridToolStripButton.PropertyGridToolStripButtonAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridToolStripButton.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/PropertyGridToolStripButton.PropertyGridToolStripButtonAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridToolStripButtonTests.cs
Due: production, test

DataGridView throws NRE when Narrator is active (#4693)
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRow.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewRowAccessibleObjectTests.cs
Due: production, test

Move sub-classes of "FlowLayout" class to their own files
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.BottomUpProxy.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.ContainerProxy.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.ElementProxy.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.RightToLeftProxy.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.TopDownProxy.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.VerticalElementProxy.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.cs
Due: production

Fixed code sorting
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.BottomUpProxy.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.ContainerProxy.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.ElementProxy.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.VerticalElementProxy.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.cs
Due: production

Move sub-classes of "HtmlDocument", "HtmlElement" and "HtmlWindow" classes to their own files
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.HTMLDocumentEvents2.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.HtmlDocumentShim.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.HTMLElementEvents2.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.HtmlElementShim.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlWindow.HTMLWindowEvents2.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlWindow.HtmlWindowShim.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlWindow.cs
Due: production

Fixed name issues. Fixed Style issues
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.HTMLDocumentEvents2.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.HtmlDocumentShim.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.HTMLElementEvents2.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.HtmlElementShim.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlWindow.HTMLWindowEvents2.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlWindow.HtmlWindowShim.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlWindow.cs
Due: production

Fixed sorting issues
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.HTMLDocumentEvents2.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.HtmlDocumentShim.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.HTMLElementEvents2.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.HtmlElementShim.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlWindow.HTMLWindowEvents2.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlWindow.HtmlWindowShim.cs
Due: production

Move sub-classes of "KeyboardToolTipStateMachine", "ListItemConverter", "LayoutUtils" and "ListViewSubItem" classes to their own files
  src/System.Windows.Forms/src/System/Windows/Forms/KeyboardToolTipStateMachine.InternalStateMachineTimer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/KeyboardToolTipStateMachine.ToolToTipDictionary.cs
  src/System.Windows.Forms/src/System/Windows/Forms/KeyboardToolTipStateMachine.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/LayoutTransaction.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/LayoutUtils.MeasureTextCache.PreferredSizeCache.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/LayoutUtils.MeasureTextCache.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/LayoutUtils.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/NullLayoutTransaction.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListItemConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItem.SubItemStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewSubItemConverter.cs
Due: production

Fixed file name
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItemConverter.cs
Due: production

Fixed name issues
  src/System.Windows.Forms/src/System/Windows/Forms/KeyboardToolTipStateMachine.ToolToTipDictionary.cs
  src/System.Windows.Forms/src/System/Windows/Forms/KeyboardToolTipStateMachine.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/LayoutUtils.MeasureTextCache.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/LayoutUtils.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
