Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Cleanup ListBox/ComboBox SendMessage overloads
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.cs
Due: production

Add ListBox tests and fix force handle creation bugs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListBoxTests.cs
Due: production, test

Delete comments that don't make sense, no code changes
  .editorconfig
Due: none

Enable CS1572
  eng/CodeStyle.props
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/DocComment.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/DropDownButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/HotCommands.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
Due: production

Enable CS1587
  eng/CodeStyle.props
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/MaskDescriptorTemplate.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripMenuItemDesigner.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonFlatAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ProfessionalColorTable.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripPanelRow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
Due: production

Enable CS1584
  eng/CodeStyle.props
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.MCHITTESTINFO.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IServiceProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/KeyboardToolTipStateMachine.cs
Due: production

Enable CS1589
  eng/CodeStyle.props
Due: none

Enable CS1658
  eng/CodeStyle.props
Due: none

Enable CS1574
  eng/CodeStyle.props
  src/System.Windows.Forms.Design.Editors/src/System/ComponentModel/Design/DateTimeEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/CursorEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/FontEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/IconEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/ImageEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/AnchorEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/DataGridViewCellStyleEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/DockEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/FileNameEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/ImageListImageEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/LinkAreaEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/StringArrayEditor.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/BinaryEditor.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionListsChangedEventHandler.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUIService.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.LVIF.cs
  src/System.Windows.Forms.Primitives/src/Interop/IHandle.cs
  src/System.Windows.Forms.Primitives/src/Interop/Mso/Interop.IMsoComponentManager.cs
  src/System.Windows.Forms.Primitives/src/Interop/Mso/Interop.msoloop.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Message.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AccessibleStates.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AutoCompleteStringCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2AboutBoxPropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ExtendedUITypeEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumnCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRowCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DockingAttribute.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DpiChangedEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItemStateImageIndexConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyDescriptorGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNodeMouseClickEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNodeMouseClickEventHandler.cs
Due: production

Enable CS1734
  eng/CodeStyle.props
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerHost.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/AdornerCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/UserControl.cs
Due: production

Delete comments that don't make sense, no code changes (#2718)
  .editorconfig
Due: none

Fix NullReferenceException serializing TableLayoutSettings for controls without name
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutSettingsTypeConverter.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Layout/TableLayoutSettingsTypeConverterTests.cs
Due: production, test

Clear ComCtlSupportsVisualStyles initialization status when enabling visual styles
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ApplicationTests.cs
Due: production, test

Enable CS1734
  eng/CodeStyle.props
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUIService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomDesignerLoader.ModifierConverter.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomDesignerLoader.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/AdornerCollection.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.MCHITTESTINFO.cs
  src/System.Windows.Forms.Primitives/src/Interop/IHandle.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IServiceProvider.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.DT.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GWL.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.RedrawWindow.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.SW.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Message.cs
  src/System.Windows.Forms/src/System/Drawing/Design/PaintValueEventArgs.cs
  src/System.Windows.Forms/src/System/Drawing/Design/UITypeEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ColumnClickEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DpiChangedEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/InputLanguageChangedEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/InputLanguageChangingEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/InvalidateEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/InvalidateEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/KeyboardToolTipStateMachine.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LabelEditEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItemMouseHoverEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItemSelectionChangedEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewVirtualItemsSelectionRangeChangedEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBoxFinds.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNodeMouseClickEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNodeMouseHoverEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeViewCancelEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeViewEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ValidationConstraints.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserRefreshOption.cs
Due: production

Clear ComCtlSupportsVisualStyles initialization status when enabling visual styles (#2564)
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ApplicationTests.cs
Due: production, test

Fix NullReferenceException serializing TableLayoutSettings for controls without name (#2563)
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutSettingsTypeConverter.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Layout/TableLayoutSettingsTypeConverterTests.cs
Due: production, test

Change all ActiveIssues to use Uris instead of numbers (dotnet/runtime#1768)
  src/System.Drawing.Common/tests/BitmapTests.cs
  src/System.Drawing.Common/tests/BrushTests.cs
  src/System.Drawing.Common/tests/BufferedGraphicsContextTests.cs
  src/System.Drawing.Common/tests/BufferedGraphicsTests.cs
  src/System.Drawing.Common/tests/Drawing2D/AdjustableArrowCapTests.cs
  src/System.Drawing.Common/tests/Drawing2D/CustomLineCapTests.cs
  src/System.Drawing.Common/tests/Drawing2D/GraphicsPathIteratorTests.cs
  src/System.Drawing.Common/tests/Drawing2D/GraphicsPathTests.cs
  src/System.Drawing.Common/tests/Drawing2D/LinearGradientBrushTests.cs
  src/System.Drawing.Common/tests/Drawing2D/MatrixTests.cs
  src/System.Drawing.Common/tests/Drawing2D/PathGradientBrushTests.cs
  src/System.Drawing.Common/tests/FontFamilyTests.cs
  src/System.Drawing.Common/tests/FontTests.cs
  src/System.Drawing.Common/tests/GraphicsTests.cs
  src/System.Drawing.Common/tests/Graphics_DrawBezierTests.cs
  src/System.Drawing.Common/tests/Graphics_DrawLineTests.cs
  src/System.Drawing.Common/tests/IconTests.cs
  src/System.Drawing.Common/tests/ImageTests.cs
  src/System.Drawing.Common/tests/Imaging/ImageAttributesTests.cs
  src/System.Drawing.Common/tests/Imaging/MetafileTests.cs
  src/System.Drawing.Common/tests/Imaging/PropertyItemTests.cs
  src/System.Drawing.Common/tests/Printing/PageSettingsTests.cs
  src/System.Drawing.Common/tests/Printing/PrintDocumentTests.cs
  src/System.Drawing.Common/tests/Printing/PrinterSettingsTests.cs
  src/System.Drawing.Common/tests/RegionTests.cs
  src/System.Drawing.Common/tests/SolidBrushTests.cs
  src/System.Drawing.Common/tests/StringFormatTests.cs
  src/System.Drawing.Common/tests/Text/PrivateFontCollectionTests.cs
  src/System.Drawing.Common/tests/TextureBrushTests.cs
  src/System.Drawing.Common/tests/ToolboxBitmapAttributeTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/BmpCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/GifCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/IconCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/JpegCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/PngCodecTesst.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/TiffCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/BitmapTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/GraphicsTests.cs
  src/System.Drawing.Common/tests/mono/System.Imaging/MetafileTest.cs
Due: none

centralizing project configuration
  Directory.Build.props
  eng/Versions.props
  src/System.Windows.Forms.Design.Editors/src/System.Windows.Forms.Design.Editors.csproj
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms.Primitives/src/System.Windows.Forms.Primitives.csproj
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
Due: production

Update src/System.Windows.Forms.Design.Editors/src/System.Windows.Forms.Design.Editors.csproj
  src/System.Windows.Forms.Design.Editors/src/System.Windows.Forms.Design.Editors.csproj
Due: production

fixed file location
  Directory.Build.props
Due: none

removed debug-only overridden method from the public api list
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
Due: production

Add TableLayoutPanel tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Properties.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Layout/TableLayoutSettingsTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TableLayoutControlCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TableLayoutPanelTests.cs
Due: test

remove VS and roslyntools msbuild dependencies from our global.json
  global.json
Due: none

remove VS and roslyntools msbuild dependencies from our global.… (#2730)
  global.json
Due: none

Add Microsoft.CodeAnalysis.PublicApiAnalyzers
  Directory.Build.props
  Directory.Build.targets
  eng/ApiCompatibility/DesktopApiCompat.props
  eng/ApiCompatibility/DesktopApiCompat.targets
  eng/ApiCompatibility/DesktopAttributeTypeExclusions.txt
  eng/ApiCompatibility/PublicApiAnalyzer.props
  eng/ApiCompatibility/PublicApiAnalyzer.targets
  eng/Versions.props
  src/System.Windows.Forms.Design.Editors/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design.Editors/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms.Design.Editors/src/System.Windows.Forms.Design.Editors.csproj
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
Due: production

Copy v3.0 public API surface reports as baseline
  src/System.Windows.Forms.Design.Editors/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design.Editors/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
Due: production

Add Microsoft.CodeAnalysis.PublicApiAnalyzers
  Directory.Build.props
  Directory.Build.targets
  eng/ApiCompatibility/PublicApiAnalyzer.props
  eng/ApiCompatibility/PublicApiAnalyzer.targets
  eng/Versions.props
  src/System.Windows.Forms.Design.Editors/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms.Design.Editors/src/System.Windows.Forms.Design.Editors.csproj
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
Due: production

Mark new API as shipped
  src/System.Windows.Forms.Design.Editors/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design.Editors/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
Due: production

Cleanup WindowMessage RegisteredMessages
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.RegisteredMessage.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.WindowMessage.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlNativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Update tests to match expectations
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PaddingConverterTests.cs
Due: test

Cleanup WindowMessage RegisteredMessages (#2711)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.RegisteredMessage.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.WindowMessage.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlNativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Improve PaddingConverter CreateInstance implementation (#2679)
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/PaddingConverter.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PaddingConverterTests.cs
Due: test

Address more issue numbers in the code (dotnet/runtime#1888)
  src/System.Drawing.Common/src/System/Drawing/Imaging/ImageAttributes.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.cs
  src/System.Drawing.Common/tests/IconTests.cs
  src/System.Drawing.Common/tests/Imaging/ImageFormatTests.cs
  src/System.Drawing.Common/tests/ToolboxBitmapAttributeTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/GraphicsTests.cs
Due: none

Fix VisualBasic Mouse tests
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/Devices/MouseTests.cs
Due: none

Cleanup DTM window messages
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.DTM.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.WindowMessage.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DateTimePicker.cs
Due: production

More renames of full framework to .NET Framework (dotnet/runtime#1900)
  src/System.Drawing.Common/tests/CharacterRangeTests.cs
  src/System.Drawing.Common/tests/FontTests.cs
  src/System.Drawing.Common/tests/IconTests.cs
  src/System.Drawing.Common/tests/ImageTests.cs
  src/System.Drawing.Common/tests/Text/PrivateFontCollectionTests.cs
  src/System.Drawing.Common/tests/ToolboxBitmapAttributeTests.cs
Due: none

Fix IFont and IPicture definitions
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IFont.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IPicture.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IPictureDisp.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComponentModel/Com2Interop/COM2PictureConverterTests.cs
Due: production, test

Remove unused ACM, CP, CONNECT, GCL, IMAGE, LOCK, MB, MSH and PSM constants
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
Due: none

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
