Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add more test coverage
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/TestUtilitiesTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/WindorsFormsApplicationBaseDynamicTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/TestData/AuthenticationModeData.vb
Due: test

Override function SelectInternal in file PropertyGridView.GridViewTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.GridViewTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
Due: production

Remove legacy test code from PropertyGrid
  .editorconfig
  Winforms.sln
  src/Common/tests/TestUtilities/DebuggerAttributes.cs
  src/Common/tests/TestUtilities/ThreadCultureChange.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationService.CodeDomSerializationStore.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ToolStripContainerActionList.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/CommandSet.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/OleDragDropHandler.ComponentDataObject.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripMenuItemDesigner.cs
  src/System.Windows.Forms.Primitives/tests/TestUtilities/PlatformDetection.cs
  src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.PropertyBagStream.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/AutomationMessages.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripControlHost.StubSite.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.Composition.BinaryFormatUtilities.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewColumnCollectionTests.cs
Due: production, test

Add unit tests for DataSourceDescriptorCollection (#12432)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DataSourceDescriptorCollectionTests.cs
Due: test

Remove legacy test code from PropertyGrid (#12445)
  .editorconfig
  Winforms.sln
  src/Common/tests/TestUtilities/DebuggerAttributes.cs
  src/Common/tests/TestUtilities/ThreadCultureChange.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationService.CodeDomSerializationStore.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ToolStripContainerActionList.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/CommandSet.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/OleDragDropHandler.ComponentDataObject.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripMenuItemDesigner.cs
  src/System.Windows.Forms.Primitives/tests/TestUtilities/PlatformDetection.cs
  src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.PropertyBagStream.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/AutomationMessages.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripControlHost.StubSite.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.Composition.BinaryFormatUtilities.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewColumnCollectionTests.cs
Due: production, test

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20241107.6
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Block setting null data
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/Clipboard.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataObjectTests.cs
Due: production, test

Handle FeedBacks
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TrackBarRendererTests.cs
Due: test

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20241107.11
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Use default corner preference for balloon windows
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip/ToolTip.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolTipTests.cs
Due: production, test

Add more tests
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/TestUtilitiesTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/WindorsFormsApplicationBaseDynamicTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/WindowsFormsApplicationBaseTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/TestData/ShutdownModeData.vb
Due: production, test

fix 12441 [Accessibility] HC themes: The color contrast is less than 4.5:1 for the text "Document does not contain any pages" in printPreviewControl
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
Due: production

handle feedbacks
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DataSourceGroupCollectionTests.cs
Due: test

Add blank line
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ContextMenuStripActionListTests.cs
Due: test

Update Initialize function and remove blank line
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/TextBoxBaseDesignerTests.cs
Due: test

Add unit tests for DataSourceGroupCollection (#12430)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DataSourceGroupCollectionTests.cs
Due: test

Remove some dead conditional code
  .editorconfig
  src/System.Drawing.Common/src/System/Drawing/Icon.cs
  src/System.Drawing.Common/src/System/Drawing/ImageConverter.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PreviewPrintController.cs
  src/System.Drawing.Common/src/System/Drawing/SystemIcons.cs
  src/System.Drawing.Common/src/misc/DpiHelper.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/BitmapTests.cs
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/System/Windows/Forms/CSharp/CodeFixes/AddDesignerSerializationVisibility/AddDesignerSerializationVisibilityCodeFixProvider.cs
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/AddDesignerSerializationVisibility/AddDesignerSerializationVisibilityCodeFixProvider.vb
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripKeyboardHandlingService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripMenuItemDesigner.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ScaleHelper.cs
  src/System.Windows.Forms.Primitives/tests/TestUtilities/PlatformDetection.cs
  src/System.Windows.Forms/src/System/Resources/ResxFileRef.Converter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Accessibility/AccessibleObject.EnumVariantObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.AxContainer.ExtenderProxy.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ThreadContext.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ComponentEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ExtendedUITypeEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ICategorizePropertiesHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IManagedPerPropertyBrowsingHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2Properties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2TypeInfoProcessor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/ComNativeDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.ListViewNativeItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/WebBrowser/WebBrowser.cs
  src/System.Windows.Forms/tests/IntegrationTests/DesignSurface/DesignSurfaceExt/DesignSurfaceExt.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScreenTests.cs
Due: production, test

Fix namespace for ImageIndexEditorTests
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ImageIndexEditorTests.cs
Due: test

Fix namespace for ImageIndexEditorTests (#12452)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ImageIndexEditorTests.cs
Due: test

Address feedback
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripKeyboardHandlingService.cs
  src/System.Windows.Forms.Primitives/tests/TestUtilities/PlatformDetection.cs
Due: production, test

Remove some dead conditional code (#12451)
  .editorconfig
  src/System.Drawing.Common/src/System/Drawing/Icon.cs
  src/System.Drawing.Common/src/System/Drawing/ImageConverter.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PreviewPrintController.cs
  src/System.Drawing.Common/src/System/Drawing/SystemIcons.cs
  src/System.Drawing.Common/src/misc/DpiHelper.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/BitmapTests.cs
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/System/Windows/Forms/CSharp/CodeFixes/AddDesignerSerializationVisibility/AddDesignerSerializationVisibilityCodeFixProvider.cs
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/AddDesignerSerializationVisibility/AddDesignerSerializationVisibilityCodeFixProvider.vb
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripKeyboardHandlingService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripMenuItemDesigner.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ScaleHelper.cs
  src/System.Windows.Forms.Primitives/tests/TestUtilities/PlatformDetection.cs
  src/System.Windows.Forms/src/System/Resources/ResxFileRef.Converter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Accessibility/AccessibleObject.EnumVariantObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.AxContainer.ExtenderProxy.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ThreadContext.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ComponentEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ExtendedUITypeEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ICategorizePropertiesHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IManagedPerPropertyBrowsingHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2Properties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2TypeInfoProcessor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/ComNativeDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.ListViewNativeItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/WebBrowser/WebBrowser.cs
  src/System.Windows.Forms/tests/IntegrationTests/DesignSurface/DesignSurfaceExt/DesignSurfaceExt.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScreenTests.cs
Due: production, test

Handles feedback
  src/System.Windows.Forms.Design/tests/UnitTests/ControlDesignerTests.cs
Due: test

Prevent merge issues
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/CommandSet.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/OleDragDropHandler.ComponentDataObject.cs
Due: production

Add more tests Make some Private items Friend to enable better code coverage
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/WindowsFormsApplicationBaseTests.vb
Due: production, test

Initialize colors from dark mode explorer tooltip theme subclass
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip/ToolTip.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolTipTests.cs
Due: production, test

Set colors in a similar way as ListView and TreeView
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip/ToolTip.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolTipTests.cs
Due: production, test

Add tests for ShowSplashScreen and ApplicationContext
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/WindowsFormsApplicationBaseTests.vb
Due: test

Improve code coverage
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/WindowsFormsApplicationBaseTests.vb
Due: test

fix unit tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Printing/PrintPreviewControlTests.cs
Due: test

Utilize theme for visual styles and remove the get colors test
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip/ToolTip.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolTipTests.cs
Due: production, test

Remove constant
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip/ToolTip.cs
Due: production

Rename some variable for clearity Add more tests for MainForm and SplashScreen
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/WindowsFormsApplicationBaseTests.vb
Due: test

Add code coverage for TrackBarRenderer (#12427)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TrackBarRendererTests.cs
Due: test

Handle feedbacks
  src/System.Windows.Forms.Design/tests/UnitTests/ControlDesignerTests.cs
Due: test

fix comments
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Printing/PrintPreviewControlTests.cs
Due: production, test

Add code coverage for DataGridViewCellStyleConverter
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewCellStyleConverterTests.cs
Due: test

move FocusableLabelAccessibleObject into a dedicated file.
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintControllerWithStatusDialog.FocusableLabel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintControllerWithStatusDialog.FocusableLabelAccessibleObject.cs
Due: production

Remove white space, add line before assertion and check default textbox text
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/TextBoxBaseDesignerTests.cs
Due: test

Path conditions:
  production: any of: src/Common/src/, src/Microsoft.VisualBasic/src/, src/Microsoft.VisualBasic.Forms/src/, src/System.Drawing.Common/src/, src/System.Drawing.Design/src/, src/System.Private.Windows.Core/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Analyzers/src/, src/System.Windows.Forms.Analyzers.CSharp/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/, src/System.Windows.Forms.Primitives/src/, src/System.Windows.Forms.PrivateSourceGenerators/src/
  test: any of: src/Common/tests/, src/Microsoft.VisualBasic/tests/, src/Microsoft.VisualBasic.Forms/tests/, src/System.Drawing.Common/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Analyzers/tests/, src/System.Windows.Forms.Analyzers.CSharp/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Primitives/tests/, src/System.Windows.Forms.PrivateSourceGenerators/tests/
