Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Dispose TextBox in tests (#8786)
  src/System.Windows.Forms/tests/UnitTests/TextBoxBaseTests.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2133171
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.zh-Hant.xlf
Due: none

Iter1: Reenable flaky tests.
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ButtonTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ImageListTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/RichTextBoxTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/TabControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ButtonRenderingTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TextRendererTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: test

Dispose Cursor in tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CursorConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CursorTests.cs
Due: test

Dispose Component in tests
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ArrayEditorTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/CollectionEditorTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/CollectionFormTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionServiceTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerHostTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/SiteNestedContainerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/ToolboxItemTests.cs
Due: test

add nullability annotations
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionList.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionListCollection.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionListsChangedEventArgs.cs
Due: production

Fix ordering of modifiers
  src/System.Drawing.Common/src/Interop/Windows/Shell32/Interop.ExtractAssociatedIcon.cs
  src/System.Drawing.Common/src/Interop/Windows/User32/Interop.CreateIconFromResourceEx.cs
  src/System.Drawing.Common/src/Interop/Windows/User32/Interop.SystemParametersInfo.cs
  src/System.Drawing.Common/src/System/Drawing/Icon.ComWrappers.cs
Due: none

Dispose Component in tests (#8794)
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ArrayEditorTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/CollectionEditorTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/CollectionFormTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionServiceTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerHostTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/SiteNestedContainerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/ToolboxItemTests.cs
Due: test

Update private winforms package
  pkg/Microsoft.Private.Winforms/Microsoft.Private.Winforms.csproj
  pkg/Microsoft.Private.Winforms/sdk/dotnet-windowsdesktop/UpdateFileClassification.ps1
Due: none

Manually apply commits since Feb 12th 2023
  src/System.Drawing.Common/src/Forwards.cs
  src/System.Drawing.Common/src/System/Drawing/BufferedGraphics.cs
  src/System.Drawing.Common/src/System/Drawing/FontConverter.cs
  src/System.Drawing.Common/src/System/Drawing/Icon.cs
  src/System.Drawing.Common/src/System/Drawing/ImageInfo.cs
  src/System.Drawing.Common/tests/IconTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/GraphicsTests.cs
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2133171 (#8791)
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.zh-Hant.xlf
Due: none

Add delay for missing InputSimulator actions.
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ButtonTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.cs
Due: test

Dispose PaintEventArgs in tests (#8785)
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ByteViewerTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Handlers.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/GroupBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PaintEventArgsTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScrollableControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/StatusStripTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabPageTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TableLayoutPanelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripButtonTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripContentPanelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripControlHostTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripSeparatorTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.Rendering.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/UpDownBaseTests.cs
Due: test

Fix ToolStripItems_FontScaling tests (#8783)
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Dpi/ToolStripItemTests.Dpi.cs
Due: test

Enable nullability in ToolStripPanelRow (#8762)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripPanelRow.HorizontalRowManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripPanelRow.VerticalRowManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripPanelRow.cs
Due: production

Enable nullability in ListBindingHelper (#8781)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ListBindingHelper.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2134009
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.zh-Hans.xlf
Due: none

Add nullability to ExtenderProviderService and TypeDescriptorFilterService (#8789)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ExtenderProviderService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/TypeDescriptorFilterService.cs
Due: production

Remove some unused variables (#8782)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripItemDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripKeyboardHandlingService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/StatusStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripPanelRow.ToolStripPanelRowControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripRenderEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSeparator.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSplitStackDragDropHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolstripProfessionalRenderer.cs
Due: production

Iteration2: Enable remaining tests from the linked Epic.
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ImageListTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComponentModel/Com2Interop/COM2FontConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComponentModel/Com2Interop/COM2PictureConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/EmbeddedResourceTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/MenuStripTests.cs
  src/System.Windows.Forms/tests/UnitTests/Text/FontMetrics.cs
Due: test

Experiment with `DoEvents()` instead of sleep/delay.
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/ControlTestBase.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/SendInput.cs
Due: test

review feedback
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ComponentCache.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ComponentCodeDomSerializer.cs
Due: production

ComponentCache can be sealed
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ComponentCache.cs
Due: production

Update PublicAPI
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
Due: production

Move xunit.runner.jason to build property.
  Directory.Build.props
  eng/xunit.runner.json
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/Microsoft.VisualBasic.Forms.Tests.vbproj
  src/Microsoft.VisualBasic/tests/IntegrationTests/Microsoft.VisualBasic.IntegrationTests/Microsoft.VisualBasic.IntegrationTests.csproj
  src/Microsoft.VisualBasic/tests/IntegrationTests/Microsoft.VisualBasic.IntegrationTests/xunit.runner.json
  src/Microsoft.VisualBasic/tests/IntegrationTests/VisualBasicRuntimeTest/VisualBasicRuntimeTest.csproj
  src/Microsoft.VisualBasic/tests/IntegrationTests/VisualBasicRuntimeTest/xunit.runner.json
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft.VisualBasic.Tests.csproj
  src/Microsoft.VisualBasic/tests/UnitTests/xunit.runner.json
  src/System.Windows.Forms.Design/tests/UnitTests/System.Windows.Forms.Design.Tests.csproj
  src/System.Windows.Forms.Design/tests/UnitTests/xunit.runner.json
  src/System.Windows.Forms.Primitives/tests/TestUtilities.Tests/System.Windows.Forms.Primitives.TestUtilities.Tests.csproj
  src/System.Windows.Forms.Primitives/tests/TestUtilities.Tests/xunit.runner.json
  src/System.Windows.Forms.Primitives/tests/UnitTests/xunit.runner.json
  src/System.Windows.Forms.PrivateSourceGenerators/tests/UnitTests/System.Windows.Forms.PrivateSourceGenerators.Tests.csproj
  src/System.Windows.Forms.PrivateSourceGenerators/tests/UnitTests/xunit.runner.json
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/System.Windows.Forms.IntegrationTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/xunit.runner.json
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ButtonTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DataGridViewTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/ControlTestBase.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/RichTextBoxTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/System.Windows.Forms.UI.IntegrationTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/TabControlTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/xunit.runner.json
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/WinformsControlsTest.csproj
  src/System.Windows.Forms/tests/InteropTests/System.Windows.Forms.Interop.Tests.csproj
  src/System.Windows.Forms/tests/InteropTests/xunit.runner.json
  src/System.Windows.Forms/tests/UnitTests/System.Windows.Forms.Tests.csproj
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ButtonRenderingTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComponentModel/Com2Interop/COM2FontConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/EmbeddedResourceTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/MenuStripTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TextRendererTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
  src/System.Windows.Forms/tests/UnitTests/Text/FontMetrics.cs
  src/System.Windows.Forms/tests/UnitTests/xunit.runner.json
Due: test

Enable nullability in ComponentCache (#8784)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ComponentCache.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ComponentCodeDomSerializer.cs
Due: production

Exclude consistant failures.
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DragDropTests.cs
Due: test

review feedback
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionList.cs
Due: production

review feedback
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/CodeMarkers.cs
Due: production

Address feedback and expriment with centralized delay.
  Directory.Build.props
  src/System.Windows.Forms.Primitives/tests/UnitTests/System.Windows.Forms.Primitives.Tests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/ControlTestBase.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/SendInput.cs
Due: test

Keeping the delay back to every input.
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/ControlTestBase.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/SendInput.cs
Due: test

Add retry count
  eng/xunit.runner.json
Due: none

Change retry count.
  eng/xunit.runner.json
Due: none

Tooltip activation time reset back to original.
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DataGridViewTests.cs
Due: test

Remove test code.
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/SendInput.cs
Due: test

Clear events in the same thread.
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ButtonTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DataGridViewTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DragDropTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/FormTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/ControlTestBase.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ListViewTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/RichTextBoxTests.cs
Due: test

Add Task dely
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/ControlTestBase.cs
Due: test

Further ensure tests run sequentially
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ButtonTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/XunitAssemblyInfo.cs
Due: test

Experiment 2
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ButtonTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DataGridViewTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/FormTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/ControlTestBase.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ListViewTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/MonthCalendarTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/RichTextBoxTests.cs
Due: test
