Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/Microsoft.VisualBasic/src/
      - src/Microsoft.VisualBasic.Forms/src/
      - src/System.Drawing.Common/src/
      - src/System.Drawing.Design/src/
      - src/System.Private.Windows.Core/src/
      - src/System.Private.Windows.GdiPlus/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Analyzers/src/
      - src/System.Windows.Forms.Analyzers.CSharp/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
      - src/System.Windows.Forms.Primitives/src/
      - src/System.Windows.Forms.PrivateSourceGenerators/src/
  test:
    paths:
      - src/Common/tests/
      - src/Microsoft.VisualBasic/tests/
      - src/Microsoft.VisualBasic.Forms/tests/
      - src/System.Drawing.Common/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Analyzers/tests/
      - src/System.Windows.Forms.Analyzers.CSharp/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Primitives/tests/
      - src/System.Windows.Forms.PrivateSourceGenerators/tests/

Add code coverage for DesignBindingValueUIHandler (#13100)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignBindingValueUIHandlerTests.cs
Due: test

Add code coverage for DataGridViewColumnTypeEditor (#13084)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DataGridViewColumnTypeEditorTests.cs
Due: test

Add unit tests for StatusCommandUI
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/StatusCommandUITests.cs
Due: test

Using new syntax for collection initialization.
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDesigner.cs
Due: production

Change test name
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/StatusCommandUITests.cs
Due: test

Add coverage for DataSourceListEditor
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DataSourceListEditorTests.cs
Due: test

Add comment for BeginInvoke((MethodInvoker)
  src/System.Windows.Forms/System/Windows/Forms/Controls/TreeView/TreeView.cs
Due: none

update
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DataSourceListEditorTests.cs
Due: test

Rename test
  src/test/unit/System.Windows.Forms/System/Windows/Forms/ClipboardTests.cs
Due: none

Add an OLE proxy mock (#13115)
  src/System.Private.Windows.Core/src/Windows/Win32/System/Com/IUnknown.CCW.cs
  src/System.Private.Windows.Core/src/Windows/Win32/System/Com/IUnknown.cs
  src/System.Private.Windows.Core/src/Windows/Win32/System/Com/Lifetime.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Private/Windows/Ole/DataObjectProxy.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Private/Windows/Ole/MockOleServices.cs
  src/test/unit/System.Windows.Forms/System/Windows/Forms/ClipboardTests.cs
Due: production

Correct the spelling of DataGridViewCellToolTip in the resource file
  src/System.Windows.Forms/Resources/SR.resx
  src/System.Windows.Forms/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridViewButtonCell.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridViewLinkCell.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridViewTextBoxCell.cs
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20250312.16
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Add update comment and optimize method CalculatePreferredHeight
  src/System.Windows.Forms/System/Windows/Forms/Controls/TreeView/TreeView.cs
Due: none

Handle feedback!
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/StatusCommandUITests.cs
Due: test

Add code coverage for ControlCommandSet.cs file
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ControlCommandSetTests.cs
Due: test

Update PublishCodeCoverageResults
  eng/pipelines/build-PR.yml
  eng/pipelines/build.yml
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20250312.18
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2662659
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/mdiwindowdialog.cs.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/mdiwindowdialog.de.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/mdiwindowdialog.es.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/mdiwindowdialog.fr.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/mdiwindowdialog.it.xlf
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2662659
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/PrintPreviewDialog.cs.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/PrintPreviewDialog.de.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/PrintPreviewDialog.es.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/PrintPreviewDialog.fr.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/PrintPreviewDialog.it.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/PrintPreviewDialog.ja.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/PrintPreviewDialog.ko.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/PrintPreviewDialog.pl.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/PrintPreviewDialog.pt-BR.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/PrintPreviewDialog.ru.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/PrintPreviewDialog.tr.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/PrintPreviewDialog.zh-Hans.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/PrintPreviewDialog.zh-Hant.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/mdiwindowdialog.ja.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/mdiwindowdialog.ko.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/mdiwindowdialog.pl.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/mdiwindowdialog.pt-BR.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/mdiwindowdialog.ru.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/mdiwindowdialog.tr.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/mdiwindowdialog.zh-Hans.xlf
  src/System.Windows.Forms/Resources/System/Windows/Forms/xlf/mdiwindowdialog.zh-Hant.xlf
  src/System.Windows.Forms/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/Resources/xlf/SR.zh-Hant.xlf
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2662659
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2662659
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ru.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2662659
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2662659
  src/test/integration/WinformsControlsTest/xlf/ListViewTest.cs.xlf
  src/test/integration/WinformsControlsTest/xlf/ListViewTest.de.xlf
  src/test/integration/WinformsControlsTest/xlf/ListViewTest.es.xlf
  src/test/integration/WinformsControlsTest/xlf/ListViewTest.fr.xlf
  src/test/integration/WinformsControlsTest/xlf/ListViewTest.it.xlf
  src/test/integration/WinformsControlsTest/xlf/ListViewTest.ja.xlf
  src/test/integration/WinformsControlsTest/xlf/ListViewTest.ko.xlf
  src/test/integration/WinformsControlsTest/xlf/ListViewTest.pl.xlf
  src/test/integration/WinformsControlsTest/xlf/ListViewTest.pt-BR.xlf
  src/test/integration/WinformsControlsTest/xlf/ListViewTest.ru.xlf
  src/test/integration/WinformsControlsTest/xlf/ListViewTest.tr.xlf
  src/test/integration/WinformsControlsTest/xlf/ListViewTest.zh-Hans.xlf
  src/test/integration/WinformsControlsTest/xlf/ListViewTest.zh-Hant.xlf
  src/test/integration/WinformsControlsTest/xlf/Panels.cs.xlf
  src/test/integration/WinformsControlsTest/xlf/Panels.de.xlf
  src/test/integration/WinformsControlsTest/xlf/Panels.es.xlf
  src/test/integration/WinformsControlsTest/xlf/Panels.fr.xlf
  src/test/integration/WinformsControlsTest/xlf/Panels.it.xlf
  src/test/integration/WinformsControlsTest/xlf/Panels.ja.xlf
  src/test/integration/WinformsControlsTest/xlf/Panels.ko.xlf
  src/test/integration/WinformsControlsTest/xlf/Panels.pl.xlf
  src/test/integration/WinformsControlsTest/xlf/Panels.pt-BR.xlf
  src/test/integration/WinformsControlsTest/xlf/Panels.ru.xlf
  src/test/integration/WinformsControlsTest/xlf/Panels.tr.xlf
  src/test/integration/WinformsControlsTest/xlf/Panels.zh-Hans.xlf
  src/test/integration/WinformsControlsTest/xlf/Panels.zh-Hant.xlf
  src/test/integration/WinformsControlsTest/xlf/TreeViewTest.cs.xlf
  src/test/integration/WinformsControlsTest/xlf/TreeViewTest.de.xlf
  src/test/integration/WinformsControlsTest/xlf/TreeViewTest.es.xlf
  src/test/integration/WinformsControlsTest/xlf/TreeViewTest.fr.xlf
  src/test/integration/WinformsControlsTest/xlf/TreeViewTest.it.xlf
  src/test/integration/WinformsControlsTest/xlf/TreeViewTest.ja.xlf
  src/test/integration/WinformsControlsTest/xlf/TreeViewTest.ko.xlf
  src/test/integration/WinformsControlsTest/xlf/TreeViewTest.pl.xlf
  src/test/integration/WinformsControlsTest/xlf/TreeViewTest.pt-BR.xlf
  src/test/integration/WinformsControlsTest/xlf/TreeViewTest.ru.xlf
  src/test/integration/WinformsControlsTest/xlf/TreeViewTest.tr.xlf
  src/test/integration/WinformsControlsTest/xlf/TreeViewTest.zh-Hans.xlf
  src/test/integration/WinformsControlsTest/xlf/TreeViewTest.zh-Hant.xlf
Due: none

Update sdl-tsa-vars.config
  eng/sdl-tsa-vars.config
Due: none

Update azure-pipelines-codeql.yml
  eng/pipelines/azure-pipelines-codeql.yml
Due: none

Update eng/pipelines/azure-pipelines-codeql.yml
  eng/pipelines/azure-pipelines-codeql.yml
Due: none

enable code-ql on the release 8 and 9 branches
  eng/pipelines/azure-pipelines-codeql.yml
Due: none

removed unreferenced config file
  eng/sdl-tsa-vars.config
Due: none

Fix merge issues
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.WinFormsAppContext.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Keyboard.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Mouse.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network.DownloadFile.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network.UploadFile.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/NetworkUtilities.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/VBInputBox.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.InputBoxHandler.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/ClipboardProxy.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/ProgressDialog.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ClipboardProxyTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/CompilerServices.TestVbHost.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/CompilerServicesTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ControlInvokeTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/FileLogTraceListenerTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/InteractionTests.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Analyzers/ImplementITypedDataObject/ImplementITypedDataObjectInAdditionToIDataObjectAnalyzer.vb
Due: production, test

Upgrade PublishCodeCoverageResults@1 to PublishCodeCoverageResults@2 (#13131)
  eng/pipelines/build-PR.yml
  eng/pipelines/build.yml
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20250313.5
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Removing assertion from constructor EditorServiceContext and update test "InvokeItemsDialog_ShouldThrowException"
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/EditorServiceContext.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ListControlUnboundActionListTests.cs
Due: production, test

Skip the verification for "System.Windows.Forms.ControlBindingsCollection" in test EditorAttribute_TypeExists
  src/test/unit/System.Windows.Forms/System/Windows/Forms/Design/DesignerAttributeTests.cs
Due: none

re-introduce https://github.com/dotnet/winforms/issues/12881 to support the VMR build
  src/System.Private.Windows.Core/src/System.Private.Windows.Core.csproj
Due: production

Remove redundant backup files.
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/CollectionEditorTests.cs.bak
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/WinformsControlsTest.csproj.bak
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxSystemMonitorTests.cs.bak
Due: test

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20250314.9
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Remove unnecessary 'fixed' statement
  src/System.Drawing.Common/src/System/Drawing/Imaging/EncoderParameter.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2663908
  src/System.Windows.Forms/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/Resources/xlf/SR.zh-Hant.xlf
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2663908
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.de.xlf
Due: production
