Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

spelling: succeeded
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2TypeInfoProcessor.cs
Due: production

spelling: release
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
Due: production

spelling: separator
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/ThreadExceptionDialog.cs
Due: production

spelling: saved
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.cs
Due: production

spelling: initializer
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IManagedPerPropertyBrowsingHandler.cs
Due: production

spelling: error
  src/System.Windows.Forms/src/System/Windows/Forms/BindingSource.cs
Due: production

spelling: isn't
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
Due: production

spelling: getter
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.AxPropertyDescriptor.cs
Due: production

spelling: persistence
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
Due: production

spelling: event
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripControlHost.cs
Due: production

spelling: editor
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
Due: production

spelling: palette
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/DrawingEventArgs.cs
Due: production

spelling: suppress
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
Due: production

spelling: threshold
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2Properties.cs
Due: production

spelling: through
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
Due: production

spelling: threadcontext
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
Due: production

spelling: vertically
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSplitStackLayout.cs
Due: production

spelling: windows
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
Due: production

spelling: updown
  src/System.Windows.Forms/src/System/Windows/Forms/Triangle.cs
Due: production

spelling: calendar (#5081)
  docs/accessibility/monthcalendar-expected-behavior.md
Due: none

Replace WindowsFormsUtils.EnumValidator.IsEnumWithinShiftedRange with SourceGenerated.EnumValidator.Validate.
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBox.cs
Due: production

Add Tests for enum validation changes to MessageBox.
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/MessageBoxTests.cs
Due: production, test

Remove non-generated enum validator code.
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WinFormsUtils.cs
Due: production

Update developer-guide.md
  docs/developer-guide.md
Due: none

:x: Possible test failure from the static member being private?
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/MessageBoxTests.cs
Due: production, test

spelling: button
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
Due: production

spelling: assumed
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonPopupAdapter.cs
Due: production

spelling: build manifest
  eng/common/templates/post-build/post-build.yml
Due: none

spelling: gen'd
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripContainer.cs
Due: production

spelling: contrast
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/SystemInformationTests.cs
Due: test

spelling: horizontal
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
Due: production

spelling: container
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
Due: production

spelling: registered
  eng/Version.Details.xml
Due: none

spelling: from
  eng/common/native/install-cmake-test.sh
  eng/common/native/install-cmake.sh
Due: none

spelling: readonly
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUI.cs
Due: production

spelling: category
  src/System.Windows.Forms/src/Resources/System/Windows/Forms/PropertyGrid/PBCategory.ico
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
Due: production

spelling: using
  eng/common/internal/Tools.csproj
Due: none

spelling: scaling
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
