Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below
  behavior: default               # updates, if exists; otherwise post new
  require_changes: false          # post comment even if coverage does not change
  require_head: yes               # must have these two in order to post
  require_base: yes

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Cleanup Panel/ScrollableControl
  src/System.Windows.Forms/src/System/Windows/Forms/Panel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollableControl.cs
Due: production

Remove dead border style check in ToString
  src/System.Windows.Forms/src/System/Windows/Forms/Panel.cs
Due: production

Fixed keyboard accelerators for ToolStripDropDown items
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropDown.cs
  src/System.Windows.Forms/tests/UnitTests/ToolStripDropDownTests.cs
Due: production, test

Fixed keyboard up-arrow cycle work for ToolStrip
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/tests/UnitTests/ToolStripDropDownTests.cs
Due: production, test

Made code refactoring
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropDown.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
Due: production

Fix DataGridTableStyle bugs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridTable.cs
Due: production

Add DataGridTableStyle tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridColumnStyleTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridTableStyleTests.cs
Due: test

Add param names to DataGridTableStyle argument validation
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridTable.cs
Due: production

Rename DataGridTable.cs to match class and fix variable name typos
  src/System.Windows.Forms/src/System/Windows/Forms/DataGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridTableStyle.cs
Due: production

Made code refactoring to avoid build fail
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/EventHandlerServiceTests.cs
Due: test

Field accessors for tests should return by reference
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/EventHandlerService.cs
Due: production

Add missing parameter validation to ToolTip and fix exception param names
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Simplify hashcodes across winforms
  src/Common/src/ClientUtils.cs
  src/System.Windows.Forms.Design/src/System/Drawing/Design/ToolboxItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/BindingContext.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2TypeInfoProcessor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumnDesignTimeVisibleAttribute.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/KeyboardToolTipStateMachine.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/ArrangedElementCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkArea.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Padding.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Screen.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollableControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutPanelCellPosition.cs
  src/System.Windows.Forms/src/misc/GDI/DeviceContext.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsFont.cs
  src/System.Windows.Forms/src/misc/WeakHashtable.cs
Due: production

Update src/Common/src/ClientUtils.cs
  src/Common/src/ClientUtils.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190719.06
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-VisualBasic/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-VisualBasic/.template.config/template.json
Due: none

fixing tests broken in VS only
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/ComponentEditorPageTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PanelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScrollBarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNodeCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNodeTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
Due: test

Update dependencies from https://github.com/dotnet/core-setup build 20190719.09
  eng/Version.Details.xml
  eng/Versions.props
Due: none

fixing tests broken in VS only (#1434)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/ComponentEditorPageTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PanelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScrollBarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNodeCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNodeTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
Due: test

Update dependencies from https://github.com/dotnet/arcade build 20190719.2
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Rename ToolTip variables
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Cleanup ToolTip
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Add ToolTip tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolTipTests.cs
  src/System.Windows.Forms/tests/UnitTests/ToolTipTests.cs
Due: test

Remove ToolTip dead code
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Disable DefaultPageSettings_Null_ReturnsExpected test (dotnet/corefxdotnet/runtime#39647)
  src/System.Drawing.Common/tests/Printing/PrintDocumentTests.cs
Due: none

More DataGridViewColumn auto-prop conversion
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRow.cs
Due: production

Remove DataGridViewBand._bandIndex
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewBand.cs
Due: production

Remove DataGridViewBand._propertyStore
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewBand.cs
Due: production

Remove DataGridViewBand._bandIsRow
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewBand.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRow.cs
Due: production

Add more ContainerControl tests
  src/Common/tests/CommonTestHelper.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ContainerControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/HScrollBarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/InputLanguageChangedEventArgsTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/InputLanguageChangingEventArgsTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PanelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScrollBarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScrollableControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/VScrollBarTests.cs
Due: test

Cleanup ContainerControl
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

add class lib templates for winforms (#1415)
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/.template.config/dotnetcli.host.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/Class1.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/Company.ClassLibrary1.csproj
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-VisualBasic/.template.config/dotnetcli.host.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-VisualBasic/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-VisualBasic/Class1.vb
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-VisualBasic/Company.ClassLibrary1.vbproj
Due: none

Fix typos of "gaurd" -> "guard' across winforms
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerActionService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
Due: production

Simplify hashcodes across winforms (#1429)
  src/Common/src/ClientUtils.cs
  src/System.Windows.Forms.Design/src/System/Drawing/Design/ToolboxItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/BindingContext.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2TypeInfoProcessor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumnDesignTimeVisibleAttribute.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/KeyboardToolTipStateMachine.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/ArrangedElementCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkArea.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Padding.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Screen.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollableControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutPanelCellPosition.cs
  src/System.Windows.Forms/src/misc/GDI/DeviceContext.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsFont.cs
  src/System.Windows.Forms/src/misc/WeakHashtable.cs
Due: production

Rename ContainerControl/ScrollableControl variables to match guidelines
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollableControl.cs
Due: production

Add more tests for ShouldRenderPlaceHolderText method
  src/System.Windows.Forms/tests/UnitTests/TextBoxTests.cs
Due: test

Rename control.ime.cs to match guidelines
  src/System.Windows.Forms/src/System/Windows/Forms/Control.Ime.cs
Due: production

Changing back color of the PrintPreviewControl in HC mode to follow HC standards.
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Printing/PrintPreviewControlTests.cs
Due: production, test

Refactoring according to code review points.
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripControlHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripNumericUpDown.cs
Due: production

Cut back allocations on blank form startup
  src/Common/src/Interop/Interop.CommonHandles.cs
  src/Common/src/Interop/Interop.HandleCollector.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/SafeNativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/System.Windows.Forms.Design.Editors.csproj
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionPanel.cs
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Cursor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ComponentEditorForm.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/NativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Screen.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropDown.cs
  src/System.Windows.Forms/src/misc/GDI/DeviceContext.cs
  src/System.Windows.Forms/src/misc/GDI/DeviceContext2.cs
  src/System.Windows.Forms/src/misc/GDI/DeviceContexts.cs
  src/System.Windows.Forms/src/misc/GDI/NativeMethods.cs
  src/System.Windows.Forms/src/misc/GDI/SafeNativeMethods.cs
  src/System.Windows.Forms/src/misc/GDI/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsFont.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsGraphics2.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsPen.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsRegion.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsSolidBrush.cs
Due: production
