Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

clarify constructor code
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/EditorServiceContext.cs
Due: production

DesignerActionUI: change some fields and variable names
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUI.cs
Due: production

Add Label Edit to TreeView
  src/System.Windows.Forms/src/System/Windows/Forms/LabelEditAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LabelEditNativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LabelEditUiaTextProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewItemWithImageAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewLabelEditAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewLabelEditNativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.TreeNodeAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeViewLabelEditAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeViewLabelEditNativeWindow.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewLabelEditAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewLabelEditAccessibleObjectTests.cs
Due: production, test

Disable test
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/InputLanguageTests.cs
Due: test

[release/8.0] Disable N'Ko in InputLanguageTests (#10151)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/InputLanguageTests.cs
Due: test

[internal/release/6.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Add OS condition to test
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/OsVersion.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/InputLanguageTests.cs
Due: test

Enable stable branding
  eng/Versions.props
Due: none

Add OS Condition for InputLanguageTests.InputLanguage_FromCulture_SupplementalInputLanguages_Expected (#10154)
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/OsVersion.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/InputLanguageTests.cs
Due: test

Enable nullability in DataGridViewColumnHeaderCell (#10127)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumnHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTopLeftHeaderCell.cs
Due: production

Enable nullability in TypeCodeDomSerializer (#9529)
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializationProvider.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ComponentTypeCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/TypeCodeDomSerializer.StatementOrderComparer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/TypeCodeDomSerializer.cs
Due: production

Enable nullability in DataGridViewComboBoxColumn (#10111)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewButtonColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCheckBoxColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewImageColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewLinkColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxColumn.cs
Due: production

Enable nullability in some BindingSource members (#10058)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/BindingSource.cs
Due: production

Enable nullability in DesignerActionBehavior (#10125)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/DesignerActionBehavior.cs
Due: production

Add test for Clipboard
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
Due: test

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20231019.10
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Enable nullability in some DataGridViewCell members
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewButtonCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.DataGridViewCellAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewImageCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRowHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTopLeftHeaderCell.DataGridViewTopLeftHeaderCellAccessibleObject.cs
Due: production

Use pattern matching in if statements
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.DataGridViewCellAccessibleObject.cs
Due: production

Use collection expression
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.DataGridViewCellAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.CalendarCellAccessibleObject.cs
Due: production

Rename dgv to dataGridView
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxCell.cs
Due: production

Remove ErrorBitmap property
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
Due: production

Use expression body
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
Due: production

Use null propagation
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxCell.cs
Due: production

Shorten getters in ErrorTextInternal and ToolTipTextInternal
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
Due: production

Rename dgvcs to dataGridViewCellStyle
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
Due: production

Check if OwningRow and OwningColumn are not null
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.DataGridViewCellAccessibleObject.cs
Due: production

fix nullability annotations in TypeCodeDomSerializer
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/TypeCodeDomSerializer.cs
Due: production

fix nullability annotations of DesignerActionBehavior
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/DesignerActionBehavior.cs
Due: production

review feedback: code cleanup
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUI.cs
Due: production

Adds test for copying to the clipboard with keyboard shortcuts
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
Due: test

Makes ctrl+a select also spaces and special characters.
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
Due: production

Fix nullability annotations in TypeCodeDomSerializer and DesignerActionBehavior (#10159)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/TypeCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/DesignerActionBehavior.cs
Due: production

Adds a new test for Clipboard
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
Due: test

Enable nullability in StatusCommandUI (#10141)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/StatusCommandUI.cs
  src/System.Windows.Forms.Primitives/src/System/ComponentModel/MemberDescriptorExtensions.cs
Due: production

Enable nullability in some DataGridViewCell members (#9898)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewButtonCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.DataGridViewCellAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewImageCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRowHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTopLeftHeaderCell.DataGridViewTopLeftHeaderCellAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.CalendarCellAccessibleObject.cs
Due: production

refactor to remove an assert
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/SelectionManager.cs
Due: production
