Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

In-build signing for release branches
  azure-pipelines.yml
Due: none

Update branding to 6.0.10
  eng/Versions.props
Due: none

Update public pool names (#7733)
  azure-pipelines-richnav.yml
  eng/common/templates/job/source-build.yml
  eng/common/templates/job/source-index-stage1.yml
  eng/pipelines/build.yml
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.SHCreateItemFromParsingName.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.SHCreateShellItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FolderBrowserDialog.cs
Due: production

Update public pool names (#7707)
  azure-pipelines-richnav.yml
  eng/common/templates/job/source-build.yml
  eng/pipelines/build.yml
Due: none

[release/7.0] In-build signing for release branches (#7743)
  azure-pipelines.yml
Due: none

NativeMethods clean up/remove unnecessary usings
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
Due: none

Convert User32 DPI Methods to Cswin32
  src/System.Windows.Forms.Design/src/GlobalUsings.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/CommandSet.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlCommandSet.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DataGridViewCellStyleEditor.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DocumentDesigner.cs
  src/System.Windows.Forms.Primitives/src/GlobalUsings.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.AreDpiAwarenessContextsEqual.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.DPI_AWARENESS.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.DPI_AWARENESS_CONTEXT.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GetAwarenessFromDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GetDpiForSystem.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GetThreadDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GetWindowDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.IsValidDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.SetProcessDPIAware.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.SetProcessDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.SetThreadDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/DpiHelper.DpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/DpiHelper.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.AreDpiAwarenessContextsEqual.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.GetDpiForWindow.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.GetThreadDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.SetThreadDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/HiDpi/DPI_AWARENESS_CONTEXT.cs
  src/System.Windows.Forms/src/GlobalUsings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ThreadContext.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/NativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripManager.ModalMenuFilter.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ScalingBeforeChanges.cs
  src/System.Windows.Forms/tests/UnitTests/GlobalUsings.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Application.ParkingWindowTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CursorTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Dpi/FormTests.Dpi.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Dpi/ToolStripItemTests.Dpi.cs
Due: production, test

Fix docs/comments
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/DpiHelper.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.AreDpiAwarenessContextsEqual.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.GetThreadDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.SetThreadDpiAwarenessContext.cs
Due: none

Update branding to 6.0.10 (#7744)
  eng/Versions.props
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20220906.15
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Move UiaClient interop into the test project
  src/System.Windows.Forms.Primitives/src/Interop/UiaClient/Interop.IUIAutomation.cs
  src/System.Windows.Forms.Primitives/src/Interop/UiaClient/Interop.IUIAutomationElement.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DragDropTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Interop/UiaClient/Interop.IUIAutomation.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Interop/UiaClient/Interop.IUIAutomationElement.cs
Due: test

Use normalized absolute coordinates relative to the virtual screen
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DragDropTests.cs
Due: test

Explicitly position the windows next to each other
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DragDropTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Interop/UiaClient/Interop.IUIAutomationElement.cs
Due: test

[Servicing] Fixing "Collection was modified ..." exception while MonthCalendar AO tree rebuilding (#7739)
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.CalendarBodyAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.CalendarRowAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.MonthCalendarAccessibleObject.cs
Due: production

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20220907.11
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Fixed HasKeyboardFocusProperty for DGV's AO
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.AccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewAccessibleObjectTests.cs
Due: production, test

Fix docs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.AreDpiAwarenessContextsEqual.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.GetThreadDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.SetThreadDpiAwarenessContext.cs
Due: none

Fixed HasKeyboardFocusProperty for DGV's AO (#7748)
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.AccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewAccessibleObjectTests.cs
Due: production, test

Fixed the border's color of TextBox inside MenuStrip
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripTextBox.ToolStripTextBoxControl.cs
Due: production

Remove extra space
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.AreDpiAwarenessContextsEqual.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.GetThreadDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.SetThreadDpiAwarenessContext.cs
Due: none

Update APICompat and compatibility suppression files (dotnet/runtime#75447)
  src/System.Drawing.Common/src/CompatibilitySuppressions.xml
Due: none

Update feature switch runtime configuration doc
  docs/WinformsRuntimeConfiguration.md
  docs/runtime-configuration.md
Due: none

fixup! Explicitly position the windows next to each other
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DragDropTests.cs
Due: test

Convert User32 DPI Methods to Cswin32 (#7732)
  src/System.Windows.Forms.Design/src/GlobalUsings.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/CommandSet.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlCommandSet.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DataGridViewCellStyleEditor.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DocumentDesigner.cs
  src/System.Windows.Forms.Primitives/src/GlobalUsings.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.AreDpiAwarenessContextsEqual.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.DPI_AWARENESS.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.DPI_AWARENESS_CONTEXT.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GetAwarenessFromDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GetDpiForSystem.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GetThreadDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GetWindowDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.IsValidDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.SetProcessDPIAware.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.SetProcessDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.SetThreadDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/DpiHelper.DpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/DpiHelper.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.AreDpiAwarenessContextsEqual.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.GetDpiForWindow.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.GetThreadDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.SetThreadDpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/HiDpi/DPI_AWARENESS_CONTEXT.cs
  src/System.Windows.Forms/src/GlobalUsings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ThreadContext.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/NativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripManager.ModalMenuFilter.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ScalingBeforeChanges.cs
  src/System.Windows.Forms/tests/UnitTests/GlobalUsings.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Application.ParkingWindowTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CursorTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Dpi/FormTests.Dpi.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Dpi/ToolStripItemTests.Dpi.cs
Due: production, test

Update feature switch runtime configuration doc (#7765)
  docs/WinformsRuntimeConfiguration.md
  docs/runtime-configuration.md
Due: none

Fixing "Collection was modified ..." exception while MonthCalendar AO tree rebuilding (#7738)
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.CalendarBodyAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.CalendarRowAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.MonthCalendarAccessibleObject.cs
Due: production

Merging internal commits for release/6.0 (#7768)
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20220913.10
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20220913.20
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Add more diagnostic output
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DragDropTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Interop/UiaClient/Interop.IUIAutomationElement.cs
Due: test

Add more diagnostic output
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DragDropTests.cs
Due: test

Bump intellisense version
  eng/Versions.props
Due: none

Branding to RTM
  eng/Versions.props
Due: none

Branding to RTM (#7776)
  eng/Versions.props
Due: none

Update developer-guide.md
  docs/developer-guide.md
Due: none

Update developer-guide.md (#7778)
  docs/developer-guide.md
Due: none

Create a folder with a single file to drag and drop
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DragDrop/DragAccept.rtf
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DragDropTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/System.Windows.Forms.UI.IntegrationTests.csproj
Due: test

Review feedback
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/CommonDialogTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/ControlTestBase.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ListViewGroup.ListViewGroupAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ListViewInsertionMarkVisualStylesOffTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ListViewInsertionMarkVisualStylesOnTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ListViewTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/TaskDialogTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
Due: test

Fixed incorrect behavior of mouse tooltips for DataGridView.
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DataGridViewTests.cs
Due: production, test

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
