Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Update dependencies from https://github.com/dotnet/core-setup build 20190520.09
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Make DesignerActionTextItem public
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionTextItem.cs
Due: production

Update dependencies from https://github.com/dotnet/arcade build 20190520.2
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

do not include xlf files in the winforms templates
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/Microsoft.Dotnet.Winforms.ProjectTemplates.csproj
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/xlf/Form1.cs.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/xlf/Form1.de.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/xlf/Form1.es.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/xlf/Form1.fr.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/xlf/Form1.it.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/xlf/Form1.ja.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/xlf/Form1.ko.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/xlf/Form1.pl.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/xlf/Form1.pt-BR.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/xlf/Form1.ru.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/xlf/Form1.tr.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/xlf/Form1.zh-Hans.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/xlf/Form1.zh-Hant.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/xlf/Form1.cs.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/xlf/Form1.de.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/xlf/Form1.es.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/xlf/Form1.fr.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/xlf/Form1.it.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/xlf/Form1.ja.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/xlf/Form1.ko.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/xlf/Form1.pl.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/xlf/Form1.pt-BR.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/xlf/Form1.ru.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/xlf/Form1.tr.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/xlf/Form1.zh-Hans.xlf
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/xlf/Form1.zh-Hant.xlf
Due: none

using netcoreapp2.1 version if colorUtil (dotnet/corefxdotnet/runtime#37854)
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
Due: none

Update dependencies from https://github.com/dotnet/arcade build 20190521.7
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/build.sh
  eng/common/tools.ps1
  eng/common/tools.sh
  global.json
Due: none

LOC CHECKIN | dotnet/winforms master | 20190522
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/Resources/System/Windows/Forms/xlf/PrintPreviewDialog.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Fix flaky test
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BindingContextTests.cs
Due: test

Add VisualStyleElement tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/VisualStyles/VisualStyleElementTests.cs
  src/System.Windows.Forms/tests/UnitTests/VisualStyleElementTests.cs
Due: test

disable helix unit tests for now
  eng/ci.yml
Due: none

Add unit tests for Ctrl+Backspace in ComboBox and TextBox.
  src/Common/tests/CommonTestHelper.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/TextBoxTests.cs
Due: test

Update dependencies from https://github.com/dotnet/core-setup build 20190522.02
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/arcade build 20190522.13
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/templates/steps/send-to-helix.yml
  global.json
Due: none

disable helix unit tests for now (#1025)
  eng/ci.yml
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190523.01
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190523.02
  eng/Version.Details.xml
  eng/Versions.props
Due: none

disabled failing unit tests (and create github issues) to allow code to flow
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BindingContextTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyManagerTests.cs
Due: test

Update dependencies from https://github.com/dotnet/core-setup build 20190523.03
  eng/Version.Details.xml
  eng/Versions.props
Due: none

formatting System.Windows.Forms.Design.Editors.Tests
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/ObjectSelectorEditorTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/ComponentModel/Design/CollectionEditorTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/ComponentModel/Design/CollectionFormTests.cs
Due: test

formatting System.Windows.Forms.IntegrationTests
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/TestHelpers.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/WinformsControlsTest.cs
Due: test

formatting System.Windows.Forms.Design.Tests
  src/System.Windows.Forms.Design/tests/UnitTests/ControlDesignerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/Serialization/TypeCodeDomSerializerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignSurfaceTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionItemCollectionTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionListCollectionTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionMethodItemTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionServiceTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerHostTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/DesignerSerializationManagerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/UndoUnitTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/ToolboxItemTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/MenuCommandsTests.cs
Due: test

formatting System.Windows.Forms.Design.Editors
  src/Common/src/ClientUtils.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/CommonUnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/ConfigurationOptions.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/DpiHelper.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/NativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/System/ComponentModel/Design/CollectionEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/ComponentModel/Design/MultilineStringEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/ComponentModel/Design/ObjectSelectorEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/ColorEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/CursorEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/AnchorEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/BorderSidesEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/DockEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/FolderNameEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/ShortcutKeysEditor.cs
Due: production

formatting straggelers
  src/Common/src/ClientUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/CurrentDPILabel.cs
Due: production, test

formatting Internal Utilities for Tests
  src/Common/tests/InternalUtilitiesForTests/src/AssertExtensions.cs
  src/Common/tests/InternalUtilitiesForTests/src/PlatformDetection.Windows.cs
Due: test

Update dependencies from https://github.com/dotnet/core-setup build 20190523.06
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190523.08
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Fixed code style
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/PropertyGridViewRowsAccessibleObjectTests.cs
Due: production, test

Removed .this in the unit test
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/PropertyGridViewRowsAccessibleObjectTests.cs
Due: test

Update dependencies from https://github.com/dotnet/arcade build 20190523.11
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/tools.sh
  global.json
Due: none

Remove dead rootComponent parameter from ComponentDesigner.InitializeInheritedProperties
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/InheritedPropertyDescriptor.cs
Due: production

remove all instances of IDE0016 warning - null check can be simplified
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/AnchorEditor.cs
  src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCellPaintingEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRowPostPaintEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRowPrePaintEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ComponentEditorForm.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DropSource.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/InputLanguageChangedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/InputLanguageChangingEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkLabel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBindingHelper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripControlHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropDown.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserSiteBase.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
