Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

change from review
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
Due: production

Small refactor to remove null warning
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
Due: production

remove null check
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
Due: production

rebase and minor refactor
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
Due: production

Fix test failure
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
Due: production

Change `GetRuntimeType` back
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
Due: production

added debug.assert check for instance
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
Due: production

changes from review
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
Due: production

Fix test failures of DesignerSerializationManager
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
Due: production

fix a couple more tests
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
Due: production

Fix DesignerSerializationManager_Errors_GetWithSession_ReturnsExpected to check for IList instead of ArrayList
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/DesignerSerializationManagerTests.cs
Due: test

Automatic pool provider selection (#8564)
  azure-pipelines-richnav.yml
  azure-pipelines.yml
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/generate-locproject.ps1
  eng/common/loc/P22DotNetHtmlLocalization.lss
  eng/common/templates/job/source-build.yml
  eng/common/templates/variables/pool-providers.yml
  eng/pipelines/azure-pipelines-codeql.yml
  eng/pipelines/build.yml
  global.json
Due: none

Fix SerializationProviders property
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
Due: production

Cherry pick of release/8 branch of "Automatic pool provider selection (#8564)"
  azure-pipelines-richnav.yml
  azure-pipelines.yml
  eng/pipelines/azure-pipelines-codeql.yml
  eng/pipelines/build.yml
Due: none

Automatic Pool provider selection (Main branch) (#8577)
  azure-pipelines-richnav.yml
  azure-pipelines.yml
  eng/pipelines/azure-pipelines-codeql.yml
  eng/pipelines/build.yml
Due: none

Enable CheckCertificateRevocationList Under a Switch (#8556)
  src/System.Windows.Forms.Primitives/src/System/LocalAppContextSwitches/LocalAppContextSwitches.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/LocalAppContextSwitchesTest.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PictureBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PictureBoxTests.cs
Due: production, test

Update branding to 6.0.15
  eng/Versions.props
Due: none

Update branding to 7.0.4
  eng/Versions.props
Due: none

Update branding to 7.0.4 (#8586)
  eng/Versions.props
Due: none

Update branding to 6.0.15 (#8585)
  eng/Versions.props
Due: none

Use TryGetObject instead of ContainsObject and GetObject (#8575)
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewBand.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCellStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewLinkCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripMenuItem.cs
Due: production

Issue 7799. DataGridView Flaky tests due to invalidatedCallCount.
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewTests.cs
Due: test

Fixed ToolStrip.GetNextItem method to handle TabStop correctly
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
Due: production

Modified GetNextItem unit tests to ensure TabStop is handled correctly
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: test

Add ContainsObjectThatIsNotNull method in PropertyStore and use it where possible
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewBand.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
Due: production

Add ContainsObjectThatIsNotNull method in PropertyStore and use it where possible (#8594)
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewBand.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
Due: production

Fix Control COM interface serialization
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.VARIANT.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.PropertyBagStream.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataStreamFromComStream.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Control.ActiveXImplTests.cs
Due: production, test

Add similar fixes for AxHost.PropertyBagStream.
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.VARIANT.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.PropertyBagStream.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.PropertyBagStream.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHost.PropertyBagStreamTests.cs
Due: production, test

Set the property back in the test to ensure it was actually serialized.
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Control.ActiveXImplTests.cs
Due: test

Fix ToolStripDropDown.ProcessDialogKey method to handle (do nothing) Up and Down keys when item has no sub-items
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropDownItem.cs
Due: production

Removed extra validation in flaky DataGridView unit tests. (#8574)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewTests.cs
Due: test

Refactor `DesignerSerializationManager` to replace `HashTable` and enable Nullability (#8353)
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/DesignerSerializationManagerTests.cs
Due: production, test

Skip or fix flaky tests
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/AnchorLayoutTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DragDropTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComponentModel/Com2Interop/COM2PictureConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/EmbeddedResourceTests.cs
Due: test

Fix ToolStrip/MenuStrip/StatusStrip arrow keys navigation (#8588)
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: production, test

Skipping test related to #6610
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: test

Skip or fix flaky tests blocking CI (#8603)
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/AnchorLayoutTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DragDropTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComponentModel/Com2Interop/COM2PictureConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/EmbeddedResourceTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: test

Fix menu item without sub menu leaking focus on arrow keys (#8592)
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropDownItem.cs
Due: production

Skip soem more flaky tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComponentModel/Com2Interop/COM2FontConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComponentModel/Com2Interop/COM2PictureConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Control.ActiveXFontMarshallerTests.cs
Due: test

Fix Control COM interface serialization (#8597)
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.VARIANT.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.PropertyBagStream.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.PropertyBagStream.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataStreamFromComStream.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHost.PropertyBagStreamTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Control.ActiveXImplTests.cs
Due: production, test

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
