Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Enable nullability in ItemTypeToolStripMenuItem and StandardCommandToolStripMenuItem
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ItemTypeToolStripMenuItem.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/StandardCommandToolStripMenuItem.cs
Due: production

Remove s_systemWindowsFormsNamespace and SystemWindowsFormsNamespace
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ItemTypeToolStripMenuItem.cs
Due: production

Use auto-property
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ItemTypeToolStripMenuItem.cs
Due: production

next round of changes to use the new ComponentModel APIs
  src/System.Windows.Forms/src/System/Drawing/Design/UITypeEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/BindableComponent.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/BindingContext.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/IBindableComponent.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/SplitContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MDI/MDIWindowDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.ComposedDataObject.NativeDataObjectToWinFormsAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Panels/TableLayoutPanel/TableLayoutSettings.cs
Due: production

Enable nullability in PbrsForward
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/PbrsForward.cs
Due: production

Remaining warnings with TrimTest
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Buttons/ButtonBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListControl/ListControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/Formatter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MDI/MDIWindowDialog.cs
Due: production

Remove unused using.
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Support/TypeInfo.cs
Due: none

Enable nullability in ItemTypeToolStripMenuItem and StandardCommandToolStripMenuItem (#11216)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ItemTypeToolStripMenuItem.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/StandardCommandToolStripMenuItem.cs
Due: production

Enable nullability in GroupedContextMenuStrip and NewItemsContextMenuStrip (#11183)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/GroupedContextMenuStrip.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/NewItemsContextMenuStrip.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/GroupedContextMenuStripTests.cs
Due: production, test

Add test coverage for TreeView
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/TreeView.TreeViewAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNodeCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNodeConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNodeTests.cs
Due: test

Respond to JeremyB feedback
  src/System.Private.Windows.Core/src/System/IO/BinaryReaderExtensions.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ArrayRecord.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ClassRecord.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ArrayRecordDeserialzer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordFieldInfoDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordSerializationInfoDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/Deserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ObjectRecordDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Record.cs
Due: none

Updated
  src/System.Windows.Forms/tests/UnitTests/CheckedListBoxTests.cs
Due: test

Handle feedback
  src/System.Windows.Forms/tests/UnitTests/MaskedTextBoxTests.cs
Due: test

Add code coverage for ComboBox (#11262)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
Due: test

Add unit test for checkedListBox (#11265)
  src/System.Windows.Forms/tests/UnitTests/CheckedListBoxTests.cs
Due: test

Enable nullability in PbrsForward (#11291)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/PbrsForward.cs
Due: production

Enable nullability in EscapeHandler (#11278)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ParentControlDesigner.EscapeHandler.cs
Due: production

Enable nullability in DesignerWindowTarget (#11279)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.DesignerWindowTarget.cs
Due: production

Enable nullability in InheritanceUI
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/InheritanceUI.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/InheritanceUITests.cs
Due: production, test

Add a collection that deals with array size guards
  src/System.Private.Windows.Core/src/System/Collections/Generic/CappedArray.cs
  src/System.Private.Windows.Core/src/System/IO/BinaryReaderExtensions.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ArrayRecord.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ClassInfo.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ClassRecord.cs
Due: none

Respond to feedback
  src/System.Private.Windows.Core/src/System/Collections/Generic/ArrayBuilder.cs
  src/System.Private.Windows.Core/src/System/IO/BinaryReaderExtensions.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ArrayRecord.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ClassInfo.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ClassRecord.cs
Due: none

Apply addtional feeback
  src/System.Private.Windows.Core/src/System/Collections/Generic/ArrayBuilder.cs
  src/System.Private.Windows.Core/src/System/IO/BinaryReaderExtensions.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ArrayRecord.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ClassInfo.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ClassRecord.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordFieldInfoDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordSerializationInfoDeserializer.cs
Due: none

Enable nullability in OleCallback
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/MultilineStringEditor.OleCallback.cs
Due: production

Update branding to 6.0.31
  eng/Versions.props
Due: none

Update branding to 7.0.20
  eng/Versions.props
Due: none

Update branding to 8.0.6
  eng/Versions.props
Due: none

Fix over callback, add another assert.
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/Deserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Support/SerializationEvents.cs
Due: none

Update branding to 8.0.6 (#11304)
  eng/Versions.props
Due: none

Update branding to 6.0.31 (#11302)
  eng/Versions.props
Due: none

[release/6.0] Remove -pt Images and Add Baselining File (#11225)
  .config/guardian/SDL/.gdnbaselines
  azure-pipelines.yml
Due: none

[release/8.0] Remove -pt Images and Add Baselining File (#11224)
  .config/guardian/SDL/.gdnbaselines
  azure-pipelines.yml
Due: none

Respond to feedback
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/PendingSerializationInfo.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Support/SerializationEvents.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Support/SerializationExtensions.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Support/SerializationInfoExtensions.cs
Due: none

Update RecordMap handling
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ArraySingleObject.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ArraySinglePrimitive.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ArraySingleString.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryArray.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.TypeResolver.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObjectExtensions.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryLibrary.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryObjectString.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ClassWithId.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ClassWithMembers.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ClassWithMembersAndTypes.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/IRecord.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/MemberReference.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/NullRecord.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/ObjectRecord.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Record.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/RecordMap.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/SystemClassWithMembers.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/SystemClassWithMembersAndTypes.cs
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/FormattedObject/ArrayTests.cs
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/FormattedObject/BinaryFormattedObjectTests.cs
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/FormattedObject/ExceptionTests.cs
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/FormattedObject/HashTableTests.cs
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/FormattedObject/RecordMapTests.cs
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/FormattedObject/SystemDrawingTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/HashTableTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/BinaryFormat/WinFormsBinaryFormattedObjectExtensions.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BinaryFormat/WinFormsBinaryFormattedObjectTests.cs
Due: production, test

Addressing the remaining warnings in TrimTest
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListControl/ListControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageIndexConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/Formatter.cs
Due: production

Enable nullability in InheritanceUI (#11284)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/InheritanceUI.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/InheritanceUITests.cs
Due: production, test

Enable nullability in OleCallback (#11297)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/MultilineStringEditor.OleCallback.cs
Due: production

Utilize TypeName Parser API
  src/System.Windows.Forms/src/System/Resources/ResXSerializationBinder.cs
  src/System.Windows.Forms/tests/UnitTests/System/Resources/ResXSerializationBinderTests.cs
Due: production, test

clean up
  src/System.Windows.Forms/tests/UnitTests/System/Resources/ResXSerializationBinderTests.cs
Due: test

`ListViewItemCollection` doesn't have an `AddRange` that takes an `IEnumerable<ListViewItem>`, which necessitates unnecessary array allocations when adding from a collection.
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.ListViewItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripPanel.ToolStripPanelControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/ArrangedElementCollection.cs
  src/System.Windows.Forms/tests/UnitTests/SerializableTypesTests.cs
Due: production, test
