Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Branding to Preview5 (#7214)
  eng/Versions.props
Due: none

preview version should be 5
  eng/Versions.props
Due: none

Update fabricbot.json
  .github/fabricbot.json
Due: none

Enable nullability in TableLayoutPanel (#7192)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutSettings.cs
Due: production

Make control nullable in GetPositionFromControl
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutSettings.cs
Due: production

Make control nullable in GetPositionFromControl (#7215)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutSettings.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 1782571
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Update Versions.props
  eng/Versions.props
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 1790106
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

removed exclusion for NU1505 warning
  src/Microsoft.VisualBasic/tests/IntegrationTests/VisualBasicRuntimeTest/VisualBasicRuntimeTest.csproj
  src/System.Windows.Forms/tests/AccessibilityTests/AccessibilityTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/DesignSurface/DemoConsole/DemoConsole.csproj
  src/System.Windows.Forms/tests/IntegrationTests/NativeHost.ManagedControl/NativeHost.ManagedControl.csproj
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/WinformsControlsTest.csproj
Due: test

revert Exception on accessing accessible object after control is disposed until we can block the focus changes as well
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewItemTests.cs
Due: production, test

revert Exception on accessing accessible object after control is disposed (#7223)
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewItemTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 1791074
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
Due: production

Enable nullability in DataGridViewHitTestTypeInternal and DataGridViewValidateCellInternal
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.DataGridViewHitTestTypeInternal.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.DataGridViewValidateCellInternal.cs
Due: production

Enable nullability in ToolStripSettings and ToolStripSettingsManager
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSettings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSettingsManager.SettingsStub.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSettingsManager.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 1795978
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Document additional assembly which is needed for designer
  docs/debugging.md
Due: none

Document additional assembly which is needed for designer (#7238)
  docs/debugging.md
Due: none

Update version to 3.1 in templates
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/.template.config/template.json
Due: none

Update display name in library as well.
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/.template.config/template.json
Due: none

Update version to 3.1 in templates (#7243)
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/.template.config/template.json
Due: none

Fix CS8778 warning and CS0221 error when casting to nint
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/Oleaut32/VARIANTTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/PARAMTests.cs
Due: none

PR feedback: removed redundadnd casts.
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/PARAMTests.cs
Due: none

Removed build warning in VS (#7220)
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/Oleaut32/VARIANTTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/PARAMTests.cs
Due: none

Fix duplicate symbols
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
Due: production

Review feedback
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/DragDropHelper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DragEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DropSource.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GiveFeedbackEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropTargetManager.cs
Due: production

Update designer troubleshooting guide
  docs/designer/troubleshooting.md
Due: none

Add DragDropFormat unit tests
  src/System.Windows.Forms/src/System/Windows/Forms/DragDropFormat.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DragDropFormatTests.cs
Due: production, test

Supply named arguments for boolean parameters
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DragDropFormatTests.cs
Due: test

Cleanup the data source and variable name
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DragDropFormatTests.cs
Due: test

Add comment
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.DataObjectWrapper.cs
Due: none

Restore old codepath for Win7
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.OleGetClipboard.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Clipboard.cs
Due: production

Wrap COM implementation in try/catch
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.IDataObjectVtbl.cs
Due: none

Enable nullability in ToolStripSettings and ToolStripSettingsManager (#7234)
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSettings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSettingsManager.SettingsStub.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSettingsManager.cs
Due: production

Enable nullability in DataGridViewHitTestTypeInternal and DataGridViewValidateCellInternal (#7235)
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.DataGridViewHitTestTypeInternal.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.DataGridViewValidateCellInternal.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 1804916 (#7229)
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Add DragContext test data and generalize the tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DragDropFormatTests.cs
Due: test

Add DragDropHelper unit tests
  src/System.Windows.Forms/src/System/Windows/Forms/DragDropFormat.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DragDropHelper.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DragDropFormatTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DragDropHelperTests.cs
Due: production, test

Skip test DragDropHelper_SetDragImage_ReturnsExptected
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DragDropHelperTests.cs
Due: test

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
