Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Merged PR 43791: [internal/release/6.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Handle FeedBacks
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripItemCollectionTests.cs
Due: test

Fix ConnectionPointCookie usages
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.OleInterfaces.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/WebBrowser/WebBrowserSiteBase.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/WebBrowserTests.cs
Due: production, test

add using for IDisposable variables
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/SplitterPanelDesignerTests.cs
Due: test

Fix Merge Error
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ClipboardProxyTests.vb
Due: test

Fix merge error
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NativeTypesTests.vb
Due: test

Fix merge issue
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ClipboardProxyTests.vb
Due: test

Fix merge issue
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/ClipboardProxy.vb
Due: production

Fix merger issue
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ClipboardProxyTests.vb
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/MyServices/ClipboardProxyTests.cs
Due: test

Add unit tests for DesignerExtenders
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignerExtendersTests.cs
Due: test

Use System.IO where possible for interitdoc
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/FileSystemProxy.vb
Due: production

Add code coverage for ToolStripItemCollection (#12316)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripItemCollectionTests.cs
Due: test

Add usings to test
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/WebBrowserTests.cs
Due: test

bump xunit version and fix build errors
  eng/Versions.props
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/FormattedObject/BinaryFormatWriterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Handlers.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ImageListTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PictureBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ProgressBarTests.cs
Due: test

Fix ConnectionPointCookie usages (#12333)
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.OleInterfaces.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/WebBrowser/WebBrowserSiteBase.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/WebBrowserTests.cs
Due: production, test

Fix ConnectionPointCookie usages (#12333)
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.OleInterfaces.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserSiteBase.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/WebBrowserTests.cs
Due: production, test

Remove extra space
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/SplitterPanelDesignerTests.cs
Due: test

Prevent Merge issues with Add-Network-Download-Tests-Only-Review-1st
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkDownloadTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/WebListener.vb
Due: test

Update NetworkDownload
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/NetworkDownload.vb
Due: production

Minor Cleanup
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/WebClientCopy.vb
Due: production

Cleanup WebClientCopy
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/WebClientCopy.vb
Due: production

Add code coverage for ToolStripComboBox
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripComboBoxTests.cs
Due: test

Remove m_ from private variable names and fix up event handler names and comments
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/AssemblyInfo.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Audio.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/NetworkAvailability.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.Properties.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/WebClientCopy.vb
Due: production

Update audio tests
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/Devices/AudioTests.cs
Due: test

Merge ComputerInfoDebugViewTests
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ComputerInfoDebugViewTests.vb
Due: test

Remove unused imports
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ClipboardProxyTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/HostServicesTests.TestVbHost.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/StartupInfoTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/TestData/TimeTestData.vb
Due: test

Remove unused imports
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ClipboardProxyTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/StartupInfoTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/TestData/TimeTestData.vb
Due: test

Remove unused imports
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ClipboardProxyTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/StartupInfoTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/HostServicesTests.TestVbHost.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/TestData/TimeTestData.vb
Due: test

Use new CleanUpListener
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkDownloadTests.vb
Due: test

Fix Merge errors
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkDownloadTests.vb
Due: test

Fix merge issues
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/FileSystemProxy.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkDownloadTests.vb
Due: production, test

Shorten Lines
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkDownloadTests.vb
Due: test

Path conditions:
  production: any of: src/Common/src/, src/Microsoft.VisualBasic/src/, src/Microsoft.VisualBasic.Forms/src/, src/System.Drawing.Common/src/, src/System.Drawing.Design/src/, src/System.Private.Windows.Core/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Analyzers/src/, src/System.Windows.Forms.Analyzers.CSharp/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/, src/System.Windows.Forms.Primitives/src/, src/System.Windows.Forms.PrivateSourceGenerators/src/
  test: any of: src/Common/tests/, src/Microsoft.VisualBasic/tests/, src/Microsoft.VisualBasic.Forms/tests/, src/System.Drawing.Common/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Analyzers/tests/, src/System.Windows.Forms.Analyzers.CSharp/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Primitives/tests/, src/System.Windows.Forms.PrivateSourceGenerators/tests/
