Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Heal Igor's OCD
  src/System.Windows.Forms/src/System/Windows/Forms/ColumnHeader.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewButtonColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewImageColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewLinkColumn.cs
Due: production

Introduce constants storage
  src/System.Windows.Forms.Primitives/src/System/TrimmingConstants.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/PaddingConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/BindingSource.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ExtendedTypeConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IDispatchConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/ComNativeDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.AxSourcingSite.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FlatButtonAppearanceConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkArea.LinkAreaConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/MergePropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollableControl.DockPaddingEdges.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SelectionRangeConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripControlHost.StubSite.cs
Due: production

Fix some ocmpilation errors
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2AboutBoxPropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ExtendedTypeConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IDispatchConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
Due: production

Sort trimming constants
  src/System.Windows.Forms.Primitives/src/System/TrimmingConstants.cs
Due: none

Get rid of IL2046, IL2077, IL2091, completely
  src/System.Windows.Forms.Primitives/src/System/TrimmingConstants.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/PaddingConverter.cs
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.AxPropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2AboutBoxPropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutPanelCellPosition.cs
Due: production

Almost all IL2067, only some of nasty ones left
  src/System.Windows.Forms/src/System/Resources/ResXSerializationBinder.cs
  src/System.Windows.Forms/src/System/Windows/Forms/BindingManagerBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ExtendedTypeConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ExtendedUITypeEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/MergePropertyDescriptor.MergedAttributeCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SpecialFolderEnumConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxAutoCompleteSourceConverter.cs
Due: production

Update tools.ps1
  eng/common/tools.ps1
Due: none

Update tools.sh
  eng/common/tools.sh
Due: none

Release UIA provider for ListBox items to prevent memory leaks
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.ObjectCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListBoxAccessibleObjectTests.cs
Due: production, test

Revert "Fix nested/User control scaling. (#6971)"
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Supress obsolete warnings.
  src/System.Windows.Forms.Design/src/System/Drawing/Design/ToolboxItem.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/ToolboxItemTests.cs
  src/System.Windows.Forms/src/System/Resources/AssemblyNamesTypeResolutionService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ThreadExceptionDialog.cs
Due: production, test

Use LibraryImport in Interop Imm32 (#7286)
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmAssociateContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmCreateContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmGetContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmGetConversionStatus.cs
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmGetOpenStatus.cs
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmNotifyIME.cs
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmReleaseContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmSetConversionStatus.cs
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmSetOpenStatus.cs
Due: none

Use LibraryImport in some Interop Comctl32 (#7285)
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.Add.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.Create.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.Destroy.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.Draw.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.DrawEx.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.Duplicate.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.GetIconSize.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.GetImageCount.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.GetImageInfo.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.Remove.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.Replace.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.ReplaceIcon.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.SetBkColor.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.InitCommonControls.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.InitCommonControlsEx.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TaskDialogIndirect.cs
Due: none

Enable nullability in some Control members (#7144)
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.OleInterfaces.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ComponentEditorForm.PageSelector.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Label.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridErrorDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RadioButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollableControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Splitter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SplitterPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolstripProfessionalRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/UpDownBase.UpDownButtons.UpDownButtonsAccessibleObject.DirectionButtonAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserSiteBase.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
Due: production, test

Enable nullability in ToolStripItemInternalLayout
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.ToolStripItemInternalLayout.ToolStripLayoutData.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.ToolStripItemInternalLayout.cs
Due: production

Cache LayoutData
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.ToolStripItemInternalLayout.cs
Due: production

Use MemberNotNull for _layoutData
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.ToolStripItemInternalLayout.cs
Due: production

Add comment about _currentLayoutOptions
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.ToolStripItemInternalLayout.cs
Due: production

Fix a EventHandler casting bug in OnCommandExecute.
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonBase.cs
Due: production

Use LibraryImport in some Interop Ole32
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.CoRegisterMessageFilter.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.CoRevokeMallocSpy.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.CreateILockBytesOnHGlobal.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.DoDragDrop.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.OleCreatePictureIndirect.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.OleFlushClipboard.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.OleInitialize.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.OleUninitialize.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.PropVariantClear.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.RevokeDragDrop.cs
Due: none

Enable nullability in MarshalingControl
  src/System.Windows.Forms/src/System/Windows/Forms/Application.MarshallingControl.cs
Due: production

Use MemberNotNull for _currentLayoutOptions
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.ToolStripItemInternalLayout.cs
Due: production

Enable IDE1005 (Delegate invocation can be simplified) (dotnet/runtime#70522)
  src/System.Drawing.Common/src/System/Drawing/ImageInfo.cs
Due: none

Enable nullability in some Control members
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GroupBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ProgressBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TrackBar.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DesignBehaviorsTests.cs
Due: production, test

Use LibraryImport in some Interop Ole32 (#7310)
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.CoRegisterMessageFilter.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.CoRevokeMallocSpy.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.CreateILockBytesOnHGlobal.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.DoDragDrop.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.OleCreatePictureIndirect.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.OleFlushClipboard.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.OleInitialize.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.OleUninitialize.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.PropVariantClear.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.RevokeDragDrop.cs
Due: none

Enable nullability in MarshalingControl (#7315)
  src/System.Windows.Forms/src/System/Windows/Forms/Application.MarshallingControl.cs
Due: production

Enable nullability in ToolStripItemInternalLayout (#7298)
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.ToolStripItemInternalLayout.ToolStripLayoutData.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.ToolStripItemInternalLayout.cs
Due: production

Enable nullability in some Control members (#7309)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GroupBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ProgressBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TrackBar.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DesignBehaviorsTests.cs
Due: production, test

Pass platform toolset to cmake
  src/System.Windows.Forms/tests/InteropTests/NativeTests/NativeTests.proj
Due: test

Build with VS 2022 / C++ toolset v143 (#7299)
  eng/init-vs-env.cmd
  eng/pipelines/build.yml
  src/System.Windows.Forms/tests/InteropTests/NativeTests/NativeTests.proj
Due: test

Enable IDE0054 (Use compound assignment) (dotnet/runtime#70564)
  src/System.Drawing.Common/src/System/Drawing/ClientUtils.cs
Due: none

Replace hashtables with generic dictionaries in ToolTip
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Use explicit type
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Merge checks
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Enable IDE0071 (Simplify interpolation) (dotnet/runtime#70918)
  src/System.Drawing.Common/src/System/Drawing/Printing/PaperSize.cs
  src/System.Drawing.Common/src/System/Drawing/StringFormat.cs
Due: none
