Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/Microsoft.VisualBasic/src/
      - src/Microsoft.VisualBasic.Forms/src/
      - src/System.Drawing.Common/src/
      - src/System.Drawing.Design/src/
      - src/System.Private.Windows.Core/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Analyzers/src/
      - src/System.Windows.Forms.Analyzers.CSharp/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
      - src/System.Windows.Forms.Primitives/src/
      - src/System.Windows.Forms.PrivateSourceGenerators/src/
  test:
    paths:
      - src/Common/tests/
      - src/Microsoft.VisualBasic/tests/
      - src/Microsoft.VisualBasic.Forms/tests/
      - src/System.Drawing.Common/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Analyzers/tests/
      - src/System.Windows.Forms.Analyzers.CSharp/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Primitives/tests/
      - src/System.Windows.Forms.PrivateSourceGenerators/tests/

Add Thread.Sleep before executing control.Paste
  src/System.Windows.Forms/tests/UnitTests/TextBoxBaseTests.ClipboardTests.cs
Due: test

Update
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ControlDesigner.DesignerControlCollectionTests.cs
Due: test

Add unit tests for DesignerToolStripControlHost
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignerToolStripControlHostTests.cs
Due: test

Handle feedback!
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ControlDesigner.DesignerControlCollectionTests.cs
Due: test

Add test for CollectionEditVerbManager.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/CollectionEditVerbManagerTests.cs
Due: test

Add code coverage for comboBox (#12038)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
Due: test

Add unit tests for DesignerToolStripControlHost (#12086)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignerToolStripControlHostTests.cs
Due: test

Update AppManifestAnalyzer reference (#12076)
  docs/analyzers/akams.txt
  src/System.Windows.Forms.Analyzers/src/AnalyzerReleases.Shipped.md
Due: production

Add missing documentation for public methods in System.Drawing (#12069)
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/Matrix.cs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/PathGradientBrush.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ColorMatrix.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ColorPalette.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/Effect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/GrayScaleEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/InvertEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/SepiaEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/VividEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ImageAttributes.cs
Due: production

Add missing documentation
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/Matrix.cs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/PathGradientBrush.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ColorMatrix.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ColorPalette.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/Effect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/GrayScaleEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/InvertEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/SepiaEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/VividEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ImageAttributes.cs
Due: production

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20240909.5
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20240909.6
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Add code coverage for ListBoxAccessibleObject and ListBoxItemAccessib… (#11724)
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ListBoxAccesibleObjectTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ListBoxItemAccessibleObjestTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ListBox.ListBoxItemAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ListBoxAccessibleObjectTests.cs
Due: test

Fix missing spaces
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/AdornerCollection.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/PRINTDLGW_64.cs
Due: production

Handle FeedBack
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripSplitStackDragDropHandlerTests.cs
Due: test

fix: Separator of SplitButton of ToolStrip is not contrasting enough in High Contrast theme #12083
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripHighContrastRenderer.cs
Due: production

Update the code format and Assert
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/CollectionEditVerbManagerTests.cs
Due: test

Update src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionService.cs
Due: production

Update src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CollectionCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CollectionCodeDomSerializer.cs
Due: production

PR feedback
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CollectionCodeDomSerializer.cs
Due: production

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20240909.14
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20240909.10
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Handle feeeback1!
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ControlDesigner.DesignerControlCollectionTests.cs
Due: test

Add-core-coverage-for-ListAdapter
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ListAdapterTest.cs
Due: test

Handle modification;
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Add unit tests for TextBoxDesigner
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/TextBoxDesignerTests.cs
Due: test

Update
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ListAdapterTests.cs
Due: test

Implement IDisposable to unit tests
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/InheritanceUITests.cs
Due: test

Handle feedback2!
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ControlDesigner.DesignerControlCollectionTests.cs
Due: test

PR Feedback
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationService.CodeDomSerializationStore.ComponentListCodeDomSerializer.cs
Due: production

fix unit test
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripButtonTests.Rendering.cs
Due: test

Add unit test for TabPageDesigner.cs file
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/TabPageDesignerTests.cs
Due: test

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20240909.18
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Add Unit test coverage for the PropertyGrid class
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/PropertyGridTests.cs
Due: test

Change IPointer interface method to return nint
  src/System.Drawing.Common/src/System/Drawing/Bitmap.cs
  src/System.Drawing.Common/src/System/Drawing/FontFamily.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/src/System/Drawing/Image.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ColorPalette.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.cs
  src/System.Drawing.Common/src/System/Drawing/PointerExtensions.cs
  src/System.Drawing.Common/src/System/Drawing/Region.cs
  src/System.Drawing.Common/src/System/Drawing/Text/FontCollection.cs
  src/System.Drawing.Common/tests/System/Drawing/FontFamilyTests.cs
  src/System.Private.Windows.Core/src/System/Drawing/CoreImageExtensions.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Foundation/IPointer.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Foundation/IPointerExtensions.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/Gdi/RegionScope.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/GdiPlus/GpBitmapExtensions.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/GdiPlus/GpImageExtensions.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/GdiPlus/GpMetafileExtensions.cs
Due: production, test

remove IPointer interface and update extension to have IPointer<T>
  src/System.Drawing.Common/src/System/Drawing/Bitmap.cs
  src/System.Drawing.Common/src/System/Drawing/FontFamily.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/src/System/Drawing/Image.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ColorPalette.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.cs
  src/System.Drawing.Common/src/System/Drawing/PointerExtensions.cs
  src/System.Drawing.Common/src/System/Drawing/Region.cs
  src/System.Drawing.Common/src/System/Drawing/Text/FontCollection.cs
  src/System.Private.Windows.Core/src/System/Drawing/CoreImageExtensions.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Foundation/IPointer.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Foundation/PointerExtensions.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/Gdi/RegionScope.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/GdiPlus/GpBitmapExtensions.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/GdiPlus/GpImageExtensions.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/GdiPlus/GpMetafileExtensions.cs
Due: production
