Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Turn on loc PRs (#5117)
  azure-pipelines.yml
Due: none

Remove System.Drawing code that doesn't work (dotnet/runtime#54245)
  src/System.Drawing.Common/src/System/Drawing/macFunctions.cs
Due: none

Cleanup code and refactor SplashScreen logic.
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/CantStartSingleInstanceException.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/NoStartupFormException.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/StartupEventArgs.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/StartupNextInstanceEventArgs.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/UnhandledExceptionEventArgs.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.WinFormsAppContext.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
Due: none

Resolving first part of System.Drawing.Common IlLink warnings (dotnet/runtime#54076)
  src/System.Drawing.Common/ref/System.Drawing.Common.cs
  src/System.Drawing.Common/ref/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/ILLink/ILLink.Suppressions.xml
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/BitmapSelector.cs
  src/System.Drawing.Common/src/System/Drawing/FontConverter.cs
  src/System.Drawing.Common/src/System/Drawing/ImageConverter.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/MarginsConverter.cs
Due: none

Refactor `MainFormLoadingDone`, so it doesn't eat up the workload of a full ...
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
Due: none

Remove refs provided by Microsoft.NETCore.App.Ref targeting pack
  eng/Version.Details.xml
  global.json
  src/System.Windows.Forms.Primitives/src/System.Windows.Forms.Primitives.csproj
  src/System.Windows.Forms.Primitives/tests/TestUtilities/System.Windows.Forms.Primitives.TestUtilities.csproj
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/tests/TestUtilities/System.Windows.Forms.TestUtilities.csproj
Due: production, test

Package analyzers
  eng/packageContent.targets
  pkg/Microsoft.Private.Winforms/Directory.Build.targets
  pkg/Microsoft.Private.Winforms/Microsoft.Private.Winforms.csproj
  pkg/Microsoft.Private.Winforms/README.md
  pkg/Microsoft.Private.Winforms/sdk/dotnet-windowsdesktop/System.Windows.Forms.Analyzers.props
  pkg/Microsoft.Private.Winforms/sdk/dotnet-windowsdesktop/System.Windows.Forms.Analyzers.targets
  pkg/Microsoft.Private.Winforms/sdk/dotnet-windowsdesktop/UpdateManifest.ps1
  pkg/Microsoft.Private.Winforms/sdk/dotnet-wpf/System.Windows.Forms.Analyzers.props
  pkg/Microsoft.Private.Winforms/sdk/dotnet-wpf/System.Windows.Forms.Analyzers.targets
  src/System.Windows.Forms.Analyzers.CSharp/src/System.Windows.Forms.Analyzers.CSharp.csproj
  src/System.Windows.Forms.Analyzers/src/System.Windows.Forms.Analyzers.csproj
Due: none

Updated LocProject.json
  eng/Localize/LocProject.json
Due: none

Local testing
  Directory.Build.props
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Program.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/WinformsControlsTest.csproj
Due: test

Remove refs provided by Microsoft.NETCore.App.Ref targeting pack (#5127)
  eng/Version.Details.xml
  global.json
  src/System.Windows.Forms.Primitives/src/System.Windows.Forms.Primitives.csproj
  src/System.Windows.Forms.Primitives/tests/TestUtilities/System.Windows.Forms.Primitives.TestUtilities.csproj
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/tests/TestUtilities/System.Windows.Forms.TestUtilities.csproj
Due: production, test

Reinstate Microsoft.Win32.Registry.AccessControl
  eng/Version.Details.xml
Due: none

Added a test app to check ToolStrip and StatusStrip with standard items and ToolStripControlHost items
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/MainFormControlsTabOrder.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ToolStripTests.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ToolStripTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ToolStripTests.resx
Due: test

Fixed the bug when a ToolStripControlHost freezes UIA tools
  src/System.Windows.Forms/src/System/Windows/Forms/AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.DataGridViewEditingPanelAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxEditingControl.DataGridViewComboBoxEditingControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxEditingControl.DataGridViewTextBoxEditingControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.PropertyGridAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/StatusStrip.StatusStripAccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Control.ControlAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewComboBoxEditingControlAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewTextBoxEditingControl.DataGridViewTextBoxEditingControlAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridInternal/DropDownButton.DropDownButtonAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripComboBox.ToolStripComboBoxControl.ToolStripComboBoxControlAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripProgressBar.ToolStripProgressBarControl.ToolStripProgressBarControlAccessibleObjectTests.cs
Due: production, test

Add GetFollowingChildFragment method to remove internal AccessibleObject instances
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.ToolStripAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropDownItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.ToolStripItemAccessibleObject.cs
Due: production

Fixed possible NRE when using special PGV and DGV controls as a ToolStrip item via ToolStripControlHost
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxEditingControl.DataGridViewComboBoxEditingControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxEditingControl.DataGridViewTextBoxEditingControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/DropDownButton.DropDownButtonAccessibleObject.cs
Due: production

Made code refactoring of GetChildFragment to avoid extra using of cycles. Improved performance.
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.ToolStripAccessibleObject.cs
Due: production

Remove BitmapSelector.Suffix property (dotnet/runtime#54364)
  src/System.Drawing.Common/src/ILLink/ILLink.Suppressions.xml
  src/System.Drawing.Common/src/System/Drawing/BitmapSelector.cs
  src/System.Drawing.Common/src/System/Drawing/ToolboxBitmapAttribute.cs
Due: none

Move sub-classes of Screen class to separate file
  src/System.Windows.Forms/src/System/Windows/Forms/Screen.MonitorEnumCallback.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Screen.cs
Due: production

Move sub-classes of SendKeys class to separate file
  src/System.Windows.Forms/src/System/Windows/Forms/SendKeys.KeywordVk.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SendKeys.SKEvent.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SendKeys.SKWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SendKeys.SendKeysHookProc.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SendKeys.cs
Due: production

Move sub-classes of TableLayout class to separate file
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.ColumnSpanComparer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.ContainerInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.LayoutInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.MaxSizeProxy.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.MinSizeProxy.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.PostAssignedPositionComparer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.PreAssignedPositionComparer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.ReservationGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.RowSpanComparer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.SizeProxy.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.SorterObjectArray.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.SpanComparer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.Strip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.cs
Due: production

Move sub-classes of TreeNode class to separate file
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.TreeNodeImageIndexer.ImageListType.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.TreeNodeImageIndexer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.cs
Due: production

Move sub-classes of DataGridViewRow class to separate file
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRow.DataGridViewRowAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRow.DataGridViewSelectedRowCellsAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRow.cs
Due: production

Move sub-classes of ToolStripItem class to separate file
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.ToolStripItemInternalLayout.ToolStripItemLayoutOptions.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.ToolStripItemInternalLayout.ToolStripLayoutData.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.ToolStripItemInternalLayout.cs
Due: production

Move sub-classes of ToolStripSettings class to separate file
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSettings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSettingsManager.SettingsStub.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSettingsManager.cs
Due: production

Revert "[main] Update dependencies from 9 repositories (dotnet/runtime#54218)" (dotnet/runtime#54541)
  src/System.Drawing.Common/src/ILLink/ILLink.Suppressions.xml
Due: none

Remove dependencies on packages that no longer exist
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItem.ListViewSubItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItem.ListViewSubItemAccessibleObject.cs
Due: production

Changing ListView subitem control type to "Text" (#5063)
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItem.ListViewSubItemAccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewItem.ListViewSubItem.ListViewSubItemAccessibleObjectTests.cs
Due: production, test

Fix NullRefException for case when user closes Form with hidden PropertyGrid (#5077)
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.PropertyGridViewAccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/PropertyGridView.PropertyGridViewAccessibleObjectTests.cs
Due: production, test

Removing unused package references that were moved to netcore.
  eng/Version.Details.xml
  eng/Versions.props
  src/System.Windows.Forms.Primitives/src/System.Windows.Forms.Primitives.csproj
  src/System.Windows.Forms.Primitives/tests/TestUtilities/System.Windows.Forms.Primitives.TestUtilities.csproj
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/tests/TestUtilities/System.Windows.Forms.TestUtilities.csproj
Due: production, test

Removing unused package references that were moved to netcore. (#5145)
  eng/Version.Details.xml
  eng/Versions.props
  src/System.Windows.Forms.Primitives/src/System.Windows.Forms.Primitives.csproj
  src/System.Windows.Forms.Primitives/tests/TestUtilities/System.Windows.Forms.Primitives.TestUtilities.csproj
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/tests/TestUtilities/System.Windows.Forms.TestUtilities.csproj
Due: production, test
