Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

[release/8.0] Duplicate All Build YAML Files (#11029)
  azure-pipelines-PR.yml
  eng/pipelines/build-PR.yml
  eng/pipelines/post-build-PR.yml
Due: none

Update DrawTextBox Unit Test
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TextBoxRendererTests.cs
Due: test

Add unit test cases for DateTimePicker
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DateTimePickerTests.cs
Due: test

Add code coverage for RichTextBox
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.cs
Due: test

revert change for AutoCompleteSource unittest
  src/System.Windows.Forms/tests/UnitTests/TextBoxTests.cs
Due: test

Update RichTextBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.cs
Due: test

updated
  src/System.Windows.Forms/tests/UnitTests/MaskedTextBoxTests.cs
Due: test

fix pool
  azure-pipelines.yml
Due: none

enable auto baseline
  azure-pipelines.yml
Due: none

fix templates
  azure-pipelines.yml
  eng/pipelines/build.yml
Due: none

run migration tool
  azure-pipelines.yml
  eng/pipelines/build.yml
  eng/pipelines/post-build.yml
Due: none

clean up
  azure-pipelines.yml
  eng/pipelines/build.yml
  eng/pipelines/post-build.yml
Due: none

readd existing comments and indents
  azure-pipelines.yml
  eng/pipelines/build.yml
  eng/pipelines/post-build.yml
Due: none

Use concrete types
  .editorconfig
  src/System.Drawing.Common/tests/Helpers.cs
  src/System.Private.Windows.Core/src/Windows/Win32/System/Variant/VARIANT.cs
  src/System.Windows.Forms.Design/src/GlobalSuppressions.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignSurface.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionList.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionPanel.MethodLine.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/SiteNestedContainer.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignBindingPicker.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DocumentDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ImageListImageEditor.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ListViewDesigner.cs
  src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCheckBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TabControl/TabPage.TabPageAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripMenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripNumericUpDown.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripProgressBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripScrollButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider/ErrorProvider.ControlItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider/ErrorProvider.ErrorWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MDI/MDIControlStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip/ToolTip.cs
Due: production

remove conditions around PRs/public/internal
  azure-pipelines-PR.yml
  azure-pipelines.yml
  eng/pipelines/build-PR.yml
  eng/pipelines/build.yml
  eng/pipelines/post-build-PR.yml
  eng/pipelines/post-build.yml
Due: none

Test needs method as Stream
  src/System.Windows.Forms.Design/src/GlobalSuppressions.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ImageListImageEditor.cs
Due: production

Convert to 1ES Pipeline Template (#11025)
  azure-pipelines-PR.yml
  azure-pipelines.yml
  eng/pipelines/build-PR.yml
  eng/pipelines/build.yml
  eng/pipelines/post-build-PR.yml
  eng/pipelines/post-build.yml
Due: none

Use concrete types (#11043)
  .editorconfig
  src/System.Drawing.Common/tests/Helpers.cs
  src/System.Private.Windows.Core/src/Windows/Win32/System/Variant/VARIANT.cs
  src/System.Windows.Forms.Design/src/GlobalSuppressions.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignSurface.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionList.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionPanel.MethodLine.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/SiteNestedContainer.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignBindingPicker.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DocumentDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ListViewDesigner.cs
  src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCheckBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TabControl/TabPage.TabPageAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripMenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripNumericUpDown.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripProgressBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripScrollButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider/ErrorProvider.ControlItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider/ErrorProvider.ErrorWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MDI/MDIControlStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip/ToolTip.cs
Due: production

More analyzer fixes.
  .editorconfig
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/ConsoleApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/User.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/CompilerServices/ExceptionUtils.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/CompilerServices/Utils.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Mouse.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/ServerComputer.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/VBInputBox.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Log.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/ContextValue.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/ProgressDialog.vb
  src/System.Drawing.Common/src/GlobalSuppressions.cs
  src/System.Drawing.Common/src/System/Drawing/Font.cs
  src/System.Private.Windows.Core/src/GlobalUsings.cs
  src/System.Private.Windows.Core/src/System/SpanWriter.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Foundation/WPARAM.cs
  src/System.Windows.Forms.Design/src/GlobalSuppressions.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/BorderSidesEditor.BorderSidesEditorUI.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DocumentDesigner.AxToolboxItem.cs
  src/System.Windows.Forms.Primitives/src/GlobalSuppressions.cs
  src/System.Windows.Forms/src/GlobalSuppressions.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripPanelRow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/WebBrowser/WebBrowserBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Scrolling/ScrollableControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip/ToolTip.cs
  src/System.Windows.Forms/tests/AccessibilityTests/CommonControl2.cs
  src/System.Windows.Forms/tests/IntegrationTests/DesignSurface/DesignSurfaceExt/PropertyGridExt.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/DateTimePicker.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/FormOwnerTestForm.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ScalingBeforeChanges.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ScrollableControls.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/TaskDialogSamples.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ToolStripSeparatorPreferredSize.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
Due: production, test

More analyzer fixes. (#11044)
  .editorconfig
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/ConsoleApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/User.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/CompilerServices/ExceptionUtils.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/CompilerServices/Utils.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Mouse.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/ServerComputer.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/VBInputBox.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Log.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/ContextValue.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/ProgressDialog.vb
  src/System.Drawing.Common/src/GlobalSuppressions.cs
  src/System.Drawing.Common/src/System/Drawing/Font.cs
  src/System.Private.Windows.Core/src/GlobalUsings.cs
  src/System.Private.Windows.Core/src/System/SpanWriter.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Foundation/WPARAM.cs
  src/System.Windows.Forms.Design/src/GlobalSuppressions.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/BorderSidesEditor.BorderSidesEditorUI.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DocumentDesigner.AxToolboxItem.cs
  src/System.Windows.Forms.Primitives/src/GlobalSuppressions.cs
  src/System.Windows.Forms/src/GlobalSuppressions.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripPanelRow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/WebBrowser/WebBrowserBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Scrolling/ScrollableControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip/ToolTip.cs
  src/System.Windows.Forms/tests/AccessibilityTests/CommonControl2.cs
  src/System.Windows.Forms/tests/IntegrationTests/DesignSurface/DesignSurfaceExt/PropertyGridExt.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/DateTimePicker.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/FormOwnerTestForm.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ScalingBeforeChanges.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ScrollableControls.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/TaskDialogSamples.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ToolStripSeparatorPreferredSize.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
Due: production, test

Merge conflicts
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/CompilerServices/ExceptionUtils.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.vb
Due: none

Fix Merge errors
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb
Due: none

Cleanup Merge
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/CompilerServices/ExceptionUtils.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb
Due: none

Cleanup Merge
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Removing unused project template .net3.1 and .net5.0
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/net5.0/Company.WinFormsApplication1.csproj
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/net5.0/Company.WinFormsApplication1.csproj.user
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/net5.0/Form1.Designer.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/net5.0/Form1.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/net5.0/Program.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/netcoreapp3.1/Company.WinFormsApplication1.csproj
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/netcoreapp3.1/Company.WinFormsApplication1.csproj.user
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/netcoreapp3.1/Form1.Designer.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/netcoreapp3.1/Form1.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/netcoreapp3.1/Program.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/net5.0/Company.ControlLibrary1.csproj
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/net5.0/Company.ControlLibrary1.csproj.user
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/net5.0/UserControl1.Designer.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/net5.0/UserControl1.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/netcoreapp3.1/Company.ControlLibrary1.csproj
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/netcoreapp3.1/Company.ControlLibrary1.csproj.user
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/netcoreapp3.1/UserControl1.Designer.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/netcoreapp3.1/UserControl1.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/net5.0/Class1.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/net5.0/Company.ClassLibrary1.csproj
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/netcoreapp3.1/Class1.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/netcoreapp3.1/Company.ClassLibrary1.csproj
Due: none

Removing unused project template .net3.1 and .net5.0 (#11051)
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/net5.0/Company.WinFormsApplication1.csproj
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/net5.0/Company.WinFormsApplication1.csproj.user
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/net5.0/Form1.Designer.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/net5.0/Form1.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/net5.0/Program.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/netcoreapp3.1/Company.WinFormsApplication1.csproj
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/netcoreapp3.1/Company.WinFormsApplication1.csproj.user
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/netcoreapp3.1/Form1.Designer.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/netcoreapp3.1/Form1.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/netcoreapp3.1/Program.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/net5.0/Company.ControlLibrary1.csproj
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/net5.0/Company.ControlLibrary1.csproj.user
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/net5.0/UserControl1.Designer.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/net5.0/UserControl1.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/netcoreapp3.1/Company.ControlLibrary1.csproj
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/netcoreapp3.1/Company.ControlLibrary1.csproj.user
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/netcoreapp3.1/UserControl1.Designer.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/netcoreapp3.1/UserControl1.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/net5.0/Class1.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/net5.0/Company.ClassLibrary1.csproj
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/netcoreapp3.1/Class1.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/netcoreapp3.1/Company.ClassLibrary1.csproj
Due: none
