Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Revert "Use system hand cursor, take 3 (#525)"
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms/src/Resources/System/Windows/Forms/hand.cur
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/Cursors.cs
  src/System.Windows.Forms/tests/UnitTests/Cursors.cs
Due: production, test

Revert "Use system hand cursor, take 3 (#525)" (#804)
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms/src/Resources/System/Windows/Forms/hand.cur
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/Cursors.cs
  src/System.Windows.Forms/tests/UnitTests/Cursors.cs
Due: production, test

Cleanup misc Design classes
  src/System.Windows.Forms.Design/src/System/Runtime/InteropServices/UCOMITypeLib.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/AxImporter.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerOptions.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/MenuCommands.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/StandardGroups.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ThemedScrollbarMode.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ThemedScrollbarWindow.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/WindowsFormsDesignerOptionService.cs
Due: production

Add misc Design tests and fix a NullRef bug
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/WindowsFormsDesignerOptionService.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignerOptionsTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/MenuCommandsTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/WindowsFormsDesignerOptionServiceTests.cs
Due: production, test

PR feedback
  src/System.Windows.Forms/src/System/Windows/Forms/LinkArea.cs
Due: production

Remove some dead code and add param names
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollableControl.cs
Due: production

Add ContainerControl/ScrollableControl tests
  src/Common/tests/CommonTestHelper.cs
  src/System.Windows.Forms/tests/Common/TestHelper.cs
  src/System.Windows.Forms/tests/UnitTests/CheckedListBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/ContainerControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/DpiHelperTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AmbientPropertiesTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ContainerControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScrollableControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripPanelTests.cs
  src/System.Windows.Forms/tests/UnitTests/TestHelper.cs
Due: test

copy wpf for this
  Directory.Build.props
  Directory.Build.targets
  eng/CIBuild.cmd
Due: none

Fix FolderNameEditor memory leak on cancel (#769)
  src/Common/src/Interop/Interop.HRESULT.cs
  src/Common/src/Interop/Interop.Libraries.cs
  src/Common/src/Interop/Kernel32/Interop.MAX_PATH.cs
  src/Common/src/Interop/Kernel32/Interop.MAX_UNICODESTRING_LEN.cs
  src/Common/src/Interop/Shell32/Interop.SHBrowseForFolder.cs
  src/Common/src/Interop/Shell32/Interop.SHGetKnownFolderPath.cs
  src/Common/src/Interop/Shell32/Interop.SHGetPathFromIDListLongPath.cs
  src/Common/src/Interop/Shell32/Interop.SHGetSpecialFolderLocation.cs
  src/Common/src/Microsoft/Win32/SafeHandles/CoTaskMemSafeHandle.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/NativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/System.Windows.Forms.Design.Editors.csproj
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/FolderNameEditor.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System.Windows.Forms.Design.Editors.Tests.csproj
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Windows/Forms/Design/FolderNameEditorTests.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialogCustomPlace.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FolderBrowserDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FxCopSuppression.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
Due: production, test

Update dependencies from https://github.com/dotnet/core-setup build 20190416.05
  eng/Version.Details.xml
  eng/Versions.props
Due: none

set runtime framework version with microsoft net core app (#708)
  Directory.Build.props
  Directory.Build.targets
  eng/Versions.props
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/System.Windows.Forms.IntegrationTests.csproj
Due: test

Update dependencies from https://github.com/dotnet/core-setup build 20190416.06
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Fix ImageEditor bugs
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/ImageEditor.cs
Due: production

Cleanup ImageEditor
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/BitmapEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/ImageEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/MetafileEditor.cs
Due: production

Improve ImageEditor performance
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/ImageEditor.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190416.07
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Fix oversight in tests/code
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/WindowsFormsDesignerOptionService.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/WindowsFormsDesignerOptionServiceTests.cs
Due: production, test

Add ImageEditor tests
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/BitmapEditorTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/Mocks/MockBitmapEditor.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/Resources/telescope_01.wmf
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System.Windows.Forms.Design.Editors.Tests.csproj
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Drawing/Design/BitmapEditorTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Drawing/Design/ImageEditorTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Drawing/Design/MetafileEditorTests.cs
Due: test

Update dependencies from https://github.com/dotnet/core-setup build 20190416.08
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Add Timer tests and fix Debug assert failure (#790)
  src/System.Windows.Forms/src/System/Windows/Forms/KeyboardToolTipStateMachine.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Timer.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TimerTests.cs
Due: production, test

Fix TableLayoutPanelCellPositionConverter.CreateInstance validation (#789)
  src/System.Windows.Forms/src/System/Windows/Forms/PaddingConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutPanelCellPosition.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PaddingConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TableLayoutPanelCellPositionTests.cs
Due: production, test

Add LinkArea/LinkAreaConverter tests (#783)
  src/System.Windows.Forms/src/System/Windows/Forms/LinkArea.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/LinkAreaConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/LinkAreaTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PaddingConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PaddingTests.cs
Due: production, test

Update testdata versions (dotnet/corefxdotnet/runtime#36938)
  src/System.Drawing.Common/tests/System.Drawing.Common.Tests.csproj
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190416.10
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190416.12
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190417.01
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Add Message tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/MessageTests.cs
Due: test

More marshal cleanup
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/NativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/System/ComponentModel/Design/ObjectSelectorEditor.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/BehaviorService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2Properties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2TypeInfoProcessor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Cursor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FontDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MDIClient.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollProperties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SendKeys.cs
  src/System.Windows.Forms/src/System/Windows/Forms/StatusBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SystemInformation.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolBarButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropDownMenu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripMenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserSiteBase.cs
  src/System.Windows.Forms/src/misc/GDI/NativeMethods.cs
  src/System.Windows.Forms/src/misc/GDI/UnsafeNativeMethods.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ScalingBeforeChanges.cs
Due: production, test

Cleanup Message and related marshalling code
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/BehaviorService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2TypeInfoProcessor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CreateParams.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DpiChangedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FontDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Message.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageDecoder.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SendKeys.cs
Due: production

PR feedback and a little more related cleanup
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2TypeInfoProcessor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

LOC CHECKIN | dotnet/winforms master | 20190417
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Cleanup Binding/BindToObject
  src/System.Windows.Forms/src/System/Windows/Forms/BindToObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Binding.cs
Due: production

Rename variables
  src/System.Windows.Forms/src/System/Windows/Forms/BindToObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Binding.cs
Due: production

Rename BindingManagerBase
  src/System.Windows.Forms/src/System/Windows/Forms/BindingManagerBase.cs
Due: production

Cleanup BindingManagerBase
  src/System.Windows.Forms/src/System/Windows/Forms/BindingManagerBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CurrencyManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyManager.cs
Due: production

Rename accessors
  src/System.Windows.Forms/src/System/Windows/Forms/BindingManagerBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CurrencyManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyManager.cs
Due: production

Update dependencies from https://github.com/dotnet/arcade build 20190417.1
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update src/System.Windows.Forms/src/System/Windows/Forms/LinkLabel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkLabel.cs
Due: production

Fixing code review points.
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonBaseAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonFlatAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonPopupAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonStandardAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxEditingControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewEditingControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/DropDownButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripComboBox.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
