Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Enable builds of internal branches (#3592)
  azure-pipelines.yml
Due: none

LOC CHECKING 20200716
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Adding Form subtype in templates (#3527)
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/Company.WinFormsApplication1.csproj.user
Due: none

We should fix, not test for StackOverflow and OutOfMemory exceptions
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GroupBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlPaintTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/GroupBoxTests.cs
Due: production, test

Fixing issue with getting of Accessible Name, Accessible Role, Accessible Description
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GroupBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Label.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MenuStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripTextBox.cs
Due: production

Added unit tests
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ComboBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/DataGridViewAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/GroupBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/LabelAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/MenuStripAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ProgressBarAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/PropertyGridAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/StatusStripAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ToolStripAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ToolStripItemAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ToolStripTextBoxAccessibleObjectTests.cs
Due: test

Explicit ImageList ownership management.
  src/System.Windows.Forms/src/System/Windows/Forms/ImageList.NativeImageList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
Due: production, test

Fixes #3549
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/Person.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/TestDataSources.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/System.Windows.Forms.IntegrationTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ComboBoxes.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ComboBoxes.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/WinformsControlsTest.csproj
  src/System.Windows.Forms/tests/UnitTests/System.Windows.Forms.Tests.csproj
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBox.ComboBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBox.ComboBoxItemAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
Due: production, test

Address feedback
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/SystemDrawingExtensions.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonBaseAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.HLSColor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GroupBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GroupBoxRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/DrawingEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/FontCache.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/ScreenDcCache.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/ThreadWorker.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PaintEventArgs.cs
Due: production

Fix some more tests.
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlPaintTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/UpDownBaseTests.cs
Due: test

Mark Obsoletions for .NET 5 (dotnet/runtime#39269)
  src/System.Drawing.Common/src/System/Drawing/BufferedGraphicsManager.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/ImageAnimator.Unix.cs
Due: none

Remove unused local variables and methods from System.Drawing.Common (dotnet/runtime#39551)
  src/System.Drawing.Common/tests/BufferedGraphicsTests.cs
  src/System.Drawing.Common/tests/Drawing2D/GraphicsPathIteratorTests.cs
  src/System.Drawing.Common/tests/FontTests.cs
  src/System.Drawing.Common/tests/GraphicsTests.cs
  src/System.Drawing.Common/tests/Graphics_DrawBezierTests.cs
  src/System.Drawing.Common/tests/Graphics_DrawLineTests.cs
  src/System.Drawing.Common/tests/Imaging/ColorMatrixTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/BitmapTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/GraphicsTests.cs
Due: none

Check for illegal cross-thread calls in the TaskDialog.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
Due: production

Add tests.
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TaskDialogTests.cs
Due: test

Remove unnecessary NRT directives as dotnet#3451 globally enabled this in the project file.
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.PBST.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.PFTASKDIALOGCALLBACK.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TASKDIALOGCONFIG.IconUnion.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TASKDIALOGCONFIG.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TASKDIALOG_BUTTON.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDCBF.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDE.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDF.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDIE.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDM.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDN.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TaskDialogIndirect.cs
Due: none

Fixing issue with getting of Accessible Name, Role, Description
  src/System.Windows.Forms/src/System/Windows/Forms/MenuStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.ToolStripItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripTextBox.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/MenuStrip.MenuStripAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/StatusStrip.StatusStripAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ToolStripAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ToolStripItemAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ToolStripTextBox.ToolStripTextBoxAccessibleObjectTests.cs
Due: production, test

Fixed review notes
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ComboBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/DataGridViewAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/GroupBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/LabelAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/MenuStripAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ProgressBarAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/PropertyGridAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/StatusStripAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ToolStripAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ToolStripItemAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ToolStripTextBoxAccessibleObjectTests.cs
Due: test

Enable auto-generating Application.Designer.VB ...
  src/System.Windows.Forms/tests/IntegrationTests/VisualBasic AppFramework Net5/ApplicationEvents.vb
  src/System.Windows.Forms/tests/IntegrationTests/VisualBasic AppFramework Net5/Form1.vb
  src/System.Windows.Forms/tests/IntegrationTests/VisualBasic AppFramework Net5/My Project/Application.Designer.vb
  src/System.Windows.Forms/tests/IntegrationTests/VisualBasic AppFramework Net5/My Project/Application.myapp
  src/System.Windows.Forms/tests/IntegrationTests/VisualBasic AppFramework Net5/My Project/AssemblyInfo.vb
  src/System.Windows.Forms/tests/IntegrationTests/VisualBasic AppFramework Net5/VbWinForms.vbproj
Due: test

Adding Form subtype in templates (#3527) (#3594)
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/Company.WinFormsApplication1.csproj.user
Due: none

Revert "LOC CHECKING 20200716"
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

LOC CHECKING 20200720
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Fixes #3549 (#3550)
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/Person.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/TestDataSources.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/System.Windows.Forms.IntegrationTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ComboBoxes.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ComboBoxes.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/WinformsControlsTest.csproj
  src/System.Windows.Forms/tests/UnitTests/System.Windows.Forms.Tests.csproj
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBox.ComboBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBox.ComboBoxItemAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
Due: production, test

Disable BinaryFormatter serialization obsolete warnings
  src/System.Windows.Forms/tests/TestUtilities/BinarySerialization.cs
Due: test

Fixed warning codes in pragma statements
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/CommandSet.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ExceptionCollectionTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationServiceTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/CodeDomSerializerExceptionTests.cs
  src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.PropertyBagStream.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.OleConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/NativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/MergePropertyDescriptor.cs
  src/System.Windows.Forms/tests/TestUtilities/BinarySerialization.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ImageListTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Layout/TableLayoutSettingsTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewGroupTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewSubItemTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/OwnerDrawPropertyBagTests.cs
Due: production, test

Use correct warning codes in vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Audio.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/ClipboardProxy.vb
Due: none

Suppress warnings about obsolete types and members (#3611)
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Audio.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/ClipboardProxy.vb
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/CommandSet.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ExceptionCollectionTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationServiceTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/CodeDomSerializerExceptionTests.cs
  src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.PropertyBagStream.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.OleConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/NativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/MergePropertyDescriptor.cs
  src/System.Windows.Forms/tests/TestUtilities/BinarySerialization.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ImageListTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Layout/TableLayoutSettingsTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewGroupTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewSubItemTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/OwnerDrawPropertyBagTests.cs
Due: production, test

Clean up the project a bit.
  src/System.Windows.Forms/tests/IntegrationTests/VisualBasic AppFramework Net5/My Project/Application.Designer.vb
  src/System.Windows.Forms/tests/IntegrationTests/VisualBasic AppFramework Net5/My Project/Application.myapp
  src/System.Windows.Forms/tests/IntegrationTests/VisualBasic AppFramework Net5/VbWinForms.vbproj
Due: test

Enable builds of internal branches (#3591)
  azure-pipelines.yml
Due: none

Enable internal build consumption Also do a bit of cleanup on the YAML
  azure-pipelines.yml
  eng/ci.yml
Due: none

No code coverage on internal PRs
  eng/ci.yml
Due: none

Merge pull request 9149 from darc-internal/release/5.0-preview8-1d8f98a7-7223-475a-b857-764c3010a924 into internal/release/5.0-preview8
  azure-pipelines.yml
  eng/Version.Details.xml
  eng/Versions.props
  eng/ci.yml
  global.json
Due: none

Fix formatting on SendKeys
  src/System.Windows.Forms/src/System/Windows/Forms/SendKeys.cs
Due: production

Reduce allocations for SendKeys
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GetKeyboardState.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.SetKeyboardState.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SendKeys.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Properties.cs
Due: production, test

LOC CHECKIN
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Remove unnecessary NRT directives as dotnet#3451 globally enabled this in the project file. (#3602)
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.PBST.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.PFTASKDIALOGCALLBACK.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TASKDIALOGCONFIG.IconUnion.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TASKDIALOGCONFIG.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TASKDIALOG_BUTTON.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDCBF.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDE.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDF.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDIE.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDM.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDN.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TaskDialogIndirect.cs
Due: none

Explicit ImageList ownership management. (#3601)
  src/System.Windows.Forms/src/System/Windows/Forms/ImageList.NativeImageList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
Due: production, test
