Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add new case
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDataBindingAttributes01_ExistenceTests/MauiDataBindingAttributes01_ExistenceTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDataBindingAttributes01_ExistenceTests/MauiDataBindingAttributes01_ExistenceTests.csproj
Due: test

Add new cases
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiDataBindingAttributes01_ExistenceTests.cs
Due: test

Add new case
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDeleteRows01Tests/MauiDeleteRows01Tests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDeleteRows01Tests/MauiDeleteRows01Tests.csproj
Due: test

Add new case
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiDeleteRows01Tests.cs
Due: test

Add a test case
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiMMFButtonTests/MauiMMFButtonTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiMMFButtonTests/MauiMMFButtonTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiMMFButtonTests.cs
Due: test

Cleanup FlowLayout related code
  src/System.Windows.Forms/src/System/Windows/Forms/FlowLayoutPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FlowLayoutSettings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/DockAndAnchorLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/LayoutEngine.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/LayoutSettings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropDownMenu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSplitStackLayout.cs
Due: production

Update dependencies from https://github.com/dotnet/arcade build 20190709.1
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/post-build/nuget-validation.ps1
  eng/common/post-build/promote-build.ps1
  eng/common/post-build/trigger-subscriptions.ps1
  eng/common/sdl/execute-all-sdl-tools.ps1
  eng/common/sdl/extract-artifact-packages.ps1
  eng/common/sdl/packages.config
  eng/common/sdl/run-sdl.ps1
  eng/common/templates/job/execute-sdl.yml
  eng/common/templates/job/publish-build-assets.yml
  eng/common/templates/post-build/channels/internal-servicing.yml
  eng/common/templates/post-build/channels/public-dev-release.yml
  eng/common/templates/post-build/channels/public-release.yml
  eng/common/templates/post-build/common-variables.yml
  eng/common/templates/post-build/post-build.yml
  eng/common/templates/post-build/promote-build.yml
  eng/common/templates/post-build/setup-maestro-vars.yml
  eng/common/templates/post-build/trigger-subscription.yml
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190709.01
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Call UpdateWindowSize() after updating an icon element, to ensure the dialog updates its size. This makes the behavior consistent with updating one of the text elements.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
Due: production

Attribute count has changed in the new version of componentmodel.primitive assembly. updating tests to reflect it and pushing with this change.
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ComponentDesignerTests.cs
Due: test

Porting bug fix: Smart Tag window does not render at all or correctly on non-primary monitor when PMA is enabled
  src/Common/src/CommonUnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripManager.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190709.07
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Don't start VS if build failed
  build-local.ps1
Due: none

Add new cases
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/AdditionalSources/DataGridViewCellStyleTestUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/AdditionalSources/DataGridViewUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/AdditionalSources/DerivedDataGridView.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/MauiCellStyles07Tests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/MauiCellStyles07Tests.csproj
Due: test

Change according to prompte
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/AdditionalSources/DataGridViewUtils.cs
Due: test

modify
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/AdditionalSources/DataGridViewUtils.cs
Due: test

some changes
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/AdditionalSources/DataGridViewUtils.cs
Due: test

little changes
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/AdditionalSources/DataGridViewUtils.cs
Due: test

Add new case
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiCellStyles07Tests.cs
Due: test

Add two cases
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCamcelRowEditTests/AdditionalSources/DataGridViewCellStyleTestUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCamcelRowEditTests/AdditionalSources/DataGridViewUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCamcelRowEditTests/AdditionalSources/DerivedDataGridView.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCamcelRowEditTests/MauiDGV_BasicCamcelRowEditTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCamcelRowEditTests/MauiDGV_BasicCamcelRowEditTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellContentClickTests/AdditionalSources/DataGridViewCellStyleTestUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellContentClickTests/AdditionalSources/DataGridViewUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellContentClickTests/AdditionalSources/DerivedDataGridView.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellContentClickTests/MauiDGV_BasicCellContentClickTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellContentClickTests/MauiDGV_BasicCellContentClickTests.csproj
Due: test

Add teo cases
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiDGV_BasicCamcelRowEditTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiDGV_BasicCellContentClickTests.cs
Due: test

Upgrade NETFx tests to NET4.8
  src/System.Windows.Forms/tests/IntegrationTests/WinFormsControlsClassicTests/App.config
  src/System.Windows.Forms/tests/IntegrationTests/WinFormsControlsClassicTests/WinFormsControlsClassicTests.csproj
Due: test

chore: General cleanup
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/IntegerCollectionEditor.cs
Due: production

Port IntegerCollectionEditor from NET Fx
  src/System.Windows.Forms.Design/src/Resources/SR.resx
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/IntegerCollectionEditor.cs
Due: production

Remove `NEEDHELPBUTTON` macro
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/IntegerCollectionEditor.cs
Due: production

Add manual test
  src/System.Windows.Forms.Design/src/Properties/InternalsVisibleTo.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinFormsControlsClassicTests/WinFormsControlsClassicTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/UserControls/UserControlWithCollectionEditors.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/WinformsControlsTest.csproj
Due: production, test

Update dependencies from https://github.com/dotnet/core-setup build 20190709.08
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Add a test case
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiMMFComboBoxTests/MauiMMFComboBoxTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiMMFComboBoxTests/MauiMMFComboBoxTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiMMFComboBoxTests.cs
Due: test

Modify
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellContentClickTests/MauiDGV_BasicCellContentClickTests.cs
Due: test

Revert "Upgrade NETFx tests to NET4.8"
  src/System.Windows.Forms/tests/IntegrationTests/WinFormsControlsClassicTests/App.config
  src/System.Windows.Forms/tests/IntegrationTests/WinFormsControlsClassicTests/WinFormsControlsClassicTests.csproj
Due: test

Update dependencies from https://github.com/dotnet/core-setup build 20190709.09
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190709.10
  eng/Version.Details.xml
  eng/Versions.props
Due: none

add the extra
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellContentClickTests/MauiDGV_BasicCellContentClickTests.cs
Due: test

modify
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellContentClickTests/MauiDGV_BasicCellContentClickTests.cs
Due: test

Add two cases
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAutoFill_BasicBehaviorTests/AdditionalSources/DataGridViewCellStyleTestUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAutoFill_BasicBehaviorTests/AdditionalSources/DataGridViewUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAutoFill_BasicBehaviorTests/AdditionalSources/DerivedDataGridView.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAutoFill_BasicBehaviorTests/MauiAutoFill_BasicBehaviorTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAutoFill_BasicBehaviorTests/MauiAutoFill_BasicBehaviorTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellEdit_EventsTests/AdditionalSources/DataGridViewCellStyleTestUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellEdit_EventsTests/AdditionalSources/DataGridViewUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellEdit_EventsTests/AdditionalSources/DerivedDataGridView.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellEdit_EventsTests/MauiDGV_BasicCellEdit_EventsTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellEdit_EventsTests/MauiDGV_BasicCellEdit_EventsTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellFormattingTests/AdditionalSources/DataGridViewCellStyleTestUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellFormattingTests/AdditionalSources/DataGridViewUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellFormattingTests/AdditionalSources/DerivedDataGridView.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellFormattingTests/MauiDGV_BasicCellFormattingTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellFormattingTests/MauiDGV_BasicCellFormattingTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellPaintingTests/AdditionalSources/DataGridViewCellStyleTestUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellPaintingTests/AdditionalSources/DataGridViewUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellPaintingTests/AdditionalSources/DerivedDataGridView.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellPaintingTests/MauiDGV_BasicCellPaintingTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellPaintingTests/MauiDGV_BasicCellPaintingTests.csproj
Due: test

little change
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellEdit_EventsTests/MauiDGV_BasicCellEdit_EventsTests.cs
Due: test

Add two cases
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiAutoFill_BasicBehaviorTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiDGV_BasicCellEdit_EventsTests.cs
Due: test

Update dependencies from https://github.com/dotnet/core-setup build 20190709.11
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Add two cases
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellFormattingTests/MauiDGV_BasicCellFormattingTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellFormattingTests/MauiDGV_BasicCellFormattingTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellPaintingTests/MauiDGV_BasicCellPaintingTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDGV_BasicCellPaintingTests/MauiDGV_BasicCellPaintingTests.csproj
Due: test

Port StringCollectionEditor from NET Fx
  src/System.Windows.Forms.Design.Editors/src/Resources/StringCollectionEditor.resx
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/StringCollectionEditor.cs.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/StringCollectionEditor.de.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/StringCollectionEditor.es.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/StringCollectionEditor.fr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/StringCollectionEditor.it.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/StringCollectionEditor.ja.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/StringCollectionEditor.ko.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/StringCollectionEditor.pl.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/StringCollectionEditor.pt-BR.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/StringCollectionEditor.ru.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/StringCollectionEditor.tr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/StringCollectionEditor.zh-Hans.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/StringCollectionEditor.zh-Hant.xlf
  src/System.Windows.Forms.Design.Editors/src/System.Windows.Forms.Design.Editors.csproj
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/StringCollectionEditor.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
