Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Enable nullability in HtmlShim (#9488)
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlShim.cs
Due: production

Add AssemblyRef to System.Drawing.Common
  src/System.Drawing.Common/src/AssemblyRef.cs
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/Bitmap.cs
  src/System.Drawing.Common/src/System/Drawing/ContentAlignment.cs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/LinearGradientMode.cs
  src/System.Drawing.Common/src/System/Drawing/Font.cs
  src/System.Drawing.Common/src/System/Drawing/FontStyle.cs
  src/System.Drawing.Common/src/System/Drawing/GraphicsUnit.cs
  src/System.Drawing.Common/src/System/Drawing/Icon.cs
  src/System.Drawing.Common/src/System/Drawing/Image.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/InvalidPrinterException.Core.cs
Due: none

Switch to TestAccessor
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/LayoutEventArgsTests.cs
Due: test

fix usings
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/LayoutEventArgsTests.cs
Due: test

Add test based on reproduction steps in #8990
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/FormTests.cs
Due: test

Refactor TryGetObject to handle when null values are returned for non-nullable types
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
Due: production

Refactor PropertyStore to add StructWrapper and add TryGetValue<T>, SetValue<T>, GetValue<T> to replace the other wrappers.
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCellStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/CommonProperties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.ColorWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.PaddingWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.SizeWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.StructWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
Due: production

Fix test failure
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

moving some more values to wrappers and make use of RemoveObject instead of SetValue(int,null)
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/CommonProperties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
Due: production

Refactoring ContainsInteger/ContainsObject to avoid grabbing the values
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
Due: production

Enable nullability in remaining RichTextBox members
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.cs
Due: production

Enable nullability in HtmlWindowShim
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlWindow.HtmlWindowShim.cs
Due: production

Use expression body
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlWindow.HtmlWindowShim.cs
Due: production

Fixes #3822
  src/System.Drawing.Common/src/SRDescriptionAttribute.cs
Due: none

Reduced nesting levels in several places by changing old using statements to block-scoped usings
  src/Common/tests/TestUtilities/BinarySerialization.cs
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/ApplicationServices/SingleInstanceTests.cs
  src/System.Drawing.Common/src/System/Drawing/Bitmap.cs
  src/System.Drawing.Common/src/System/Drawing/Font.cs
  src/System.Drawing.Common/src/System/Drawing/Icon.cs
  src/System.Drawing.Common/src/System/Drawing/IconConverter.cs
  src/System.Drawing.Common/src/System/Drawing/Image.cs
  src/System.Drawing.Common/src/System/Drawing/ImageConverter.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrintPreviewGraphics.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrinterSettings.cs
  src/System.Drawing.Common/src/System/Drawing/SystemFonts.cs
  src/System.Drawing.Common/src/System/Drawing/ToolboxBitmapAttribute.cs
  src/System.Drawing.Common/src/misc/DpiHelper.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/SelectionManager.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/ToolboxItemSnapLineBehavior.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerFrame.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ParentControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripItemBehavior.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripMenuItemDesigner.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/DesignerSerializationManagerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/BitmapEditorTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/FontNameEditorTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/ImageEditorTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/MetafileEditorTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/ToolboxItemTests.cs
Due: production, test

Removed trailing whitespaces
  src/Common/tests/TestUtilities/BinarySerialization.cs
  src/System.Drawing.Common/src/System/Drawing/Bitmap.cs
  src/System.Drawing.Common/src/System/Drawing/Font.cs
Due: test

Update SelectionManager.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/SelectionManager.cs
Due: production

Fix `System.Drawing.Common` `SRDescriptionAttribute` (#9506)
  src/System.Drawing.Common/src/SRDescriptionAttribute.cs
Due: none

Refactor `LayoutEventArgs` to use a `WeakReference` for the `AffectedComponent` property with a backing field (#9393)
  src/System.Windows.Forms/src/System/Windows/Forms/LayoutEventArgs.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/LayoutEventArgsTests.cs
Due: production, test

Utilize StockIcons in a couple interfaces (#9492)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ThreadExceptionDialog.cs
Due: production

Add `AssemblyRef` to `System.Drawing.Common` (#9498)
  src/System.Drawing.Common/src/AssemblyRef.cs
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/Bitmap.cs
  src/System.Drawing.Common/src/System/Drawing/ContentAlignment.cs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/LinearGradientMode.cs
  src/System.Drawing.Common/src/System/Drawing/Font.cs
  src/System.Drawing.Common/src/System/Drawing/FontStyle.cs
  src/System.Drawing.Common/src/System/Drawing/GraphicsUnit.cs
  src/System.Drawing.Common/src/System/Drawing/Icon.cs
  src/System.Drawing.Common/src/System/Drawing/Image.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/InvalidPrinterException.Core.cs
Due: none

Enable nullability in HtmlWindowShim (#9505)
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlWindow.HtmlWindowShim.cs
Due: production

Update ToolboxItemTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/ToolboxItemTests.cs
Due: test

Reduced nesting levels in several places by changing old using statements to block-scoped usings (#9507)
  src/Common/tests/TestUtilities/BinarySerialization.cs
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/ApplicationServices/SingleInstanceTests.cs
  src/System.Drawing.Common/src/System/Drawing/Bitmap.cs
  src/System.Drawing.Common/src/System/Drawing/Font.cs
  src/System.Drawing.Common/src/System/Drawing/Icon.cs
  src/System.Drawing.Common/src/System/Drawing/IconConverter.cs
  src/System.Drawing.Common/src/System/Drawing/Image.cs
  src/System.Drawing.Common/src/System/Drawing/ImageConverter.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrintPreviewGraphics.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrinterSettings.cs
  src/System.Drawing.Common/src/System/Drawing/SystemFonts.cs
  src/System.Drawing.Common/src/System/Drawing/ToolboxBitmapAttribute.cs
  src/System.Drawing.Common/src/misc/DpiHelper.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/SelectionManager.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/ToolboxItemSnapLineBehavior.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerFrame.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ParentControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripItemBehavior.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripMenuItemDesigner.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/DesignerSerializationManagerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/FontNameEditorTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/ToolboxItemTests.cs
Due: production, test

Enable nullability in HtmlDocumentShim
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.HtmlDocumentShim.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlShim.cs
Due: production

Use expression body
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.HtmlDocumentShim.cs
Due: production

Enable nullability in DataGridViewCellLinkedList
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCellLinkedList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCellLinkedListEnumerator.cs
Due: production

Fix private field names
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCellLinkedList.cs
Due: production

Use expression body
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCellLinkedList.cs
Due: production

Add AssociatedComponents test of ControlDesigner ,ListViewDesigner ,SplitContainerDesigner ,ToolStripDesigner
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDesigner.cs
  src/System.Windows.Forms.Design/tests/UnitTests/ControlDesignerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/ListViewDesignerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/SplitContainerDesignerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System.Windows.Forms.Design.Tests.csproj
  src/System.Windows.Forms.Design/tests/UnitTests/ToolStripDesignerTests.cs
Due: production, test

Rework scrolling in PrintPreviewControl:
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/PrintPreviewControl.PrintPreviewControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
Due: production

Reverted hiding PrintPreviewControl.TabStop property from Designer. Default value is left 'false'.
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
Due: production

Code cleanup:
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
Due: production

Enable nullability in some AxHost members
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
Due: production, test

Enable nullability in DataGridViewTopLeftHeaderCell
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTopLeftHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewUtilities.cs
Due: production

Enable nullability in HtmlDocumentShim (#9511)
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.HtmlDocumentShim.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlShim.cs
Due: production

Enable nullability in remaining RichTextBox members (#9504)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.cs
Due: production
