Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/Microsoft.VisualBasic/src/
      - src/Microsoft.VisualBasic.Forms/src/
      - src/System.Drawing.Common/src/
      - src/System.Drawing.Design/src/
      - src/System.Private.Windows.Core/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Analyzers/src/
      - src/System.Windows.Forms.Analyzers.CSharp/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
      - src/System.Windows.Forms.Primitives/src/
      - src/System.Windows.Forms.PrivateSourceGenerators/src/
  test:
    paths:
      - src/Common/tests/
      - src/Microsoft.VisualBasic/tests/
      - src/Microsoft.VisualBasic.Forms/tests/
      - src/System.Drawing.Common/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Analyzers/tests/
      - src/System.Windows.Forms.Analyzers.CSharp/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Primitives/tests/
      - src/System.Windows.Forms.PrivateSourceGenerators/tests/

remove m_
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.Properties.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/WebClientCopy.vb
Due: production

Shorten some long lines
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network.Ping.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/HttpClientCopy.vb
Due: production

Remove blank line
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network.DownloadFileAsync.vb
Due: production

Fix XM: Comment
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/NetworkUtilities.vb
Due: production

Fix formatting
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network.DownloadFileAsync.vb
Due: production

Fix formatting
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network.UploadFile.vb
Due: production

Add global using in System.Windows.Forms unit test
  src/System.Windows.Forms/tests/UnitTests/DpiHelperTests.cs
  src/System.Windows.Forms/tests/UnitTests/GlobalUsings.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AmbientPropertiesTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ColumnHeaderConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ContainerControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Handlers.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Internals.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Properties.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CreateParamsTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CursorConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewCellStyleTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ImageListTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Layout/TableLayoutSettingsTypeConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/LinkAreaConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/LinkConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewGroupConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewInsertionMarkTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewItemConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewSubItemConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/MessageTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/OpacityConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/OwnerDrawPropertyBagTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PaddingConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ProgressBarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScrollableControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TableLayoutPanelCellPositionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripPanelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolTipTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNodeTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/VisualStyles/TextMetricsTests.cs
  src/System.Windows.Forms/tests/UnitTests/TextBoxBaseTests.cs
Due: test

Mark System.Private.Windows.Core.TestUtilities as packable but nonshipping
  pkg/Microsoft.Private.Winforms/Microsoft.Private.Winforms.csproj
  src/Common/tests/TestUtilities/System.Private.Windows.Core.TestUtilities.csproj
Due: test

remove HasNoPublicIntellisense
  src/Common/tests/TestUtilities/System.Private.Windows.Core.TestUtilities.csproj
Due: test

close stream in test Clipboard_Deserialize_FromStream_Manually
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
Due: test

Removing extra namespace
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/net6.0/Form1.Designer.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/Form1.Designer.vb
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/net6.0/UserControl1.Designer.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-VisualBasic/UserControl1.Designer.vb
Due: none

Use pattern matching for judge variable menu
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

another approach
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintControllerWithStatusDialog.BackgroundThread.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintControllerWithStatusDialog.FocusableLabel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintControllerWithStatusDialog.StatusDialog.cs
Due: production

Handle FeedBacks
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripComboBox.ToolStripComboBoxControl.ToolStripComboBoxFlatComboAdapterTests.cs
Due: test

fix #12365 [Accessibility] The text "Document does not contain any pages" in printPreviewControl has low color contrast (#12368)
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
Due: production

add vs-feedback info to the readme
  docs/designer/readme.md
Due: none

Use auto Properties
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/UserTests.UserIdentity.vb
Due: test

Shorten a some long lines
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/FileLogTraceListenerTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/TimeTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/TestData/TimeTestData.vb
Due: test

Code Coverage for VB ApplicationServices Exceptions Mx UserTests.UserIdentity to use Auto Properties
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ApplicationServicesExceptionsTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/UserTests.UserIdentity.vb
Due: test

Issue 12353 fix detach context menu strip memory leak (#12399)
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Update InitializeComponent() template (#12398)
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/net6.0/Form1.Designer.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/Form1.Designer.vb
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/net6.0/UserControl1.Designer.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-VisualBasic/UserControl1.Designer.vb
Due: none

Update the logic about the attribute [RefreshProperties(RefreshProperties.All)] on PropertyGridView.cs (#12356)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/tests/IntegrationTests/DesignSurface/DemoConsole/MainForm.cs
Due: production, test

Disabling ToolTip visual styles to make it dark enough in Dark mode
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip/ToolTip.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolTipTests.cs
Due: production, test

Fix C# error with System.Environment
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/ApplicationServices/ConsoleApplicationBaseTests.cs
Due: test

Fixed the error
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripComboBox.ToolStripComboBoxControl.ToolStripComboBoxFlatComboAdapterTests.cs
Due: test

Remove failed test case
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripComboBox.ToolStripComboBoxControl.ToolStripComboBoxFlatComboAdapterTests.cs
Due: test

add vs-feedback info to the designer readme (#12414)
  docs/designer/readme.md
Due: none

PR Feedback
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ApplicationServicesExceptionsTests.vb
Due: test

Add code coverage for ToolStripComboBox.ToolStripComboBoxControl.ToolStripComboBoxFlatComboAdapter (#12394)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripComboBox.ToolStripComboBoxControl.ToolStripComboBoxFlatComboAdapterTests.cs
Due: test

Update branding to 8.0.12
  eng/Versions.props
Due: none

Update branding to 9.0.1
  eng/Versions.props
Due: none

Code Coverage for VB ApplicationServices Exceptions and minor cleanup (#12418)
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ApplicationServicesExceptionsTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/UserTests.UserIdentity.vb
Due: test

Update branding to 6.0.37
  eng/Versions.props
Due: none

Move clipboard test in ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataObjectTests.cs
Due: test

try different format name
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
Due: test
