Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Add indent
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ButtonTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ListViewTests.cs
Due: test

Handle feedback
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CheckedListBox.CheckedIndexCollectionTests.cs
Due: test

extend PayloadReader public API surface:
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/PayloadReader.cs
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/Records/ArrayRecord.cs
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/Records/BinaryLibraryRecord.cs
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/Records/BinaryObjectStringRecord.cs
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/Records/ClassRecord.cs
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/Records/ClassWithIdRecord.cs
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/Records/MemberReferenceRecord.cs
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/Records/SerializationRecord.cs
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/Utils/RecordMap.cs
Due: none

switch to the new API (57 compiler errors)
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.ITypeResolver.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.TypeResolver.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordFieldInfoDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordSerializationInfoDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/Deserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ObjectRecordDeserializer.cs
Due: none

Revert "switch to the new API (57 compiler errors)"
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.ITypeResolver.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.TypeResolver.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordFieldInfoDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordSerializationInfoDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/Deserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ObjectRecordDeserializer.cs
Due: none

Rooting serializable types
  src/System.Windows.Forms/tests/IntegrationTests/TrimTestBinaryDeserialization/TrimTestBinaryDeserialization.csproj
  src/System.Windows.Forms/tests/IntegrationTests/TrimTestBinaryDeserialization/desc.xml
Due: test

Simplify completed callbacks
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordFieldInfoDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordSerializationInfoDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/Deserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/IDeserializer.cs
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/Common/EventOrderTests.cs
Due: none

fix issue 11243 TreeNodeCollection.AddRange has been broken in .NET 8 and no longer results in TreeNodes being drawn at the correct location (#11253)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/ArraySubsetEnumerator.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeNodeCollection.cs
  src/System.Windows.Forms/tests/UnitTests/SerializableTypesTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/TreeNode.TreeNodeAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
Due: production, test

Simplify completed callbacks (#11343)
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordFieldInfoDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordSerializationInfoDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/Deserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/IDeserializer.cs
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/Common/EventOrderTests.cs
Due: none

Add Tests for ObjectReference in EventOrderTests
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/Common/EventOrderTests.cs
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/Common/TestTypes/BinaryTreeNodeWithEvents.cs
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/Common/TestTypes/BinaryTreeNodeWithEventsISerializable.cs
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/Common/TestTypes/ObjectReferenceISerializable.cs
Due: none

Add Tests for ObjectReference in EventOrderTests (#11348)
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/Common/EventOrderTests.cs
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/Common/TestTypes/BinaryTreeNodeWithEvents.cs
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/Common/TestTypes/BinaryTreeNodeWithEventsISerializable.cs
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/Common/TestTypes/ObjectReferenceISerializable.cs
Due: none

Simplify handling of pending info
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/Deserializer.PendingUpdates.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/Deserializer.cs
Due: none

Add unit test for DateTimePicker 6 events (#11318)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DateTimePickerTests.cs
Due: test

Add unit test for CheckedListBox.CheckedIndexCollection (#11317)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CheckedListBox.CheckedIndexCollectionTests.cs
Due: test

Simplify handling of pending info (#11351)
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/Deserializer.PendingUpdates.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/Deserializer.cs
Due: none

Add test coverage for TreeView (#11293)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/TreeView.TreeViewAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNodeCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNodeConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNodeTests.cs
Due: test

Update constructor and dispose pattern
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DomainUpDownTests.cs
Due: test

extend PayloadReader public API surface:
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/Infos/MemberTypeInfo.cs
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/PayloadReader.cs
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/Records/ArrayOfClassesRecord.cs
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/Records/ArrayRecord.cs
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/Records/ArraySingleObjectRecord.cs
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/Records/ArraySinglePrimitiveRecord.cs
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/Records/ArraySingleStringRecord.cs
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/Records/BinaryArrayRecord.cs
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/Records/RectangularOrCustomOffsetArrayRecord.cs
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/Utils/RecordMap.cs
Due: none

Skip unstable tests in "ButtonTests", "ListViewTests" and "NumericUpDownTests" (#11330)
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ButtonTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ListViewTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/NumericUpDownTests.cs
Due: test

switch to the new API (System.Private.Windows.Core compiles)
  src/System.Private.Windows.Core/src/System.Runtime.Serialization.BinaryFormat/PayloadReader.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.IParseState.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.ITypeResolver.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.ParseState.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.TypeResolver.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObjectExtensions.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ArrayRecordDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordFieldInfoDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ClassRecordSerializationInfoDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/Deserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Deserializer/ObjectRecordDeserializer.cs
  src/System.Private.Windows.Core/src/System/Windows/Forms/BinaryFormat/Support/BinaryFormatWriterScope.cs
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/FormattedObject/ArrayTests.cs
Due: none

Update DataGridViewTests.cs to add a space
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewTests.cs
Due: test

fix issue 11243 TreeNodeCollection.AddRange has been broken in .NET 8 and no longer results in TreeNodes being drawn at the correct location
  src/System.Windows.Forms/src/System/Windows/Forms/ArraySubsetEnumerator.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.TreeNodeAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNodeCollection.cs
  src/System.Windows.Forms/tests/UnitTests/SerializableTypesTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNode.TreeNodeAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
Due: production, test

Skip unstable test DataGridView_OnColumnHeadersHeightChanged_InvokeWithHandle_CallsColumnHeadersHeightChanged (#11323)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewTests.cs
Due: test

minor changes
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.cs
Due: production

Add test coverage for LinkCollection
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/LinkCollectionTest.cs
Due: test

Fix ToolStrip memory leak due to MouseHoverTimer.
  src/System.Windows.Forms/src/System/Windows/Forms/Input/MouseHoverTimer.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: production, test

Fix #4808.
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripItemCollection.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: production, test

Reorginize Control Test without code changes
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.vb
Due: none

Reorginize Control test without code changes
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.vb
Due: none

Sort Private Properties and move to top of AssemblyInfo
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/AssemblyInfo.vb
Due: none

Sort Private Properties and Move to top of Assembly Info
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/AssemblyInfo.vb
Due: none

Move Private variable to top of ConsoleApplicationBase
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/ConsoleApplicationBase.vb
Due: none

Move Private totop of ConsoleApplicationBase
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/ConsoleApplicationBase.vb
Due: none

Add test coverage for TreeView
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewImageKeyConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
Due: test

Using solid border for selected control in the DemoConsole application.
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs
Due: production

Handle FeedBacks
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
Due: test

Handle FeedBack
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
Due: test
