Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

update test inline data to reduce duplicated text
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/EmbeddedResourceTests.cs
Due: test

Remove TrustManager icons based on review
  src/System.Windows.Forms/src/Resources/System/Windows/Forms/TrustManagerGlobe.ico
  src/System.Windows.Forms/src/Resources/System/Windows/Forms/TrustManagerHighRisk.ico
  src/System.Windows.Forms/src/Resources/System/Windows/Forms/TrustManagerOK.ico
  src/System.Windows.Forms/src/Resources/System/Windows/Forms/TrustManagerWarning.ico
  src/System.Windows.Forms/src/Resources/System/Windows/Forms/sm_TrustManagerGlobe.ico
Due: production

Fix typo
  src/System.Windows.Forms/src/System/Windows/Forms/BindingContext.cs
  src/System.Windows.Forms/src/misc/CollectionHelper.cs
  src/System.Windows.Forms/tests/UnitTests/misc/CollectionHelperTests.cs
Due: production, test

Add license
  src/System.Windows.Forms/src/misc/CollectionHelper.cs
  src/System.Windows.Forms/tests/UnitTests/misc/CollectionHelperTests.cs
Due: production, test

Avoid locals
  src/System.Windows.Forms/tests/UnitTests/misc/CollectionHelperTests.cs
Due: test

Change declarations
  src/System.Windows.Forms/tests/UnitTests/misc/CollectionHelperTests.cs
Due: test

param names for readability
  src/System.Windows.Forms/tests/UnitTests/misc/CollectionHelperTests.cs
Due: test

Use pattern matching
  src/System.Windows.Forms/src/misc/CollectionHelper.cs
Due: production

Update src/System.Windows.Forms/tests/UnitTests/misc/CollectionHelperTests.cs
  src/System.Windows.Forms/tests/UnitTests/misc/CollectionHelperTests.cs
Due: test

Fix generator incrementality
  src/System.Windows.Forms.Analyzers.CSharp/src/System/Windows/Forms/Generators/ApplicationConfigurationGenerator.cs
  src/System.Windows.Forms.Analyzers.CSharp/src/System/Windows/Forms/Generators/ProjectFileReader.cs
  src/System.Windows.Forms.Analyzers/src/System/Windows/Forms/ApplicationConfig.FontDescriptor.cs
  src/System.Windows.Forms.Analyzers/src/System/Windows/Forms/ApplicationConfig.FontStyle.cs
  src/System.Windows.Forms.Analyzers/src/System/Windows/Forms/ApplicationConfig.GraphicsUnit.cs
  src/System.Windows.Forms.Analyzers/src/System/Windows/Forms/ApplicationConfig.cs
Due: none

Update src/System.Windows.Forms/src/System/Windows/Forms/BindingContext.cs
  src/System.Windows.Forms/src/System/Windows/Forms/BindingContext.cs
Due: production

Refactor Com2IManagedPerPropertyBrowsingHandler to replace ArrayList with List<Atrribute> (#8365)
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IManagedPerPropertyBrowsingHandler.cs
Due: production

Cleanup
  src/System.Windows.Forms.Analyzers.CSharp/src/System/Windows/Forms/Generators/ApplicationConfigurationGenerator.cs
Due: none

Update ApplicationConfigurationInitializeBuilderTests.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/ApplicationConfigurationInitializeBuilderTests.cs
Due: none

Revert "Update src/System.Windows.Forms/tests/UnitTests/misc/CollectionHelperTests.cs"
  src/System.Windows.Forms/tests/UnitTests/misc/CollectionHelperTests.cs
Due: test

Remove redundant unit test
  src/System.Windows.Forms/tests/UnitTests/misc/CollectionHelperTests.cs
Due: test

Fixes #8387 - Replace Workspaces nuget packages with compiler only packages
  eng/Versions.props
  src/System.Windows.Forms.Analyzers.CSharp/src/System.Windows.Forms.Analyzers.CSharp.csproj
  src/System.Windows.Forms.Analyzers/src/System.Windows.Forms.Analyzers.csproj
Due: none

Revert removal of versions from props and add new MicrosoftCodeAnalysisVisualBasicPackageVersion Use PackageVersion variables from Versions.props in Projects where appropriate
  eng/Versions.props
  src/System.Windows.Forms.Analyzers.CSharp/src/System.Windows.Forms.Analyzers.CSharp.csproj
  src/System.Windows.Forms.Analyzers/src/System.Windows.Forms.Analyzers.csproj
  src/System.Windows.Forms.PrivateSourceGenerators/src/System.Windows.Forms.PrivateSourceGenerators.csproj
Due: none

remove unneeded string.copy
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
Due: production

remove unneeded string.copy
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
Due: production

Fix errors
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/ApplicationConfigurationInitializeBuilderTests.cs
Due: none

fully qualify
  src/System.Windows.Forms.Analyzers/src/System/Windows/Forms/ApplicationConfig.FontDescriptor.cs
Due: none

Remove ImageEditor.ico based on review
  src/System.Windows.Forms/src/Resources/System/Windows/Forms/ImageEditor.ico
Due: production

Fix build error
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/ApplicationConfigurationInitializeBuilderTests.cs
Due: none

Fix tests
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/ApplicationConfigurationInitializeBuilderTests.GenerateInitialize_DefaultFont=SansSerif.verified.txt
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/ApplicationConfigurationInitializeBuilderTests.GenerateInitialize_DefaultFont=Tahoma.verified.txt
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/ApplicationConfigurationInitializeBuilderTests.GenerateInitialize_DefaultFont=default.verified.txt
  src/System.Windows.Forms.Analyzers/tests/UnitTests/System/Windows/Forms/Analyzers/ApplicationConfigTests.FontDescriptor.cs
Due: none

Enable nullability in MessageBox
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.MessageBoxW.cs
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HelpInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBox.cs
Due: production

Add Documentation For Registering Custom Type Converter (#8340)
  docs/serialization/register-custom-type-converter.md
Due: none

Enable Nullability on a couple of interfaces
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design/src/System/Resources/Tools/ITargetAwareCodeDomProvider.cs
  src/System.Windows.Forms.Design/src/System/Runtime/InteropServices/UCOMITypeLib.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Automation/IAutomationLiveRegion.cs
Due: production

Fix bug #7837 via Control.UpdateChildControlIndex
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/TabControlTests.cs
Due: production, test

Null annotate AxContainer
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IGetOleObject.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.IExtender.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.AxContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.OleInterfaces.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripScrollButton.ToolStripScrollButtonAccessibleObjectTests.cs
Due: production, test

Fix parameter name
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripOverflow.ToolStripOverflowAccessibleObjectTests.cs
Due: test

Refactor TabOrder to enable Nullability and replace ArrayList/HashTable
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TabOrder.cs
Due: production

small refactor in SetNewHover
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TabOrder.cs
Due: production

Update src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TabOrder.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TabOrder.cs
Due: production

Improvements for bug fix #7837
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/TabControlTests.cs
Due: production, test

inverted `langVersion` conditions in C# templates
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/.template.config/template.json
Due: none

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
