Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Enable flag
  azure-pipelines.yml
Due: none

Update branding for 5.0.13 (#6105)
  eng/Versions.props
Due: none

Enable nullability in CheckBox adapters
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/CheckBoxBaseAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/CheckBoxFlatAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/CheckBoxPopupAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/CheckBoxStandardAdapter.cs
Due: production

Revert name changes
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/CheckBoxBaseAdapter.cs
Due: production

Use 'is not null' in some System.Windows.Forms files
  src/System.Windows.Forms/src/System/Windows/Forms/AutomationMessages.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.Annotated.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ComponentEditorForm.PageSelector.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ComponentEditorForm.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ComponentEditorPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DomainUpDown.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DrawListViewItemEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DropTarget.cs
  src/System.Windows.Forms/src/System/Windows/Forms/KeyboardToolTipStateMachine.cs
  src/System.Windows.Forms/src/System/Windows/Forms/KeysConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/CommonProperties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/DockAndAnchorLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/LayoutTransaction.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/LayoutUtils.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.ContainerInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PageSetupDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintControllerWithStatusDialog.BackgroundThread.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintControllerWithStatusDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/VisualStyles/VisualStyleRenderer.cs
  src/System.Windows.Forms/src/misc/MultitargetUtil.cs
  src/System.Windows.Forms/src/misc/WeakHashtable.cs
Due: production

Use 'is not null' in some System.Windows.Forms files (#6112)
  src/System.Windows.Forms/src/System/Windows/Forms/AutomationMessages.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.Annotated.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ComponentEditorForm.PageSelector.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ComponentEditorForm.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ComponentEditorPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DomainUpDown.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DrawListViewItemEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DropTarget.cs
  src/System.Windows.Forms/src/System/Windows/Forms/KeyboardToolTipStateMachine.cs
  src/System.Windows.Forms/src/System/Windows/Forms/KeysConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/CommonProperties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/DockAndAnchorLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/LayoutTransaction.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/LayoutUtils.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.ContainerInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PageSetupDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintControllerWithStatusDialog.BackgroundThread.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintControllerWithStatusDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/VisualStyles/VisualStyleRenderer.cs
  src/System.Windows.Forms/src/misc/MultitargetUtil.cs
  src/System.Windows.Forms/src/misc/WeakHashtable.cs
Due: production

Disable Loc - We need disable loc here to enable it on servicing. Thsi is still manual process. Must be reenabled once servicign branch is uptodate with loc and disable for loc there.
  azure-pipelines.yml
Due: none

Disable Loc - We need disable loc here to enable it on servicing. Thsi is still manual process. (#6118)
  azure-pipelines.yml
Due: none

Respond to feedback. Remove nullable disable.
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.TabInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
Due: production

Combine PropertyGrid tab information. (#6108)
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.PropertyTabCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.TabInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
Due: production

Resume invocation of OnParentHandleRecreated for child control when form recreates handle
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
Due: production, test

[internal/release/5.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Fix anchored controls mis-alignment when DPI of the display is higher than 100%.
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/DockAndAnchorLayout.cs
Due: production

Add a comment with a link to docs (#6077)
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/net6.0/Program.cs
Due: none

Adding comments.
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/DockAndAnchorLayout.cs
Due: production

Review feedback.
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
Due: production

(Servicing) Resume invocation of OnParentHandleRecreated for child control when form recreates handle (#6115)
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
Due: production, test

Resume invocation of OnParentHandleRecreated for child control when form recreates handle (#6113)
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
Due: production, test

Fix anchored controls mis-alignment when DPI of the display is higher than 100% (#6122)
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/DockAndAnchorLayout.cs
Due: production

Fix nested container controls scaling that have AutoscaleMode as Inherit.
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
Due: production

Enable nullability in ToolStripItemTextRenderEventArgs
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItemTextRenderEventArgs.cs
Due: production

Enable nullability in ToolStripItemTextRenderEventArgs (#6134)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItemTextRenderEventArgs.cs
Due: production

Fixing The color contrast of the button border is less than 3:1 #6021
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonBaseAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonPopupAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonStandardAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
Due: production

Enable nullability in CheckBox adapters (#6106)
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/CheckBoxBaseAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/CheckBoxFlatAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/CheckBoxPopupAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/CheckBoxStandardAdapter.cs
Due: production

Test infra
  Winforms.sln
  eng/Versions.props
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/System.Windows.Forms.Maui.IntegrationTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Directory.Build.props
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/AsyncTestHelper.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/ConfigureJoinableTaskFactoryAttribute.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/ControlThreadingExtensions.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/ThreadHelper.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/UITest.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/System - Backup.Windows.Forms.UI.IntegrationTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/System.Windows.Forms.UI.IntegrationTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/xunit.runner.json
Due: test

Migrate Buttons tests
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiButtonTests/MauiButtonTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiButtonTests/MauiButtonTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/System.Windows.Forms.Maui.IntegrationTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiButtonTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ButtonTests.cs
Due: test

Migrate TabControl tests
  Winforms.sln
  src/System.Windows.Forms.Primitives/src/Properties/AssemblyInfo.cs
  src/System.Windows.Forms/src/Properties/AssemblyInfo.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiTabControlTests/MauiTabControlTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiTabControlTests/MauiTabControlTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/System.Windows.Forms.Maui.IntegrationTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiTabControlTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/ConfigureJoinableTaskFactoryAttribute.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/KeyboardHelper.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/MouseHelper.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/System.Windows.Forms.UI.IntegrationTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/TabControlTests.cs
Due: production, test

Migrate MonthCalendar tests WIP
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/MonthCalendarTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/System.Windows.Forms.UI.IntegrationTests.csproj
Due: test

Migrate Label tests WIP
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/System.Windows.Forms.Maui.IntegrationTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/LabelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/LabelTests.cs
Due: test

Migrate ComboBox tests WIP
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ComboBoxTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/System.Windows.Forms.UI.IntegrationTests.csproj
Due: test

Migrate DataGridView tests WIP
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/System.Windows.Forms.Maui.IntegrationTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DataGridViewTests.cs
Due: test

Accessibility: ListViewGroup Subtitle Property #3883 (#6073)
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewLinkCell.cs
Due: production

Fixing The color contrast of the button border is less than 3:1 #6021 (#6059)
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonBaseAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonPopupAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonStandardAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
Due: production

Enable loc on servicing branch. (#6110)
  azure-pipelines.yml
Due: none
