Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

add test deserializing replicated JsonData using BinaryFormatter
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/JsonData.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BinaryFormat/WinFormsBinaryFormattedObjectTests.cs
Due: production, test

Update ClipboardProxy.SetDataAsJson to inherit docs from Clipboard.SetDataAsJson
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/ClipboardProxy.vb
Due: production

small fixes
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/Clipboard.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BinaryFormat/WinFormsBinaryFormattedObjectTests.cs
Due: production, test

Small default font scaling corrections and optimizations. Fix #11037.
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ScaleHelper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Suggestions implemented.
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
Due: production

Outdated SetDefaultFont test removed. New tests added.
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ApplicationTests.cs
Due: test

Add tests for ListBoxDesigner (#11712)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ListBoxDesigner.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ListBoxDesignerTests.cs
Due: production, test

Update CreateName method
  src/System.Windows.Forms/tests/IntegrationTests/DesignSurface/DesignSurfaceExt/NameCreationServiceImp.cs
Due: test

Update
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignBindingTests.cs
Due: test

update
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignBindingTests.cs
Due: test

Add unit test for ImageListActionList
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ImageListActionListTests.cs
Due: test

Adjusting the Counter Position
  global.json
  src/System.Windows.Forms/tests/IntegrationTests/DesignSurface/DesignSurfaceExt/NameCreationServiceImp.cs
Due: test

Restore the changes in global.json file
  global.json
Due: none

Removing FromHandle_TestData for tests "FromHandle"
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScreenTests.cs
Due: test

Handle feedback
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/MaskDescriptorTemplateTests.cs
Due: test

Mark the Form.OnClosed and OnClosing methods with the ObsoleteAttribute
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionPanel.EditorPropertyLine.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewDialog.cs
Due: production

Adjusting code styles
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.ListViewNativeItemCollection.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
Due: production, test

Adds Value type (#11666)
  Winforms.sln
  src/System.Private.Windows.Core/src/Properties/AssemblyInfo.cs
  src/System.Private.Windows.Core/src/System/Value.DateTimeOffsetFlag.cs
  src/System.Private.Windows.Core/src/System/Value.NullableTemplate.cs
  src/System.Private.Windows.Core/src/System/Value.PackedDateTimeOffset.cs
  src/System.Private.Windows.Core/src/System/Value.PackedDateTimeOffsetFlag.cs
  src/System.Private.Windows.Core/src/System/Value.StraightCastFlag.cs
  src/System.Private.Windows.Core/src/System/Value.TypeFlag.cs
  src/System.Private.Windows.Core/src/System/Value.TypeFlags.cs
  src/System.Private.Windows.Core/src/System/Value.Union.cs
  src/System.Private.Windows.Core/src/System/Value.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/GlobalUsings.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System.Private.Windows.Core.Tests.csproj
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/Creation.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/MemoryWatch.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringArrays.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringBoolean.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringByte.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringChar.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringDateTime.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringDateTimeOffset.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringDecimal.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringDouble.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringEnum.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringFloat.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringInt.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringLong.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringNull.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringObject.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringSByte.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringShort.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringUInt.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringUShort.cs
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Value/StoringUlong.cs
Due: production

Delete other PropertyStore wrappers (#11676)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCellStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/CommonProperties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.PaddingWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.RectangleWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyStoreTests.cs
Due: production, test

Replace the guts of PropertyStore (#11668)
  src/System.Private.Windows.Core/src/System/Value.PackedColor.cs
  src/System.Private.Windows.Core/src/System/Value.PackedColorFlag.cs
  src/System.Private.Windows.Core/src/System/Value.TypeFlags.cs
  src/System.Private.Windows.Core/src/System/Value.Union.cs
  src/System.Private.Windows.Core/src/System/Value.UtcDateTimeOffsetFlag.cs
  src/System.Private.Windows.Core/src/System/Value.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.ColorWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.SizeWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
Due: production

Mark PropertyStore methods for removal (#11677)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewButtonCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCellStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCheckBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewColumnHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewLinkCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRowHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewTextBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewUtilities.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/CommonProperties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyStoreTests.cs
Due: production, test

Refactor `PropertyStoreTests` to `TheoryData` and use `Fact`/`Theory` (#11730)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyStoreTests.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2505103
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2505103
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Using TheoryData
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/Control.ControlAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Properties.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScreenTests.cs
Due: test

Add code coverage for toolstrip
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: test

Add test case for NotifyIconDesigner
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/NotifyIconDesignerTests.cs
Due: test

Add unit test for BindingSourceDesigner.cs file
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/BindingSourceDesignerTests.cs
Due: test

Remove extra space
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/BindingSourceDesignerTests.cs
Due: test

Add core coverage for DesignBinding (#11748)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignBindingTests.cs
Due: test

cherry pick a3faacd
  src/System.Windows.Forms/src/GlobalSuppressions.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.Composition.NativeToWinFormsAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.cs
Due: production

Refactor PropertyStore GetSize/SetSize
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/CommonProperties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
Due: production

Remove GetColor/SetColor
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCellStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
Due: production

Defer GDI+ initialization to first PInvoke access
  src/System.Drawing.Common/src/ModuleInitializer.cs
  src/System.Drawing.Common/src/Windows/Win32/PInvoke.cs
Due: production

Refactor ContainsInteger usage
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewLinkCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
Due: production

Refactor RemoveInteger usage
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
Due: production

Tweak initialization
  src/System.Drawing.Common/src/NativeMethods.txt
  src/System.Drawing.Common/src/System/Drawing/Gdiplus.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/src/System/Drawing/ToolboxBitmapAttribute.cs
  src/System.Private.Windows.Core/src/NativeMethods.txt
  src/System.Private.Windows.Core/src/System/Drawing/ImageCodecInfoHelper.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/GdiPlus/GdiPlusInitialization.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/GdiPlus/GdiplusStartupInputEx.cs
Due: production

Add unit tests for ListViewActionList
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ListViewActionListTests.cs
Due: test

Add unit tests for AxImporter
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/AxImporterTests.cs
Due: test

Path conditions:
  production: any of: src/Common/src/, src/Microsoft.VisualBasic/src/, src/Microsoft.VisualBasic.Forms/src/, src/System.Drawing.Common/src/, src/System.Drawing.Design/src/, src/System.Private.Windows.Core/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Analyzers/src/, src/System.Windows.Forms.Analyzers.CSharp/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/, src/System.Windows.Forms.Primitives/src/, src/System.Windows.Forms.PrivateSourceGenerators/src/
  test: any of: src/Common/tests/, src/Microsoft.VisualBasic/tests/, src/Microsoft.VisualBasic.Forms/tests/, src/System.Drawing.Common/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Analyzers/tests/, src/System.Windows.Forms.Analyzers.CSharp/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Primitives/tests/, src/System.Windows.Forms.PrivateSourceGenerators/tests/
