Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Rework ListViewSubItemAccessibleObject ProcessId unit test (#5227)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewItem.ListViewSubItem.ListViewSubItemAccessibleObjectTests.cs
Due: test

Localized file check-in by OneLocBuild Task
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Fixing nullable overrides in response to changes in the runtime repo.
  src/System.Windows.Forms.Primitives/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Primitives/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/PaddingConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FlatButtonAppearanceConverter.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Dialogs.ClientGuidConverter.cs
Due: production, test

Downgrade dotnet/runtime to allow flow of WPF (see https://github.com/dotnet/wpf/pull/4823)
  eng/Version.Details.xml
  global.json
Due: none

Localized file check-in by OneLocBuild Task (#5228)
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Downgrade dotnet/runtime to allow flow of WPF (see https://github.com/dotnet/wpf/pull/4823) (#5231)
  eng/Version.Details.xml
  global.json
Due: none

Rework LocalizedControlType of ImageAlign, TestAlign, Anchor and Dock properties
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/AnchorEditor.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DockEditor.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/AnchorEditorTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ContentAlignmentEditorTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DockEditorTests.cs
Due: production, test

Use interpolated strings in more places
  src/System.Drawing.Common/src/System/Drawing/Brush.cs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/GraphicsPath.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/GraphicsPathIterator.cs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/SafeCustomLineCapHandle.cs
  src/System.Drawing.Common/src/System/Drawing/Font.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Font.cs
  src/System.Drawing.Common/src/System/Drawing/FontConverter.cs
  src/System.Drawing.Common/src/System/Drawing/FontFamily.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Image.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/FrameDimension.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ImageAttributes.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ImageFormat.cs
  src/System.Drawing.Common/src/System/Drawing/Internal/SystemColorTracker.cs
  src/System.Drawing.Common/src/System/Drawing/Pen.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/Margins.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PageSettings.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PageSettings.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PaperSize.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PaperSource.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrintDocument.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrintDocument.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrinterSettings.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrinterSettings.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Region.cs
  src/System.Drawing.Common/src/System/Drawing/StringFormat.cs
  src/System.Drawing.Common/src/System/Drawing/Text/PrivateFontCollection.cs
Due: none

Add a new virtual property StatusStripBorder to ToolStripProfessionalRenderer Pt.3
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/StatusStripTests.Rendering.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/StatusStripTests.cs
Due: production, test

Fix anchor editor controls properties
  src/System.Windows.Forms.Design/src/Resources/SR.resx
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/AnchorEditor.cs
Due: production

Prevented unit tests failures (#5223)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Properties.cs
Due: test

Apply PR feedback
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.PictureWrapper.cs
Due: none

Add assert to ensure proper usage
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.PictureWrapper.cs
Due: none

Fix compilation error
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.PictureWrapper.cs
Due: none

Updating tests.
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ComponentDesignerTests.cs
Due: test

Disable some System.Drawing.Common tests failing on Windows Mono (dotnet/runtime#55656)
  src/System.Drawing.Common/tests/IconTests.cs
  src/System.Drawing.Common/tests/Imaging/MetafileTests.cs
Due: none

Clean up PropertyGrid/View variable names
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.Flags.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/DocComment.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.ErrorState.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.GridPositionData.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/PropertyGridToolStripButton.PropertyGridToolStripButtonAccessibleObjectTests.cs
Due: production, test

Remove blank lines
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.Flags.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.ErrorState.cs
Due: production

Add missing #if DEBUG
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
Due: production

Prevented unit tests failures [part 2] (#5223) (#5236)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Properties.cs
Due: test

Update src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
Due: production

Address PR feedback
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ClientUtils.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/CommonProperties.cs
Due: production

Add missing assembly required to use local WinForms build
  docs/debugging.md
Due: none

Add missing assembly required to use local WinForms build (#5241)
  docs/debugging.md
Due: none

Fix PR comment
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.cs
Due: none

Direct cast
  src/System.Windows.Forms/src/System/Windows/Forms/Cursor.cs
Due: production

Publishing APIs for current preview.
  src/System.Windows.Forms.Primitives/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Primitives/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
Due: production

Add ServiceProvider extensions
  src/System.Windows.Forms.Primitives/src/Resources/SR.resx
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/ServiceExtensions.cs
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Control.Annotated.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/EventsTab.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/PropertyTab.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridTests.cs
Due: production, test

Branding change to Preview 8
  eng/Versions.props
Due: none

branding to rc1
  eng/Versions.props
Due: none

Is not null
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/ServiceExtensions.cs
Due: none

First stab at ComWrappers (#5174)
  src/System.Windows.Forms.Primitives/src/Interop/Interop.HRESULT.cs
  src/System.Windows.Forms.Primitives/src/Interop/Interop.IID.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.OleCreatePictureIndirect.cs
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.IStreamVtbl.cs
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.PictureWrapper.cs
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Cursor.cs
Due: production

Add ServiceProvider extensions (#5247)
  src/System.Windows.Forms.Primitives/src/Resources/SR.resx
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/ServiceExtensions.cs
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Control.Annotated.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/EventsTab.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/PropertyTab.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.zh-Hant.xlf
Due: none

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
