Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Fix unit tests
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationServiceTests.cs
Due: test

Refactor UndoEngine to use List<T> instead of ArrayList
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/UndoEngine.cs
Due: production

Remove dlls and add project to reference dlls
  Winforms.sln
  src/System.Windows.Forms/tests/AxHosts/AxHosts.Designer.cs
  src/System.Windows.Forms/tests/AxHosts/AxHosts.cs
  src/System.Windows.Forms/tests/AxHosts/AxHosts.csproj
  src/System.Windows.Forms/tests/AxHosts/AxHosts.resx
  src/System.Windows.Forms/tests/AxHosts/GlobalUsings.cs
  src/System.Windows.Forms/tests/AxHosts/Program.cs
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.cs.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.de.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.es.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.fr.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.it.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.ja.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.ko.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.pl.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.pt-BR.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.ru.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.tr.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.zh-Hans.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.zh-Hant.xlf
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Resources/AxInterop.WMPLib.dll
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Resources/Interop.WMPLib.dll
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/WinformsControlsTest.csproj
Due: test

Add license
  src/System.Windows.Forms/tests/AxHosts/AxHosts.Designer.cs
  src/System.Windows.Forms/tests/AxHosts/AxHosts.cs
  src/System.Windows.Forms/tests/AxHosts/GlobalUsings.cs
  src/System.Windows.Forms/tests/AxHosts/Program.cs
Due: test

Remove blank line
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.GridPositionData.cs
Due: production

Merged PR 27588: [internal/release/6.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Enable nullability in some ToolStripItem members (#8174)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropDownItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.ToolStripItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripMenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSeparator.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSystemRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WinFormsUtils.cs
Due: production

Refactor ComponentDesigner to to use Dictionary<TKey, TValue> instead of Hashtable
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
Due: production

Use alternate syntax to return index of new item
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewSelectedCellCollection.cs
Due: production

Use alternate syntax to get index of new item
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewSelectedRowCollection.cs
Due: production

Refactor PropertyGridView to use List<GridEntryCollection> instead of ArrayList (#8210)
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.GridPositionData.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
Due: production

Add MSAA focus event on ComboBox dropdown close
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
Due: production

Get the index of new item by counting rather than searching
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewSelectedColumnCollection.cs
Due: production

Improve comment with explanation of childID value
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
Due: production

Refactor several data grid view classes to use List<T> instead of ArrayList (#8188)
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCellCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumnCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxCell.ItemComparer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxCell.ObjectCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewSelectedCellCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewSelectedColumnCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewSelectedRowCollection.cs
Due: production

Add MSAA focus event on ComboBox dropdown close (#8220)
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
Due: production

Indicate the type of elements in foreach loop
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
Due: production

remove unused resource strings
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Remove unused using
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.SHCreateItemFromParsingName.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Shell/IFileDialogEvents.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.ComboBoxChildNativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewLabelEditNativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropTargetManager.cs
Due: production

Refactor WebBrowserContainer to replace HashTable
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserContainer.cs
Due: production

Enable nullability in WebBrowserContainer
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserContainer.cs
Due: production

Refactor ToolTip to replace HashTable
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Refactor ComponentDesigner to use Dictionary<TKey, TValue> instead of Hashtable (#8221)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
Due: production

change from review
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserContainer.cs
Due: production

Fix exception type in tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
Due: test

Add msbuildproj to build using Framework version of msbuild
  Winforms.sln
  src/BuildAssist/BuildAssist.msbuildproj
  src/System.Windows.Forms/tests/AxHosts/AxHosts.Designer.cs
  src/System.Windows.Forms/tests/AxHosts/AxHosts.cs
  src/System.Windows.Forms/tests/AxHosts/AxHosts.csproj
  src/System.Windows.Forms/tests/AxHosts/AxHosts.resx
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.cs.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.de.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.es.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.fr.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.it.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.ja.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.ko.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.pl.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.pt-BR.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.ru.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.tr.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.zh-Hans.xlf
  src/System.Windows.Forms/tests/AxHosts/xlf/AxHosts.zh-Hant.xlf
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/WinformsControlsTest.csproj
Due: test

Refactor `HelpProvider` to use `Dictionary` instead of `Hashtable` (#8164)
  src/System.Windows.Forms/src/System/Windows/Forms/HelpProvider.cs
Due: production

Feedback, fix assert
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/AccessibiltyExtensions.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.RegisterDragDrop.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Ole/CADWORD.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Ole/OLE_HANDLE.cs
Due: none

Change from review
  src/System.Windows.Forms/src/System/Resources/AssemblyNamesTypeResolutionService.cs
Due: production

Add msbuild path
  src/BuildAssist/BuildAssist.msbuildproj
Due: none

oops
  src/BuildAssist/BuildAssist.msbuildproj
Due: none

fix msbuild path
  src/BuildAssist/BuildAssist.msbuildproj
Due: none

Update reference source projects with new tfm
  src/System.Drawing.Common/ref/System.Drawing.Common.csproj
Due: none

Update suppression files for tfm change
  src/System.Drawing.Common/src/CompatibilitySuppressions.xml
Due: none

Add versioning to Versions.props
  eng/Versions.props
  src/BuildAssist/BuildAssist.msbuildproj
Due: none

Refactor DesignerActionService to replace Hashtable and ArrayList (#8198)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionService.cs
Due: production

Refactor CodeDomComponentSerializationService to use List<T> instead of ArrayList (#8214)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationService.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationServiceTests.cs
Due: production, test

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
