Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Fix tests.
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScrollBarTests.cs
Due: test

Refactoring to replace usages of HashTable (#8308)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ExpressionTable.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/BehaviorService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.ColumnHeaderCollection.cs
Due: production

Update to the latest CsWin32.
  eng/Versions.props
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.VARIANT.cs
  src/System.Windows.Forms.Primitives/src/NativeMethods.json
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/FileDialogCustomPlacesCollection.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/Foundation/GlobalInterfaceTable.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Ole/IPicture.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/Oleaut32/IDispatchTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/Oleaut32/ITypeInfoTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.State.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.Vista.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FolderBrowserDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OpenFileDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SaveFileDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/StringSource.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SystemInformation.cs
Due: production

Cast InnerList to `IList`
  src/System.Windows.Forms/src/System/Windows/Forms/AutoCompleteStringCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCellCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxCell.ObjectCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewSelectedCellCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewSelectedColumnCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewSelectedRowCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageList.ImageCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewGroupCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutStyleCollection.cs
Due: production

Update to the latest CsWin32. (#8314)
  eng/Versions.props
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.VARIANT.cs
  src/System.Windows.Forms.Primitives/src/NativeMethods.json
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/FileDialogCustomPlacesCollection.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/Foundation/GlobalInterfaceTable.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Ole/IPicture.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/Oleaut32/IDispatchTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/Oleaut32/ITypeInfoTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.State.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.Vista.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FolderBrowserDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OpenFileDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SaveFileDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/StringSource.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SystemInformation.cs
Due: production

Address review feedback.
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/DefaultLayout.cs
Due: production

Some classes are designed to use `this` as their `SyncRoot` instead of the relying on the SynchRoot provided by the underlying List
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewSelectedCellCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewSelectedColumnCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewSelectedRowCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageList.ImageCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewGroupCollection.cs
Due: production

Cast InnerList to `IList` (#8316)
  src/System.Windows.Forms/src/System/Windows/Forms/AutoCompleteStringCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCellCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxCell.ObjectCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewSelectedCellCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewSelectedColumnCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewSelectedRowCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageList.ImageCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewGroupCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutStyleCollection.cs
Due: production

Refactor tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripControlHostTests.cs
Due: test

fix usings
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/CommonProperties.cs
Due: production

Refactoring to replace usages of HashTable
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/InheritanceService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DocumentDesigner.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/CommonProperties.cs
Due: production

change from review
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/InheritanceService.cs
Due: production

More refactoring to remove HashTable
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignSurfaceServiceContainer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/MultilineStringEditor.MultilineStringEditorUI.cs
Due: production

Move DesignerActionToolStripDropDown to its own file and make DesignerActionUI a partial class
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUI.DesignerActionToolStripDropDown.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUI.cs
Due: production

Fix usings
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/MultilineStringEditor.MultilineStringEditorUI.cs
Due: production

Move SerializationResourceManager to own file
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ResourceCodeDomSerializer.SerializationResourceManager.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ResourceCodeDomSerializer.cs
Due: production

Mark CodeDomLocalizationProvider as partial and move classes contained in CodeDomLocalizationProvider to their own files
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomLocalizationProvider.LanguageCultureInfoConverter.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomLocalizationProvider.LanguageExtenders.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomLocalizationProvider.cs
Due: production

Move contained classes/struct into own files
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SelectionUIService.ContainerSelectionUIItem.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SelectionUIService.HitTestInfo.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SelectionUIService.SelectionUIItem.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SelectionUIService.cs
Due: production

Fix compile errors caused by regions
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomLocalizationProvider.LanguageCultureInfoConverter.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomLocalizationProvider.LanguageExtenders.cs
Due: production

Convert IFont and IFontDisp to CSWin32
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IFont.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IFontDisp.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.QACONTAINER.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.FONTDESC.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.OleCreateFontIndirect.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.VARIANT.cs
  src/System.Windows.Forms.Primitives/src/NativeMethods.json
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
  src/System.Windows.Forms.Primitives/src/Windows/Win32/Foundation/BSTR.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/CY.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/IDispatch.Interface.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/IDispatch.cs
  src/System.Windows.Forms.Primitives/tests/TestUtilities/Windows/Win32/System/Com/ComClassFactory.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.OleInterfaces.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2FontConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/ComNativeDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXFontMarshaler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/tests/TestUtilities/ThreadExceptionFixture.cs
  src/System.Windows.Forms/tests/UnitTests/System.Windows.Forms.Tests.csproj
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHost.VisualBasic6Tests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComponentModel/Com2Interop/COM2FontConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComponentModel/Com2Interop/ComNativeDescriptorTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Control.ActiveXFontMarshallerTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DynamicAxHost.cs
  src/System.Windows.Forms/tests/UnitTests/TestResources/ComClasses.cs
  src/System.Windows.Forms/tests/UnitTests/TestResources/VB6/SimpleControl.vb6
Due: production, test

Fix typos (dotnet/runtime#79136)
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/src/misc/GDI/WindowsGraphics.cs
Due: none

Make image nullable in ImageRectangle property of ToolStripMenuItem
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripMenuItem.ToolStripMenuItemInternalLayout.cs
Due: production

Move `DesignerActionToolStripDropDown` to its own file and make `DesignerActionUI` a partial class (#8318)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUI.DesignerActionToolStripDropDown.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUI.cs
Due: production

Added Toggle pattern support for MenuStrip items with CheckOnClick set to true and pre-checked menu items. Added unit tests for ToolStripMenuItemAccessibleObject to verify pattern implementation.
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripMenuItem.ToolStripMenuItemAccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripMenuItem.ToolStripMenuItemAccessibleObjectTests.cs
Due: production, test

Move `SerializationResourceManager` to own file (#8319)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ResourceCodeDomSerializer.SerializationResourceManager.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ResourceCodeDomSerializer.cs
Due: production

Fix double scaling for scrollbars (#8312)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollBar.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScrollBarTests.cs
Due: production, test

Convert `StubSite` to use Dictionary instead of HashTable and Enable Nullability (#8309)
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripControlHost.StubSite.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripControlHostTests.cs
Due: production, test

Refactoring to replace usages of HashTable Part Deux (#8313)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignSurfaceServiceContainer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/InheritanceService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/MultilineStringEditor.MultilineStringEditorUI.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DocumentDesigner.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/CommonProperties.cs
Due: production

Convert IDropSource/IDropSourceNotify
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.DoDragDrop.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IDropSource.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IDropSourceNotify.cs
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.IDropSourceNotifyVtbl.cs
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.IDropSourceVtbl.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Ole/IDropSource.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Ole/IDropSourceNotify.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DropSource.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
Due: production

Convert IDataObject and IEnumFORMATETC
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.IDataObjectVtbl.cs
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.IEnumFORMATETCVtbl.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/IDataObject.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/IEnumFORMATETC.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/STGMEDIUM.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.FormatEnumerator.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
Due: production

Address feedback.
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Layout/AnchorLayoutTests.LocalAppContextSwitchValue.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Layout/AnchorLayoutTests.cs
Due: test

Remove EnumFORMATETCWrapper
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.EnumFORMATETCWrapper.cs
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.cs
Due: none

Enable nullability for TestUtility Project
  src/Common/tests/TestUtilities/CommonMemberDataAttribute.cs
  src/Common/tests/TestUtilities/CommonTestHelper.cs
  src/Common/tests/TestUtilities/CustomConverter.cs
  src/Common/tests/TestUtilities/ITestAccessor.cs
  src/Common/tests/TestUtilities/ReflectionHelper.cs
  src/Common/tests/TestUtilities/System.Windows.Forms.Common.TestUtilities.csproj
  src/Common/tests/TestUtilities/TempFile.cs
  src/Common/tests/TestUtilities/TestAccessor.cs
  src/Common/tests/TestUtilities/TestAccessors.cs
  src/Common/tests/TestUtilities/XUnit/UseCultureAttribute.cs
Due: test

Undo rename
  src/Common/tests/TestUtilities/CustomConverter.cs
Due: test

`SelectionUIService` move contained classes/struct into own files (#8321)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SelectionUIService.ContainerSelectionUIItem.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SelectionUIService.HitTestInfo.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SelectionUIService.SelectionUIItem.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SelectionUIService.cs
Due: production

Refactor Design/DesignerActionUI to use Dictionary<object, DesignerActionGlyph> instead of HashTable Move Design/DesignerActionToolStripDropDown to own file and mark as sealed Fix blank line
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUI.cs
Due: production

Respond to feedback. Also connect and fixup IDispatch vtable.
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/IDispatch.Interface.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComponentModel/Com2Interop/COM2FontConverterTests.cs
Due: production, test

refactor DesignerActionToolStripDropDown
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUI.DesignerActionToolStripDropDown.cs
Due: production

small refactor
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUI.cs
Due: production
