Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/Microsoft.VisualBasic/src/
      - src/Microsoft.VisualBasic.Forms/src/
      - src/System.Drawing.Common/src/
      - src/System.Drawing.Design/src/
      - src/System.Private.Windows.Core/src/
      - src/System.Private.Windows.GdiPlus/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Analyzers/src/
      - src/System.Windows.Forms.Analyzers.CSharp/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
      - src/System.Windows.Forms.Primitives/src/
      - src/System.Windows.Forms.PrivateSourceGenerators/src/
  test:
    paths:
      - src/Common/tests/
      - src/Microsoft.VisualBasic/tests/
      - src/Microsoft.VisualBasic.Forms/tests/
      - src/System.Drawing.Common/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Analyzers/tests/
      - src/System.Windows.Forms.Analyzers.CSharp/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Primitives/tests/
      - src/System.Windows.Forms.PrivateSourceGenerators/tests/

Fix a series of Analyzer issues (backport from release/net9). (#13333)
  src/System.Windows.Forms.Analyzers.CSharp/src/System/Windows/Forms/CSharp/Analyzers/AvoidPassingTaskWithoutCancellationToken/AvoidPassingTaskWithoutCancellationTokenAnalyzer.cs
  src/System.Windows.Forms.Analyzers.CSharp/src/System/Windows/Forms/CSharp/Analyzers/MissingPropertySerializationConfiguration/MissingPropertySerializationConfigurationAnalyzer.cs
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Analyzers/AvoidPassingTaskWithoutCancellationToken/AvoidPassingTaskWithoutCancellationTokenAnalyzer.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Analyzers/MissingPropertySerializationConfiguration/MissingPropertySerializationConfigurationDiagnosticAnalyzer.vb
Due: production

Update the run-on setting to ubuntu-22.04 in .github/workflows /backport.yml
  .github/workflows/backport.yml
Due: none

Add code coverage for DesignerUtils
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignerUtilsTests.cs
Due: test

Add test for PR 13320
  src/test/integration/UIIntegrationTests/DataGridViewTests.cs
Due: none

Add Unit Test For issue 13305
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/Behavior/SnapLineTests.cs
Due: test

Add Unit Test For issue 13305 (#13343)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/Behavior/SnapLineTests.cs
Due: test

Removes leftover code from early attempt to fix #13234
  src/test/integration/DesignSurface/DemoConsole/MainForm.cs
Due: none

publishing APIs that we ship in NET10 Preview4
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/PublicAPI.Shipped.txt
  src/System.Windows.Forms/PublicAPI.Unshipped.txt
Due: production

publishing APIs that we ship in NET10 Preview4 (#13345)
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/PublicAPI.Shipped.txt
  src/System.Windows.Forms/PublicAPI.Unshipped.txt
Due: production

Update resourceManagement.yml
  .github/policies/resourceManagement.yml
Due: none

Update Versions.props
  eng/Versions.props
Due: none

Update Versions.props (#13347)
  eng/Versions.props
Due: none

Update resourceManagement.yml (#13346)
  .github/policies/resourceManagement.yml
Due: none

Update the run-on setting to ubuntu-22.04 in .github/workflows/backport.yml (#13340)
  .github/workflows/backport.yml
Due: none

Add _isReleasingDataSource to prevent unnecessary operations on CurrentCell when changing or releasing DataSource
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
Due: production

Removing field _isReleasingDataSource
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
Due: production

Add a new flag _dataGridViewOper[OperationInReleasingDataSource] instead of field _isReleasingDataSource
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
Due: production

fix #13305 Baseline SnapLines do not appear in DesignSurface
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/BehaviorService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/DragAssistanceManager.cs
Due: production

Add unit test
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/Behavior/SnapLineTests.cs
Due: test

Add _isReleasingDataSource to prevent unnecessary operations on CurrentCell when changing or releasing DataSource (#13320)
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.cs
Due: production

Add an additional retry in ClipboardTests
  src/test/unit/System.Windows.Forms/System/Windows/Forms/ClipboardTests.cs
Due: none

fix #13344 Disabled ToolstripMenuItems are no longer highlighted
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripItem.cs
Due: none

Address the FeedBacks
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignerUtilsTests.cs
Due: test

[release/9.0] fix #13071 Changing properties with RefreshProperties.All does not requery the property list in the PropertyGrid in .net 9 (worked in .net 8)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.GridEntryAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.Flags.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridTests.cs
Due: production, test

fix #13071 Changing properties with RefreshProperties.All does not requery the property list in the PropertyGrid in .net 9 (worked in .net 8) (#13295)
  src/System.Windows.Forms/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.GridEntryAccessibleObject.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.Flags.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
  src/test/unit/System.Windows.Forms/System/Windows/Forms/PropertyGridTests.cs
Due: none

Avoid input simulator
  src/test/integration/UIIntegrationTests/DataGridViewTests.cs
Due: none

this editor config is not present in the file system, removing it from the solution explorer
  Winforms.sln
Due: none

Retry ClipboardTests 4 times(#13329)
  src/test/unit/System.Windows.Forms/System/Windows/Forms/ClipboardTests.cs
Due: none

Moving tag OperationInReleasingDataSource to function "OnDataSourceDisposed"
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
Due: none

Add comment for the content of the function OnDataSourceDisposed
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
Due: none

modify unit test
  src/test/unit/System.Windows.Forms/System/Windows/Forms/ToolStripButtonTests.cs
Due: none

Add IsHandleCreated before invoking EndEdit
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
Due: none

fix unit test
  src/test/unit/System.Windows.Forms/System/Windows/Forms/ToolStripButtonTests.cs
Due: none

Move the judgment of IsHandleCreated to before defining currentCell
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
Due: none

Moving some cases from ClipboardTests class to ClipboardCoreTests
  src/System.Private.Windows.Core/tests/System.Private.Windows.Core.Tests/System/Private/Windows/Ole/ClipboardCoreTests.cs
  src/test/unit/System.Windows.Forms/System/Windows/Forms/ClipboardTests.cs
Due: none

Issue 12830 multi target demo console (#12996)
  .gitignore
  Winforms.sln
  eng/Versions.props
  src/test/integration/DesignSurface/DemoConsole/DemoConsole.csproj
  src/test/integration/DesignSurface/DemoConsole/MainForm.Designer.cs
  src/test/integration/DesignSurface/DemoConsole/MainForm.MyUserControl.cs
  src/test/integration/DesignSurface/DemoConsole/MainForm.cs
  src/test/integration/DesignSurface/DemoConsole/Properties/launchSettings.json
  src/test/integration/DesignSurface/DesignSurfaceExt/DesignSurfaceExt.cs
  src/test/integration/DesignSurface/DesignSurfaceExt/DesignSurfaceExt.csproj
  src/test/integration/DesignSurface/DesignSurfaceExt/NameCreationServiceImp.cs
  src/test/integration/DesignSurface/Directory.Build.props
  src/test/integration/DesignSurface/README.md
Due: none

Move props
  eng/Versions.props
Due: none

Add Framework folder from multitarget repository to the new multi-target version of DemoConsole
  src/test/integration/DesignSurface/DemoConsole/Framework/Analyzer.cs
  src/test/integration/DesignSurface/DemoConsole/Framework/HashHelpers.cs
  src/test/integration/DesignSurface/DemoConsole/Framework/Index.cs
  src/test/integration/DesignSurface/DemoConsole/Framework/Range.cs
  src/test/integration/DesignSurface/DemoConsole/Framework/readme.txt
Due: none

Add code coverage for DesignerUtils (#13341)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignerUtilsTests.cs
Due: test
