Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

7.0 preview 2 publishing APIs
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
Due: production

7.0 preview 2 publishing APIs (#6697)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
Due: production

branding for 7.0 preview 3
  eng/Versions.props
Due: none

branding for 7.0 preview 3 (#6698)
  eng/Versions.props
Due: none

Check whether groups are supported
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewGroup.cs
Due: production

[internal/release/5.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Add trimming support
  src/System.Windows.Forms/src/ILLink.Substitutions.xml
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/PictureBox.cs
Due: production

Pass SendKeys state by ref
  src/System.Windows.Forms/src/System/Windows/Forms/SendKeys.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/SendKeysTests.cs
Due: production, test

Update designer-related docs, add designer troubleshooting guide
  docs/designer-releases/0.1/gettingstarted.md
  docs/designer-releases/0.1/knownissues.md
  docs/designer-releases/0.1/readme.md
  docs/designer-releases/0.1/releasenotes.md
  docs/designer-releases/0.1/screenshots/01VisualStudioInstaller.png
  docs/designer-releases/0.1/screenshots/02VisualStudioInstaller.png
  docs/designer-releases/0.1/screenshots/03Initializing VSIX.png
  docs/designer-releases/0.1/screenshots/04InstallingVSIX.png
  docs/designer-releases/0.1/screenshots/05CreateNewProject.png
  docs/designer-releases/0.1/screenshots/06TheCoreDesigner.png
  docs/designer-releases/0.1/screenshots/07HelloWorldCoreForm.png
  docs/designer-releases/0.1/screenshots/08HelloWorldCodeEditor.png
  docs/designer-releases/0.1/screenshots/09WinFormsOutputPane.png
  docs/designer-releases/0.1/screenshots/10UnsupportedControls.png
  docs/designer-releases/0.1/screenshots/11SendFeedback.png
  docs/designer-releases/0.1/screenshots/12PLM_EmptyForm.png
  docs/designer-releases/0.1/screenshots/13EnabledPLM.png
  docs/designer-releases/readme.md
  docs/designer/net-inproc-designer.md
  docs/designer/readme.md
  docs/designer/troubleshooting.md
  docs/winforms-designer.md
Due: none

Added UIA support for split container
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.SplitContainerAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/SplitContainer.SplitContainerAccessibleObjectTests.cs
Due: production, test

Pass SendKeys state by ref (#6710)
  src/System.Windows.Forms/src/System/Windows/Forms/SendKeys.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/SendKeysTests.cs
Due: production, test

Added UIA support for split container (#6519)
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.SplitContainerAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/SplitContainer.SplitContainerAccessibleObjectTests.cs
Due: production, test

Apply PR feedback
  src/System.Windows.Forms/src/System/Windows/Forms/StringSource.cs
Due: production

Remove ExactSpelling from GeneratedDllImport (dotnet/runtime#65343)
  src/System.Drawing.Common/src/Interop/Windows/Interop.Comdlg32.cs
  src/System.Drawing.Common/src/Interop/Windows/Interop.Gdi32.cs
  src/System.Drawing.Common/src/Interop/Windows/Interop.Kernel32.cs
  src/System.Drawing.Common/src/Interop/Windows/Interop.Shell32.cs
  src/System.Drawing.Common/src/Interop/Windows/Interop.User32.cs
  src/System.Drawing.Common/src/Interop/Windows/Interop.Winspool.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
Due: none

Added UIA support for PrintPreviewControl
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/PrintPreviewControl.PrintPreviewControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PrintPreviewControl.PrintPreviewControlAccessibleObjectTests.cs
Due: production, test

Allow drop targets to display a drag image while the cursor is over the target window and add support for drop description icons and text.
  src/System.Windows.Forms.Primitives/src/Interop/Interop.CLSID.cs
  src/System.Windows.Forms.Primitives/src/Interop/Shell32/Interop.DROPDESCRIPTION.cs
  src/System.Windows.Forms.Primitives/src/Interop/Shell32/Interop.DROPIMAGETYPE.cs
  src/System.Windows.Forms.Primitives/src/Interop/Shell32/Interop.IDropTargetHelper.cs
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/DragDropHelper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DragEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DropIconType.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DropTarget.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/MainFormControlsTabOrder.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Data/DragDrop/DragAccept.rtf
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Data/DragDrop/NyanCat1.bmp
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Data/DragDrop/NyanCat2.bmp
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Data/DragDrop/NyanCat3.bmp
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Data/DragDrop/NyanCat4.bmp
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Data/DragDrop/NyanCat5.bmp
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/DragDrop.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/DragDrop.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/DragDrop.resx
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/WinformsControlsTest.csproj
Due: production, test

Tweak the drop description icon names.
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/DragDropHelper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DragEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DropIconType.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DropTarget.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/DragDrop.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/DragDrop.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/WinformsControlsTest.csproj
Due: production, test

Apply PR feeback
  src/System.Windows.Forms/src/System/Windows/Forms/PictureBox.cs
Due: production

Localize error message
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/System/Windows/Forms/PictureBox.cs
Due: production

Update SR files in System.Windows.Forms
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Explain localization process
  docs/building.md
Due: none

Remove S.R.CS.Unsafe and Intrinsify Unsafe (dotnet/runtime#64861)
  src/System.Drawing.Common/System.Drawing.Common.sln
Due: none

Enable nullability in CursorConverter
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Cursor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CursorConverter.cs
Due: production

Enable nullability in ListView
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ColumnHeader.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ItemCheckedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.ColumnHeaderCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.ListViewNativeItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.SelectedIndexCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.SelectedListViewItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
Due: production, test

Use OrThrowIfNull
  src/System.Windows.Forms/src/System/Windows/Forms/ItemCheckedEventArgs.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ItemCheckedEventArgsTests.cs
Due: production, test

Refactor UpdateSavedCheckedItems
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Add null checks
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Invert if
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Use columnCount
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Make filename nullable
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Remove redundant null checks
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Make lvItem non-nullable
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Return if topItem is null
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Enable nullability in LayoutSettings, FlowLayoutSettings and TableLayoutSettings
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/FlowLayoutSettings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LayoutSettings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutSettings.cs
Due: production

Adding UIA support for PrintPreviewControl (#6600)
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/PrintPreviewControl.PrintPreviewControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PrintPreviewControl.PrintPreviewControlAccessibleObjectTests.cs
Due: production, test

Fixed "expected" value of Text of a DateTimePicker
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DateTimePickerTests.cs
Due: test

Skipped flaky tests that fail successful PRs.
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/RichTextBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewTests.cs
Due: test

Skipped more flaky tests (#6731)
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/RichTextBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DateTimePickerTests.cs
Due: test

Enable nullability in CursorConverter (#6726)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Cursor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CursorConverter.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
