Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Make sealed classes with private constructors static (#2600)
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CheckBoxRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBoxRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GDI/TextRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GroupBoxRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Help.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ProfessionalColors.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ProgressBarRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RadioButtonRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollBarRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TrackBarRenderer.cs
Due: production

Remove dead OSFeature checks (#2599)
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropDown.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/FormTests.cs
  src/System.Windows.Forms/tests/UnitTests/ToolStripDropDownTests.cs
Due: production, test

Cleanup SplitterPanel (#2611)
  src/System.Windows.Forms/src/System/Windows/Forms/SplitterPanel.cs
Due: production

Cleanup NativeMethods SendMessage overloads (#2606)
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/NativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/System.Windows.Forms.Design.Editors.csproj
  src/System.Windows.Forms.Design.Editors/src/System/ComponentModel/Design/CollectionEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/ComponentModel/Design/ObjectSelectorEditor.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/CommandSet.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerFrame.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/FormDocumentDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripTemplateNode.cs
Due: production

Move IOleObject interface to interop (#2602)
  src/Common/src/Interop/Ole32/Interop.IOleInPlaceObjectWindowless.cs
  src/Common/src/Interop/Ole32/Interop.IOleObject.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.AxContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.OleInterfaces.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserSiteBase.cs
Due: production

Add ControlAccessibleObject tests (#2568)
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlAccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Control.ControlAccessibleObjectTests.cs
Due: production, test

Add PD and PD_RESULT enums in Interop Comdlg32
  src/Common/src/Interop/Comdlg32/Interop.PD.cs
  src/Common/src/Interop/Comdlg32/Interop.PD_RESULT.cs
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintDialog.cs
Due: production

Add BS enum to Interop User32
  src/Common/src/Interop/User32/Interop.BS.cs
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Button.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CheckBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GroupBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RadioButton.cs
Due: production

Fix DivideByZeroException in MonthCalendar
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/MonthCalendarTests.cs
Due: production, test

Add ListViewInsertionMark ComCtl32 tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewInsertionMarkTests.cs
Due: test

Collapse UnicodeCharBuffer into CharBuffer
  src/Common/src/UnicodeCharBuffer.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
Due: production

Remove the additional check (which is also done by SendTaskDialogMessage) because we no longer allocate memory in UpdateTextElement.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
Due: production

Cleanup MessageBox interop
  src/Common/src/Interop/User32/Interop.ID.cs
  src/Common/src/Interop/User32/Interop.MB.cs
  src/Common/src/Interop/User32/Interop.MessageBoxW.cs
  src/Common/src/SafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/NativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/System.Windows.Forms.Design.Editors.csproj
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/ColorEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBoxButtons.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBoxDefaultButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBoxIcon.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBoxOptions.cs
Due: production

Add PD and PD_RESULT enums in Interop Comdlg32 (#2594)
  src/Common/src/Interop/Comdlg32/Interop.PD.cs
  src/Common/src/Interop/Comdlg32/Interop.PD_RESULT.cs
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintDialog.cs
Due: production

Collapse UnicodeCharBuffer into CharBuffer (#2604)
  src/Common/src/UnicodeCharBuffer.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
Due: production

Cleanup MessageBox interop (#2605)
  src/Common/src/Interop/User32/Interop.ID.cs
  src/Common/src/Interop/User32/Interop.MB.cs
  src/Common/src/Interop/User32/Interop.MessageBoxW.cs
  src/Common/src/SafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/NativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/System.Windows.Forms.Design.Editors.csproj
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/ColorEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBoxButtons.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBoxDefaultButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBoxIcon.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBoxOptions.cs
Due: production

Fix DivideByZeroException in MonthCalendar (#2499)
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/MonthCalendarTests.cs
Due: production, test

Cleanup Control.SendMessage (#2607)
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkLabel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollableControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
Due: production

Add ListViewInsertionMark ComCtl32 tests (#2556)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewInsertionMarkTests.cs
Due: test

Add BS enum to Interop User32 (#2617)
  src/Common/src/Interop/User32/Interop.BS.cs
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Button.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CheckBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GroupBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RadioButton.cs
Due: production

Buffer changes to TaskDialogPage.MainInstruction, TaskDialogPage.Text, TaskDialogFooter.Text and TaskDialogExpander.Text that are done after starting a navigation but before navigation is finished.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogExpander.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogFooter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogPage.cs
Due: production

Refactor.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogProgressBar.cs
Due: production

Always set the progress bar position a second time to work reliably when the state is not 'Normal'.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogProgressBar.cs
Due: production

Simplify.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogFooter.cs
Due: production

Don't allow to navigate the dialog if we already received the TDN_DESTROYED notification.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
Due: production

Buffer changes to the TaskDialogProgressBar properties that are done after starting a navigation but before navigation is finished.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogFooter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogProgressBar.cs
Due: production

Add TrackBar tests and update tests to match styles for other ComCtl32 controls
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TBM.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TrackBar.cs
  src/System.Windows.Forms/tests/UnitTests/CheckedListBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ContainerControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Handlers.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Properties.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/MonthCalendarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PanelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PictureBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ProgressBarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScrollBarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/TrackBarTests.cs
Due: production, test

Add ToolStripRenderer tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripRendererTests.cs
Due: test

Cleanup NM_ constants
  src/System.Windows.Forms.Design.Editors/src/System/ComponentModel/Design/ObjectSelectorEditor.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.NM.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ComponentEditorForm.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/StatusBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
Due: production

Cleanup HDM constants
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.HDM.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.SendMessageW.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.WindowMessage.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ColumnHeader.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Cleanup TCN constants
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TCN.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
Due: production

Cleanup ERROR_ constants
  src/System.Windows.Forms.Primitives/src/Interop/Interop.ERROR.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Cleanup some Menu interop
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

Cleanup IPersist interface and related interfaces
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IPersist.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IPersistStream.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IPersistStreamInit.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Update for changes in #2518.
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.PBST.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.PFTASKDIALOGCALLBACK.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TASKDIALOGCONFIG.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TASKDIALOG_BUTTON.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDCBF.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDE.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDF.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDIE.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDM.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDN.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TaskDialogIndirect.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.DialogBoxCommandID.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
Due: production

Move IPersistProperty bag to Interop
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IPersistPropertyBag.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Cleanup TTN_ constants
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TTN.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
Due: production

Cleanup TTN_ constants (#2631)
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TTN.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
