Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

spelling: practically
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TextRendererTests.cs
Due: test

spelling: hierarchy
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabPageTests.cs
Due: test

spelling: style
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/UpDownBaseTests.cs
Due: test

spelling: nothing
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewTests.Rendering.cs
Due: test

spelling: properties
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridInternal/PropertiesTabTests.cs
Due: test

spelling: forward
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/WebBrowserTests.cs
Due: test

spelling: success
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TimerTests.cs
Due: test

spelling: invoke
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
Due: test

spelling: minus
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TextBoxBase.TextBoxBaseUiaTextProviderTests.cs
Due: test

spelling: object
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/PropertyGridToolStripButton.PropertyGridToolStripButtonAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripLabel.ToolStripLabelAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripSeparator.ToolStripSeparatorAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripSplitButton.ToolStripSplitButtonAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripStatusLabel.ToolStripStatusLabelAccessibleObjectTests.cs
Due: test

spelling: scroll
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListBoxTests.cs
Due: test

spelling: options
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.cs
Due: test

spelling: expanded
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNode.IKeyboardToolTipTests.cs
Due: test

spelling: regression
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TextRendererTests.cs
Due: test

spelling: serialize
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/OwnerDrawPropertyBagTests.cs
Due: test

spelling: navigate
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewGroup.ListViewGroupAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewItem.ListViewItemAccessibleObjectTests.cs
Due: test

spelling: target
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
Due: test

spelling: value
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBox.ComboBoxChildEditUiaProviderTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBox.ComboBoxUiaTextProviderTests.cs
Due: test

spelling: suspending
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListControlTests.cs
Due: test

spelling: workaround
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/LabelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabPageTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolTipTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/UpDownBaseTests.cs
Due: test

spelling: visible
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/NotifyIconTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScrollableControlTests.cs
Due: test

spelling: without
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBox.ComboBoxUiaTextProviderTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TextBoxBase.TextBoxBaseUiaTextProviderTests.cs
Due: test

spelling: view
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewRowTests.cs
Due: test

spelling: suppress
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/Microsoft.Dotnet.Winforms.ProjectTemplates.csproj
Due: none

spelling: explicitly
  pkg/Microsoft.Private.Winforms/ProcessFrameworkListFiles.ps1
Due: none

spelling: abandoned
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/BasicDesignerLoader.ReloadOptions.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/BasicDesignerLoader.cs
Due: production

spelling: acquire
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TabOrder.cs
Due: production

spelling: additionally
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
Due: production

spelling: address
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ByteViewer.cs
Due: production

spelling: adorner
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/DesignerActionGlyph.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDesigner.cs
Due: production

spelling: alignment
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlCommandSet.cs
Due: production

spelling: actually
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/MultilineStringEditor.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/BasicDesignerLoader.cs
Due: production

spelling: accessed
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionService.cs
Due: production

spelling: flush
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignSurfaceTests.cs
Due: test

spelling: expected
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/MenuCommandsTests.cs
Due: test

spelling: serialized
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationServiceTests.cs
Due: test

spelling: implementation
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/FontNameEditorTests.cs
Due: test

spelling: component
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionServiceTests.cs
Due: test

spelling: appropriate
  src/System.Windows.Forms.Primitives/src/Interop/Mso/Interop.msocstate.cs
Due: none

spelling: indicate
  src/System.Windows.Forms.Primitives/src/Interop/VSSDK/Interop.IVsPerPropertyBrowsing.cs
Due: none

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
