Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

use generic stack for DeviceContext
  src/System.Drawing.Common/src/misc/GDI/DeviceContext.cs
Due: none

Update tests
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ListViewTests.cs
  src/System.Windows.Forms/tests/InteropTests/AccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/CheckedListBoxItemAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ComboBox.ComboBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/Control.ControlAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/DataGridView.DataGridViewEditingPanelAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/DataGridViewAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/LinkLabel.Link.LinkAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ListVIew.ListViewAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ListViewItem.ListViewItemAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ToolStripAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBox.ComboBoxChildListUiaProviderTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridInternal/AccessibleObjects/PropertyDescriptorGridEntry.PropertyDescriptorGridEntryAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridInternal/AccessibleObjects/PropertyGridView.GridViewTextBox.GridViewTextBoxAccessibleObjectTests.cs
Due: test

place comment on own line
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripOverflowButton.ToolStripOverflowButtonAccessibleObject.cs
Due: production

Fix build error
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ListVIew.ListViewAccessibleObjectTests.cs
Due: test

change from review
  src/System.Drawing.Common/src/System/Drawing/Internal/SystemColorTracker.cs
Due: none

Replace WeakHashtable with ConditionalWeakTable<object, Com2Properties> in ComNativeDescriptor
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/ComNativeDescriptor.cs
  src/System.Windows.Forms/src/misc/WeakHashtable.cs
Due: production

Always query for IUnknown when comparing AgileComPointer equality
  src/System.Windows.Forms.Primitives/src/Windows/Win32/Foundation/AgileComPointer.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Windows/Win32/AgileComPointerTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.AxContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlWindow.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/HtmlWindowTests.cs
Due: production, test

Repalce Gdip HashTable with Dictionary<object, object>()
  src/System.Drawing.Common/src/System/Drawing/Gdiplus.cs
Due: none

Use TryGetValue to Avoid KeyNotFoundException
  src/System.Drawing.Common/src/System/Drawing/Brushes.cs
  src/System.Drawing.Common/src/System/Drawing/Pens.cs
Due: none

Use TryGetValue to Avoid KeyNotFoundException
  src/System.Drawing.Common/src/System/Drawing/SystemBrushes.cs
  src/System.Drawing.Common/src/System/Drawing/SystemPens.cs
Due: none

swicht to object? not var
  src/System.Drawing.Common/src/System/Drawing/SystemBrushes.cs
  src/System.Drawing.Common/src/System/Drawing/SystemPens.cs
Due: none

Fix IDataObject NotImplementedExceptions for drag and drop private formats
  src/System.Windows.Forms/src/System/Windows/Forms/DragDropHelper.cs
Due: production

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20231115.20
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Fix InDragLoopFormat test
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DragDropHelperTests.cs
Due: test

Add CsWin32 to System.Drawing.Common
  src/System.Drawing.Common/src/NativeMethods.json
  src/System.Drawing.Common/src/NativeMethods.txt
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
Due: none

Migrate GetSystemDefaultLCID
  src/System.Drawing.Common/src/Interop/Windows/Kernel32/Interop.GetSystemDefaultLCID.cs
  src/System.Drawing.Common/src/NativeMethods.txt
  src/System.Drawing.Common/src/System/Drawing/SystemFonts.cs
Due: none

Enable nullability in some DataGridView.Methods members
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
Due: production

Migrate GlobalAlloc
  src/System.Drawing.Common/src/Interop/Windows/Kernel32/Interop.GlobalAlloc.cs
  src/System.Drawing.Common/src/NativeMethods.txt
  src/System.Drawing.Common/src/System/Drawing/Printing/PrinterSettings.cs
Due: none

Update comment and test
  src/System.Windows.Forms.Primitives/src/Windows/Win32/Foundation/AgileComPointer.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Windows/Win32/AgileComPointerTests.cs
Due: none

Remove unnecessary using statement
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.TreeViewAccessibleObject.cs
Due: production

update test
  src/System.Windows.Forms.Primitives/tests/UnitTests/Windows/Win32/AgileComPointerTests.cs
Due: none

Return new ListSortDescriptionCollection instead of null
  src/System.Windows.Forms/src/System/Windows/Forms/BindingSource.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BindingSourceTests.cs
Due: production, test

Use expression body
  src/System.Windows.Forms/src/System/Windows/Forms/BindingSource.cs
Due: production

Enable nullability in remaining BindingSource members
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/BindingSource.cs
Due: production

Add comment about _itemType
  src/System.Windows.Forms/src/System/Windows/Forms/BindingSource.cs
Due: production

Enable nullability in some DataGridView.Methods members (#10294)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
Due: production

Always Query for IUnknown when Comparing AgileComPointer for Identity (#10318)
  src/System.Windows.Forms.Primitives/src/Windows/Win32/Foundation/AgileComPointer.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Windows/Win32/AgileComPointerTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.AxContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlWindow.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/HtmlWindowTests.cs
Due: production, test

Refactor DataGridView to use SinglyLinkedList instead of DataGridViewIntLinkedList
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/SinglyLinkedList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewIntLinkedList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewIntLinkedListElement.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewIntLinkedListEnumerator.cs
Due: production

Fix Find
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/SinglyLinkedList.cs
Due: none

Use _selectedBandIndexes.First is not null instead of _selectedBandIndexes.Count > 0
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
Due: production

Use AddOrUpdate instead of Add for consistency with previous implementation
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/ComNativeDescriptor.cs
Due: production

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20231116.10
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Replace `Gdip` `HashTable` with `Dictionary<object, object>` (#10317)
  src/System.Drawing.Common/src/System/Drawing/Brushes.cs
  src/System.Drawing.Common/src/System/Drawing/Gdiplus.cs
  src/System.Drawing.Common/src/System/Drawing/Pens.cs
  src/System.Drawing.Common/src/System/Drawing/SystemBrushes.cs
  src/System.Drawing.Common/src/System/Drawing/SystemPens.cs
Due: none

Enable nullability in remaining BindingSource members (#10253)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/BindingSource.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BindingSourceTests.cs
Due: production, test

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
