Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below
  behavior: default               # updates, if exists; otherwise post new
  require_changes: false          # post comment even if coverage does not change
  require_head: yes               # must have these two in order to post
  require_base: yes

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Fix AnchorEditor/DockEditor ICEs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/AnchorEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/DockEditor.cs
Due: production

Add BorderSidesEditor tests
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Windows/Forms/Design/BorderSidesEditorTests.cs
Due: test

Fix BorderSidesEditor bugs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/BorderSidesEditor.cs
Due: production

Add ShortcutKeysEditor tests
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Windows/Forms/Design/ShortcutKeysEditorTests.cs
Due: test

Fix ShortcutKeysEditor bugs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/ShortcutKeysEditor.cs
Due: production

Align the callback exception handling logic with the NativeWindow implementation.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.WindowSubclassHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WindowSubclassHandler.cs
Due: production

Fix DesignSurface NRE bug
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignSurface.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerHost.cs
Due: production

Minor documentation improvement.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogPage.cs
Due: production

PR feedback to reduce nesting
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/ShortcutKeysEditor.cs
Due: production

PR feedback
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/CursorEditor.cs
Due: production

PR feedback
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/BorderSidesEditor.cs
Due: production

PR feedback
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/ColorEditor.cs
Due: production

PR feedback
  src/System.Windows.Forms.Design.Editors/src/System/ComponentModel/Design/ObjectSelectorEditor.cs
Due: production

PR feedback
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/AnchorEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/DockEditor.cs
Due: production

Fix FlowLayout argument validation
  src/System.Windows.Forms/src/System/Windows/Forms/FlowLayoutPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FlowLayoutSettings.cs
Due: production

Add FlowLayout tests
  src/System.Windows.Forms/tests/UnitTests/FlowLayoutPanelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/FlowLayoutPanelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/FlowLayoutSettingsTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: test

Fix a NRE that can occur when explicitely setting the CheckBox, Expander, Footer or ProgressBar properties of the TaskDialogPage to null.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogPage.cs
Due: production

Simplify LINQ expressions.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogPage.cs
Due: production

Update dependenices manually Temporary workaround for https://github.com/dotnet/winforms/issues/1304
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Rename Config to config
  NuGet.config
Due: none

Rename Config to config (#1306)
  NuGet.config
Due: none

Minor API and doc tweaks
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.WindowSubclassHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogButtonClickedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCheckbox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCustomButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogExpander.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogRadioButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStandardButton.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190708.05
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Add MauiDragDropEffectsTests case
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDragDropEffectsTests/MauiDragDropEffectsTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDragDropEffectsTests/MauiDragDropEffectsTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiDragDropEffectsTests.cs
Due: test

Update dependencies from https://github.com/dotnet/core-setup build 20190708.06
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Add MauiDataGridViewEditModeTests test case
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDataGridViewEditModeTests/MauiDataGridViewEditModeTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDataGridViewEditModeTests/MauiDataGridViewEditModeTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiDataGridViewEditModeTests.cs
Due: test

Add new cases
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiBackgroundWorkerTests/MauiBackgroundWorkerTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiBackgroundWorkerTests/MauiBackgroundWorkerTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCheckBoxTests/MauiCheckBoxTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCheckBoxTests/MauiCheckBoxTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiContextMenuTests/MauiContextMenuTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiContextMenuTests/MauiContextMenuTests.csproj
Due: test

Add Xunit cases
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiBackgroundWorkerTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiCheckBoxTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiContextMenuTests.cs
Due: test

Update dependencies from https://github.com/dotnet/core-setup build 20190708.08
  eng/Version.Details.xml
  eng/Versions.props
Due: none

add 2 test case
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiGetListItemPropertiesTests/MauiGetListItemPropertiesTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiGetListItemPropertiesTests/MauiGetListItemPropertiesTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiGetListTests/MauiGetListTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiGetListTests/MauiGetListTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiGetListItemPropertiesTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiGetListTests.cs
Due: test

Public
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiBackgroundWorkerTests/MauiBackgroundWorkerTests.cs
Due: test

Add new case
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAutoFill_BasicBehaviorTests/AdditionalSources/DataGridViewCellStyleTestUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAutoFill_BasicBehaviorTests/AdditionalSources/DataGridViewUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAutoFill_BasicBehaviorTests/AdditionalSources/DerivedDataGridView.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAutoFill_BasicBehaviorTests/MauiAutoFill_BasicBehaviorTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAutoFill_BasicBehaviorTests/MauiAutoFill_BasicBehaviorTests.csproj
Due: test

Add a new cs
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAutoFill_BasicBehaviorTests/AdditionalSources/DerivedDataGridView.cs
Due: test

Add new cases
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/AdditionalSources/DataGridViewCellStyleTestUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/AdditionalSources/DataGridViewUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/AdditionalSources/DerivedDataGridView.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/MauiCellStyles07Tests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/MauiCellStyles07Tests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDataBindingAttributes01_ExistenceTests/MauiDataBindingAttributes01_ExistenceTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDataBindingAttributes01_ExistenceTests/MauiDataBindingAttributes01_ExistenceTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDblBuffSecurityChecksTests/MauiDblBuffSecurityChecksTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDblBuffSecurityChecksTests/MauiDblBuffSecurityChecksTests.csproj
Due: test

Add Control.Site tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
Due: test

Fix InvalidCastExeption in Control.AmbientPropertiesService
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Delete files
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAutoFill_BasicBehaviorTests/AdditionalSources/DataGridViewCellStyleTestUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAutoFill_BasicBehaviorTests/AdditionalSources/DataGridViewUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAutoFill_BasicBehaviorTests/AdditionalSources/DerivedDataGridView.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAutoFill_BasicBehaviorTests/MauiAutoFill_BasicBehaviorTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAutoFill_BasicBehaviorTests/MauiAutoFill_BasicBehaviorTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/AdditionalSources/DataGridViewCellStyleTestUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/AdditionalSources/DataGridViewUtils.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/AdditionalSources/DerivedDataGridView.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/MauiCellStyles07Tests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiCellStyles07Tests/MauiCellStyles07Tests.csproj
Due: test

Add new cases
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDataBindingAttributes01_ExistenceTests/MauiDataBindingAttributes01_ExistenceTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDataBindingAttributes01_ExistenceTests/MauiDataBindingAttributes01_ExistenceTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiDblBuffSecurityChecksTests/MauiDblBuffSecurityChecksTests.cs
Due: test

add 3 test cases
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiIndexerTests/MauiIndexerTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiIndexerTests/MauiIndexerTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiLabelTests/MauiLabelTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiLabelTests/MauiLabelTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiPrintingImprovmentsTests/MauiPrintingImprovmentsTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiPrintingImprovmentsTests/MauiPrintingImprovmentsTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiIndexerTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiLabelTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiPrintingImprovmentsTests.cs
Due: test

new cases
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiDblBuffSecurityChecksTests.cs
Due: test
