Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Update src/System.Windows.Forms/src/System/Windows/Forms/Input/Cursor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Input/Cursor.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2342281
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2342281 (#10548)
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Only upload test results when tests run
  eng/pipelines/post-build.yml
Due: none

Enable the xUnit1004 refactoring
  eng/CodeAnalysis.test.globalconfig
Due: none

Stabilize ImageList_FinalizerReleasesNativeHandle_ReturnsExpected
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ImageListTests.cs
Due: test

Only upload test results when tests run (#10553)
  eng/pipelines/post-build.yml
Due: none

Stabilize ImageList_FinalizerReleasesNativeHandle_ReturnsExpected (#10555)
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ImageListTests.cs
Due: test

Fix dynamic invocation of InitializeStatics
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Dpi/FormDpiTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Dpi/SplitContainerTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Dpi/ToolStripItemTests.Dpi.cs
Due: test

Add PropertyDescriptor to cache if it is found
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.ShadowPropertyCollection.cs
Due: production

Fix CS0436 error
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/InternalTestAccessors.KeyboardToolTipStateMachineTestAccessor.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewGroupTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridInternal/InternalTestAccessors.PropertyGridTestAccessor.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridInternal/InternalTestAccessors.PropertyGridViewTestAccessor.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
Due: test

Refactor SnapLines to use IList directly instead of casting to ArrayList Minor refactors
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ButtonBaseDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ComboBoxDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/FlowPanelDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/LabelDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TextBoxBaseDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/UpDownBaseDesigner.cs
Due: production

Refactor Add ListAdapter and use IList<SnapLine>
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/FormDocumentDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ListAdapter.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ParentControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SplitContainerDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripContainerDesigner.cs
Due: production

Add IWrapper and AdapterHelpers and use them throughout
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/DragAssistanceManager.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ButtonBaseDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ComboBoxDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DateTimePickerDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/FlowPanelDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/LabelDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ListAdapter.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ParentControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TextBoxBaseDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/UpDownBaseDesigner.cs
Due: production

Fix up missed usages of Unwrap
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ParentControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SplitContainerDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripContainerDesigner.cs
Due: production

Refactor to use IList<SnapLine>
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/BehaviorService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ButtonBaseDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ComboBoxDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DateTimePickerDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/FlowPanelDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/LabelDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TextBoxBaseDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/UpDownBaseDesigner.cs
Due: production

Fixes #10546
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.ListViewAccessibleObject.cs
Due: production

Fix dynamic invocation of InitializeStatics (#10556)
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Dpi/FormDpiTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Dpi/SplitContainerTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Dpi/ToolStripItemTests.Dpi.cs
Due: test

fix isssue 10516 [Accessibility] CheckBox control should support ValuePattern property (#10533)
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Buttons/CheckBox.CheckBoxAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/CheckedListBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/CheckBox.CheckBoxAccessibleObjectTests.cs
Due: production, test

Update branding to 6.0.27
  eng/Versions.props
Due: none

Update branding to 7.0.16
  eng/Versions.props
Due: none

Update branding to 8.0.2
  eng/Versions.props
Due: none

Don't generate a reference assembly to appease packaging
  src/System.Windows.Primitives/src/System.Windows.Primitives.csproj
Due: none

Removed comment becasue it's outdated as the owner control field is a weak reference now
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TextBox/TextBoxBase.TextBoxBaseAccessibleObject.cs
Due: production

Fix descriptors cache in `ShadowPropertyCollection` (#10521)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.ShadowPropertyCollection.cs
Due: production

Add the shared library to System.Drawing.Common nupkg (following runtime targets)
  eng/packageContent.targets
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
Due: none

Move all test-related definitions into own Tests.props and Tests.targets
  Directory.Build.props
  Directory.Build.targets
  eng/Test.props
  eng/Test.targets
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/Microsoft.VisualBasic.Forms.Tests.vbproj
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft.VisualBasic.Tests.csproj
  src/System.Windows.Forms.Design/tests/UnitTests/System.Windows.Forms.Design.Tests.csproj
  src/System.Windows.Forms.Primitives/tests/TestUtilities.Tests/System.Windows.Forms.Primitives.TestUtilities.Tests.csproj
  src/System.Windows.Forms.Primitives/tests/TestUtilities/System.Windows.Forms.Primitives.TestUtilities.csproj
  src/System.Windows.Forms.Primitives/tests/UnitTests/System.Windows.Forms.Primitives.Tests.csproj
  src/System.Windows.Forms.PrivateSourceGenerators/tests/UnitTests/System.Windows.Forms.PrivateSourceGenerators.Tests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/System.Windows.Forms.IntegrationTests.Common.csproj
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/System.Windows.Forms.UI.IntegrationTests.csproj
  src/System.Windows.Forms/tests/InteropTests/System.Windows.Forms.Interop.Tests.csproj
  src/System.Windows.Forms/tests/TestUtilities/System.Windows.Forms.TestUtilities.csproj
  src/System.Windows.Forms/tests/UnitTests/System.Windows.Forms.Tests.csproj
Due: test

Use the assignment operator to avoid New a point object
  src/System.Windows.Forms.Design/src/System/Drawing/Design/IconEditor.cs
Due: production

Add rectangle.Offset in IconEditor.cs
  src/System.Drawing.Common/src/System/Drawing/Icon.cs
  src/System.Windows.Forms.Design/src/System/Drawing/Design/IconEditor.cs
Due: production

Fix issue 9999: Update function Icon.Draw to use targetRect to calculate offset
  src/System.Drawing.Common/src/System/Drawing/Icon.cs
Due: none

Move all test-related definitions into own Tests.props and Tests.targets (#10567)
  Directory.Build.props
  Directory.Build.targets
  eng/Test.props
  eng/Test.targets
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/Microsoft.VisualBasic.Forms.Tests.vbproj
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft.VisualBasic.Tests.csproj
  src/System.Windows.Forms.Design/tests/UnitTests/System.Windows.Forms.Design.Tests.csproj
  src/System.Windows.Forms.Primitives/tests/TestUtilities.Tests/System.Windows.Forms.Primitives.TestUtilities.Tests.csproj
  src/System.Windows.Forms.Primitives/tests/TestUtilities/System.Windows.Forms.Primitives.TestUtilities.csproj
  src/System.Windows.Forms.Primitives/tests/UnitTests/System.Windows.Forms.Primitives.Tests.csproj
  src/System.Windows.Forms.PrivateSourceGenerators/tests/UnitTests/System.Windows.Forms.PrivateSourceGenerators.Tests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/System.Windows.Forms.IntegrationTests.Common.csproj
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/System.Windows.Forms.UI.IntegrationTests.csproj
  src/System.Windows.Forms/tests/InteropTests/System.Windows.Forms.Interop.Tests.csproj
  src/System.Windows.Forms/tests/TestUtilities/System.Windows.Forms.TestUtilities.csproj
  src/System.Windows.Forms/tests/UnitTests/System.Windows.Forms.Tests.csproj
Due: test

Revert "fix isssue 10516 [Accessibility] CheckBox control should support ValuePattern property (#10533)"
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Buttons/CheckBox.CheckBoxAccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/CheckBox.CheckBoxAccessibleObjectTests.cs
Due: production, test

Enabel code coverage on internal builds
  Test.targets
  eng/MergeCoverageData.ps1
  eng/Test.props
  eng/pipelines/build.yml
  src/System.Windows.Forms.Primitives/tests/TestUtilities.Tests/System.Windows.Forms.Primitives.TestUtilities.Tests.csproj
Due: none

Try to remove upload coverage to codevoc.io task, to see the results.
  eng/pipelines/build.yml
Due: none

Remove upload coverage to codevoc.io task, and update filter type
  eng/MergeCoverageData.ps1
  eng/pipelines/build.yml
Due: none

Add upload data to codecov.io task back to pipeline
  eng/pipelines/build.yml
Due: none

Try to remove PublishCodeCoverageResults task from task
  eng/pipelines/build.yml
Due: none

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
