Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Remove remaining comments
  src/System.Windows.Forms/src/System/Windows/Forms/Button.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CheckBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CheckedListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DateTimePicker.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GroupBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Label.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Panel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PictureBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ProgressBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RadioButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/StatusBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripMenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TrackBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/UpDownBase.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190505.11
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190505.13
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190505.14
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190505.15
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190506.02
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Added unit test to check ComboBox item accessible object doesn't throw an exception
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
Due: test

Removed extra usings
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
Due: test

Added unit test for ComboBox (#928)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
Due: test

Update dependencies from https://github.com/dotnet/core-setup build 20190506.03
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/arcade build 20190505.2
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190506.04
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190506.05
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190506.06
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190506.07
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190506.08
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Add CollectionEditor tests and fix bugs (#799)
  src/System.Windows.Forms.Design.Editors/src/System/ComponentModel/Design/CollectionEditor.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/CollectionEditorTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/ComponentModel/Design/CollectionEditorTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/ComponentModel/Design/CollectionFormTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/tests/UnitTests/System/Drawing/Design/UITypeEditorTests.cs
Due: production, test

Update dependencies from https://github.com/dotnet/core-setup build 20190506.09
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190506.10
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190506.11
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190506.12
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Fix VS Configurations for all projects in corefx (dotnet/corefxdotnet/runtime#37477)
  src/System.Drawing.Common/System.Drawing.Common.sln
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190506.14
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190506.15
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190506.17
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190506.18
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190506.19
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190506.20
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Added scroll implementation when some item selected
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190506.21
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Fixed code formatting
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.cs
Due: production

Fixed code formatting 2
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.cs
Due: production

Added ScrollItem pattern. Implemented ScrollIntoView
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ListBoxAccessibleObjectTests.cs
Due: production, test

Update dependencies from https://github.com/dotnet/arcade build 20190506.12
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/build.sh
  eng/common/dotnet-install.cmd
  eng/common/dotnet-install.ps1
  eng/common/dotnet-install.sh
  eng/common/templates/job/job.yml
  eng/common/tools.ps1
  eng/common/tools.sh
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190507.02
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190507.04
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190507.05
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
