Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Break the expression body after the =>
  src/System.Windows.Forms/System/Windows/Forms/Controls/TabControl/TabControl.cs
Due: none

Implement FormScreenCaptureMode property in Form.
  src/System.Windows.Forms/System/Windows/Forms/Form.cs
Due: none

Fix ListView ColumnHeaders dark mode theme change.
  src/System.Windows.Forms/System/Windows/Forms/Controls/ListView/ListView.cs
Due: none

Fixes darkmode issue in ComboBoxRenderer.
  src/System.Windows.Forms/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ComboBox/ComboBoxRenderer.cs
Due: none

Add tests for DesignBindingPicker
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignBindingPickerTests.cs
Due: test

Add unit test for ArrayElementGridEntry.cs file
  src/test/unit/System.Windows.Forms/System/Windows/Forms/PropertyGridInternal/ArrayElementGridEntryTests.cs
Due: none

Delete eng/helixpublish.proj
  eng/helixpublish.proj
Due: none

Move to xunit.v3
  Directory.Build.props
  Directory.Packages.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/helixpublish.proj
  src/Common/tests/TestUtilities/System.Private.Windows.Core.TestUtilities.csproj
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft.VisualBasic.Tests.csproj
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System.Windows.Forms.Analyzers.CSharp.Tests.csproj
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/System.Windows.Forms.Analyzers.VisualBasic.Tests.vbproj
  src/System.Windows.Forms.Analyzers/tests/UnitTests/System.Windows.Forms.Analyzers.Tests.csproj
  src/System.Windows.Forms.Primitives/tests/TestUtilities/System.Windows.Forms.Primitives.TestUtilities.csproj
  src/test/util/System.Windows.Forms/System.Windows.Forms.TestUtilities.csproj
Due: test

Address API breaks in xunit.v3
  src/Common/tests/TestUtilities/CommonTestHelper.cs
  src/Common/tests/TestUtilities/XUnit/CommonMemberDataAttribute.cs
  src/Common/tests/TestUtilities/XUnit/SkipOnArchitectureAttribute.cs
  src/Common/tests/TestUtilities/XUnit/SkipOnArchitectureDiscoverer.cs
  src/Common/tests/TestUtilities/XUnit/UseCultureAttribute.cs
Due: test

Address more breaks
  src/System.Private.Windows.Core/tests/BinaryFormatTests/FormatTests/FormattedObject/BinaryFormatWriterTests.cs
  src/System.Private.Windows.Core/tests/BinaryFormatTests/SerializationRecordExtensionsTests.cs
Due: none

Fix more errors
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/ApplicationServices/SingleInstanceTests.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Analyzers/AvoidPassingTaskWithoutCancellationToken/AvoidPassingTaskWithoutCancellationTokenTest.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Analyzers/MissingPropertySerializationConfiguration/ControlPropertySerializationDiagnosticAnalyzerTest.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Generators/ApplicationConfigurationGenerator/ApplicationConfigurationGeneratorTests.cs
  src/System.Windows.Forms.Analyzers/tests/UnitTests/Analyzers/AppManifestAnalyzer/AppManifestAnalyzerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/ButtonBaseDesignerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignerUtilsTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/FileDialogCustomPlaceTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/FileDialogCustomPlacesCollectionTests.cs
Due: test

Null out host handle in OleInterfaces when disposing (#13532)
  src/System.Windows.Forms/System/Windows/Forms/ActiveX/AxHost.OleInterfaces.cs
Due: none

Update
  src/test/unit/System.Windows.Forms/System/Windows/Forms/PropertyGridInternal/ArrayElementGridEntryTests.cs
Due: none

Update
  src/test/unit/System.Windows.Forms/System/Windows/Forms/PropertyGridInternal/GridToolTipTests.cs
Due: none

Update Fact to WinFormsFact
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignBindingPickerTests.cs
Due: test

1. Address the FeedBacks 2. Add test cases for Protected method/properties
  src/test/unit/System.Windows.Forms/System/Windows/Forms/DataGridViewLinkCellTests.cs
Due: none

Update method Drop of DropTarget.cs
  src/System.Windows.Forms/System/Windows/Forms/OLE/DropTarget.cs
Due: none

OutputType
  eng/Test.props
Due: none

Update Microsoft.VisualBasic.Forms.Tests.vbproj
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/Microsoft.VisualBasic.Forms.Tests.vbproj
Due: test

Update BinaryFormatTests.csproj
  src/System.Private.Windows.Core/tests/BinaryFormatTests/BinaryFormatTests.csproj
Due: none

Fix command-line
  eng/pipelines/build-PR.yml
  eng/pipelines/build.yml
Due: none

Fix
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/Devices/MouseTests.cs
  src/System.Drawing.Common/tests/System/Drawing/BitmapTests.cs
  src/System.Drawing.Common/tests/System/Drawing/Drawing2D/BlendTests.cs
  src/System.Drawing.Common/tests/System/Drawing/Drawing2D/ColorBlendTests.cs
  src/System.Drawing.Common/tests/System/Drawing/FontConverterTests.cs
  src/System.Drawing.Common/tests/System/Drawing/Printing/PageSettingsTests.cs
  src/System.Drawing.Common/tests/System/Drawing/Printing/PreviewPrintControllerTests.cs
  src/System.Drawing.Common/tests/System/Drawing/Printing/PrintControllerTests.cs
  src/System.Drawing.Common/tests/System/Drawing/Printing/PrintDocumentTests.cs
  src/System.Drawing.Common/tests/System/Drawing/Printing/PrinterSettingsTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/BmpCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/GifCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/IconCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/JpegCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/TiffCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/BitmapTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/ComCtl32/MCGRIDINFOTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/ComCtl32/TASKDIALOGCONFIGIconUnionTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/ComCtl32/TASKDIALOGCONFIGTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/ComCtl32/TASKDIALOG_BUTTONTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/Comdlg32/PRINTDLGWTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/Oleaut32/SAFEARRAYTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/Oleaut32/VARIANTTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/PARAMTests.cs
Due: test

Address FeedBacks
  src/test/unit/System.Windows.Forms/System/Windows/Forms/DataGridViewLinkCellTests.cs
Due: none

fix #13539 Unable select ToolStripMenuItem and TooStripTextBox of MenuStrip2 in DemoConsole application
  src/test/integration/DesignSurface/DemoConsole/MainForm.cs
Due: none

Add code coverage for DataGridViewImageColumn
  src/test/unit/System.Windows.Forms/System/Windows/Forms/DataGridViewImageColumnTests.cs
Due: none

Fix 13538: Update method Drop of DropTarget.cs (#13542)
  src/System.Windows.Forms/System/Windows/Forms/OLE/DropTarget.cs
Due: none

Delete eng/helixpublish.proj (#13541)
  eng/helixpublish.proj
Due: none

Restore "Use Data Bound Items" support in ListBox/ComboBox Smart Tags
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ListControlUnboundActionList.cs
Due: production

Update branding to 8.0.18
  eng/Versions.props
Due: none

Update branding to 9.0.7
  eng/Versions.props
Due: none

Introduce InitializeControl and refactor for DarkMode and InitialDPI passing.
  src/System.Windows.Forms/PublicAPI.Shipped.txt
  src/System.Windows.Forms/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/Buttons/Button.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/Buttons/ButtonBase.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/Buttons/CheckBox.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/Buttons/RadioButton.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/Labels/Label.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ListBoxes/ListBox.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/PictureBox/PictureBox.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ProgressBar/ProgressBar.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/HelpPane.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/Splitter/Splitter.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/TabControl/TabControl.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/TabControl/TabPage.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/TextBox/TextBoxBase.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/TrackBar/TrackBar.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/TreeView/TreeView.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/UpDown/UpDownBase.UpDownButtons.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/UpDown/UpDownBase.cs
  src/System.Windows.Forms/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/System/Windows/Forms/MDI/MDIClient.cs
  src/System.Windows.Forms/System/Windows/Forms/Panels/Panel.cs
  src/System.Windows.Forms/System/Windows/Forms/Scrolling/ScrollBar.cs
  src/System.Windows.Forms/System/Windows/Forms/Scrolling/ScrollableControl.cs
Due: none

Introduce InitializeControl and refactor for DarkMode and InitialDPI passing.
  src/System.Windows.Forms/System/Windows/Forms/FormCornerPreference.cs
Due: none

Fix DarkMode StatusStrip background renderer.
  src/System.Windows.Forms/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/StatusStrip.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripSystemRenderer.cs
Due: none

Implement ToolStripSystemDarkModeRenderer.
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripSystemDarkModeRenderer.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripSystemRenderer.cs
Due: none

Fix the StatusStripSizingGrip.
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripRenderer.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripSystemDarkModeRenderer.cs
  src/System.Windows.Forms/System/Windows/Forms/Form.cs
Due: none

Change Grip renderer to use predefined shape.
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripRenderer.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripSystemDarkModeRenderer.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripSystemRenderer.cs
Due: none

First batch of addressed review suggestions.
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripRenderer.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripRendererSwitcher.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripSystemDarkModeRenderer.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripSystemRenderer.cs
Due: none

Add GDI-Plus general optimization Co-Pilot instructions.
  GDIPlus-copilot-instructions.md
  Winforms.sln
Due: none

Refactor ToolStripRenderer classes and improve generic and GDIPlus Copilot Instruction files.
  .github/Copilot/GDIPlus-copilot-instructions.md
  .github/copilot-instructions.md
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripRenderer.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripSystemDarkModeRenderer.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripSystemRenderer.cs
  src/System.Windows.Forms/System/Windows/Forms/Form.cs
Due: none

Path conditions:
  production: any of: src/Common/src/, src/Microsoft.VisualBasic/src/, src/Microsoft.VisualBasic.Forms/src/, src/System.Drawing.Common/src/, src/System.Drawing.Design/src/, src/System.Private.Windows.Core/src/, src/System.Private.Windows.GdiPlus/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Analyzers/src/, src/System.Windows.Forms.Analyzers.CSharp/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/, src/System.Windows.Forms.Primitives/src/, src/System.Windows.Forms.PrivateSourceGenerators/src/
  test: any of: src/Common/tests/, src/Microsoft.VisualBasic/tests/, src/Microsoft.VisualBasic.Forms/tests/, src/System.Drawing.Common/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Analyzers/tests/, src/System.Windows.Forms.Analyzers.CSharp/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Primitives/tests/, src/System.Windows.Forms.PrivateSourceGenerators/tests/
