Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Fix for OOM exception while running Analyzer tests on x86 platform (#14328)
  src/Common/tests/TestUtilities/XUnit/ForceGCAttribute.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Analyzers/AvoidPassingTaskWithoutCancellationToken/AvoidPassingTaskWithoutCancellationTokenTest.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Analyzers/MissingPropertySerializationConfiguration/ControlPropertySerializationDiagnosticAnalyzerTest.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Analyzers/WFO1001/ImplementITypedDataObjectTests.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Generators/ApplicationConfigurationGenerator/ApplicationConfigurationGeneratorTests.cs
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/AvoidPassingTaskWithoutCancellationTokenTests.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/MissingPropertySerializationConfigurationAnalyzerTest.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/WFO1001/ImplementITypedDataObjectTests.vb
Due: test

Handles feedback
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripRenderer.cs
Due: none

Remove unused code
  src/System.Private.Windows.Core/src/GlobalSuppressions.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/BinaryFormat/Deserializer/ArrayRecordDeserializer.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/BinaryFormat/Deserializer/ArrayUpdater.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/BinaryFormat/Deserializer/ClassRecordDeserializer.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/BinaryFormat/Deserializer/ClassRecordFieldInfoDeserializer.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/BinaryFormat/Deserializer/ClassRecordSerializationInfoDeserializer.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/BinaryFormat/Deserializer/DefaultTypeResolver.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/BinaryFormat/Deserializer/DeserializationOptions.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/BinaryFormat/Deserializer/Deserializer.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/BinaryFormat/Deserializer/FieldValueUpdater.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/BinaryFormat/Deserializer/IDeserializer.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/BinaryFormat/Deserializer/ObjectRecordDeserializer.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/BinaryFormat/Deserializer/PendingSerializationInfo.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/BinaryFormat/Deserializer/SerializationInfoValueUpdater.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/BinaryFormat/Deserializer/ValueUpdater.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/BinaryFormat/SerializationEvents.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/BinaryFormat/SerializationInfoExtensions.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/Nrbf/SerializationRecordExtensions.cs
Due: production

Update package source key in NuGet.config
  NuGet.config
Due: none

Failing test: All iterations of test 'CS_ApplicationConfigurationGenerator_GenerateInitialize_fails_if_project_type_unsupported' are failing.
  src/Common/tests/TestUtilities/XUnit/ForceGCAttribute.cs
Due: test

Fix issue 11939
  src/System.Windows.Forms/System/Windows/Forms/Help/Help.cs
Due: none

Fix issue 11938
  src/System.Windows.Forms/System/Windows/Forms/Controls/ProgressBar/ProgressBar.cs
Due: none

fix codes by suggestion
  src/System.Windows.Forms/System/Windows/Forms/Controls/ProgressBar/ProgressBar.cs
Due: none

Skipping analyzer tests on x86 architecture as they are running into OOM exception.
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Analyzers/AvoidPassingTaskWithoutCancellationToken/AvoidPassingTaskWithoutCancellationTokenTest.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Analyzers/MissingPropertySerializationConfiguration/ControlPropertySerializationDiagnosticAnalyzerTest.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Analyzers/WFO1001/ImplementITypedDataObjectTests.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Generators/ApplicationConfigurationGenerator/ApplicationConfigurationGeneratorTests.cs
Due: test

Updating build agent images for release/8.0 to VS 2022 GA
  azure-pipelines-richnav.yml
  azure-pipelines.yml
  eng/pipelines/build-PR.yml
Due: none

Skipping VB analyzer tests also on x86 due to OOM.
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/AvoidPassingTaskWithoutCancellationTokenTests.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/MissingPropertySerializationConfigurationAnalyzerTest.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/WFO1001/ImplementITypedDataObjectTests.vb
Due: none

Building analyzer test assemblies only for x64
  eng/Test.targets
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Analyzers/AvoidPassingTaskWithoutCancellationToken/AvoidPassingTaskWithoutCancellationTokenTest.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Analyzers/MissingPropertySerializationConfiguration/ControlPropertySerializationDiagnosticAnalyzerTest.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Analyzers/WFO1001/ImplementITypedDataObjectTests.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Generators/ApplicationConfigurationGenerator/ApplicationConfigurationGeneratorTests.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System.Windows.Forms.Analyzers.CSharp.Tests.csproj
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/AvoidPassingTaskWithoutCancellationTokenTests.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/MissingPropertySerializationConfigurationAnalyzerTest.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/WFO1001/ImplementITypedDataObjectTests.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/System.Windows.Forms.Analyzers.VisualBasic.Tests.vbproj
Due: test

Update Copilot recommended changes
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridViewCell.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridViewColumnHeaderCell.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridViewComboBoxCell.DataGridViewComboBoxCellRenderer.cs
Due: none

Update branding on release/9.0
  eng/Versions.props
Due: none

Update branding on release/8.0
  eng/Versions.props
Due: none

Skipping analyzer tests in x86
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System.Windows.Forms.Analyzers.CSharp.Tests.csproj
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/System.Windows.Forms.Analyzers.VisualBasic.Tests.vbproj
Due: test

Removed SkipOnX86TestBase
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/AvoidPassingTaskWithoutCancellationTokenTests.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/MissingPropertySerializationConfigurationAnalyzerTest.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/WFO1001/ImplementITypedDataObjectTests.vb
Due: none

Skip VB tests on x86
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/AvoidPassingTaskWithoutCancellationTokenTests.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/MissingPropertySerializationConfigurationAnalyzerTest.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/WFO1001/ImplementITypedDataObjectTests.vb
Due: none

- Skipping Analyzer tests on x86 due to OOM exception. - Added '--ignore-exit-code 8' switch in PR builds to avoid build failure as xunit returns exit code 8 when the assembly has no tests to execute.
  eng/pipelines/build-PR.yml
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Analyzers/AvoidPassingTaskWithoutCancellationToken/AvoidPassingTaskWithoutCancellationTokenTest.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Analyzers/MissingPropertySerializationConfiguration/ControlPropertySerializationDiagnosticAnalyzerTest.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Analyzers/WFO1001/ImplementITypedDataObjectTests.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Generators/ApplicationConfigurationGenerator/ApplicationConfigurationGeneratorTests.cs
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/AvoidPassingTaskWithoutCancellationTokenTests.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/MissingPropertySerializationConfigurationAnalyzerTest.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/Analyzers/WFO1001/ImplementITypedDataObjectTests.vb
Due: test

Introduce the Copilot skill infrastructure to the WinForms runtime repo.
  .github/copilot-instructions.md
  .github/skills/code-modernization/SKILL.md
  .github/skills/coding-standards/SKILL.md
Due: none

Add System.Diagnostics.DiagnosticSource version
  Directory.Packages.props
  Winforms.sln
  eng/Version.Details.props
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Fix for intermittent test failure on x86 platform.
  src/test/unit/System.Windows.Forms/System/Windows/Forms/BindingContextTests.cs
Due: none

Instrumenting VB tests is failing to find the task for some reason when run through the build command. Attempting to skip this project.
  Directory.Build.props
  Directory.Build.targets
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft.VisualBasic.Tests.csproj
Due: test

Skip instrumentation for the polyfills test project
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft.VisualBasic.Tests.csproj
  src/test/unit/Microsoft.Private.Windows.Polyfills/Microsoft.Private.Windows.Polyfills.Tests.csproj
Due: test

Fix issue 14049
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/CollectionEditor.CollectionEditorCollectionForm.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/CollectionEditorTests.cs
Due: production, test

Try updating to the latest coverlet to address multi-targeting issues
  eng/Versions.props
  src/test/unit/Microsoft.Private.Windows.Polyfills/Microsoft.Private.Windows.Polyfills.Tests.csproj
Due: none

Override package reference versions for .NET Framework
  eng/Versions.props
  src/test/integration/DesignSurface/DemoConsole/DemoConsole.csproj
Due: none

Ensure the TargetPath is set before InstrumentModulesNoBuild
  Directory.Build.targets
Due: none

Path conditions:
  production: any of: src/Common/src/, src/Microsoft.VisualBasic/src/, src/Microsoft.VisualBasic.Forms/src/, src/System.Drawing.Common/src/, src/System.Drawing.Design/src/, src/System.Private.Windows.Core/src/, src/System.Private.Windows.GdiPlus/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Analyzers/src/, src/System.Windows.Forms.Analyzers.CSharp/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/, src/System.Windows.Forms.Primitives/src/, src/System.Windows.Forms.PrivateSourceGenerators/src/
  test: any of: src/Common/tests/, src/Microsoft.VisualBasic/tests/, src/Microsoft.VisualBasic.Forms/tests/, src/System.Drawing.Common/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Analyzers/tests/, src/System.Windows.Forms.Analyzers.CSharp/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Primitives/tests/, src/System.Windows.Forms.PrivateSourceGenerators/tests/
