Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Fix: adding option to use Control.Invoke on Binding updates because of UI Thread concurrency exceptions.
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Binding.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBindingConverter.cs
Due: production

Port DateTimePickerDesigner to runtime
  src/System.Design/src/System.Design.Forwards.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DateTimePickerDesigner.cs
  src/System.Windows.Forms/tests/IntegrationTests/DesignSurface/DemoConsole/MainForm.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/DesignerAttributeTests.cs
Due: production, test

Enable in-build signing based on branch
  azure-pipelines.yml
Due: none

Enable in-build signing based on branch (#8551)
  azure-pipelines.yml
Due: none

[release/8.0-preview1] Enable in-build signing based on branch (#8553)
  azure-pipelines.yml
Due: none

Clean up after code review
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DateTimePickerDesigner.cs
Due: production

Add switch for ServicePointManager.CheckCertificateRevocationList and fix tests
  src/System.Windows.Forms.Primitives/src/System/LocalAppContextSwitches/LocalAppContextSwitches.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PictureBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PictureBoxTests.cs
Due: production, test

General clean up and fix tests
  src/System.Windows.Forms.Primitives/src/System/LocalAppContextSwitches/LocalAppContextSwitches.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PictureBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PictureBoxTests.cs
Due: production, test

Add test for ListView KeyUp event
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
Due: test

Remove blank line
  src/System.Windows.Forms.Primitives/src/System/LocalAppContextSwitches/LocalAppContextSwitches.cs
Due: none

Fix `KeyUp` event on `Listview` control (#8546)
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
Due: production, test

Fix KeyUp event on Listview
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Update src/System.Windows.Forms.Design/src/System/ComponentModel/Design/SelectionService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/SelectionService.cs
Due: production

Changes from review
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/SelectionService.cs
Due: production

Port DateTimePickerDesigner to runtime (#8549)
  src/System.Design/src/System.Design.Forwards.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DateTimePickerDesigner.cs
  src/System.Windows.Forms/tests/IntegrationTests/DesignSurface/DemoConsole/MainForm.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/DesignerAttributeTests.cs
Due: production, test

Refactor `ToolStripControlHost.Control` property to throw `ObjectDisposedException` if null (#8509)
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripControlHost.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripControlHostTests.cs
Due: production, test

Update fabricbot.json
  .github/fabricbot.json
Due: none

Update fabricbot.json (#8560)
  .github/fabricbot.json
Due: none

Update arcade dependencies to get pool provider selection changes
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/generate-locproject.ps1
  eng/common/loc/P22DotNetHtmlLocalization.lss
  eng/common/templates/job/source-build.yml
  eng/common/templates/variables/pool-providers.yml
  global.json
Due: none

Plumbing through usage of /eng/common/templates/variables/pool-providers.yml
  azure-pipelines-richnav.yml
  azure-pipelines.yml
  eng/pipelines/azure-pipelines-codeql.yml
  eng/pipelines/build.yml
Due: none

remove initial sizing for _contextAttributes
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/SelectionService.cs
Due: production

Removing invalid labels from closed/merged PRs
  .github/fabricbot.json
Due: none

Removing invalid labels from closed/merged PRs (#8565)
  .github/fabricbot.json
Due: none

Address feedback
  src/System.Windows.Forms.Primitives/src/System/LocalAppContextSwitches/LocalAppContextSwitches.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/LocalAppContextSwitchesTest.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PictureBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PictureBoxTests.cs
Due: production, test

address feedback
  src/System.Windows.Forms.Primitives/src/System/LocalAppContextSwitches/LocalAppContextSwitches.cs
Due: none

Refactor `SelectionService` to replace `ArrayList` and enable Nullability (#8528)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/SelectionService.cs
Due: production

feat: testing binding constructor with invoke option
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BindingTests.cs
Due: test

Adding test for component update outsite STA Thread
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/WinformsControlsTest.cs
Due: test

Adding test to update control from another thread successfully
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/WinformsControlsTest.cs
Due: test

Adding API for bindings with invoke options
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ControlBindingsCollection.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlBindingsCollectionTests.cs
Due: production, test

Use TryGetObject instead of ContainsObject and GetObject
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewBand.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCellStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewLinkCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripMenuItem.cs
Due: production

Convert to conditional expression and use expression body
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCellStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
Due: production

EnableAotAnalyzer by default for src libraries (dotnet/runtime#81608)
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
Due: none

Update arcade dependencies to get pool provider selection changes, plumb through usage of /eng/common/templates/variables/pool-providers.yml
  azure-pipelines-richnav.yml
  azure-pipelines.yml
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/generate-locproject.ps1
  eng/common/loc/P22DotNetHtmlLocalization.lss
  eng/common/templates/job/source-build.yml
  eng/common/templates/variables/pool-providers.yml
  eng/pipelines/azure-pipelines-codeql.yml
  eng/pipelines/build.yml
  global.json
Due: none

changes from review
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
Due: production

Refactored to remove HashTable Refactored for null-ability annotations General code cleanup
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
Due: production

more changes
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
Due: production
