Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/Microsoft.VisualBasic/src/
      - src/Microsoft.VisualBasic.Forms/src/
      - src/System.Drawing.Common/src/
      - src/System.Drawing.Design/src/
      - src/System.Private.Windows.Core/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Analyzers/src/
      - src/System.Windows.Forms.Analyzers.CSharp/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
      - src/System.Windows.Forms.Primitives/src/
      - src/System.Windows.Forms.PrivateSourceGenerators/src/
  test:
    paths:
      - src/Common/tests/
      - src/Microsoft.VisualBasic/tests/
      - src/Microsoft.VisualBasic.Forms/tests/
      - src/System.Drawing.Common/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Analyzers/tests/
      - src/System.Windows.Forms.Analyzers.CSharp/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Primitives/tests/
      - src/System.Windows.Forms.PrivateSourceGenerators/tests/

update unit test
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/MaskDesignerDialogTests.cs
Due: test

removed unnecessary casts added a baseline test for the future changes
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BinaryFormatUtilitiesTests.cs
Due: production, test

Add unit tests for LinkLabel (#12572)
  src/System.Windows.Forms/tests/UnitTests/LinkLabelTests.cs
Due: test

removed unnecessary casts that I had missed before (#12585)
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BinaryFormatUtilitiesTests.cs
Due: production, test

Add unit test for MaskedTextBoxDesignerActionList (#12491)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/MaskedTextBoxDesignerActionListTests.cs
Due: test

Add File Classification for runtime pack (#12578)
  pkg/Microsoft.Private.Winforms/README.md
  pkg/Microsoft.Private.Winforms/sdk/dotnet-windowsdesktop/System.Windows.Forms.FileClassification.props
  pkg/Microsoft.Private.Winforms/sdk/dotnet-windowsdesktop/UpdateFileClassification.ps1
Due: none

Add WPF test visibility to System.Private.Windows.Core (#12581)
  src/System.Private.Windows.Core/src/Properties/AssemblyInfo.cs
Due: production

Add unit test for MaskDesignerDialog (#12575)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/MaskDesignerDialogTests.cs
Due: test

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20241205.7
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Set MouseIsOver = false in OnLostFocus method
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
Due: production

Remove extra blank line
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
Due: production

Fix RTF format test in the RichTextBox.
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/RichTextBox/RichTextBox.cs
Due: production

Correct type in ToolTip.cs.
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip/ToolTip.cs
Due: production

Address remaining feedback while keeping all tests passing.
  src/System.Private.Windows.Core/src/Windows/Win32/Foundation/WPARAM.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/Gdi/CreatePenScope.cs
Due: production

reactive changes
  docs/list-of-diagnostics.md
  src/Common/src/Obsoletions.cs
  src/Common/tests/TestUtilities/AppContextSwitchNames.cs
  src/Common/tests/TestUtilities/BinaryFormatterInClipboardDragDropScope.cs
  src/Common/tests/TestUtilities/NrbfSerializerInClipboardDragDropScope.cs
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/ClipboardProxy.vb
  src/Microsoft.VisualBasic.Forms/src/Obsoletions.vb
  src/Microsoft.VisualBasic.Forms/src/PublicAPI.Unshipped.txt
  src/System.Private.Windows.Core/src/Windows/Win32/Foundation/HRESULT.cs
  src/System.Windows.Forms/src/GlobalSuppressions.cs
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/Formatter.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DesignBehaviorsTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/runtimeconfig.template.json
  src/System.Windows.Forms/tests/UnitTests/System.Windows.Forms.Tests.csproj
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BinaryFormat/WinFormsBinaryFormattedObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BinaryFormatUtilitiesTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataObjectTests.ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripItemTests.cs
Due: production, test

Throw the NotSupportedException that was serialized to the clipboard, for example when the OOB Formatters assembly is not referenced of enabled.
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/MyServices/ClipboardProxyTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.Composition.BinaryFormatUtilities.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/NativeToWinFormsAdapterTests.cs
Due: production, test

Implemented ITypedDataObject
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/MyServices/ClipboardProxyTests.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/Core/Nrbf/SerializationRecordExtensions.cs
  src/System.Windows.Forms.Primitives/src/System/LocalAppContextSwitches/LocalAppContextSwitches.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/TypeExtensions.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/Clipboard.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.BitmapBinder.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.Composition.BinaryFormatUtilities.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.Composition.Binder.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.Composition.NativeToWinFormsAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.Composition.TypeNameComparer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.Composition.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.DataStore.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObjectExtensions.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/IDataObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/ITypedDataObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BinaryFormatUtilitiesTests.FullCompatScope.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BinaryFormatUtilitiesTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataObjectExtensionsTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DragDropHelperTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/NativeToWinFormsAdapterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TypeExtensionsTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TypeNameComparerTests.cs
Due: production, test

Do not attempt to read HGLOBAL if managed serialization failed when writing data to it
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.Composition.NativeToWinFormsAdapter.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/NativeToWinFormsAdapterTests.cs
Due: production, test

Handle FeedBacks
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewComboBoxCell.ObjectCollectionTests.cs
Due: test

Add unit test
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
Due: production, test

Unhook the mouse down hook at the end of PropertyGridView.ProcessEnumUpAndDown (#12508)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
Due: production

Add UIA_AutomationFocusChangedEventId to SelectInternal of the TextBoxBase.cs (#12479)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TextBox/TextBoxBase.cs
Due: production

Update the logic about the attribute [RefreshProperties(RefreshProperties.All)] on PropertyGridView.cs (#12356)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/tests/IntegrationTests/DesignSurface/DemoConsole/MainForm.cs
Due: production, test

Fixed the issue where edit textBox loses focus when using up/down to switch property values ​​on edit textBox (#12431)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
Due: production

Correct formatting in DPI_AWARENESS_CONTEXT.
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/HiDpi/DPI_AWARENESS_CONTEXT.cs
Due: production

Avoids a `System.InvalidCastException` error to be thrown when passing `ObjectCollection` to `AddRangeInternal` of the `DataGridViewComboBoxCell.ObjectCollection` class
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewComboBoxCell.ObjectCollection.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewComboBoxCell.ObjectCollectionTests.cs
Due: production, test

Add additional error defines
  src/System.Private.Windows.Core/src/NativeMethods.txt
  src/System.Private.Windows.Core/src/Windows/Win32/Foundation/HRESULT.cs
Due: production

Use Generic Overloads in VB Code
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Audio.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeMethods.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.SECURITY_ATTRIBUTES.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/SecurityAttributesTests.vb
Due: production, test

Add additional error defines (#12614)
  src/System.Private.Windows.Core/src/NativeMethods.txt
  src/System.Private.Windows.Core/src/Windows/Win32/Foundation/HRESULT.cs
Due: production

reactive changes
  docs/list-of-diagnostics.md
  src/Common/src/Obsoletions.cs
  src/Common/tests/TestUtilities/AppContextSwitchNames.cs
  src/Common/tests/TestUtilities/BinaryFormatterInClipboardDragDropScope.cs
  src/Common/tests/TestUtilities/NrbfSerializerInClipboardDragDropScope.cs
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/ClipboardProxy.vb
  src/Microsoft.VisualBasic.Forms/src/Obsoletions.vb
  src/Microsoft.VisualBasic.Forms/src/PublicAPI.Unshipped.txt
  src/System.Private.Windows.Core/src/Windows/Win32/Foundation/HRESULT.cs
  src/System.Windows.Forms/src/GlobalSuppressions.cs
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/Formatter.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DesignBehaviorsTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/runtimeconfig.template.json
  src/System.Windows.Forms/tests/UnitTests/System.Windows.Forms.Tests.csproj
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BinaryFormat/WinFormsBinaryFormattedObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BinaryFormatUtilitiesTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataObjectTests.ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripItemTests.cs
Due: production, test

Review feedback - renamed the test scope, pattern matching in DataStore, string interpolation in test file; simplify code to read forwarded from attribute
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/TypeExtensions.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.Composition.BinaryFormatUtilities.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.DataStore.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BinaryFormatUtilitiesTests.BinaryFormatterFullCompatScope.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BinaryFormatUtilitiesTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DragDropHelperTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/NativeToWinFormsAdapterTests.cs
Due: production, test

Add missing test to improve coverage
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/Devices/AudioTests.cs
Due: test
