Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Shorten lines
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkDownloadTests.vb
Due: test

Shorten long lines
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkDownloadTests.vb
Due: test

Delete NativeTypesTests left over from Merge
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NativeTypesTests.vb
Due: test

[internal/release/9.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20241017.7
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20241017.11
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

PR feedback
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/CompilerServices.TestVbHost.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/CompilerServicesTests.vb
Due: test

Pr feedback
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ComputerInfoDebugViewTests.vb
Due: test

Handle FeedBacks
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripComboBoxTests.cs
Due: test

Use TestAccessor().Dynamic
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignerExtendersTests.cs
Due: test

Delete unnecessary using
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignerExtendersTests.cs
Due: test

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20241017.18
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Add test for SplitterPanelDesigner.cs (#12269)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/SplitterPanelDesignerTests.cs
Due: test

Improve test coverage for FileLogTestListner
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/FileLogTraceListenerTests.vb
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/Logging/FileLogTraceListenerTests.cs
Due: test

Fix String format
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/FileLogTraceListenerTests.vb
Due: test

Code coverage for Interaction from PR #11863 (#12320)
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ClipboardProxyTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/CompilerServices.TestVbHost.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/CompilerServicesTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/InteractionTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/StartupInfoTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/TestData/TimeTestData.vb
Due: test

Remove Platform Test it should not be needed in ComputerInfoDebugView
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ComputerInfoDebugViewTests.vb
Due: test

Merged PR 44021: [internal/release/9.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Improve test coverage
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/FileLogTraceListenerTests.vb
Due: test

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20241018.14
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Name NameOf fix in AssemblyInfo.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/AssemblyInfo.vb
Due: production

Fix Debug.Assert in AssemblyInfo.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/AssemblyInfo.vb
Due: production

Fix some types from Main in VB Code
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/AssemblyInfo.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Audio.vb
Due: production

Cleanup Event Handler names
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/WebClientCopy.vb
Due: production

Handle feedback
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DesignerExtendersTests.cs
Due: test

Add unit tests for DataGridViewColumnDesigner
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DataGridViewColumnDesignerTests.cs
Due: test

Removing the [RefreshProperties(RefreshProperties.All)] for AutoSize property
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Labels/Label.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/Microsoft.VisualBasic/src/, src/Microsoft.VisualBasic.Forms/src/, src/System.Drawing.Common/src/, src/System.Drawing.Design/src/, src/System.Private.Windows.Core/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Analyzers/src/, src/System.Windows.Forms.Analyzers.CSharp/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/, src/System.Windows.Forms.Primitives/src/, src/System.Windows.Forms.PrivateSourceGenerators/src/
  test: any of: src/Common/tests/, src/Microsoft.VisualBasic/tests/, src/Microsoft.VisualBasic.Forms/tests/, src/System.Drawing.Common/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Analyzers/tests/, src/System.Windows.Forms.Analyzers.CSharp/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Primitives/tests/, src/System.Windows.Forms.PrivateSourceGenerators/tests/
