Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add Designer documentation for Preview1 release.
  Documentation/designer-releases/0.1/gettingstarted.md
  Documentation/designer-releases/0.1/knownissues.md
  Documentation/designer-releases/0.1/readme.md
  Documentation/designer-releases/0.1/releasenotes.md
  Documentation/designer-releases/0.1/screenshots/01VisualStudioInstaller.png
  Documentation/designer-releases/0.1/screenshots/02VisualStudioInstaller.png
  Documentation/designer-releases/0.1/screenshots/03Initializing VSIX.png
  Documentation/designer-releases/0.1/screenshots/04InstallingVSIX.png
  Documentation/designer-releases/0.1/screenshots/05CreateNewProject.png
  Documentation/designer-releases/0.1/screenshots/06TheCoreDesigner.png
  Documentation/designer-releases/0.1/screenshots/07HelloWorldCoreForm.png
  Documentation/designer-releases/0.1/screenshots/08HelloWorldCodeEditor.png
  Documentation/designer-releases/0.1/screenshots/09WinFormsOutputPane.png
  Documentation/designer-releases/0.1/screenshots/10UnsupportedControls.png
  Documentation/designer-releases/0.1/screenshots/11SendFeedback.png
  Documentation/designer-releases/0.1/screenshots/12PLM_EmptyForm.png
  Documentation/designer-releases/0.1/screenshots/13EnabledPLM.png
  Documentation/designer-releases/readme.md
  Documentation/winforms-designer.md
  README.md
Due: none

Add Designer documentation for Preview1 release. (#1956)
  Documentation/designer-releases/0.1/gettingstarted.md
  Documentation/designer-releases/0.1/knownissues.md
  Documentation/designer-releases/0.1/readme.md
  Documentation/designer-releases/0.1/releasenotes.md
  Documentation/designer-releases/0.1/screenshots/01VisualStudioInstaller.png
  Documentation/designer-releases/0.1/screenshots/02VisualStudioInstaller.png
  Documentation/designer-releases/0.1/screenshots/03Initializing VSIX.png
  Documentation/designer-releases/0.1/screenshots/04InstallingVSIX.png
  Documentation/designer-releases/0.1/screenshots/05CreateNewProject.png
  Documentation/designer-releases/0.1/screenshots/06TheCoreDesigner.png
  Documentation/designer-releases/0.1/screenshots/07HelloWorldCoreForm.png
  Documentation/designer-releases/0.1/screenshots/08HelloWorldCodeEditor.png
  Documentation/designer-releases/0.1/screenshots/09WinFormsOutputPane.png
  Documentation/designer-releases/0.1/screenshots/10UnsupportedControls.png
  Documentation/designer-releases/0.1/screenshots/11SendFeedback.png
  Documentation/designer-releases/0.1/screenshots/12PLM_EmptyForm.png
  Documentation/designer-releases/0.1/screenshots/13EnabledPLM.png
  Documentation/designer-releases/readme.md
  Documentation/winforms-designer.md
  README.md
Due: none

Make the Core designer more obvious
  Documentation/winforms-designer.md
Due: none

More tweaks
  Documentation/winforms-designer.md
Due: none

Updates
  Documentation/winforms-designer.md
Due: none

Make the Core Designer part of the doc (#1957)
  Documentation/winforms-designer.md
Due: none

Update winforms-designer.md
  Documentation/winforms-designer.md
Due: none

Cleanup DWebBrowserEvents2
  src/Common/src/Interop/SHDocVw/Interop.CSC.cs
  src/Common/src/Interop/SHDocVw/Interop.DWebBrowserEvents2.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowser.cs
Due: production

Add some WebBrowser tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PictureBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/WebBrowserTests.cs
Due: test

Structify and cleanup LVFINDINFOW/NMLVFINDITEMW
  src/Common/src/Interop/ComCtl32/Interop.LVFI.cs
  src/Common/src/Interop/ComCtl32/Interop.LVFINDINFOW.cs
  src/Common/src/Interop/ComCtl32/Interop.NMLVFINDITEMW.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Cleanup IOleCommandTarget
  src/Common/src/Interop/Ole32/Interop.IOleCommandTarget.cs
  src/Common/src/Interop/Ole32/Interop.OLECMD.cs
  src/Common/src/Interop/Ole32/Interop.OLECMDEXECOPT.cs
  src/Common/src/Interop/Ole32/Interop.OLECMDF.cs
  src/Common/src/Interop/Ole32/Interop.OLECMDID.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowser.cs
Due: production

Cleanup SystemParametersInfo interop
  src/Common/src/Interop/Gdi32/Interop.CreateFontIndirectW.cs
  src/Common/src/Interop/Gdi32/Interop.GetObjectW.cs
  src/Common/src/Interop/Interop.WindowMessages.cs
  src/Common/src/Interop/User32/Interop.HIGHCONTRASTW.cs
  src/Common/src/Interop/User32/Interop.LOGFONTW.cs
  src/Common/src/Interop/User32/Interop.NONCLIENTMETRICSW.cs
  src/Common/src/Interop/User32/Interop.SPI.cs
  src/Common/src/Interop/User32/Interop.SystemParametersInfoW.cs
  src/Common/src/Interop/User32/Interop.WindowMessage.cs
  src/Common/src/Interop/UxTheme/Interop.GetThemeFont.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/SafeNativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXFontMarshaler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.MetafileDCWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Cursor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FontDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/InputLanguage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SystemInformation.cs
  src/System.Windows.Forms/src/System/Windows/Forms/VisualStyles/VisualStyleRenderer.cs
  src/System.Windows.Forms/src/misc/GDI/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsFont.cs
  src/System.Windows.Forms/tests/UnitTests/InteropTests/SysInfoTests.cs
  src/System.Windows.Forms/tests/UnitTests/InteropTests/TextTests.cs
Due: production, test

Fix Debug Assertion failure
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
Due: production

fix: DataBindings.Remove/Clear unsubscribe from the INotifyPropertyChanged.PropertyChanged event
  src/System.Windows.Forms/src/System/Windows/Forms/Binding.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/Mocks/MainObject.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/WinformsControlsTest.cs
Due: production, test

Fixed HC1/2 DataGridView ComboBox and TextBox cells text color
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewBand.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewButtonCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCellStyle.cs
Due: production

Removed Dispose pattern from HttpClient
  src/System.Windows.Forms/src/System/Windows/Forms/PictureBox.cs
Due: production

PR feedback
  src/Common/src/Interop/User32/Interop.NONCLIENTMETRICSW.cs
  src/Common/src/Interop/User32/Interop.SPI.cs
  src/Common/src/Interop/User32/Interop.SystemParametersInfoW.cs
Due: production

Fix issue 1864 - Different accessible names for property grids (#1866)
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/DocComment.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/HotCommands.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
Due: production

Fix ReadHtmlFromHandle adding trailing null terminator
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
Due: production

Add Clipboard tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
Due: test

Prep'ing for 3.0.1 set the next patch release to 3.0.1
  eng/Versions.props
Due: none

Update readme.md
  Documentation/designer-releases/readme.md
Due: none

Add more Control/ListView related tests
  src/Common/tests/CommonTestHelper.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridTableStyleTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PanelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
Due: test

Cleanup INPUT related interop
  src/Common/src/Interop/User32/Interop.GetKeyState.cs
  src/Common/src/Interop/User32/Interop.HARDWAREINPUT.cs
  src/Common/src/Interop/User32/Interop.INPUT.cs
  src/Common/src/Interop/User32/Interop.INPUTENUM.cs
  src/Common/src/Interop/User32/Interop.KEYBDINPUT.cs
  src/Common/src/Interop/User32/Interop.KEYEVENTF.cs
  src/Common/src/Interop/User32/Interop.MOUSEEVENTF.cs
  src/Common/src/Interop/User32/Interop.MOUSEINPUT.cs
  src/Common/src/Interop/User32/Interop.SendInput.cs
  src/Common/src/Interop/User32/Interop.VK.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ComponentTray.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RadioButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SendKeys.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripManager.cs
Due: production

Cleanup InitCommonControlsEx
  src/Common/src/Interop/ComCtl32/Interop.ICC.cs
  src/Common/src/Interop/ComCtl32/Interop.InitCommonControls.cs
  src/Common/src/Interop/ComCtl32/Interop.InitCommonControlsEx.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/SafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DateTimePicker.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageListStreamer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ProgressBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/StatusBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TrackBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
Due: production

Fix for a bug in ImeMode.NoControl where Chinese Input Method is not retained on WinForms TextBoxes or ComboBoxes. It keeps switching to English instead of Chinese.
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.Ime.cs
Due: production

Cleanup SystemParametersInfo interop (#1960)
  src/Common/src/Interop/Gdi32/Interop.CreateFontIndirectW.cs
  src/Common/src/Interop/Gdi32/Interop.GetObjectW.cs
  src/Common/src/Interop/Interop.WindowMessages.cs
  src/Common/src/Interop/User32/Interop.HIGHCONTRASTW.cs
  src/Common/src/Interop/User32/Interop.LOGFONTW.cs
  src/Common/src/Interop/User32/Interop.NONCLIENTMETRICSW.cs
  src/Common/src/Interop/User32/Interop.SPI.cs
  src/Common/src/Interop/User32/Interop.SystemParametersInfoW.cs
  src/Common/src/Interop/User32/Interop.WindowMessage.cs
  src/Common/src/Interop/UxTheme/Interop.GetThemeFont.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/SafeNativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXFontMarshaler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.MetafileDCWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Cursor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FontDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/InputLanguage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SystemInformation.cs
  src/System.Windows.Forms/src/System/Windows/Forms/VisualStyles/VisualStyleRenderer.cs
  src/System.Windows.Forms/src/misc/GDI/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsFont.cs
  src/System.Windows.Forms/tests/UnitTests/InteropTests/SysInfoTests.cs
  src/System.Windows.Forms/tests/UnitTests/InteropTests/TextTests.cs
Due: production, test

Cleanup IErrorInfo/ISupportErrorInfo
  src/Common/src/Interop/OleAut32/Interop.GetErrorInfo.cs
  src/Common/src/Interop/OleAut32/Interop.IErrorInfo.cs
  src/Common/src/Interop/OleAut32/Interop.ISupportErrorInfo.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
Due: production

Don't GetErrorInfo if InterfaceSupportsErrorInfo returns S_FALSE
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
Due: production

Fixup feeds
  NuGet.config
Due: none

Follow-Up: Adjust for recent Interop changes.
  src/Common/src/Interop/Interop.TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.WindowSubclassHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WindowSubclassHandler.cs
Due: production

Adding tests SelectedGridEntry for null before accessing its properties.
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyDescriptorGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
Due: production

Improve XML documentation.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WindowSubclassHandler.cs
Due: production

PR feedback: Refactor the task dialog interop code to align with existing interop code.
  src/Common/src/Interop/ComCtl32/Interop.PBST.cs
  src/Common/src/Interop/ComCtl32/Interop.PFTASKDIALOGCALLBACK.cs
  src/Common/src/Interop/ComCtl32/Interop.TASKDIALOGCONFIG.cs
  src/Common/src/Interop/ComCtl32/Interop.TASKDIALOG_BUTTON.cs
  src/Common/src/Interop/ComCtl32/Interop.TDCBF.cs
  src/Common/src/Interop/ComCtl32/Interop.TDE.cs
  src/Common/src/Interop/ComCtl32/Interop.TDF.cs
  src/Common/src/Interop/ComCtl32/Interop.TDIE.cs
  src/Common/src/Interop/ComCtl32/Interop.TDM.cs
  src/Common/src/Interop/ComCtl32/Interop.TDN.cs
  src/Common/src/Interop/ComCtl32/Interop.TaskDialogIndirect.cs
  src/Common/src/Interop/Interop.TaskDialog.cs
  src/Common/src/Interop/User32/Interop.DialogBoxCommandID.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogButtons.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCheckbox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCustomButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogExpander.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogFooter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogProgressBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogRadioButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogResult.cs
Due: production

PR feedback: Use expression-bodied members where possible.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.WindowSubclassHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCheckbox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCustomButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogExpander.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogFooter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogIcon.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogProgressBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogRadioButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStandardButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStandardButtonCollection.cs
Due: production

Disable the flaky tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
Due: test

Scope `EnsureSerializableAttribute` tests to user-generated types
  src/Common/tests/InternalUtilitiesForTests/src/BinarySerialization.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/SerializableAttributeTest.cs
  src/System.Windows.Forms.Design/tests/UnitTests/SerializableAttributeTests.cs
  src/System.Windows.Forms/tests/UnitTests/SerializableAttributeTests.cs
Due: test

Update dependencies from https://github.com/dotnet/core-setup build 20191001.1
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Fixed DataGridView background HC colors
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
