Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Use LibraryImport in some Interop Comctl32
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.Add.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.Create.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.Destroy.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.Draw.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.DrawEx.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.Duplicate.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.GetIconSize.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.GetImageCount.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.GetImageInfo.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.Remove.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.Replace.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.ReplaceIcon.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.ImageList.SetBkColor.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.InitCommonControls.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.InitCommonControlsEx.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TaskDialogIndirect.cs
Due: none

Use LibraryImport in Interop Imm32
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmAssociateContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmCreateContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmGetContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmGetConversionStatus.cs
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmGetOpenStatus.cs
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmNotifyIME.cs
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmReleaseContext.cs
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmSetConversionStatus.cs
  src/System.Windows.Forms.Primitives/src/Interop/Imm32/Interop.ImmSetOpenStatus.cs
Due: none

Add some clarifying comments to AccessibleObject (#7276)
  src/System.Windows.Forms/src/System/Windows/Forms/AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlAccessibleObject.cs
Due: production

Enable nullability in ListViewNativeItemCollection
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.ListViewNativeItemCollection.cs
Due: production

Fix additional errors from main branch
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
Due: production

Remove some more unnecessary pragma warning disables (dotnet/runtime#70583)
  src/System.Drawing.Common/src/System/Drawing/Image.cs
Due: none

Use LibraryImport in some Interop UxTheme
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.CloseThemeData.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.DrawThemeBackground.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.DrawThemeEdge.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.DrawThemeParentBackground.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.DrawThemeText.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetCurrentThemeName.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeAppProperties.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeBackgroundContentRect.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeBackgroundExtent.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeBackgroundRegion.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeBool.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeColor.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeDocumentationProperty.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeEnumValue.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeFilename.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeFont.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeInt.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeMargins.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeString.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeSysBool.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeSysInt.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeTextExtent.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.IsAppThemed.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.IsThemeBackgroundPartiallyTransparent.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.IsThemePartDefined.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.OpenThemeData.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.SetThemeAppProperties.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.SetWindowTheme.cs
Due: none

Use LibraryImport in some Interop Oleaut32
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.GetErrorInfo.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.OleCreatePropertyFrame.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.OleCreatePropertyFrameIndirect.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.SafeArrayGetVartype.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.SafeArrayLock.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.SafeArrayUnlock.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.SysFreeString.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.VarFormat.cs
Due: none

Fix private field name
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.ListViewNativeItemCollection.cs
Due: production

Enable nullability in DataGridViewTextBoxEditingControl and IDataGridViewEditingControl
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewEditingControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxEditingControl.cs
Due: production

Improve roadmap (#7034)
  docs/roadmap.md
Due: none

Use LibraryImport in some Interop UxTheme (#7292)
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.CloseThemeData.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.DrawThemeBackground.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.DrawThemeEdge.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.DrawThemeParentBackground.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.DrawThemeText.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetCurrentThemeName.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeAppProperties.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeBackgroundContentRect.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeBackgroundExtent.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeBackgroundRegion.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeBool.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeColor.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeDocumentationProperty.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeEnumValue.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeFilename.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeFont.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeInt.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeMargins.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeString.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeSysBool.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeSysInt.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.GetThemeTextExtent.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.IsAppThemed.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.IsThemeBackgroundPartiallyTransparent.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.IsThemePartDefined.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.OpenThemeData.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.SetThemeAppProperties.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.SetWindowTheme.cs
Due: none

Enable nullability in DataGridViewTextBoxEditingControl and IDataGridViewEditingControl (#7293)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewEditingControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxEditingControl.cs
Due: production

Enable nullability in ListViewNativeItemCollection (#7289)
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.ListViewNativeItemCollection.cs
Due: production

Enable nullability in some Control members
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.OleInterfaces.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Label.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridErrorDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RadioButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollableControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Splitter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SplitterPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolstripProfessionalRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/UpDownBase.UpDownButtons.UpDownButtonsAccessibleObject.DirectionButtonAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserSiteBase.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
Due: production, test

Make toolTip non-nullable in RemoveToolTip
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabPage.cs
Due: production

Check if _parent is not null
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Use null propagation
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.OleInterfaces.cs
Due: production

Remove null check in Bounds property
  src/System.Windows.Forms/src/System/Windows/Forms/UpDownBase.UpDownButtons.UpDownButtonsAccessibleObject.DirectionButtonAccessibleObject.cs
Due: production

Throw InvalidOperationException if ParentInternal is null
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollableControl.cs
Due: production

Return empty point if ParentInternal is null in ScrollToControl
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollableControl.cs
Due: production

Use null-forgiving operator in PageSelector and remove unused variable
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ComponentEditorForm.PageSelector.cs
Due: production

Fix InvalidOperationException message
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollableControl.cs
Due: production

I suspect that building possible only with VS 2022 nowadays
  eng/init-vs-env.cmd
Due: none

Something like this?
  Directory.Build.props
  src/Microsoft.VisualBasic/tests/Directory.Build.targets
  src/System.Windows.Forms/tests/Directory.Build.props
Due: test

Update Directory.Build.props
  Directory.Build.props
Due: none

Remove not needed
  src/Microsoft.VisualBasic/tests/Directory.Build.targets
  src/System.Windows.Forms/tests/Directory.Build.props
Due: test

Update tools.sh
  eng/common/tools.sh
Due: none

Update tools.ps1
  eng/common/tools.ps1
Due: none

Produce trim warning as part of the build (#7290)
  Directory.Build.props
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms.Primitives/src/System.Windows.Forms.Primitives.csproj
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
Due: production

Use LibraryImport in some Interop Oleaut32 (#7287)
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.GetErrorInfo.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.OleCreatePropertyFrame.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.OleCreatePropertyFrameIndirect.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.SafeArrayGetVartype.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.SafeArrayLock.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.SafeArrayUnlock.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.SysFreeString.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.VarFormat.cs
Due: none

FixGHissue7271 with updating Menu fom
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MenuStripAndCheckedListBox.Designer.cs
Due: test

Fixed force creating TextBox AO when it's not necessary.
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.ComboBoxChildDropDownButtonUiaProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.cs
Due: production

Added mechanism of releasing UiaTextRange links based on events to reduce memory leaks when using TextPattern.
  src/System.Windows.Forms.Primitives/src/Interop/UiaCore/Interop.ITextRangeProvider.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Automation/UiaTextProvider.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Automation/UiaTextRange.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/Automation/UiaTextRangeTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.TextBoxBaseUiaTextProvider.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TextBoxBase.TextBoxBaseUiaTextProviderTests.cs
Due: production, test

Update build
  eng/pipelines/build.yml
Due: none

Cleanup trimming warnings from Primitives project (#7304)
  src/System.Windows.Forms.Primitives/src/System.Windows.Forms.Primitives.csproj
  src/System.Windows.Forms.Primitives/src/System/TrimmingConstants.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Message.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/PaddingConverter.cs
Due: none

Add trimming annotations Mostly make Clone methods works by applying PublicParameterlessConstructor and annotate EditType
  src/System.Windows.Forms/src/System/Windows/Forms/ColumnHeader.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewBand.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewButtonCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewButtonColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCheckBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewImageCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewImageColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewLinkCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewLinkColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.cs
Due: production

Copy annotations from interface
  src/System.Windows.Forms/src/System/Windows/Forms/AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlToClrEventProxy.cs
Due: production

Small fixes
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewButtonCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxCell.cs
Due: production

Even more annotations
  src/System.Windows.Forms/src/System/Windows/Forms/BindingSource.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2AboutBoxPropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ExtendedTypeConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IDispatchConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/ComNativeDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.AxSourcingSite.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FlatButtonAppearanceConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkArea.LinkAreaConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/MergePropertyDescriptor.MergedAttributeCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/MergePropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollableControl.DockPaddingEdges.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SelectionRangeConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripControlHost.StubSite.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
