Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

removed extra spaces
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ToolStripContainerActionListTests.cs
Due: test

Prevent Toolbar tooltips from appearing directly under cursor hotspot (#12959)
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
Due: none

Add code coverage for ToolStripContainerActionList (#13256)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ToolStripContainerActionListTests.cs
Due: test

Handle FeedBacks
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ListViewDesignerTests.cs
Due: test

Fixes https://github.com/dotnet/winforms/issues/13186 set cmake min version to be compatible with cmake shipped with the VS public preview and the latest cmake
  src/test/unit/interop/NativeTests/CMakeLists.txt
Due: none

Moves back from net472 to net481
  eng/Versions.props
  src/test/integration/DesignSurface/DemoConsole/DemoConsole.csproj
  src/test/integration/DesignSurface/DesignSurfaceExt/DesignSurfaceExt.csproj
  src/test/integration/DesignSurface/Directory.Build.props
Due: none

re-include native tests into the VMR build
  src/test/unit/interop/System.Windows.Forms.Interop.Tests.csproj
Due: none

Add code coverage for ListViewDesigner (#13301)
  src/System.Windows.Forms.Design/tests/UnitTests/ListViewDesignerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ListViewDesignerTests.cs
Due: test

Modifies README.md file for DemoConsole and moves it one folder above, while also showing it in VS's Solution Explorer
  src/test/integration/DesignSurface/DemoConsole/DemoConsole.csproj
  src/test/integration/DesignSurface/README.md
Due: none

Add comment to address #13248
  src/test/integration/DesignSurface/DemoConsole/MainForm.cs
Due: none

specific minor+build versions - doesn't run in the VS(vs doesnot see test-packages? set minor and build numbers to 0, assuming it matches the latest - does not work in vs
  src/System.Windows.Forms.Analyzers/common/tests/Microsoft.WinForms/ReferenceAssemblyGenerator.cs
Due: none

Add memory pressure management to AgileComPointer
  src/System.Private.Windows.Core/src/Windows/Win32/System/Com/AgileComPointer.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/WebBrowser/HtmlElement.cs
Due: production

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20250415.6
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Fix Option Explicit placing in code.
  src/System.Windows.Forms.Analyzers/vb/tests/Analyzer/AvoidPassingTaskWithoutCancellationToken/InvokeAsyncOnControl.vb
  src/System.Windows.Forms.Analyzers/vb/tests/Analyzer/AvoidPassingTaskWithoutCancellationToken/TestData/InvokeAsyncOnControl/AnalyzerTestCode.vb
  src/System.Windows.Forms.Analyzers/vb/tests/Analyzer/MissingPropertySerializationConfiguration/EdgeCaseScenarios.vb
  src/System.Windows.Forms.Analyzers/vb/tests/Analyzer/MissingPropertySerializationConfiguration/TestData/CustomControlScenarios/AnalyzerTestCode.vb
  src/System.Windows.Forms.Analyzers/vb/tests/Analyzer/MissingPropertySerializationConfiguration/TestData/CustomControlScenarios/CodeFixTestCode.vb
  src/System.Windows.Forms.Analyzers/vb/tests/Analyzer/MissingPropertySerializationConfiguration/TestData/CustomControlScenarios/FixedTestCode.vb
  src/System.Windows.Forms.Analyzers/vb/tests/Analyzer/MissingPropertySerializationConfiguration/TestData/EdgeCaseScenarios/AnalyzerTestCode.vb
  src/System.Windows.Forms.Analyzers/vb/tests/Analyzer/MissingPropertySerializationConfiguration/TestData/EdgeCaseScenarios/Program.vb
Due: none

add unit test
  src/test/unit/System.Windows.Forms/System/Windows/Forms/PropertyGridTests.cs
Due: none

Add _isReleasingDataSource to prevent unnecessary operations on CurrentCell when changing or releasing DataSource
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
Due: none

Update prompt-folder for Analyzer test generation.
  Winforms.sln
Due: none

Add memory pressure management to AgileComPointer (#13315)
  src/System.Private.Windows.Core/src/Windows/Win32/System/Com/AgileComPointer.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/WebBrowser/HtmlElement.cs
Due: production

Unwrap long comment and reindent for better auto formatting
  src/test/integration/DesignSurface/DemoConsole/MainForm.cs
Due: none

use the roslyn's reference statics except for NET9 desktop, which is in preview in the version of roslyn that we reference. We need to request v 9.0.0 instead.
  src/System.Windows.Forms.Analyzers/common/tests/Microsoft.WinForms/NetVersion.cs
  src/System.Windows.Forms.Analyzers/common/tests/Microsoft.WinForms/ReferenceAssemblyGenerator.cs
  src/System.Windows.Forms.Analyzers/cs/tests/Analyzer/AvoidPassingTaskWithoutCancellationToken/InvokeAsyncOnControl.cs
  src/System.Windows.Forms.Analyzers/cs/tests/Analyzer/MissingPropertySerializationConfiguration/CustomControlScenarios.cs
  src/System.Windows.Forms.Analyzers/vb/tests/Analyzer/AvoidPassingTaskWithoutCancellationToken/InvokeAsyncOnControl.vb
  src/System.Windows.Forms.Analyzers/vb/tests/Analyzer/MissingPropertySerializationConfiguration/CustomControlScenarios.vb
Due: none

Merged PR 49314: [internal/release/8.0] - revert invalid dependencies
  eng/Version.Details.xml
Due: none

fix #13305 Baseline SnapLines do not appear in DesignSurface
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/BehaviorService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/DragAssistanceManager.cs
Due: production

Add a new flag _dataGridViewOper[OperationInReleasingDataSource] instead of field _isReleasingDataSource
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
Due: none

Removing field _isReleasingDataSource
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
Due: none

Add RetryHelper to fix issue unstable test RoundTrip_DataObject_SupportsTypedInterface
  src/test/unit/System.Windows.Forms/System/Windows/Forms/ClipboardTests.cs
  src/test/unit/System.Windows.Forms/System/Windows/Forms/RetryHelper.cs
Due: none

Update namespace of the RetryHelper.cs
  src/test/unit/System.Windows.Forms/System/Windows/Forms/RetryHelper.cs
Due: none

Add _isReleasingDataSource to prevent unnecessary operations on CurrentCell when changing or releasing DataSource (#13320)
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
Due: none

fix #13305 Baseline SnapLines do not appear in DesignSurface (#13324)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/BehaviorService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/DragAssistanceManager.cs
Due: production

Skip unstable ListView Tile tests and case ListView_Click_On_Second_Column_Does_Not_Alter_CheckBoxesAsync (#13294)
  src/test/integration/UIIntegrationTests/ListViewTests.cs
Due: none

Fix a series of Analyzer issues (backport from release/net9).
  src/System.Windows.Forms.Analyzers.CSharp/src/System/Windows/Forms/CSharp/Analyzers/AvoidPassingTaskWithoutCancellationToken/AvoidPassingTaskWithoutCancellationTokenAnalyzer.cs
  src/System.Windows.Forms.Analyzers.CSharp/src/System/Windows/Forms/CSharp/Analyzers/MissingPropertySerializationConfiguration/MissingPropertySerializationConfigurationAnalyzer.cs
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Analyzers/AvoidPassingTaskWithoutCancellationToken/AvoidPassingTaskWithoutCancellationTokenAnalyzer.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/src/Analyzers/MissingPropertySerializationConfiguration/MissingPropertySerializationConfigurationDiagnosticAnalyzer.vb
Due: production

Darken TabControl in dark mode
  src/System.Windows.Forms/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/TabControl/TabControl.cs
Due: none

Fix DarkMode StatusStrip background renderer.
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/StatusStrip.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripSystemRenderer.cs
Due: none

Revert "Fix DarkMode StatusStrip background renderer."
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/StatusStrip.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripSystemRenderer.cs
Due: none

Add Dark Mode theme to rows/columns and ColumnHeader/RowHeader in the DataGridView
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridViewButtonCell.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridViewCheckBoxCell.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridViewColumnHeaderCell.DataGridViewColumnHeaderCellRenderer.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridViewColumnHeaderCell.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridViewComboBoxCell.DataGridViewComboBoxCellRenderer.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridViewRowHeaderCell.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/DataGridView/DataGridViewTopLeftHeaderCell.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/TabControl/TabRenderer.cs
Due: none

Fixes darkmode issue in ComboBoxRenderer.
  src/System.Windows.Forms/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/System/Windows/Forms/Controls/ComboBox/ComboBoxRenderer.cs
Due: none

Break the expression body after the =>
  src/System.Windows.Forms/System/Windows/Forms/Controls/TabControl/TabControl.cs
Due: none

Address review feedback.
  src/System.Windows.Forms.Analyzers.CSharp/src/System/Windows/Forms/CSharp/Analyzers/MissingPropertySerializationConfiguration/MissingPropertySerializationConfigurationAnalyzer.cs
Due: production

Address review feedback.
  src/System.Windows.Forms.Analyzers/cs/src/Analyzers/MissingPropertySerializationConfiguration/MissingPropertySerializationConfigurationAnalyzer.cs
Due: none

Removing RetryHelper
  src/test/unit/System.Windows.Forms/System/Windows/Forms/ClipboardTests.cs
  src/test/unit/System.Windows.Forms/System/Windows/Forms/RetryHelper.cs
Due: none

Path conditions:
  production: any of: src/Common/src/, src/Microsoft.VisualBasic/src/, src/Microsoft.VisualBasic.Forms/src/, src/System.Drawing.Common/src/, src/System.Drawing.Design/src/, src/System.Private.Windows.Core/src/, src/System.Private.Windows.GdiPlus/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Analyzers/src/, src/System.Windows.Forms.Analyzers.CSharp/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/, src/System.Windows.Forms.Primitives/src/, src/System.Windows.Forms.PrivateSourceGenerators/src/
  test: any of: src/Common/tests/, src/Microsoft.VisualBasic/tests/, src/Microsoft.VisualBasic.Forms/tests/, src/System.Drawing.Common/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Analyzers/tests/, src/System.Windows.Forms.Analyzers.CSharp/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Primitives/tests/, src/System.Windows.Forms.PrivateSourceGenerators/tests/
