Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below
  behavior: default               # updates, if exists; otherwise post new
  require_changes: false          # post comment even if coverage does not change
  require_head: yes               # must have these two in order to post
  require_base: yes

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Enable analyzer for xUnit2000 (Constants and literals should be the expected argument) (dotnet/corefxdotnet/runtime#39842)
  src/System.Drawing.Common/tests/Drawing2D/GraphicsPathTests.cs
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190728.11
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Re-enable xunit warning 1010 (dotnet/corefxdotnet/runtime#39846)
  src/System.Drawing.Common/tests/FontTests.cs
  src/System.Drawing.Common/tests/Printing/PaperSizeTests.cs
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190728.13
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190728.16
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Forward event args from OnLocationChanged to OnMove
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Don't invlaidate when setting TabPage.UseVisualStyleBackColor to the same
  src/System.Windows.Forms/src/System/Windows/Forms/TabPage.cs
Due: production

Add TabPage tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabPageTests.cs
  src/System.Windows.Forms/tests/UnitTests/TabControlTests.cs
Due: test

Cleanup TabPage
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/TabPage.cs
Due: production

Cleanup GetSystemMetrics
  src/Common/src/Interop/User32/Interop.GetSystemMetrics.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/Cursor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Screen.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SystemInformation.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TrackBar.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190729.01
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190729.02
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/arcade build 20190728.1
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190729.03
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Fix PictureBox NRE and Debug Assert failure
  src/System.Windows.Forms/src/System/Windows/Forms/PictureBox.cs
Due: production

Rename PictureBox variables and cleanup comments
  src/System.Windows.Forms/src/System/Windows/Forms/PictureBox.cs
Due: production

Add PictureBox tests
  src/System.Windows.Forms/tests/UnitTests/PictureBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PictureBoxTests.cs
Due: test

Cleanup PictureBox
  src/System.Windows.Forms/src/System/Windows/Forms/PictureBox.cs
Due: production

Skip unstable tests
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerHostTests.cs
Due: test

Update dependencies from https://github.com/dotnet/core-setup build 20190729.05
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Rebrand master to preview9
  eng/Versions.props
Due: none

Re-enable xunit warning 2005 (dotnet/corefxdotnet/runtime#39866)
  src/System.Drawing.Common/tests/IconTests.cs
Due: none

Enable WinformsControlsTest_TreeViewAndImageListTest
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/WinformsControlsTest.cs
Due: test

Update dependencies from https://github.com/dotnet/arcade build 20190729.29
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Re-enable xunit warning 2005 (dotnet/corefxdotnet/runtime#39866) (dotnet/corefxdotnet/runtime#39864)
  src/System.Drawing.Common/src/System/Drawing/BufferedGraphicsManager.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrintingServices.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/SystemIcons.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/ToolboxBitmapAttribute.cs
  src/System.Drawing.Common/src/System/Drawing/macFunctions.cs
Due: none

Add Cursor tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CursorConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CursorTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CursorsTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewCellStyleTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNodeTests.cs
  src/System.Windows.Forms/tests/UnitTests/bitmaps/EmptyFile
  src/System.Windows.Forms/tests/UnitTests/bitmaps/almogaver24bits.bmp
  src/System.Windows.Forms/tests/UnitTests/bitmaps/cursor.cur
  src/System.Windows.Forms/tests/UnitTests/bitmaps/milkmateya01.emf
  src/System.Windows.Forms/tests/UnitTests/bitmaps/telescope_01.wmf
Due: test

Cleanup Cursors
  src/Common/src/Interop/User32/Interop.LoadCursorW.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/SafeNativeMethods.cs
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Cursor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Cursors.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkLabel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Skip more flakey tests
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerHostTests.cs
Due: test

Fix Cursor bugs
  src/System.Windows.Forms/src/System/Windows/Forms/Cursor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CursorConverter.cs
Due: production

Disable WinFormsControlsClassicTests.csproj on non-windows platforms
  src/System.Windows.Forms/tests/IntegrationTests/WinFormsControlsClassicTests/WinFormsControlsClassicTests.csproj
Due: test

Consolidate Metafile unix/windows code (dotnet/corefxdotnet/runtime#39758)
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.cs
  src/System.Drawing.Common/tests/BitmapTests.cs
  src/System.Drawing.Common/tests/Imaging/MetafileTests.cs
  src/System.Drawing.Common/tests/Printing/PrinterSettingsTests.cs
Due: none

Fix Debug.Assert() call.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
Due: production

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add yaml stages
  eng/ci.yml
Due: none

Porting DataMemberFieldConverter to System.Windows.Forms.Design.dll and changing the references from System.Design to this assembly wherever required.
  src/System.Windows.Forms.Design/src/Resources/SR.resx
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DataMemberFieldConverter.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DataMemberFieldConverterTests.cs
  src/System.Windows.Forms/src/AssemblyRef.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListControl.cs
Due: production, test

removing invalid data
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DataMemberFieldConverterTests.cs
Due: test

Add accessibility tests
  Winforms.sln
  src/System.Windows.Forms/tests/AccessibilityTests/AccessibilityTests.csproj
  src/System.Windows.Forms/tests/AccessibilityTests/CommonControls1.Designer.cs
  src/System.Windows.Forms/tests/AccessibilityTests/CommonControls1.cs
  src/System.Windows.Forms/tests/AccessibilityTests/CommonControls1.resx
  src/System.Windows.Forms/tests/AccessibilityTests/CommonControls2.Designer.cs
  src/System.Windows.Forms/tests/AccessibilityTests/CommonControls2.cs
  src/System.Windows.Forms/tests/AccessibilityTests/CommonControls2.resx
  src/System.Windows.Forms/tests/AccessibilityTests/ContainersTesting.Designer.cs
  src/System.Windows.Forms/tests/AccessibilityTests/ContainersTesting.cs
  src/System.Windows.Forms/tests/AccessibilityTests/ContainersTesting.resx
  src/System.Windows.Forms/tests/AccessibilityTests/DataControls.Designer.cs
  src/System.Windows.Forms/tests/AccessibilityTests/DataControls.cs
  src/System.Windows.Forms/tests/AccessibilityTests/DataControls.resx
  src/System.Windows.Forms/tests/AccessibilityTests/DialogsTesting.Designer.cs
  src/System.Windows.Forms/tests/AccessibilityTests/DialogsTesting.cs
  src/System.Windows.Forms/tests/AccessibilityTests/DialogsTesting.resx
  src/System.Windows.Forms/tests/AccessibilityTests/Main.Designer.cs
  src/System.Windows.Forms/tests/AccessibilityTests/Main.cs
  src/System.Windows.Forms/tests/AccessibilityTests/Main.resx
  src/System.Windows.Forms/tests/AccessibilityTests/MenuForm.Designer.cs
  src/System.Windows.Forms/tests/AccessibilityTests/MenuForm.cs
  src/System.Windows.Forms/tests/AccessibilityTests/MenuForm.resx
  src/System.Windows.Forms/tests/AccessibilityTests/PrintingTesting.Designer.cs
  src/System.Windows.Forms/tests/AccessibilityTests/PrintingTesting.cs
  src/System.Windows.Forms/tests/AccessibilityTests/PrintingTesting.resx
  src/System.Windows.Forms/tests/AccessibilityTests/Program.cs
  src/System.Windows.Forms/tests/AccessibilityTests/Properties/Resources.Designer.cs
  src/System.Windows.Forms/tests/AccessibilityTests/Properties/Resources.resx
  src/System.Windows.Forms/tests/AccessibilityTests/RemainingControls.Designer.cs
  src/System.Windows.Forms/tests/AccessibilityTests/RemainingControls.cs
  src/System.Windows.Forms/tests/AccessibilityTests/RemainingControls.resx
  src/System.Windows.Forms/tests/AccessibilityTests/Resources/myLargeImage1.bmp
  src/System.Windows.Forms/tests/AccessibilityTests/StripControls.Designer.cs
  src/System.Windows.Forms/tests/AccessibilityTests/StripControls.cs
  src/System.Windows.Forms/tests/AccessibilityTests/StripControls.resx
  src/System.Windows.Forms/tests/AccessibilityTests/ToolStripContainer.Designer.cs
  src/System.Windows.Forms/tests/AccessibilityTests/ToolStripContainer.cs
  src/System.Windows.Forms/tests/AccessibilityTests/ToolStripContainer.resx
  src/System.Windows.Forms/tests/AccessibilityTests/app1.manifest
Due: test

Re-enable CA1823 (unused private fields) (dotnet/corefxdotnet/runtime#39899)
  src/System.Drawing.Common/src/System/Drawing/BufferedGraphicsContext.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/BufferedGraphicsContext.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ImageFormat.cs
  src/System.Drawing.Common/src/misc/DpiHelper.cs
Due: none

Update dependencies from https://github.com/dotnet/arcade build 20190730.3
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/sdl/packages.config
  eng/common/templates/job/execute-sdl.yml
  global.json
Due: none
