Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Be explicit about the entry indexes
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.cs
Due: none

Review feedback
  src/System.Windows.Forms/src/System/Windows/Forms/DragDropHelper.cs
Due: production

Wrap the methods calls in a try/catch and return HResult of exception
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.IDropSourceNotifyVtbl.cs
Due: none

Add IEnumFormatEtc ComWrapper
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.EnumFORMATETCWrapper.cs
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.IEnumFORMATETCVtbl.cs
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.cs
Due: none

* Rename `BindableCommand` back to just `Command`
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ExecuteCommandEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/IBindableCommandProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
Due: production

Apply reccomentdations
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.IEnumFORMATETCVtbl.cs
Due: none

Enable nullability in OpenFileDialog
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/OpenFileDialog.cs
Due: production

Do not return nullable string in GetFilePathFromShellItem
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.Vista.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OpenFileDialog.cs
Due: production

Do not use string.Empty when GetFilePathFromShellItem returns null
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.Vista.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OpenFileDialog.cs
Due: production

Make _fileNames elements non-nullable
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.Vista.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
Due: production

Add fileNames parameter in ProcessFileNames
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.Vista.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
Due: production

Pass FileName to PutString
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
Due: production

Merging internal commits for release/5.0 (#7163)
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Remove the unnecessary checks in ToolStripDropTargetManager
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropTargetManager.cs
Due: production

Simplify the checks in DropTarget
  src/System.Windows.Forms/src/System/Windows/Forms/DropTarget.cs
Due: production

Enable nullability in GridViewTextBox
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.GridViewTextBox.cs
Due: production

Fixes dotnet#6096
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Fix Raw
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.IDataObjectVtbl.cs
Due: none

Simplify the checks in RichTextBox.OleCallback
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.OleCallback.cs
Due: production

Simplify the checks in DropSource
  src/System.Windows.Forms/src/System/Windows/Forms/DragDropHelper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DropSource.cs
Due: production

Call simpler overloads of Substring and Slice (dotnet/runtime#68937)
  src/System.Drawing.Common/src/System/Drawing/FontConverter.cs
Due: none

Optimizing virtual mode checking when user uses keyboard to change checkbox state (#7158)
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Enable nullability in GridViewTextBox (#7164)
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.GridViewTextBox.cs
Due: production

Enable nullability in OpenFileDialog (#6997)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.Vista.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OpenFileDialog.cs
Due: production

Apply suggestions from code review
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.EnumFORMATETCWrapper.cs
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.IEnumFORMATETCVtbl.cs
Due: none

Update src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.EnumFORMATETCWrapper.cs
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.EnumFORMATETCWrapper.cs
Due: none

Apply suggestion
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.IEnumFORMATETCVtbl.cs
Due: none

Enable nullability in SaveFileDialog
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SaveFileDialog.cs
Due: production

Merged PR 22755: [internal/release/6.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Reverse resetting the Anchorinfo when size chnages.
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Enable nullability in SaveFileDialog (#7167)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SaveFileDialog.cs
Due: production

Reverse resetting the Anchorinfo when size chnages. (#7170)
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Fix nested/User control scaling. (#6971)
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Review feedback, first round
  src/System.Windows.Forms/src/System/Windows/Forms/DragDropHelper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DropSource.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DropTarget.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.OleCallback.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropTargetManager.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/DragDrop.cs
Due: production, test

Remove the unused using
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropTargetManager.cs
Due: production

Better way of checking the incoming data object
  src/System.Windows.Forms/src/System/Windows/Forms/DragDropHelper.cs
Due: production

Merged PR 22900: [internal/release/6.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Give the TreeViewTest more nodes
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/TreeViewTest.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/TreeViewTest.resx
Due: test

Have the designer generate the code
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/DragDrop.Designer.cs
Due: test

Put the update drag image logic in its own method
  src/System.Windows.Forms/src/System/Windows/Forms/DropSource.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
