Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Update Documentation/winforms-designer.md
  Documentation/winforms-designer.md
Due: none

Delete edit-project-file001.png
  Documentation/images/edit-project-file001.png
Due: none

Delete edit-project-file002.png
  Documentation/images/edit-project-file002.png
Due: none

Delete edit-project-file003.png
  Documentation/images/edit-project-file003.png
Due: none

Update winforms-designer.md
  Documentation/winforms-designer.md
Due: none

System.Drawing: Consolidate BitmapData class (dotnet/corefxdotnet/runtime#38838)
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/Imaging/BitmapData.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/BitmapData.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/BitmapData.cs
  src/System.Drawing.Common/tests/Imaging/BitmapDataTests.cs
Due: none

Porting maui combobox test to xUnit
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/Directory.Build.props
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiComboBoxTest/MauiComboBoxTest.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiComboBoxTest/MauiComboBoxTest.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiComboBoxTest.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/readme.md
Due: test

added PR link to readme.md
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/readme.md
Due: test

Force maui tests to run sequentially instead of in parallel
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiButtonTest.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiComboBoxTest.cs
Due: test

Porting maui combobox test to xUnit (#1240)
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/Directory.Build.props
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiComboBoxTest/MauiComboBoxTest.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiComboBoxTest/MauiComboBoxTest.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiComboBoxTest.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/readme.md
Due: test

Add intellisense blob as part of native toolset restore
  Documentation/intellisense.md
  Restore.cmd
  eng/configure-toolset.ps1
  global.json
Due: none

Review EM_* message correctness
  src/Common/src/Interop/Interop.EditMessages.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageDecoder.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/MessageTests.cs
Due: production, test

Move RichEditMessages to ow file
  src/Common/src/Interop/Interop.EditMessages.cs
  src/Common/src/Interop/Interop.RichEditMessages.cs
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
Due: production

Remove CAS related suppressions
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Label.cs
  src/System.Windows.Forms/src/System/Windows/Forms/NativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/StringSource.cs
Due: production

Introducing a target to copy intellisense xml's to ref\ folders after build and include them into package ref folder
  eng/packageContent.targets
Due: none

Mark pvBuffer as In/Out
  src/Common/src/UnsafeNativeMethods.cs
Due: production

Add support for PackageAsRefAndLib (Accessibility.ilProj)
  eng/packageContent.targets
Due: none

Add intellisense blob as part of native toolset restore and int… (#1241)
  Documentation/intellisense.md
  Restore.cmd
  eng/configure-toolset.ps1
  eng/packageContent.targets
  global.json
Due: none

change maui test to plural per PR feedback
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiButtonTests/MauiButtonTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiButtonTests/MauiButtonTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiComboBoxTests/MauiComboBoxTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiComboBoxTests/MauiComboBoxTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiButtonTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiComboBoxTests.cs
Due: test

move solution items to build, documentation, or rmv them
  Winforms.sln
Due: none

change maui test to plural per PR feedback (#1244)
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiButtonTests/MauiButtonTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiButtonTests/MauiButtonTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiComboBoxTests/MauiComboBoxTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiComboBoxTests/MauiComboBoxTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiButtonTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiComboBoxTests.cs
Due: test

Add WinFormsControlsClassicTests project to the CI
  Winforms.sln
  eng/Versions.props
  src/System.Windows.Forms/tests/IntegrationTests/WinFormsControlsClassicTests/WinFormsControlsClassicTests.csproj
Due: test

Add additional XML documentation.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogButtonClickedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogButtons.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCheckbox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogClosingEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCustomButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCustomButtonCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCustomButtonStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogExpander.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogFooter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogHyperlinkClickedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogIcon.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogIconHandle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogProgressBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogProgressBarState.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogRadioButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogRadioButtonCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStandardButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStandardButtonCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStandardIcon.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStartupLocation.cs
Due: production

Follow-Up: Fix typo.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogHyperlinkClickedEventArgs.cs
Due: production

Extract exception messages into resources.
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCustomButtonCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogFooter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogProgressBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogRadioButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogRadioButtonCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStandardButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStandardButtonCollection.cs
Due: production

Tweaks
  Documentation/images/add-as-link.png
  Documentation/images/add-netfx-project.png
  Documentation/images/add-new-form-dialog.png
  Documentation/images/add-new-form.png
  Documentation/images/add-project-dialog.png
  Documentation/images/add-project-to-sln.png
  Documentation/images/edit-namespace.png
  Documentation/images/edit-project-file.png
  Documentation/images/edit-project-file004.png
  Documentation/winforms-designer.md
Due: none

Fix documentation.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogRadioButton.cs
Due: production

move up preview 8
  eng/Versions.props
Due: none

Follow-Up: Improve exception message when visual styles (common controls v6) are not enabled.
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
Due: production

Review comments resolved.
  src/System.Windows.Forms/src/System/Windows/Forms/NativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WindowsFormsSectionHandler.cs
Due: production

Removing the public interface that enforce dependancy on System.Confi… (#1243)
  src/System.Windows.Forms/src/System/Windows/Forms/NativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WindowsFormsSectionHandler.cs
Due: production

Review feedback
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SystemInformation.cs
Due: production

Review feedback
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SystemInformation.cs
Due: production

Add Accessibility Insights info into PR Template (#1196)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix COM interop ELEMDESC
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2TypeInfoProcessor.cs
Due: production

More tweaks
  Documentation/winforms-designer.md
Due: none

Added another option that works to make the classic designer wor… (#845)
  Documentation/images/add-as-link.png
  Documentation/images/add-netfx-project.png
  Documentation/images/add-new-form-dialog.png
  Documentation/images/add-new-form.png
  Documentation/images/add-project-dialog.png
  Documentation/images/add-project-to-sln.png
  Documentation/images/edit-namespace.png
  Documentation/images/edit-project-file.png
  Documentation/winforms-designer.md
Due: none

Fix ScrollBar NRE
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/control.ime.cs
Due: production

Add ScrollBar tests
  src/Common/tests/CommonTestHelper.cs
  src/System.Windows.Forms/tests/UnitTests/HScrollBarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AmbientPropertiesTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewCellStyleTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/HScrollBarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewItemTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScrollBarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScrollPropertiesTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripItemTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripPanelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/VScrollBarTests.cs
  src/System.Windows.Forms/tests/UnitTests/VScrollBarTests.cs
Due: test

LOC CHECKIN | dotnet/winforms master | 20190702
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
