Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Configure binary formatter for primitive tests
  src/System.Windows.Forms.Primitives/tests/UnitTests/System.Windows.Forms.Primitives.Tests.csproj
  src/System.Windows.Forms.Primitives/tests/UnitTests/runtimeconfig.template.json
Due: none

Enable nullability in ContainerSelectionUIItem and SelectionUIItem (#9092)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SelectionUIService.ContainerSelectionUIItem.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SelectionUIService.SelectionUIItem.cs
Due: production

Enable nullability in ToolStripItemCollection (#9072)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSettingsManager.cs
Due: production

String reading/writing is already done correctly with BinaryReader/Writer.
  src/System.Windows.Forms.Primitives/src/System/IO/BinaryReaderExtensions.cs
  src/System.Windows.Forms.Primitives/src/System/IO/BinaryWriterExtensions.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/BinaryFormatReader.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/BinaryLibrary.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/BinaryObjectString.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/ClassInfo.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/ClassRecord.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/ClassTypeInfo.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/MemberTypeInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.OleConverter.cs
Due: production

Extra using
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.cs
Due: none

Embedded decimal wasn't right
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/Record.cs
Due: none

Enable nullability in some ToolTip members
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Enable nullability in some ToolTip members (#9086)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Enable nullability in ToolStripPanelRowControlCollection
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripPanelRow.ToolStripPanelRowControlCollection.cs
Due: production

Simplify GetControl method
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripPanelRow.ToolStripPanelRowControlCollection.cs
Due: production

Enable nullability in ToolStripPanelRowControlCollection (#9094)
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripPanelRow.ToolStripPanelRowControlCollection.cs
Due: production

Replace array with generic list
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.cs
Due: production

Enable nullability in some ListViewItem members
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewGroup.ListViewGroupAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewGroupItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.IKeyboardToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewItemImageAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.cs
Due: production

Fix private field names
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewGroupItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.IKeyboardToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewItem.ListViewSubItem.ListViewSubItemAccessibleObjectTests.cs
Due: production, test

Change EnsureSubItemsCapacity to EnsureAdditionalCapacity
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItemCollection.cs
Due: production

Enable nullability in WebBrowserEvent
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowser.WebBrowserEvent.cs
Due: production

Avoid calling _owningGroup.Items[0].ListView twice in ListViewGroupAccessibleObject constructor
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewGroup.ListViewGroupAccessibleObject.cs
Due: production

Enable nullability in WebBrowserEvent (#9098)
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowser.WebBrowserEvent.cs
Due: production

Enable nullability in some ListViewItem members (#8123)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewGroup.ListViewGroupAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewGroupItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.IKeyboardToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewItemImageAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewItem.ListViewSubItem.ListViewSubItemAccessibleObjectTests.cs
Due: production, test

Use generic list instead of array in TreeNode
  src/System.Windows.Forms/src/System/Windows/Forms/ArraySubsetEnumerator.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.TreeNodeAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNodeCollection.cs
  src/System.Windows.Forms/tests/UnitTests/SerializableTypesTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNode.TreeNodeAccessibleObjectTests.cs
Due: production, test

Move away from BinaryFormatter for ActiveX purposes
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.VARIANT.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/BinaryFormatReader.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/BinaryFormatWriter.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObjectExtensions.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/ClassRecord.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/MemberPrimitiveTyped.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/MemberTypeInfo.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/Record.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/CY.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/StructuredStorage/PropertyBagExtensions.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/HashTableTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/ListTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.PropertyBagStream.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.State.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.PropertyBagStream.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHost.PropertyBagStreamTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Control.ActiveXImplTests.cs
Due: production, test

Move EditorButton to a separate file
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionPanel.EditorPropertyLine.EditorButton.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionPanel.EditorPropertyLine.cs
Due: production

Enable nullability in classes that inherit from Button in System.Windows.Forms.Design
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/CollectionEditor.SplitButton.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionPanel.EditorPropertyLine.EditorButton.cs
Due: production

Enable nullability in some ToolTip members
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.TipInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Store value from GetOwnerWindow
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Move away from BinaryFormatter for ActiveX purposes (#9104)
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.VARIANT.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/BinaryFormatReader.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/BinaryFormatWriter.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObject.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/BinaryFormattedObjectExtensions.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/ClassRecord.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/MemberPrimitiveTyped.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/MemberTypeInfo.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/Record.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/CY.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/StructuredStorage/PropertyBagExtensions.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/HashTableTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/ListTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.PropertyBagStream.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.State.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.PropertyBagStream.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHost.PropertyBagStreamTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Control.ActiveXImplTests.cs
Due: production, test

Update/Scale Font on each DPICHNAGED message
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Add BinaryArrayType
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/ArraySingleObject.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/BinaryArray.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/BinaryArrayType.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/ClassRecord.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/ClassWithId.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/ClassWithMembersAndTypes.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/Record.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/SystemClassWithMembersAndTypes.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Id.cs
  src/System.Windows.Forms.Primitives/tests/TestUtilities/System/Windows/Forms/BinaryFormat/BinaryFormatTestExtensions.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/TestExtensions.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BinaryFormat/WinFormsBinaryFormattedObjectTests.cs
Due: test

add nullability to CodeDomSerializerBase
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializerBase.cs
Due: production

code cleanup
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializerBase.cs
Due: production

DesignerSerializationManagerHelper
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializerBase.cs
  src/System.Windows.Forms.Primitives/src/System/ComponentModel/Design/Serialization/DesignerSerializationManagerHelper.cs
Due: production

Forgot to include the updated tests
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/ArrayTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/RecordMapTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/IdTests.cs
Due: none

Remove hardcoded "Button" type for checkable ToolStripButton to make it have CheckBox type based on role
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripButton.ToolStripButtonAccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripButton.ToolStripButtonAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripButtonTests.cs
Due: production, test

Respond to feedback.
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/Record.cs
Due: none

Add BinaryArrayType (#9113)
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/ArraySingleObject.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/BinaryArray.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/BinaryArrayType.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/ClassRecord.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/ClassWithId.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/ClassWithMembersAndTypes.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/Record.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/BinaryFormat/SystemClassWithMembersAndTypes.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Id.cs
  src/System.Windows.Forms.Primitives/tests/TestUtilities/System/Windows/Forms/BinaryFormat/BinaryFormatTestExtensions.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/ArrayTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/RecordMapTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/TestExtensions.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/IdTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BinaryFormat/WinFormsBinaryFormattedObjectTests.cs
Due: test

Handle WM_DPICHANGED_BEFOREPARENT message for the FOrm in design scenarios.
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DpiChangedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

Refactor ControlCollection.AddRange to use params keyword.
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlCollection.cs
Due: production

Refactor rest of the non-internal AddRange methods to use params keyword. Resolves #8938
  src/System.Windows.Forms.Design/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionListCollection.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/AdornerCollection.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/GlyphCollection.cs
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/AutoCompleteStringCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.ObjectCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageList.ImageCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.IntegerCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.ObjectCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.ColumnHeaderCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.ListViewItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewGroupCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.TabPageCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripPanel.ToolStripPanelRowCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNodeCollection.cs
Due: production

Try to fix ci errors.
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
Due: production
