Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Added Scale to augment PrimaryMonitorSize. Used gdi32 GetDeviceCaps -> not sure if that is referenced elsewhere in code so it is uneeded.
  src/System.Windows.Forms/src/System/Windows/Forms/SystemInformation.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190726.04
  eng/Version.Details.xml
  eng/Versions.props
Due: none

removed uneeded call and used Interop.Gdi32.GetDeviceCaps. Removed uneeded enum
  src/System.Windows.Forms/src/System/Windows/Forms/SystemInformation.cs
Due: production

LOC CHECKIN | dotnet/winforms master | 20190726
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190726.08
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Simplify.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
Due: production

Enable nullable reference types for the TaskDialog classes.
  src/Common/src/Interop/Interop.TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.WindowSubclassHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogButtonClickedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogButtons.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCheckbox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogClosingEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCustomButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCustomButtonCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCustomButtonStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogExpander.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogFooter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogHyperlinkClickedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogIcon.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogIconHandle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogProgressBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogProgressBarState.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogRadioButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogRadioButtonCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogResult.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStandardButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStandardButtonCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStandardIcon.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStandardIconContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStartupLocation.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WindowSubclassHandler.cs
Due: production

Use a switch expression.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStandardButton.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190726.11
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Clean up a bit more existing code based on feedback
  src/System.Windows.Forms/src/System/Windows/Forms/Control.AxSourcingSite.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlCollection.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190726.13
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Follow-Up: Make the return value of the ToString() methods non-nullable since that is the intent of the return value and the classes are sealed.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCheckbox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCustomButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogExpander.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogFooter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogRadioButton.cs
Due: production

Break up Control class (#1475)
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/CheckableControlBaseAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXFontMarshaler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXVerbEnum.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.AmbientProperty.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.AxSourcingSite.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlNativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlTabOrderHolder.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlVersionInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.FontHandleWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.MetafileDCWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.MultithreadSafeCallScope.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.PrintPaintEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ThreadMethodEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropDownItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/VScrollBar.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
Due: production, test

Update dependencies from https://github.com/dotnet/core-setup build 20190726.20
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190726.22
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190726.23
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190726.27
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190726.29
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/arcade build 20190726.18
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/post-build/darc-gather-drop.ps1
  eng/common/post-build/nuget-validation.ps1
  eng/common/post-build/post-build-utils.ps1
  eng/common/post-build/promote-build.ps1
  eng/common/post-build/setup-maestro-vars.ps1
  eng/common/post-build/sourcelink-validation.ps1
  eng/common/post-build/symbols-validation.ps1
  eng/common/post-build/trigger-subscriptions.ps1
  eng/common/templates/post-build/channels/internal-servicing.yml
  eng/common/templates/post-build/channels/public-dev-release.yml
  eng/common/templates/post-build/channels/public-release.yml
  eng/common/templates/post-build/channels/public-validation-release.yml
  eng/common/templates/post-build/common-variables.yml
  eng/common/templates/post-build/darc-gather-drop.yml
  eng/common/templates/post-build/post-build.yml
  eng/common/templates/post-build/promote-build.yml
  eng/common/templates/post-build/setup-maestro-vars.yml
  eng/common/templates/post-build/trigger-subscription.yml
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190727.01
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Follow-Up: Also make the parameter of the implicit cast operator from Icon nullable.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogIcon.cs
Due: production

Improve comments.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogExpander.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogFooter.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190727.03
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190727.04
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190727.07
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190727.08
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190727.09
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190727.10
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190727.13
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190727.14
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Avoid the CS8602 warning by adding a property "BoundTaskDialog" to the TaskDialogControl.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogExpander.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogFooter.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190728.01
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/arcade build 20190727.2
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190728.02
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190728.05
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190728.07
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190728.08
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190728.09
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190728.10
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
