Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below
  behavior: default               # updates, if exists; otherwise post new
  require_changes: false          # post comment even if coverage does not change
  require_head: yes               # must have these two in order to post
  require_base: yes

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

System.Drawing.Common: Clean SuppressMessage attributes (dotnet/corefxdotnet/runtime#40174)
  src/System.Drawing.Common/src/System/Drawing/BufferedGraphicsContext.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/BufferedGraphicsContext.cs
  src/System.Drawing.Common/src/System/Drawing/ColorConverter.cs
  src/System.Drawing.Common/src/System/Drawing/FontFamily.cs
  src/System.Drawing.Common/src/System/Drawing/Gdiplus.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/src/System/Drawing/Image.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/EmfPlusRecordType.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/EncoderParameter.cs
  src/System.Drawing.Common/src/System/Drawing/NativeMethods.cs
  src/System.Drawing.Common/src/System/Drawing/PointConverter.cs
  src/System.Drawing.Common/src/System/Drawing/RectangleConverter.cs
  src/System.Drawing.Common/src/System/Drawing/SizeConverter.cs
  src/System.Drawing.Common/src/misc/CompModSwitches.cs
  src/System.Drawing.Common/src/misc/GDI/NativeMethods.cs
  src/System.Drawing.Common/src/misc/GDI/WindowsRegion.cs
Due: none

Remove unused .RESX files from Templates (#1573)
  Documentation/images/templates-check-installed.png
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/Microsoft.Dotnet.Winforms.ProjectTemplates.csproj
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/Form1.resx
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/Program.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/Form1.resx
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/readme.md
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PanelTests.cs
Due: test

Update dependencies from https://github.com/dotnet/core-setup build 20190809.05
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Make events nullable.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogCheckbox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogExpander.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogRadioButton.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190809.06
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190809.08
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190809.10
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190809.12
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190809.14
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190809.16
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190809.18
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190809.21
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190810.01
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/arcade build 20190809.8
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190810.03
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190810.05
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190810.08
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Wilcard include interop files for System.Windows.Forms
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190810.09
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190810.10
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Fix screen related tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CursorTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScreenTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/SystemInformationTests.cs
Due: test

Fix screen related tests (#1603)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CursorTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScreenTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/SystemInformationTests.cs
Due: test

Update dependencies from https://github.com/dotnet/core-setup build 20190810.11
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190810.12
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Disable two EventLog failing tests on Windows (dotnet/corefxdotnet/runtime#40225)
  src/System.Drawing.Common/tests/BitmapTests.cs
Due: none

Update dependencies from https://github.com/dotnet/arcade build 20190810.2
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Disable System.Drawing tests failing on arm64 (dotnet/corefxdotnet/runtime#40223)
  src/System.Drawing.Common/tests/BitmapTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/BmpCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/GifCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/IconCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/JpegCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing.Imaging/TiffCodecTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/BitmapTests.cs
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190811.02
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190811.05
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190811.07
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190811.08
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190811.09
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190811.10
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190811.11
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/arcade build 20190811.1
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Re-enable StyleCop warning SA1400 (elements should specify access) (dotnet/corefxdotnet/runtime#40240)
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/GraphicsPath.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/ImageAnimator.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/MetafileHeader.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/NativeStructs.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PageSettings.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PreviewPrintController.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrintPageEventArgs.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrinterSettings.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrintingServices.Unix.cs
Due: none

Remove .NET Framework isms
  src/Common/tests/InternalUtilitiesForTests/src/AssertExtensions.cs
  src/Common/tests/InternalUtilitiesForTests/src/PlatformDetection.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializerBase.cs
  src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DomainUpDown.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkLabel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MaskedTextBox.cs
Due: production, test

Deprecate "Switch.System.Windows.Forms.DoNotSupportSelectAllShortcutInMultilineTextBox"
  src/System.Windows.Forms/src/System/Windows/Forms/LocalAppContextSwitches.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBox.cs
Due: production

Deprecate "Switch.System.Windows.Forms.DoNotLoadLatestRichEditControl"
  src/Common/src/Interop/Interop.Libraries.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LocalAppContextSwitches.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBoxConstants.cs
Due: production
