Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Add many more Network Tests
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkTests.vb
Due: none

Improve Network Tests
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkTests.vb
Due: none

Improve Netword Tests and coverage
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkTests.vb
Due: none

7027 : fix treeview sorter issue when treeviewnodesorter is null set sorter value false and RefreshNodes
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
Due: production, test

Fix DownloadFile with UI to match cancel behaviour of Framework.
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network.vb
Due: none

Add DesignMode judgement to the MessageBox.Show method
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/MessageBox.cs
Due: production

Checks if properties from testing control match with propper assembly
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxSystemMonitorTests.cs
Due: test

Verfies correspondence between test control events and assembly events
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxSystemMonitorTests.cs
Due: test

Cleans up test for AxSystemMonitor
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxSystemMonitorTests.cs
Due: test

Bump xunit version
  eng/Versions.props
Due: none

avoid explicit calls to Dispose() in favor of 'using' statement (#10694)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewLinkCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRowHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TextBox/MaskedTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ComponentEditorForm.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/ThreadExceptionDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/SplitContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MDI/MDIControlStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Rendering/ControlPaint.cs
Due: production

Fix ImageList rendering of transparent images (#10696)
  src/System.Windows.Forms.Primitives/src/Windows/Win32/Foundation/COLORREF.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.ImageList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ImageList/ImageList.cs
Due: production

dispose graphics in TabControl.WmReflectDrawItem() (#10536)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TabControl/TabControl.cs
Due: production

removing an override that is identical to the base class implementation (#10713)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/UpDown/UpDownBase.UpDownButtons.UpDownButtonsAccessibleObject.cs
Due: production

Update PreReleaseVersionLabel to preview
  eng/Versions.props
Due: none

Sort PublicAPI.Shipped.txt Files
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
Due: production

Update PreReleaseVersionLabel to preview (#10715)
  eng/Versions.props
Due: none

Sort PublicAPI.Shipped.txt Files (#10717)
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
Due: production

publish APIs for .NET 9 Preview 1
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
Due: production

Publish Unpublished APIs for .NET 9 preview 1 (#10714)
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
Due: production

Update milestone for fabricbot
  .github/fabricbot.json
Due: none

update branding to preview 2
  eng/Versions.props
Due: none

Update main Branding to .NET 9 Preview 2 (#10718)
  .github/fabricbot.json
  eng/Versions.props
Due: none

Add checking CanNotifyClients method in MessageBox.Show.
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/MessageBox.cs
Due: production

fix bug: No text for new tabpage item that added by TabPages property in the properties window in the DemoConsole application
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/CollectionEditor.CollectionEditorCollectionForm.cs
Due: production

Add ScratchProject with Access to Internals (#10685)
  .gitignore
  Winforms.sln
  src/System.Private.Windows.Core/src/Properties/AssemblyInfo.cs
  src/System.Windows.Forms.Design/src/Properties/AssemblyInfo.cs
  src/System.Windows.Forms.Primitives/src/Properties/AssemblyInfo.cs
  src/System.Windows.Forms/src/Properties/AssemblyInfo.cs
  src/System.Windows.Forms/tests/IntegrationTests/ScratchProjectWithInternals/Form1.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/ScratchProjectWithInternals/Form1.cs
  src/System.Windows.Forms/tests/IntegrationTests/ScratchProjectWithInternals/Form1.resx
  src/System.Windows.Forms/tests/IntegrationTests/ScratchProjectWithInternals/Program.cs
  src/System.Windows.Forms/tests/IntegrationTests/ScratchProjectWithInternals/ScratchProjectWithInternals.csproj
  src/System.Windows.Forms/tests/IntegrationTests/ScratchProjectWithInternals/readme.txt
Due: production, test

avoid graphics resource leak in TabControl.WmReflectDrawItem() include ForeColor and BackColor in event args for TabControl.OnDrawItem
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
Due: production

cherry pick 8ee73ec
  src/System.Windows.Forms.Primitives/src/Windows/Win32/Foundation/COLORREF.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.ImageList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageList.cs
Due: production

fix format and InitializeNewComponent logic
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/CollectionEditor.CollectionEditorCollectionForm.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/CollectionEditor.cs
Due: production

Unified implementations of RuntimeId 1 fixed style 2. replaced PARAM.ToInt with a cast (int) becasue InpPtr is now implemented as a nint 3. fixed xml-doc comments
  src/System.Windows.Forms/src/System/Windows/Forms/Accessibility/AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Accessibility/Control.ControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Accessibility/LabelEditAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.ComboBoxChildDropDownButtonUiaProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.ComboBoxChildEditUiaProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.ComboBoxChildListUiaProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.ComboBoxChildTextUiaProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.ComboBoxItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.DataGridViewEditingPanelAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.SelectedCellsAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.TopRowAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCell.DataGridViewCellAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCheckBoxCell.DataGridViewCheckBoxCellAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRow.DataGridViewRowAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRow.DataGridViewSelectedRowCellsAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Labels/LinkLabel.Link.LinkAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.ItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ColumnHeader.ListViewColumnHeaderAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListViewGroup.ListViewGroupAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListViewItem.ListViewItemBaseAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListViewItem.ListViewItemImageAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListViewItem.ListViewSubItem.ListViewSubItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.CalendarBodyAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.CalendarCellAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.CalendarHeaderAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.CalendarRowAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.MonthCalendarChildAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.GridEntryAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.GridViewListBoxItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TabControl/TabPage.TabAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripItem.ToolStripItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TrackBar/TrackBar.TrackBarChildAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeNode.TreeNodeAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/UpDown/DomainUpDown.DomainItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/UpDown/UpDownBase.UpDownButtons.UpDownButtonsAccessibleObject.DirectionButtonAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider/ErrorProvider.ControlItem.ControlItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider/ErrorProvider.ErrorWindow.ErrorWindowAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Scrolling/ScrollBar.ScrollBarChildAccessibleObject.cs
Due: production

Fis formatting code and remove unneeded code
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkTests.vb
Due: none

Use CurrentUICulture in KeysConverter.cs when converting to name in default context
  src/System.Windows.Forms/src/System/Windows/Forms/Input/KeysConverter.cs
Due: production

Replace `ArrayList` usage in `ToolStripItemDataObject` with `List` (#10626)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripItemBehavior.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripItemDataObject.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripMenuItemDesigner.cs
Due: production

Clean up ImageListStreamer
  src/System.Private.Windows.Core/src/System/IO/Compression/RunLengthEncoder.cs
  src/System.Private.Windows.Core/src/System/SpanReader.cs
  src/System.Private.Windows.Core/src/System/SpanWriter.cs
  src/System.Private.Windows.Core/src/Windows/Win32/System/Com/Interop.GPStream.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/Controls/Dialogs/DEVNAMES.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/WindowsAndMessaging/ICONDIR.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/WindowsAndMessaging/ICONDIRENTRY.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.ImageList.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/IO/Compression/RunLengthEncoderTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Private/Windows/Core/PrivateCoreTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/SpanReaderTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/SpanWriterTests.cs
  src/System.Windows.Forms/src/GlobalSuppressions.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ImageList/ImageList.NativeImageList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ImageList/ImageListStreamer.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ImageListTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ImageListStreamerTests.cs
Due: production, test

cleaned up implementations of RuntimeId in AccessibleObjects (#10730)
  src/System.Windows.Forms/src/System/Windows/Forms/Accessibility/AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Accessibility/Control.ControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Accessibility/LabelEditAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.ComboBoxChildDropDownButtonUiaProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.ComboBoxChildEditUiaProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.ComboBoxChildListUiaProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.ComboBoxChildTextUiaProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.ComboBoxItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.DataGridViewEditingPanelAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.SelectedCellsAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.TopRowAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCell.DataGridViewCellAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCheckBoxCell.DataGridViewCheckBoxCellAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRow.DataGridViewRowAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRow.DataGridViewSelectedRowCellsAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Labels/LinkLabel.Link.LinkAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.ItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ColumnHeader.ListViewColumnHeaderAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListViewGroup.ListViewGroupAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListViewItem.ListViewItemBaseAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListViewItem.ListViewItemImageAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListViewItem.ListViewSubItem.ListViewSubItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.CalendarBodyAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.CalendarCellAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.CalendarHeaderAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.CalendarRowAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.MonthCalendarChildAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.GridEntryAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.GridViewListBoxItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TabControl/TabPage.TabAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripItem.ToolStripItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TrackBar/TrackBar.TrackBarChildAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeNode.TreeNodeAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/UpDown/DomainUpDown.DomainItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/UpDown/UpDownBase.UpDownButtons.UpDownButtonsAccessibleObject.DirectionButtonAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider/ErrorProvider.ControlItem.ControlItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider/ErrorProvider.ErrorWindow.ErrorWindowAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Scrolling/ScrollBar.ScrollBarChildAccessibleObject.cs
Due: production

Clean up ImageListStreamer (#10736)
  src/System.Private.Windows.Core/src/System/IO/Compression/RunLengthEncoder.cs
  src/System.Private.Windows.Core/src/System/SpanReader.cs
  src/System.Private.Windows.Core/src/System/SpanWriter.cs
  src/System.Private.Windows.Core/src/Windows/Win32/System/Com/Interop.GPStream.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/Controls/Dialogs/DEVNAMES.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/WindowsAndMessaging/ICONDIR.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/WindowsAndMessaging/ICONDIRENTRY.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.ImageList.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/IO/Compression/RunLengthEncoderTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Private/Windows/Core/PrivateCoreTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/SpanReaderTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/SpanWriterTests.cs
  src/System.Windows.Forms/src/GlobalSuppressions.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ImageList/ImageList.NativeImageList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ImageList/ImageListStreamer.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ImageListTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ImageListStreamerTests.cs
Due: production, test
