Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below
  behavior: default               # updates, if exists; otherwise post new
  require_changes: false          # post comment even if coverage does not change
  require_head: yes               # must have these two in order to post
  require_base: yes

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

PR comments
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/DataGridViewCellStyleEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/DataGridViewComponentPropertyGridSite.cs
Due: production

add unit test to data grid view cell style editor
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Windows/Forms/Design/DataGridViewCellStyleEditorTests.cs
Due: test

modify the define of some variables
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiLabelTests/MauiLabelTests.cs
Due: test

Add more Control tests (#2359)
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Handlers.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Properties.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
Due: production, test

Add more ListView tests (#2362)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
Due: test

Remove TrackPopupMenuEx interop (#2327)
  src/Common/src/NativeMethods.cs
  src/Common/src/SafeNativeMethods.cs
Due: production

Structify TCITEM (#2258)
  src/Common/src/Interop/ComCtl32/Interop.TCIF.cs
  src/Common/src/Interop/ComCtl32/Interop.TCIS.cs
  src/Common/src/Interop/ComCtl32/Interop.TCITEMW.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.ControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.TabPageCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabPage.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabControl.ControlCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabControl.TabPageCollectionTests.cs
Due: production, test

LOC CHECKIN | dotnet/winforms release/3.1 | 20191114
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Fix CodeAnalysis.ruleset path (dotnet/runtime#35)
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
Due: none

Added System.Windows.Forms.Design.ControlDesigner.get_SelectionRules Tests
  src/System.Windows.Forms.Design/tests/UnitTests/ControlDesignerTests.cs
Due: test

Created DesignerActionListsChangedEventArgsTests
  src/System.Windows.Forms.Design/tests/UnitTests/DesignerActionListsChangedEventArgsTests.cs
Due: test

added unit test for column header collection editor
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/ColumnHeaderCollectionEditor.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Windows/Forms/Design/ColumnHeaderCollectionEditorTests .cs
Due: production, test

add type forwarding
  src/System.Design/src/System.Design.Forwards.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/ColumnHeaderCollectionEditor.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Windows/Forms/Design/ColumnHeaderCollectionEditorTests .cs
Due: production, test

added type forwarding for DataGridViewCellStyleEditor
  src/System.Design/src/System.Design.Forwards.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/DataGridViewCellStyleEditor.cs
Due: production

Fix test build of test project that referenced corefx shared corelib directly and cleanup common path usages (dotnet/runtime#47)
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/tests/System.Drawing.Common.Tests.csproj
Due: none

suppress nuget package generation warnings NU5131 and NU5128
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/Microsoft.Dotnet.Winforms.ProjectTemplates.csproj
  pkg/Microsoft.Private.Winforms/Microsoft.Private.Winforms.csproj
Due: none

suppress nuget package generation warnings NU5131 and NU5128 (#2373)
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/Microsoft.Dotnet.Winforms.ProjectTemplates.csproj
  pkg/Microsoft.Private.Winforms/Microsoft.Private.Winforms.csproj
Due: none

Update PreReleaseVersionLabel to RTM
  eng/Versions.props
Due: none

Update PreReleaseVersionLabel to RTM (#2374)
  eng/Versions.props
Due: none

Add existing project MauiLabelTests into the solution
  Winforms.sln
Due: none

Added DesignerUtilsTests unit tests
  src/System.Windows.Forms.Design/tests/UnitTests/DesignerUtilsTests.cs
Due: test

Porting a Maui test MauiLabelTests to xUnit (#2349)
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiLabelTests/MauiLabelTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiLabelTests/MauiLabelTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiLabelTests.cs
Due: test

Port ColumnHeaderCollectionEditor (#2345)
  src/System.Design/src/System.Design.Forwards.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/ColumnHeaderCollectionEditor.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Windows/Forms/Design/ColumnHeaderCollectionEditorTests .cs
Due: production, test

Simplify.
  src/System.Windows.Forms/src/System/Windows/Forms/WindowSubclassHandler.cs
Due: production

Fix typo.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
Due: production

Extract ThemingScope interop
  src/Common/src/Interop/Kernel32/Interop.ACTCTXW.cs
  src/Common/src/Interop/Kernel32/Interop.ACTCTX_FLAG.cs
  src/Common/src/Interop/Kernel32/Interop.ActivateActCtx.cs
  src/Common/src/Interop/Kernel32/Interop.CreateActCtxW.cs
  src/Common/src/Interop/Kernel32/Interop.DeactivateActCtx.cs
  src/Common/src/Interop/Kernel32/Interop.GetCurrentActCtx.cs
  src/Common/src/UnsafeNativeMethods.cs
Due: production

Move ThemingScope to its own file
  src/Common/src/ThemingScope.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ThreadContext.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CommonDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DateTimePicker.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageListStreamer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ProgressBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/StatusBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TrackBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
Due: production

Cleanup nesting and remove dead OSFeature checks in ThemingScope
  src/Common/src/ThemingScope.cs
Due: production

MauiPrintUnitConvertTests case check in
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiPrintUnitConvertTests/MauiPrintUnitConvertTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiPrintUnitConvertTests/MauiPrintUnitConvertTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/lib/MDLog.dll
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/lib/Maui.Core.dll
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/lib/Maui.TestLog.dll
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/System.Windows.Forms.Maui.IntegrationTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiPrintUnitConvertTests.cs
Due: test

Fixed LinkLabel text color setting
  src/Common/src/Interop/Gdi32/Interop.SetTextColor.cs
Due: production

Fixing LinkLabel text color setting (#2379)
  src/Common/src/Interop/Gdi32/Interop.SetTextColor.cs
Due: production

Cleanup Imm32 interop (#2333)
  src/Common/src/ExternDll.cs
  src/Common/src/Interop/Imm32/Interop.CPS.cs
  src/Common/src/Interop/Imm32/Interop.IME_CMODE.cs
  src/Common/src/Interop/Imm32/Interop.IME_SMODE.cs
  src/Common/src/Interop/Imm32/Interop.ImmAssociateContext.cs
  src/Common/src/Interop/Imm32/Interop.ImmCreateContext.cs
  src/Common/src/Interop/Imm32/Interop.ImmGetContext.cs
  src/Common/src/Interop/Imm32/Interop.ImmGetConversionStatus.cs
  src/Common/src/Interop/Imm32/Interop.ImmGetOpenStatus.cs
  src/Common/src/Interop/Imm32/Interop.ImmNotifyIME.cs
  src/Common/src/Interop/Imm32/Interop.ImmReleaseContext.cs
  src/Common/src/Interop/Imm32/Interop.ImmSetConversionStatus.cs
  src/Common/src/Interop/Imm32/Interop.ImmSetOpenStatus.cs
  src/Common/src/Interop/Imm32/Interop.NI.cs
  src/Common/src/Interop/Interop.Libraries.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/ExternDll.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.Ime.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MaskedTextBox.cs
Due: production

Structify OFNOTIFYW
  src/Common/src/Interop/Comdlg32/Interop.OFNOTIFYW.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
Due: production

Fix Debug.Assert failure
  src/System.Windows.Forms/src/System/Windows/Forms/TabPage.cs
Due: production

Add TabPage tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Handlers.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Properties.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PictureBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabPageTests.TabPageControlCollection.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabPageTests.cs
Due: test

Cleanup IConnectionPoint interface
  src/Common/src/Interop/Ole32/Interop.IConnectionPoint.cs
  src/Common/src/Interop/Ole32/Interop.IConnectionPointContainer.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.ConnectionPointCookie.cs
Due: production

Add AxHost.ConnectionPointCookie tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHost.ConnectionPointCookieTests.cs
Due: test

Move KeyboardLayout methods to Interop User32
  src/Common/src/Interop/User32/Interop.ActivateKeyboardLayout.cs
  src/Common/src/Interop/User32/Interop.GetKeyboardLayout.cs
  src/Common/src/Interop/User32/Interop.GetKeyboardLayoutList.cs
  src/Common/src/SafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/InputLanguage.cs
Due: production
