Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Enable internal build consumption (#3616)
  azure-pipelines.yml
  eng/ci.yml
Due: none

Set the color when drawing text in CheckedListBox.
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/DeviceContextExtensions.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CheckedListBox.cs
Due: production

Set the color when drawing text in CheckedListBox. (#3629)
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/DeviceContextExtensions.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CheckedListBox.cs
Due: production

Fixing issue with getting of Accessible Name, Role, Description (#3607)
  src/System.Windows.Forms/src/System/Windows/Forms/MenuStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.ToolStripItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripTextBox.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/MenuStrip.MenuStripAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/StatusStrip.StatusStripAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ToolStripAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ToolStripItemAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ToolStripTextBox.ToolStripTextBoxAccessibleObjectTests.cs
Due: production, test

LOC CHECKIN (#3624)
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Add template for WinForms Control Library
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/.template.config/dotnetcli.host.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/Company.ControlLibrary1.csproj
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/Company.ControlLibrary1.csproj.user
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/UserControl1.Designer.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/UserControl1.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-VisualBasic/.template.config/dotnetcli.host.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-VisualBasic/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-VisualBasic/Company.ControlLibrary1.vbproj
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-VisualBasic/Company.ControlLibrary1.vbproj.user
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-VisualBasic/UserControl1.Designer.vb
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-VisualBasic/UserControl1.vb
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/readme.md
Due: none

Move PRINTPAGERANGE to Interop Comdlg32
  src/System.Windows.Forms.Primitives/src/Interop/Comdlg32/Interop.PRINTPAGERANGE.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintDialog.cs
Due: production

Move PRINTPAGERANGE to Interop Comdlg32 (#3604)
  src/System.Windows.Forms.Primitives/src/Interop/Comdlg32/Interop.PRINTPAGERANGE.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintDialog.cs
Due: production

Fixed code review notes. Added general test for all controls. Added missing logic for Accessible Name and Role properties
  src/System.Windows.Forms/src/System/Windows/Forms/Form.AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MenuStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.MonthCalendarAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/DropDownButton.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ComboBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ControlAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/DataGridViewAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/GroupBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/LabelAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/MenuStripAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ProgressBarAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/PropertyGridAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/StatusStripAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ToolStripAccessibleObjectTests.cs
Due: production, test

Re-enable RemoteExecutor tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Application.ParkingWindowTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ApplicationTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CommonDialogTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewHeaderCellTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/GroupBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewGroupTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewInsertionMarkTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabPageTests.cs
Due: test

Renamed class and file
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/Control.ControlAccessibleObjectTests.cs
Due: test

Remove depprojs in favor of PackageReferences (dotnet/runtime#35606)
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/tests/System.Drawing.Common.Tests.csproj
Due: none

Replace Dev10 with .NET Framework 4.0 in comments
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ResourceCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlCodeDomSerializer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.cs
Due: production

Don't double apply Graphics transform
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.Rectangle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GroupBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextRenderer.cs
Due: production

Apply offline feedback
  src/System.Windows.Forms/src/System/Windows/Forms/GroupBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
Due: production

fixup! Re-enable RemoteExecutor tests
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/MonthCalendar.CalendarBodyAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/MonthCalendar.MonthCalendarAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Application.ParkingWindowTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ApplicationTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CommonDialogTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewHeaderCellTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/GroupBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewGroupTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewInsertionMarkTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabPageTests.cs
Due: test

Fixed code review notes
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/Control.ControlAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ToolStripItemAccessibleObjectTests.cs
Due: test

- Shift X properly - Remove unused flag and collapse methods
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
Due: production

Additional tweaking
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
Due: production

PR feedback: Don't check for illegal cross thread calls in TaskDialog.HandleCreated.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
Due: production

Issue-3504: Fixed code review notes
  eng/ci.yml
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/Control.ControlAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ToolStripItemAccessibleObjectTests.cs
Due: test

Disable flaky tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ButtonTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TextRendererTests.cs
Due: test

Disable flaky tests (#3648)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ButtonTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TextRendererTests.cs
Due: test

Check for illegal cross-thread calls in the TaskDialog (#3417)
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TaskDialogTests.cs
Due: production, test

Cleanup LCID code
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.GetLocaleInfoEx.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.LCID.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.LCTYPE.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.SORT.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.SetThreadLocale.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.QACONTAINER.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.TYPEATTR.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.IDispatch.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.OCPFIPARAMS.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.OleCreatePropertyFrame.cs
  src/System.Windows.Forms.Primitives/src/Interop/VSSDK/Interop.ICategorizeProperties.cs
  src/System.Windows.Forms.Primitives/src/Interop/VSSDK/Interop.IVsPerPropertyBrowsing.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ThreadContext.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ComponentEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ICategorizePropertiesHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IVsPerPropertyBrowsingHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PageSetupDialog.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ApplicationTests.cs
Due: production, test

Add initial interop testing framework
  Winforms.sln
  eng/configure-toolset.ps1
  global.json
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IOleClientSite.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IOleControlSite.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.OleInterfaces.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.AxSourcingSite.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserSiteBase.cs
  src/System.Windows.Forms/tests/InteropTests/InteropTestBase.cs
  src/System.Windows.Forms/tests/InteropTests/NativeTests/CMakeLists.txt
  src/System.Windows.Forms/tests/InteropTests/NativeTests/NativeTests.proj
  src/System.Windows.Forms/tests/InteropTests/NativeTests/WebBrowserSiteBaseInteropTests.cpp
  src/System.Windows.Forms/tests/InteropTests/NativeTests/testhelpers.h
  src/System.Windows.Forms/tests/InteropTests/System.Windows.Forms.Interop.Tests.csproj
  src/System.Windows.Forms/tests/InteropTests/WebBrowserSiteBaseInteropTests.cs
Due: production, test

Add scope tracking
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.CreateBitmapScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.CreateBrushScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.CreateDcScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.CreatePenScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.GetBkMode.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.ObjectScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.RegionScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.SelectPaletteScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.SelectionScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.SetBkModeScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.SetMapModeScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.SetRop2Scope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.SetTextAlignmentScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.SetTextColorScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.BeginPaintScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.OpenThemeDataScope.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/DeviceContextHdcScope.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/DisposalTracking.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonBaseAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/DrawingEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/GdiCache.ScreenGraphicsScope.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/ScreenDcCache.ScreenDcScope.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/ScreenDcCache.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Label.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ProfessionalColorTable.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListBox.ObjectCollectionTests.cs
Due: production, test

Add scope tracking (#3653)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.CreateBitmapScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.CreateBrushScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.CreateDcScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.CreatePenScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.GetBkMode.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.ObjectScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.RegionScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.SelectPaletteScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.SelectionScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.SetBkModeScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.SetMapModeScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.SetRop2Scope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.SetTextAlignmentScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.SetTextColorScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.BeginPaintScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/UxTheme/Interop.OpenThemeDataScope.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/DeviceContextHdcScope.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/DisposalTracking.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonBaseAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/DrawingEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/GdiCache.ScreenGraphicsScope.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/ScreenDcCache.ScreenDcScope.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/ScreenDcCache.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Label.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ProfessionalColorTable.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListBox.ObjectCollectionTests.cs
Due: production, test

Respond to feedback
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GetWindowRect.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/RefCountedCache.Scope.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/SinglyLinkedList.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/SystemDrawingExtensions.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/RefCacheTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/Gdi/GdiCache.ScreenGraphicsScope.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/Gdi/ScreenDcCache.ScreenDcScope.cs
Due: production

More feedback followup
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.Polygon.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/DeviceContextExtensions.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/GdiPlus/GdiPlusCache.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/GdiPlus/PenCache.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/GdiPlus/SolidBrushCache.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/RefCountedCache.CacheEntry.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/RefCacheTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/Gdi/FontCache.cs
Due: production

Fix accessibility merge
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/RefCountedCache.CacheEntry.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/RefCountedCache.Scope.cs
Due: none

Fix feedback
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Update name
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/GdiPlus/GdiPlusCache.cs
Due: none

Missed a file
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/RefCountedCache.Scope.cs
Due: none

Another name change
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/GdiPlus/GdiPlusCache.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonBaseAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonPopupAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/RadioButtonBaseAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCheckBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumnHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTopLeftHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GroupBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GroupBoxRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MaskedTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/CategoryGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSystemRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolstripProfessionalRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/UpDownBase.UpDownButtons.cs
  src/System.Windows.Forms/src/System/Windows/Forms/UpDownBase.cs
Due: production

And another name change
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/GdiPlus/GdiPlusCache.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonBaseAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonStandardAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/RadioButtonBaseAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CheckedListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewButtonCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCheckBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumnHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewImageCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewLinkCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRowHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTopLeftHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DrawItemEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DrawListViewColumnHeaderEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DrawListViewItemEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DrawListViewSubItemEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DrawToolTipEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GroupBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Label.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkLabel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSystemRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolstripProfessionalRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
