Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below
  behavior: default               # updates, if exists; otherwise post new
  require_changes: false          # post comment even if coverage does not change
  require_head: yes               # must have these two in order to post
  require_base: yes

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Cleanup BindingConext
  src/System.Windows.Forms/src/System/Windows/Forms/BindingContext.cs
Due: production

fix namespace and release build tests
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/TypeCodeDomSerializer.cs
  src/System.Windows.Forms.Design/tests/UnitTests/Serialization/TypeCodeDomSerializerTests.cs
Due: production, test

Add System.Windows.Forms.Design tests and fix bugs/debugs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializerException.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ExpressionContext.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerActionMethodItem.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerActionVerbItem.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/UndoEngine.cs
  src/System.Windows.Forms.Design/tests/UnitTests/DesignerActionItemCollectionTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/DesignerActionListCollectionTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/DesignerActionMethodItemTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/DesignerActionPropertyItemTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/Serialization/CodeDomSerializerExceptionTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/Serialization/ExpressionContextTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System.Windows.Forms.Design.Tests.csproj
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionHeaderItemTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionItemCollectionTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionItemTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionListCollectionTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionListTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionMethodItemTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionPropertyItemTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionTextItemTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionVerbItemTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerCommandSetTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ExceptionCollectionTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ProjectTargetFrameworkAttributeTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/CodeDomSerializerExceptionTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/ExpressionContextTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/RootContextTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/SerializeAbsoluteContextTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/StatementContextTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/UndoUnitTests.cs
Due: production, test

Cleanup System.Windows.Forms.Design code
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionItem.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionList.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionListCollection.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ExceptionCollection.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ProjectTargetFrameworkAttribute.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializerException.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ExpressionContext.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/RootContext.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/SerializeAbsoluteContext.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/StatementContext.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerActionMethodItem.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerActionPropertyItem.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerActionVerbItem.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerActionVerbList.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/UndoEngine.cs
Due: production

PR feedback
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerActionMethodItem.cs
Due: production

Fix ToolboxItem bugs
  src/System.Windows.Forms.Design/src/System/Drawing/Design/ToolboxItem.cs
Due: production

Add ToolboxItem tests
  src/System.Windows.Forms.Design/tests/UnitTests/Resources/16x16.bmp
  src/System.Windows.Forms.Design/tests/UnitTests/Resources/16x24.bmp
  src/System.Windows.Forms.Design/tests/UnitTests/Resources/24x16.bmp
  src/System.Windows.Forms.Design/tests/UnitTests/System.Windows.Forms.Design.Tests.csproj
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/ToolboxItemCollectionTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/ToolboxItemTests.cs
Due: test

remove test cases that fail only on release build
  src/System.Windows.Forms.Design/tests/UnitTests/Serialization/TypeCodeDomSerializerTests.cs
Due: test

Add comment
  src/System.Windows.Forms/src/System/Windows/Forms/DataFormats.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190412.08
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190412.09
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190412.10
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190412.11
  eng/Version.Details.xml
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190412.12
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Add FontEditor tests
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Drawing/Design/FontEditorTests.cs
Due: test

Cleanup FontEditor
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/FontEditor.cs
Due: production

Fix FontEditor Debug assertion and InvalidCastException
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/FontEditor.cs
Due: production

Cleanup FileNameEditor
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/FileNameEditor.cs
Due: production

Fix FileEditor Debug Asserts and bug
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/FileNameEditor.cs
Due: production

Add FileNameEditor tests
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Windows/Forms/Design/FileNameEditorTests.cs
Due: test

Cleanup FolderNameEditor
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/FolderNameEditor.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190413.01
  eng/Version.Details.xml
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190413.02
  eng/Version.Details.xml
Due: none

Update dependencies from https://github.com/dotnet/arcade build 20190412.2
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Match FolderBrowserDialog code in FolderNameEditor
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/NativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/FolderNameEditor.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System.Windows.Forms.Design.Editors.Tests.csproj
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Windows/Forms/Design/FolderNameEditorTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FolderBrowserDialog.cs
Due: production, test

Update dependencies from https://github.com/dotnet/core-setup build 20190413.03
  eng/Version.Details.xml
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190413.04
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190413.05
  eng/Version.Details.xml
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190413.06
  eng/Version.Details.xml
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190413.07
  eng/Version.Details.xml
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190413.08
  eng/Version.Details.xml
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190413.09
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190413.10
  eng/Version.Details.xml
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190413.11
  eng/Version.Details.xml
Due: none

Cleanup WinFormsUtils
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WinFormsUtils.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ButtonBaseTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripItemTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: production, test

PR feedback, more cleanup and fixes
  src/Common/src/Interop/Interop.HRESULT.cs
  src/Common/src/Interop/Interop.Libraries.cs
  src/Common/src/Interop/Kernel32/Interop.MAX_PATH.cs
  src/Common/src/Interop/Kernel32/Interop.MAX_UNICODESTRING_LEN.cs
  src/Common/src/Interop/Shell32/Interop.SHBrowseForFolder.cs
  src/Common/src/Interop/Shell32/Interop.SHGetFolderPathEx.cs
  src/Common/src/Interop/Shell32/Interop.SHGetPathFromIDListLongPath.cs
  src/Common/src/Interop/Shell32/Interop.SHGetSpecialFolderLocation.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/NativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/System.Windows.Forms.Design.Editors.csproj
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/FolderNameEditor.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialogCustomPlace.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FolderBrowserDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
Due: production

Update dependencies from https://github.com/dotnet/arcade build 20190413.2
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190414.01
  eng/Version.Details.xml
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190414.03
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190414.04
  eng/Version.Details.xml
  eng/Versions.props
Due: none
