Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Enable and fix CA1830 warnings
  eng/Shipping.ruleset
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.LayoutData.cs
Due: production

Add sdl config (#3551)
  eng/sdl-tsa-vars.config
Due: none

Disable per-build SDL + other validations Reduces overall build time. These validations are being run nightly and on every build candidate
  eng/ci.yml
Due: none

Disable per-build SDL + other validations (#3559)
  eng/ci.yml
Due: none

Enable and fix CA1200 warnings
  eng/Shipping.ruleset
  src/System.Windows.Forms.Design/src/System/Drawing/Design/FontNameEditor.cs
  src/System.Windows.Forms.Primitives/src/Interop/IHandle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CurrencyManager.cs
Due: production

Enable and fix CA1200 warnings (#3562)
  eng/Shipping.ruleset
  src/System.Windows.Forms.Design/src/System/Drawing/Design/FontNameEditor.cs
  src/System.Windows.Forms.Primitives/src/Interop/IHandle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CurrencyManager.cs
Due: production

Enable and fix CA1830 warnings (#3556)
  eng/Shipping.ruleset
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.LayoutData.cs
Due: production

Enable and fix CA1835 warnings
  eng/Shipping.ruleset
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/SingleInstanceHelpers.vb
Due: none

Add tests for ToolStripItemCollection Find method
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItemCollection.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripItemCollectionTests.cs
Due: production, test

Use generic lists in FileDialog
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
Due: production

Collect memdumps for hung tests (#3552)
  eng/MemDump.win.psm1
  eng/Screenshots.win.psm1
  eng/ci.yml
  eng/custom-cibuild.ps1
Due: none

Enable and fix CA1835 warnings (#3557)
  eng/Shipping.ruleset
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/SingleInstanceHelpers.vb
Due: none

Enable and fix CA1507 warnings (#3554)
  eng/NonShipping.ruleset
  eng/Shipping.ruleset
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ByteViewer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionPanel.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/MenuCommandService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ContextMenuStripActionList.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/FormDocumentDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripActionList.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDropDownDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripItemDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripMenuItemDesigner.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.AxContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CurrencyManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCellCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumnCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRowCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ComponentEditorForm.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Help.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkLabel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MDIClient.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSettings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNodeCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserContainer.cs
Due: production

Enable and fix CA1802 warnings
  eng/Shipping.ruleset
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/MyServices/FileSystemProxyTests.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TableLayoutPanelCodeDomSerializer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CheckBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2Properties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCheckBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewLinkCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxEditingControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.BitmapBinder.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/LayoutUtils.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/PropertyNames.cs
  src/System.Windows.Forms/src/System/Windows/Forms/NumericUpDown.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RadioButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripDropDownMenu.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripGrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/VisualStyles/VisualStyleElement.cs
  src/System.Windows.Forms/src/System/Windows/Forms/VisualStyles/VisualStyleRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WinFormsUtils.cs
Due: production

Add tests for ToolStripItemCollection Find method (#3563)
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItemCollection.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripItemCollectionTests.cs
Due: production, test

Clean up ListBox.ObjectCollection
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.ObjectCollection.cs
Due: production

Annotate ListBox.ObjectCollection
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.ObjectCollection.cs
Due: production

Break out ListBox.ItemArray nested classes
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.ItemArray.Entry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.ItemArray.EntryEnumerator.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.ItemArray.cs
Due: production

Clean up ListBox.ItemArray nested classes
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.ItemArray.EntryEnumerator.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.ItemArray.cs
Due: production

Fix names
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TableLayoutPanelCodeDomSerializer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CheckBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCheckBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewLinkCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxEditingControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.BitmapBinder.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RadioButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripGrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/VisualStyles/VisualStyleElement.cs
  src/System.Windows.Forms/src/System/Windows/Forms/VisualStyles/VisualStyleRenderer.cs
Due: production

Use generic lists in FileDialog (#3564)
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
Due: production

Removed duplicate ReadResources call
  src/System.Windows.Forms/src/System/Resources/ResXResourceSet.cs
Due: production

Add dependencies required for CPD strict (#3577)
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Ship API
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
Due: production

Set right SplitterDistance when setting SplitContainer.Panel2MinSize
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.cs
  src/System.Windows.Forms/tests/UnitTests/SplitContainerTests.cs
Due: production, test

Update branding
  eng/Versions.props
Due: none

Add tests for ListViewItemCollection Find method
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListView.ListViewItemCollectionTests.cs
Due: production, test

Add tests for ListViewItemCollection Find method (#3571)
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListView.ListViewItemCollectionTests.cs
Due: production, test

Enable and fix CA1810 warnings
  eng/NonShipping.ruleset
  eng/Shipping.ruleset
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CheckedListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SendKeys.cs
Due: production

fixup! Enable and fix CA1810 warnings
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
Due: production

Enable and fix CA1810 warnings (#3561)
  eng/NonShipping.ruleset
  eng/Shipping.ruleset
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CheckedListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SendKeys.cs
Due: production

Fix policheck violations
  Documentation/testing.md
Due: none

Skip unstable tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
Due: test

.
  src/System.Windows.Forms/tests/TestUtilities/Globals.cs
  src/System.Windows.Forms/tests/UnitTests/TextBoxBaseTests.cs
Due: test

wip
  eng/ci.yml
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
Due: test

Pass traits to xUnit
  Directory.Build.targets
  eng/ci.yml
  src/System.Windows.Forms/tests/TestUtilities/Globals.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/TextBoxBaseTests.cs
Due: test

Enable builds of internal branches
  azure-pipelines.yml
Due: none

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
