Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Condition out the native tests in VMR
  src/test/unit/interop/System.Windows.Forms.Interop.Tests.csproj
Due: none

update
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ControlCommandSetTests.cs
Due: test

fix regression
  src/System.Windows.Forms/System/Windows/Forms/Controls/ToolStrips/ToolStripDropDownItem.cs
Due: none

Condition out the native tests in VMR (#13187)
  src/test/unit/interop/System.Windows.Forms.Interop.Tests.csproj
Due: none

Update test "ConvertFrom_ShouldConvertKeys_Localization" to use the SR resource name to retrieve the localized string
  src/test/unit/System.Windows.Forms/System/Windows/Forms/KeysConverterTests.cs
Due: none

Handle FeedBacks
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DataSourceListEditorTests.cs
Due: test

Restore SR.Culture to its original value at the end of the test
  src/test/unit/System.Windows.Forms/System/Windows/Forms/KeysConverterTests.cs
Due: none

Update comment
  src/test/unit/System.Windows.Forms/System/Windows/Forms/KeysConverterTests.cs
Due: none

Updated the code lines to resolve the conversations.
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ToolStripEditorManagerTests.cs
Due: test

Handle feedback
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ControlCommandSetTests.cs
Due: test

Moving the test case "InvokeItemsDialog_EditValueInvoked_NoException' to UI Integration Tests
  src/System.Windows.Forms.Design/src/Properties/AssemblyInfo.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ListControlUnboundActionListTests.cs
  src/test/integration/UIIntegrationTests/ListControlUnboundActionListTests.cs
Due: production, test

Set PackageProjectUrl
  Directory.Build.props
Due: none

Set PackageProjectUrl (#13196)
  Directory.Build.props
Due: none

Add test file KeysConverterTests.LocalizationTests
  src/test/unit/System.Windows.Forms/System/Windows/Forms/KeysConverterTests.LocalizationTests.cs
  src/test/unit/System.Windows.Forms/System/Windows/Forms/KeysConverterTests.cs
Due: none

Handle feedback!
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ParentControlDesignerTests.cs
Due: test

Removing unused method RunInStaThread
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ToolStripAdornerWindowServiceTests.cs
Due: test

Remove RunInStaThread method and inline actions
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ToolStripAdornerWindowServiceTests.cs
Due: test

Adds some specific serialization test cases for the `ToolStripMenuItemCodeDomSerializer` class
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ToolStripMenuItemCodeDomSerializerTests.cs
Due: test

Fix Analyzer issue, where we did not make sure to test for the _right_ IComponent.
  src/System.Windows.Forms.Analyzers/cs/src/Analyzers/MissingPropertySerializationConfiguration/MissingPropertySerializationConfigurationAnalyzer.cs
Due: none

Remove richnav pipeline and feed
  NuGet.config
  Winforms.sln
  azure-pipelines-richnav.yml
Due: none

Add test for TableLayoutPanelCodeDomSerializer
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/TableLayoutPanelCodeDomSerializerTests.cs
Due: test

Remove richnav pipeline and feed (#13211)
  NuGet.config
  Winforms.sln
  azure-pipelines-richnav.yml
Due: none

Addressing the over-reporting issues in the MissingPropertySerializationConfiguration.
  src/System.Windows.Forms.Analyzers/cs/src/Analyzers/MissingPropertySerializationConfiguration/MissingPropertySerializationConfigurationAnalyzer.cs
Due: none

Add specific Copilot instructions for writing Analyzer and CodeFix tests.
  AnalyzerTests-Copilot-Instructions.md
  Winforms.sln
  src/System.Windows.Forms.Analyzers/cs/tests/System.Windows.Forms.Analyzers.CSharp.Tests.csproj
Due: none

Update src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DataSourceListEditorTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/DataSourceListEditorTests.cs
Due: test

Update src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDesigner.cs
Due: production

Handle feedbacks
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ToolStripMenuItemCodeDomSerializerTests.cs
Due: test

Handle FeedBacks
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/TabOrderTests.cs
Due: test

Handle FeedBacks
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/StandardCommandToolStripMenuItemTests.cs
Due: test

Add code coverage for ToolStripEditorManager
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ToolStripEditorManagerTests.cs
Due: test

checkout@self and clean are the default steps, we don't have to perform them again
  eng/pipelines/build-PR.yml
  eng/pipelines/build.yml
Due: none

Update test "ConvertFrom_ShouldConvertKeys_Localization" to use the SR resource name to retrieve the localized string (#13192)
  src/test/unit/System.Windows.Forms/System/Windows/Forms/KeysConverterTests.LocalizationTests.cs
  src/test/unit/System.Windows.Forms/System/Windows/Forms/KeysConverterTests.cs
Due: none

Delete the result assertion from test "Deserialize_ValidManager_CallsBaseSerializer"
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/TableLayoutPanelCodeDomSerializerTests.cs
Due: test

Using nameof(Items) replace "Items"
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDesigner.cs
Due: production

Update branding to 8.0.16
  eng/Versions.props
Due: none

Update branding to 9.0.5
  eng/Versions.props
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20250402.5
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20250402.8
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update branding to 8.0.16 (#13223)
  eng/Versions.props
Due: none

Path conditions:
  production: any of: src/Common/src/, src/Microsoft.VisualBasic/src/, src/Microsoft.VisualBasic.Forms/src/, src/System.Drawing.Common/src/, src/System.Drawing.Design/src/, src/System.Private.Windows.Core/src/, src/System.Private.Windows.GdiPlus/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Analyzers/src/, src/System.Windows.Forms.Analyzers.CSharp/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/, src/System.Windows.Forms.Primitives/src/, src/System.Windows.Forms.PrivateSourceGenerators/src/
  test: any of: src/Common/tests/, src/Microsoft.VisualBasic/tests/, src/Microsoft.VisualBasic.Forms/tests/, src/System.Drawing.Common/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Analyzers/tests/, src/System.Windows.Forms.Analyzers.CSharp/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Primitives/tests/, src/System.Windows.Forms.PrivateSourceGenerators/tests/
