Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

reverse the logic of NoClientNotifications pattern
  src/System.Windows.Forms.Primitives/src/System/LocalAppContextSwitches/LocalAppContextSwitches.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Accessibility/AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Accessibility/Control.ControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/MessageBox.cs
Due: production

Initial implementation of GDI+ effects (#10750)
  src/System.Drawing.Common/src/CompatibilitySuppressions.xml
  src/System.Drawing.Common/src/NativeMethods.txt
  src/System.Drawing.Common/src/System/Drawing/Bitmap.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/src/System/Drawing/ImageAnimator.cs
  src/System.Drawing.Common/src/System/Drawing/ImageInfo.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ColorChannelFlags.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ColorMatrix.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ColorMode.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/BlackSaturationEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/BlurEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/BrightnessContrastEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/ColorBalanceEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/ColorCurveEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/ColorLookupTableEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/ColorMatrixEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/ContrastEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/CurveChannel.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/DensityEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/Effect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/ExposureEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/HighlightEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/LevelsEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/MidtoneEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/ShadowEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/SharpenEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/TintEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/WhiteSaturationEffect.cs
  src/System.Drawing.Common/src/System/Drawing/PointerExtensions.cs
  src/System.Drawing.Common/tests/Imaging/ColorMatrixTests.cs
  src/System.Drawing.Common/tests/Imaging/Effects/EffectsTests.cs
  src/System.Drawing.Common/tests/System.Drawing.Common.Tests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/ScratchProject/ScratchProject.csproj
  src/System.Windows.Forms/tests/IntegrationTests/ScratchProjectWithInternals/ScratchProjectWithInternals.csproj
Due: test

7027 : fix treeview sorter issue when treeviewnodesorter is null set … (#10707)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
Due: production, test

Address feedback
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/Clipboard.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.cs
Due: production

Change IsWrappedForClipboard to init only
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.cs
Due: production

Enable nullability in some PropertyGrid members (#10757)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.cs
Due: production

Always Wrap Incoming Clipboard Data (#10759)
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/Clipboard.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
Due: production, test

Add RoundedRectangle methods to System.Drawing
  src/System.Drawing.Common/src/System/Drawing/Bitmap.cs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/GraphicsPath.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/tests/Drawing2D/GraphicsPathTests.cs
  src/System.Drawing.Common/tests/GraphicsTests.cs
Due: none

Remove source build flags
  src/System.Drawing.Common/src/packaging.targets
Due: none

Remove source build flags (#10765)
  src/System.Drawing.Common/src/packaging.targets
Due: none

Add RoundedRectangle methods to System.Drawing (#10764)
  src/System.Drawing.Common/src/System/Drawing/Bitmap.cs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/GraphicsPath.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/tests/Drawing2D/GraphicsPathTests.cs
  src/System.Drawing.Common/tests/GraphicsTests.cs
Due: none

Rename some files in Core to match
  src/System.Private.Windows.Core/src/System/BufferScope.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Foundation/FILETIME.cs
  src/System.Private.Windows.Core/src/Windows/Win32/System/Com/ComManagedStream.cs
  src/System.Private.Windows.Core/src/Windows/Win32/System/Variant/VARIANT.cs
  src/System.Private.Windows.Core/src/Windows/Win32/System/Variant/VARIANTVector.cs
Due: none

Fix ListView CancelEdit
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.cs
Due: production

Add unit test for MessageBox
  src/System.Windows.Forms.Primitives/src/System/LocalAppContextSwitches/LocalAppContextSwitches.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/DataGridViewCellAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/DataGridViewRowAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/MessageBoxTests.cs
Due: test

Reorginize Network File no code change
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network/NetworkAvailable.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network/NetworkAvailableEventArgs.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network/NetworkDownload.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network/NetwrokUpload.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network/Ping.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network/WebClientExtended.vb
Due: none

More cleanup
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network/NetworkAvailable.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network/NetworkDownload.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network/Ping.vb
Due: none

Move WebClientExtended to correct directory
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network/WebClientExtended.vb
Due: none

Add LabelDesigner tests
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/LabelDesignerTests.cs
Due: test

Add ComboBoxDesigner tests
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ComboBoxDesignerTests.cs
Due: test

Update packaging.targets
  src/System.Drawing.Common/src/packaging.targets
Due: none

Update packaging.targets (#10775)
  src/System.Drawing.Common/src/packaging.targets
Due: none

Add LabelDesigner tests (#10771)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/LabelDesignerTests.cs
Due: test

Add ComboBoxDesigner tests (#10772)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ComboBoxDesignerTests.cs
Due: test

Fix ListView CancelEdit (#10768)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.cs
Due: production

Rename some files in Core to match (#10767)
  src/System.Private.Windows.Core/src/System/BufferScope.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Foundation/FILETIME.cs
  src/System.Private.Windows.Core/src/Windows/Win32/System/Com/ComManagedStream.cs
  src/System.Private.Windows.Core/src/Windows/Win32/System/Variant/VARIANT.cs
  src/System.Private.Windows.Core/src/Windows/Win32/System/Variant/VARIANTVector.cs
Due: none

Enable nullability in some PropertyGrid members
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/HelpPane.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
Due: production

Remove null check for _selectedTab and add comment about IndexOf
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.cs
Due: production

Add MaskedTextBoxDesigner tests
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ComboBoxDesignerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/LabelDesignerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/MaskedTextBoxDesignerTests.cs
Due: test

Add RadioButtonDesigner tests
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/RadioButtonDesignerTests.cs
Due: test

Enable nullability in some GridEntry members
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/CategoryGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/MultiPropertyDescriptorGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyDescriptorGridEntry.cs
Due: production

Check if BrowsableAttributes is null
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.cs
Due: production

Check if properties is null
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.cs
Due: production

Fix ListView CancelEdit
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Clean up Image.Save
  src/System.Drawing.Common/src/System/Drawing/Bitmap.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/src/System/Drawing/Image.cs
  src/System.Drawing.Common/src/System/Drawing/ImageConverter.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ImageFormat.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.cs
  src/System.Drawing.Common/src/System/Drawing/PointerExtensions.cs
  src/System.Drawing.Common/src/System/Drawing/TextureBrush.cs
  src/System.Private.Windows.Core/src/NativeMethods.txt
  src/System.Private.Windows.Core/src/System/Drawing/IImage.cs
  src/System.Private.Windows.Core/src/System/IO/IRawData.cs
Due: none

Clean up Image.Save (#10783)
  src/System.Drawing.Common/src/System/Drawing/Bitmap.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/src/System/Drawing/Image.cs
  src/System.Drawing.Common/src/System/Drawing/ImageConverter.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ImageFormat.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Metafile.cs
  src/System.Drawing.Common/src/System/Drawing/PointerExtensions.cs
  src/System.Drawing.Common/src/System/Drawing/TextureBrush.cs
  src/System.Private.Windows.Core/src/NativeMethods.txt
  src/System.Private.Windows.Core/src/System/Drawing/IImage.cs
  src/System.Private.Windows.Core/src/System/IO/IRawData.cs
Due: none

Improve Image save performance
  src/System.Drawing.Common/src/System/Drawing/Image.cs
  src/System.Drawing.Common/src/System/Drawing/ImageConverter.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ImageCodecInfo.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ImageFormat.cs
  src/System.Private.Windows.Core/src/NativeMethods.txt
  src/System.Windows.Forms/tests/IntegrationTests/ScratchProject/Program.cs
Due: test

Undo ScratchProject change
  src/System.Windows.Forms/tests/IntegrationTests/ScratchProject/Program.cs
Due: test

Improve Image save performance (#10784)
  src/System.Drawing.Common/src/System/Drawing/Image.cs
  src/System.Drawing.Common/src/System/Drawing/ImageConverter.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ImageCodecInfo.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ImageFormat.cs
  src/System.Private.Windows.Core/src/NativeMethods.txt
Due: none

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
