Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Sets icon size with ScaleHelper, for the ErrorProvider component.
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider/ErrorProvider.IconRegion.cs
Due: production

Wrap Com DataObject when BuiltInCom
  src/System.Windows.Forms.Primitives/src/NativeMethods.json
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/FORMATETC.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/STATDATA.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/STGMEDIUM.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.ComDataObjectWrapper.EnumFormatEtcWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.ComDataObjectWrapper.EnumStatDataWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.ComDataObjectWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DropTarget.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataObjectTests.cs
Due: production, test

Fix initialization
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.ComDataObjectWrapper.EnumStatDataWrapper.cs
Due: production

Fix the automation for merged/closed PRs
  .github/policies/resourceManagement.yml
Due: none

Enable nullability in some GridEntry members
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/MultiSelectRootGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/SingleSelectRootGridEntry.cs
Due: production

Add comment about ConvertFromString when text is null
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.cs
Due: production

Revert this format changes
  src/System.Windows.Forms/src/System/Windows/Forms/Control.States.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DateTimePicker/DateTimePicker.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.Flags.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.Flags.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.PaintValueFlags.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/MultiSelectRootGridEntry.PropertyMerger.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.Flags.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Rendering/DrawingEventFlags.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Rendering/TextFormatFlags.cs
Due: production

Fix the automation for merged/closed PRs (#10855)
  .github/policies/resourceManagement.yml
Due: none

Enable nullability in some GridEntry members (#10832)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/MultiSelectRootGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/SingleSelectRootGridEntry.cs
Due: production

fix a build break from the previous checkin
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DateTimePicker/DateTimePicker.cs
Due: production

Split out effects and unseal classes (#10808)
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/BlackSaturationEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/BlurEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/BrightnessContrastEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/ColorBalanceEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/ColorLookupTableEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/ColorMatrixEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/ContrastEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/DensityEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/ExposureEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/GrayScaleEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/HighlightEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/InvertEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/LevelsEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/MidtoneEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/SepiaEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/ShadowEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/SharpenEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/TintEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/VividEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/WhiteSaturationEffect.cs
  src/System.Drawing.Common/tests/System/Drawing/Imaging/Effects/EffectsTests.cs
Due: none

Adds test for ErrorProvider with multi-sized icon to WinformsControlTest (#10847)
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ErrorProviderTest.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ErrorProviderTest.cs
Due: test

Issue 10735 error provider wrong icon multiple resolution (#10850)
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider/ErrorProvider.IconRegion.cs
Due: production

Don't error when file copy fails due to locking until all the backoffs have failed
  eng/SourceBuild.props
Due: none

Suppress finalizeation of ThreadMethodEntry class. Fix #10361. (#10460)
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ThreadMethodEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

add missing Stream overloads in DataStreamFromComStream
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/DataStreamFromComStream.cs
Due: production

[VMR] Don't error out on non-fatal file locking warnings (#10858)
  eng/SourceBuild.props
Due: none

Update ComDataObjectAdapter to use Com pointer
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/FORMATETC.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/STATDATA.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.ComDataObjectAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.ComDataObjectWrapper.EnumFormatEtcWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.ComDataObjectWrapper.EnumStatDataWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.ComDataObjectWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.EnumFormatEtcWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.EnumStatDataWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.FormatEnumerator.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DropTarget.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DragDropHelperTests.cs
Due: production, test

Adding suppression on RUC APIs that take a type
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.AxEnumConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.AxPropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.OleInterfaces.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.PropertyBagStream.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ExtendedTypeConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IPerPropertyBrowsingHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/ComNativeDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Buttons/FlatButtonAppearance.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.DataConnection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Labels/LinkArea.LinkAreaConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Labels/LinkConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListControl/ListControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/MergePropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyDescriptorGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.DropDownHolder.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TabControl/TabPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/OpacityConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripMenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/ListBindingHelper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/CommonDialogs/FontDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/SplitContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.ComDataObjectAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Panels/TableLayoutPanel/TableLayoutPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip/ToolTip.cs
Due: production

Speed up tests and fix random failing test.
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/WebListener.vb
Due: none

Delete Thumbs.db cache file
  src/System.Windows.Forms/src/Resources/System/Windows/Forms/Design/Thumbs.db
Due: production

Add Thumbs.db to .gitignore
  .gitignore
Due: none

Disable PR triggers for azure-pipelines-richnav.yml
  azure-pipelines-richnav.yml
Due: none

Cleanup and remove duplicate code
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/WebListener.vb
Due: none

Suppress ICustomTypeDescriptor methods
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.cs
Due: production

Enable nullability in some Designer classes
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ButtonBaseDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ComboBoxDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/LabelDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/MaskedTextBoxDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/PictureBoxDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/RadioButtonDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/RichTextBoxDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ScrollableControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TreeViewDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/UpDownBaseDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/UserControlDocumentDesigner.cs
Due: production

Add TryGetPropertyDescriptorValue
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ButtonBaseDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/LabelDesigner.cs
Due: production

Set offset to zero if Invoke returns null
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/LabelDesigner.cs
Due: production

Use generic GetService
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ScrollableControlDesigner.cs
Due: production

Add PropertyDescriptorCollectionExtensions and PropertyDescriptorExtensions
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ButtonBaseDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ComboBoxDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/LabelDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/PictureBoxDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TextBoxBaseDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/UpDownBaseDesigner.cs
  src/System.Windows.Forms.Primitives/src/System/ComponentModel/MemberDescriptorExtensions.cs
  src/System.Windows.Forms.Primitives/src/System/ComponentModel/PropertyDescriptorCollectionExtensions.cs
  src/System.Windows.Forms.Primitives/src/System/ComponentModel/PropertyDescriptorExtensions.cs
Due: production

2nd level up bubbling up RUC
  src/System.Windows.Forms/src/System/Drawing/Design/UITypeEditor.cs
  src/System.Windows.Forms/src/System/Resources/AssemblyNamesTypeResolutionService.cs
  src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.AxContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/Control_ActiveXControlInterfaces.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IManagedPerPropertyBrowsingHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/ComNativeDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Buttons/ButtonBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.DataConnection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ColumnHeaderConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/SelectionRangeConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/MergePropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertiesTab.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.GridViewTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TabControl/TabPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeViewImageIndexConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/WebBrowser/WebBrowserContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/Binding.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/BindingManagerBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/BindingSource.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/ListBindingConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/ListBindingHelper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/EventsTab.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageIndexConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageKeyConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/Formatter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/CommonProperties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MDI/MDIWindowDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Panels/TableLayoutPanel/TableLayoutSettings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Panels/TableLayoutPanel/TableLayoutSettingsTypeConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewDialog.cs
Due: production

Sepatate out common functions, upload and download code and #IF out all of upload testing since it currently requires a 3rd party website wich is not allowed.
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkDownloadTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkTestsCommonFunctions.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkUploadTests.vb
Due: none

Add MiscValue to UserControlWithObjectCollectionEditor to enable manual testing of "misc" label on PropertyGrid
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/UserControls/UserControlWithObjectCollectionEditor.cs
Due: test

Add issue url
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/UserControls/UserControlWithObjectCollectionEditor.cs
Due: test

Remove redundant Opttion statements from source files
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/ApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/ApplyApplicationDefaultsEventArgs.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/AssemblyInfo.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/CantStartSingleInstanceException.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/ConsoleApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/NoStartupFormException.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/SingleInstanceHelpers.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/StartupEventArgs.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/StartupNextInstanceEventArgs.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/UnhandledExceptionEventArgs.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/User.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.WinFormsAppContext.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Audio.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Clock.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Computer.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Keyboard.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Mouse.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/ServerComputer.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/FileSystemUtils.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeMethods.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Log.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/ClipboardProxy.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/FileSystemProxy.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/ContextValue.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/HttpClientCopy.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/ProgressDialog.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/WebClientCopy.vb
Due: none

Fix spelling errors
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Log.vb
Due: none

Add PropertyGridLocalized
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/MainFormControlsTabOrder.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/PropertyGridLocalized.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/PropertyGridLocalized.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/PropertyGridLocalized.resx
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/UserControls/UserControlWithObjectCollectionEditor.cs
Due: test

change flags to use binary constants and refactor to inline field access
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/BindingSource.BindingSourceStates.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/BindingSource.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/CurrencyManager.CurrencyManagerStates.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/CurrencyManager.cs
Due: production

Refactor Binding to use flags enum
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/Binding.BindingStates.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/Binding.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
