Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Update branding to 6.0.8
  eng/Versions.props
Due: none

Update branding to 6.0.8 (#7377)
  eng/Versions.props
Due: none

Update design and expose new attributes for the CustomTypeMarshaller support (dotnet/runtime#71682)
  src/System.Drawing.Common/src/Interop/Windows/Interop.Gdi32.cs
Due: none

Supress C# keword warning.
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.CreateWindowExW.cs
  src/System.Windows.Forms.Primitives/src/System.Windows.Forms.Primitives.csproj
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ClientUtils.cs
Due: none

Create test_issue.yaml
  .github/ISSUE_TEMPLATE/test_issue.yaml
Due: none

Create test_issue.yaml (#7382)
  .github/ISSUE_TEMPLATE/test_issue.yaml
Due: none

Supress C# keword warning. (#7380)
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.CreateWindowExW.cs
  src/System.Windows.Forms.Primitives/src/System.Windows.Forms.Primitives.csproj
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ClientUtils.cs
Due: none

Bump intelli.
  eng/Versions.props
Due: none

Supress SingleFile warning for test assembly.
  src/System.Windows.Forms.Primitives/tests/TestUtilities/Win32/WindowClass.cs
Due: none

Bump intelli. (#7386)
  eng/Versions.props
Due: none

Update all internal marshallers to the new model (dotnet/runtime#71470)
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/src/System/Drawing/Image.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/BitmapData.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ColorMatrix.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/MetafileHeaderEmf.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/MetafileHeaderWmf.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/WmfPlaceableFileHeader.cs
Due: none

Fix Narrator cannot announce the content in RichTextBox
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.cs
Due: production, test

Add missing IsAccessibilityObjectCreated check for TextBoxBase
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.cs
Due: production

Fix more warnings from updated IDE rules (dotnet/runtime#71779)
  src/System.Drawing.Common/src/System/Drawing/Imaging/EncoderParameters.cs
  src/System.Drawing.Common/src/System/Drawing/Internal/SystemColorTracker.cs
Due: none

Moved the cursor to the bottom right corner to avoid its effect on some tests.
  src/System.Windows.Forms/tests/TestUtilities/ThreadExceptionFixture.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewTests.cs
Due: test

Update PublicApiAnalyzer.props
  eng/ApiCompatibility/PublicApiAnalyzer.props
Due: none

Start using CsWin32
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.WinFormsAppContext.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Computer.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Keyboard.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/VBInputBox.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/ProgressDialog.vb
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/BehaviorService.AdornerWindow.MouseHook.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.DuplicateHandle.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.GetCurrentProcess.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.GetCurrentThread.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.GetCurrentThreadId.cs
  src/System.Windows.Forms.Primitives/src/NativeMethods.json
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
  src/System.Windows.Forms.Primitives/src/System.Windows.Forms.Primitives.csproj
  src/System.Windows.Forms.Primitives/tests/TestUtilities/PlatformDetection.Windows.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ThreadContext.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ThreadWindows.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.AutoCompleteDropDownFinder.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.MouseHook.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Timer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripManager.ModalMenuFilter.HostedWindowsFormsMessageHook.cs
Due: production

Add Win32 feature branch to CI build
  azure-pipelines.yml
Due: none

Add Win32 feature branch to CI build (#7393)
  azure-pipelines.yml
Due: none

Start using CsWin32 (#7392)
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.WinFormsAppContext.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Computer.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Keyboard.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/VBInputBox.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/ProgressDialog.vb
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/BehaviorService.AdornerWindow.MouseHook.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.DuplicateHandle.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.GetCurrentProcess.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.GetCurrentThread.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.GetCurrentThreadId.cs
  src/System.Windows.Forms.Primitives/src/NativeMethods.json
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
  src/System.Windows.Forms.Primitives/src/System.Windows.Forms.Primitives.csproj
  src/System.Windows.Forms.Primitives/tests/TestUtilities/PlatformDetection.Windows.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ThreadContext.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ThreadWindows.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.AutoCompleteDropDownFinder.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.MouseHook.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Timer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripManager.ModalMenuFilter.HostedWindowsFormsMessageHook.cs
Due: production

Update PublicApiAnalyzer.props (#7391)
  eng/ApiCompatibility/PublicApiAnalyzer.props
Due: none

Got rid of API Compat warnings resulting from dotnet/csharplang#6065 :
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms.Primitives/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Primitives/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
Due: production

Suppress IL2057, IL2062, ILL2096 messages about API that need trimmable annotations
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
Due: production

update CSC version to 4.4.0-1.22358.14
  eng/Versions.props
Due: none

Publish APIs for .NET 7.0 preview 7
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
Due: production

Publish APIs for .NET 7.0 preview 7 (#7397)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
Due: production

disable localization in the servicing branch for .NET7 preview7
  azure-pipelines.yml
Due: none

update version to .NET 7 RC1
  eng/Versions.props
Due: none

Create an RC1 milestone
  .github/fabricbot.json
Due: none

Attempt to get the default error icon from the OS
  src/System.Windows.Forms.Primitives/src/Interop/Shell32/Interop.SHGetStockIconInfo .cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider.cs
Due: production

Fix incorrect WarningsAsErrors element
  src/System.Windows.Forms/tests/IntegrationTests/VisualBasicTemplate/VbWinForms.vbproj
Due: test

update version to .NET 7 RC1 (#7399)
  eng/Versions.props
Due: none

Create an RC1 milestone (#7400)
  .github/fabricbot.json
Due: none

Disable localization in the servicing branch for .NET7 preview7 (#7398)
  azure-pipelines.yml
Due: none

Make the TreeView respect the DoubleBuffered property
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
Due: production

[internal/release/6.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Fix Narrator not announcing content of RichTextBox (#7389)
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.cs
Due: production, test

Fix incorrect WarningsAsErrors element (#7401)
  src/System.Windows.Forms/tests/IntegrationTests/VisualBasicTemplate/VbWinForms.vbproj
Due: test

Related to https://github.com/dotnet/winforms/issues/7297 Skip Button_Anchor_ResizeOnWindowSizeWiderAsync test
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ButtonTests.cs
Due: test
