Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Structify TRACKMOUSEEVENT
  src/Common/src/Interop/User32/Interop.TME.cs
  src/Common/src/Interop/User32/Interop.TrackMouseEvent.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/SafeNativeMethods.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/BehaviorService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
Due: production, test

Fixing accessible name getting. Adding new resources.
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/DocComment.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
Due: production

Cleanup IOleInPlaceObject
  src/Common/src/Interop/Ole32/Interop.IOleInPlaceObject.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.Ime.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserSiteBase.cs
Due: production

Cleanup ROP2 interop
  src/Common/src/Interop/Gdi32/Interop.GetROP2.cs
  src/Common/src/Interop/Gdi32/Interop.R2.cs
  src/Common/src/Interop/Gdi32/Interop.SetROP2.cs
  src/Common/src/SafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/misc/GDI/DeviceContext2.cs
  src/System.Windows.Forms/src/misc/GDI/DeviceContextRasterOperationFlags.cs
  src/System.Windows.Forms/src/misc/GDI/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsGraphics2.cs
Due: production

Cleanup BkColor/BkMode interop
  src/Common/src/Interop/Gdi32/Interop.BKMODE.cs
  src/Common/src/Interop/Gdi32/Interop.GetBkColor.cs
  src/Common/src/Interop/Gdi32/Interop.GetBkMode.cs
  src/Common/src/Interop/Gdi32/Interop.SetBkColor.cs
  src/Common/src/Interop/Gdi32/Interop.SetBkMode.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/SafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ComponentEditorForm.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/misc/GDI/DeviceContext2.cs
  src/System.Windows.Forms/src/misc/GDI/DeviceContextBackgroundMode.cs
  src/System.Windows.Forms/src/misc/GDI/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsGraphics2.cs
Due: production

Fixing code review points: adding C#8 switch code style.
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/DocComment.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/HotCommands.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
Due: production

Cleanup IEnumUnknown and dependencies
  src/Common/src/Interop/Ole32/Interop.GC_WCH.cs
  src/Common/src/Interop/Ole32/Interop.IEnumUnknown.cs
  src/Common/src/Interop/Ole32/Interop.IVBGetControl.cs
  src/Common/src/Interop/Ole32/Interop.OLECONTF.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserContainer.cs
Due: production

Cleanup VARIANT and dependencies (#1918)
  src/Common/src/Interop/Ole32/Interop.CA_STRUCT.cs
  src/Common/src/Interop/Ole32/Interop.IPerPropertyBrowsing.cs
  src/Common/src/Interop/Ole32/Interop.VARENUM.cs
  src/Common/src/Interop/Ole32/Interop.VARIANT.cs
  src/Common/src/Interop/OleAut32/Interop.VariantClear.cs
  src/Common/src/Interop/OleAut32/Interop.VariantInit.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/SafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/BaseCAMarshaler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ComponentEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IManagedPerPropertyBrowsingHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IPerPropertyBrowsingHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2Properties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/Int32CAMarshaler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/OleStrCAMarshaler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.cs
Due: production

Cleanup IEnumUnknown and dependencies (#1923)
  src/Common/src/Interop/Ole32/Interop.GC_WCH.cs
  src/Common/src/Interop/Ole32/Interop.IEnumUnknown.cs
  src/Common/src/Interop/Ole32/Interop.IVBGetControl.cs
  src/Common/src/Interop/Ole32/Interop.OLECONTF.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserContainer.cs
Due: production

Cleanup IGetOleObject
  src/Common/src/Interop/Ole32/Interop.IGetOleObject.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
Due: production

Cleanup IExtender
  src/Common/src/Interop/OleAut32/Interop.IExtender.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
Due: production

Add ListView tests and tests for other Control properties
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ContainerControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridTableStyleTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/ComponentEditorPageTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/FlowLayoutPanelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/HScrollBarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PanelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PictureBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScrollBarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScrollableControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabPageTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/VScrollBarTests.cs
Due: test

Add more Control tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
Due: test

test for collection editor
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System.Windows.Forms.Design.Editors.Tests.csproj
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/ComponentModel/Design/CollectionEditorTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Drawing/Design/FontEditorTests.cs
  src/System.Windows.Forms/src/Properties/InternalsVisibleTo.cs
  src/System.Windows.Forms/src/System/Drawing/Design/UITypeEditor.cs
Due: production, test

Remove DEBUG-only TraceSource/Switch usage from corefx (dotnet/corefxdotnet/runtime#41177)
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/Gdiplus.cs
  src/System.Drawing.Common/src/misc/CompModSwitches.cs
Due: none

Collapse XLF files in PRs by default
  .gitattributes
Due: none

Collapse XLF files in PRs by default (#1938)
  .gitattributes
Due: none

One case
  Winforms.sln
Due: none

Cleanup PageSetupDialog
  src/Common/src/Interop/Comdlg32/Interop.PSD.cs
  src/Common/src/Interop/Comdlg32/Interop.PageSetupDlgW.cs
  src/Common/src/Interop/Interop.Libraries.cs
  src/Common/src/Interop/User32/Interop.WNDPROC.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PageSetupDialog.cs
Due: production

Cleanup GetCapture/SetCapture/ReleaseCapture
  src/Common/src/Interop/User32/Interop.GetCapture.cs
  src/Common/src/Interop/User32/Interop.ReleaseCapture.cs
  src/Common/src/Interop/User32/Interop.SetCapture.cs
  src/Common/src/SafeNativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkLabel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.cs
Due: production

Cleanup GetFocus/SetFocus
  src/Common/src/Interop/User32/Interop.GetFocus.cs
  src/Common/src/Interop/User32/Interop.SetFocus.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/System.Windows.Forms.Design.Editors.csproj
  src/System.Windows.Forms.Design.Editors/src/System/ComponentModel/Design/CollectionEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/ColorEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/FontEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/ImageEditor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/ImageListImageEditor.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUI.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ThreadWindows.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CommonDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyBuilderUITypeEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyPageUITypeConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.Ime.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/KeyboardToolTipStateMachine.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/UpDownBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/UserControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowser.cs
Due: production

Cleanup GetActiveWindow/SetActiveWindow
  src/Common/src/Interop/User32/Interop.GetActiveWindow.cs
  src/Common/src/Interop/User32/Interop.SetActiveWindow.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/System.Windows.Forms.Design.Editors.csproj
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/FolderNameEditor.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUI.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/BehaviorService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ThreadContext.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ThreadWindows.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CommonDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Help.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Cleanup ClientToScreen/ScreenToClient
  src/Common/src/Interop/User32/Interop.ClientToScreen.cs
  src/Common/src/Interop/User32/Interop.ScreenToClient.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/System.Windows.Forms.Design.Editors.csproj
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/ColorEditor.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/ResizeBehavior.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolBar.cs
Due: production

Cleanup NotifyWinEvent
  src/Common/src/Interop/User32/Interop.NotifyWinEvent.cs
  src/Common/src/Interop/User32/Interop.OBJID.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/NativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/System.Windows.Forms.Design.Editors.csproj
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/ColorEditor.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ComponentTray.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerFrame.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripItemDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripKeyboardHandlingService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyBuilderUITypeEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/_CTLBLDTYPE.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GroupBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
Due: production

Add PageSetupDialog tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PageSetupDialogTests.cs
Due: test

Add Control.AccessibilityNotifyClients tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
Due: test

Cleanup PageSetupDialog and add tests (#1943)
  src/Common/src/Interop/Comdlg32/Interop.PSD.cs
  src/Common/src/Interop/Comdlg32/Interop.PageSetupDlgW.cs
  src/Common/src/Interop/Interop.Libraries.cs
  src/Common/src/Interop/User32/Interop.WNDPROC.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PageSetupDialog.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PageSetupDialogTests.cs
Due: production, test

Cleanup Gdi32 Pen/Brush interop
  src/Common/src/Interop/Gdi32/Interop.BS.cs
  src/Common/src/Interop/Gdi32/Interop.CreateBrushIndirect.cs
  src/Common/src/Interop/Gdi32/Interop.CreatePatternBrush.cs
  src/Common/src/Interop/Gdi32/Interop.CreatePen.cs
  src/Common/src/Interop/Gdi32/Interop.CreateSolidBrush.cs
  src/Common/src/Interop/Gdi32/Interop.Ellipse.cs
  src/Common/src/Interop/Gdi32/Interop.ExtCreatePen.cs
  src/Common/src/Interop/Gdi32/Interop.LOGBRUSH.cs
  src/Common/src/Interop/Gdi32/Interop.PS.cs
  src/Common/src/Interop/User32/Interop.FillRect.cs
  src/Common/src/Interop/User32/Interop.GetSysColorBrush.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/SafeNativeMethods.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonInternal/ButtonStandardAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ComponentEditorForm.cs
  src/System.Windows.Forms/src/misc/GDI/NativeMethods.cs
  src/System.Windows.Forms/src/misc/GDI/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsBrush.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsGraphics2.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsPen.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsPenStyle.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsSolidBrush.cs
Due: production

Extract LVM_ message and convert to enum
  src/Common/src/Interop/Interop.ListViewMessages.cs
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ColumnHeader.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewInsertionMark.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.cs
Due: production

Add badges for 3.1 release build pipeline and also the code cov of 3.1
  README.md
Due: none

Add IFont/IPicture AxHost tests
  src/Common/src/Interop/Ole32/Interop.IPicture.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
Due: production, test

Cleanup IFont related code
  src/Common/src/Interop/Ole32/Interop.IFont.cs
  src/Common/src/Interop/Ole32/Interop.IFontDisp.cs
  src/Common/src/Interop/OleAut32/Interop.FONTDESC.cs
  src/Common/src/Interop/OleAut32/Interop.OleCreateFontIndirect.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/SafeNativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2FontConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXFontMarshaler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserHelper.cs
Due: production

Add Clipboard tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
Due: test

Cleanup Clipboard interop
  src/Common/src/Interop/Kernel32/Interop.GMEM.cs
  src/Common/src/Interop/Kernel32/Interop.GlobalAlloc.cs
  src/Common/src/Interop/Kernel32/Interop.GlobalFree.cs
  src/Common/src/Interop/Kernel32/Interop.GlobalLock.cs
  src/Common/src/Interop/Kernel32/Interop.GlobalReAlloc.cs
  src/Common/src/Interop/Kernel32/Interop.GlobalSize.cs
  src/Common/src/Interop/Kernel32/Interop.GlobalUnlock.cs
  src/Common/src/Interop/Ole32/Interop.OleFlushClipboard.cs
  src/Common/src/Interop/Ole32/Interop.OleGetClipboard.cs
  src/Common/src/Interop/Ole32/Interop.OleSetClipboard.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Clipboard.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PageSetupDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintDialog.cs
Due: production

Fix ReadHtmlFromHandle adding trailing null terminator
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
Due: production

Converted legacy WebRequest calls to HttpClient
  src/System.Windows.Forms/src/System/Windows/Forms/PictureBox.cs
Due: production

Removed unnecessary using statement
  src/System.Windows.Forms/src/System/Windows/Forms/PictureBox.cs
Due: production

Removed dead line of code and satisfied warning.
  src/System.Windows.Forms/src/System/Windows/Forms/PictureBox.cs
Due: production

Changed async void to async Task
  src/System.Windows.Forms/src/System/Windows/Forms/PictureBox.cs
Due: production

Added keyboard tooltips for DataGridView
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewButtonCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCheckBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewImageCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewLinkCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewCellTests.cs
Due: production, test

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
