Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Convert CreatePen to Cswin32 - Add conversions for Gdi.HPEN <-> Interop.HPEN and Gdi.HPEN -> Interop.HGDIOBJ - Some clean up
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/OleDragDropHandler.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.CreatePen.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.CreatePenScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.HGDIOBJ.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.HPEN.cs
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
Due: production

Address review feedback.
  src/System.Windows.Forms/src/System/Windows/Forms/BindableComponent.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ICommandBindingTargetProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripControlHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripProgressBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSeparator.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripTextBox.cs
Due: production

Overridden TabStop from PrintPreviewControl to hide it from Designer and set the default value as false.
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
Due: production

Fix the AccessViolationException
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
Due: production

Add a test that drags from ToolStripItem and drops to RichTextBox
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DragDropTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Resources/DragAccept.bmp
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/System.Windows.Forms.UI.IntegrationTests.csproj
Due: test

Fix unit tests
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/Automation/UiaTextRangeTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TextBoxBase.TextBoxBaseUiaTextProviderTests.cs
Due: test

fixup! Reworked getting rectangles for a multiline TextBox
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/Automation/UiaTextRangeTests.cs
Due: none

Added a UI test case for testing TextBoxes in different modes
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/MainFormControlsTabOrder.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/TextBoxes.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/TextBoxes.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/TextBoxes.resx
Due: test

Reworked getting strange lines rectangles for RTL mode
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Automation/UiaTextRange.cs
Due: none

Reworked getting rectangles for a multiline TextBox
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Automation/UiaTextRange.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/Automation/UiaTextRangeTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.TextBoxBaseUiaTextProvider.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/TextBoxes.Designer.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TextBoxBase.TextBoxBaseUiaTextProviderTests.cs
Due: production, test

fixup! Reworked getting rectangles for a multiline TextBox
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Automation/UiaTextProvider.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Automation/UiaTextRange.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.ComboBoxUiaTextProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.TextBoxBaseUiaTextProvider.cs
Due: production

Clean up comments
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.TextBoxBaseUiaTextProvider.cs
Due: production

Release UIA provider for TreeNodes to prevent memory leaks
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNode.TreeNodeAccessibleObjectTests.cs
Due: production, test

styling
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/OleDragDropHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
Due: production

Convert CreatePen to Cswin32 (#7534)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/OleDragDropHandler.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.CreatePen.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.CreatePenScope.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.HGDIOBJ.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.HPEN.cs
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
Due: production

Convert CloseHandle/GetLocaleInfoEx/LoadLibrary to CsWin32
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.CloseHandle.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.GetLocaleInfoEx.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.LoadLibrary.cs
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.CloseHandle.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.LoadLibrary.cs
  src/System.Windows.Forms.Primitives/tests/TestUtilities/PlatformDetection.Windows.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ThreadContext.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MessageBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/NativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PageSetupDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.cs
Due: production, test

Convert CloseHandle/GetLocaleInfoEx/LoadLibrary to CsWin32
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.LoadLibrary.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ThreadContext.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/NativeWindow.cs
Due: production

Fix TreeNode accessible objects memory leak (#7296)
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNode.TreeNodeAccessibleObjectTests.cs
Due: production, test

Improved accessible object for label edit in ListView
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.SetWinEventHook.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.UnhookWinEvent.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.WINEVENT.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.WINEVENTPROC.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.ListViewAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewLabelEditAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewLabelEditNativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewLabelEditUiaTextProvider.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewLabelEditAccessibleObjectTests.cs
Due: production, test

Refactor and make fixes after code review
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.SetWinEventHook.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.WINEVENT.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewLabelEditAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewLabelEditNativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewLabelEditUiaTextProvider.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewLabelEditAccessibleObjectTests.cs
Due: production, test

removing unused GDIPlus
  src/System.Windows.Forms.Primitives/src/Interop/GdiPlus/Interop.GdipCloneBrush.cs
  src/System.Windows.Forms.Primitives/src/Interop/GdiPlus/Interop.GdipCreateSolidFill.cs
  src/System.Windows.Forms.Primitives/src/Interop/GdiPlus/Interop.GpStatus.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/SystemDrawingExtensions.cs
Due: none

Add ButtonBase BasicCommandBinding unit test.
  src/System.Windows.Forms/src/System/Windows/Forms/BindableComponent.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ButtonBaseTests.cs
Due: production, test

Refactor ViewModel base classes and add basic command binding test for ToolStripButton.
  src/System.Windows.Forms/tests/TestUtilities/DataBinding/CommandViewModel.cs
  src/System.Windows.Forms/tests/TestUtilities/DataBinding/RelayCommand.cs
  src/System.Windows.Forms/tests/TestUtilities/DataBinding/ViewModelBase.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ButtonBaseTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripButtonTests.cs
Due: test

removing unused GDIPlus (#7545)
  src/System.Windows.Forms.Primitives/src/Interop/GdiPlus/Interop.GdipCloneBrush.cs
  src/System.Windows.Forms.Primitives/src/Interop/GdiPlus/Interop.GdipCreateSolidFill.cs
  src/System.Windows.Forms.Primitives/src/Interop/GdiPlus/Interop.GpStatus.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/SystemDrawingExtensions.cs
Due: none

Add Control.DataContext tests
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/tests/TestUtilities/DataBinding/ViewModelBase.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
Due: production, test

Address feedback
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/BehaviorService.cs
  src/System.Windows.Forms.Primitives/src/Interop/HandleRef.cs
  src/System.Windows.Forms.Primitives/src/Interop/UnownedHandle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ContainerControl.cs
Due: production

Added some comments and new check in test.
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewCellTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewHeaderCellTests.cs
Due: test

Apply code review suggestions.
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ButtonBaseTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Mock/DataBinding/CommandViewModel.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Mock/DataBinding/RelayCommand.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Mock/DataBinding/ViewModelBase.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripButtonTests.cs
Due: production, test

Correct a path name.
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Mocks/DataBinding/CommandViewModel.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Mocks/DataBinding/RelayCommand.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Mocks/DataBinding/ViewModelBase.cs
Due: test

Fixing text pattern of a multiline text box (#6669)
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Automation/UiaTextProvider.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Automation/UiaTextRange.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/Automation/UiaTextRangeTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.ComboBoxUiaTextProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.TextBoxBaseUiaTextProvider.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/MainFormControlsTabOrder.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/TextBoxes.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/TextBoxes.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/TextBoxes.resx
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TextBoxBase.TextBoxBaseUiaTextProviderTests.cs
Due: production, test

Address additional review feedback.
  src/System.Windows.Forms/src/System/Windows/Forms/BindableComponent.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Corret typo.
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Introduce Command Binding, Bindable ToolStripItems and DataContext to WinForms (#7143)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/BindableComponent.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ICommandBindingTargetProvider.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripControlHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripProgressBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSeparator.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripTextBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ButtonBaseTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Mocks/DataBinding/CommandViewModel.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Mocks/DataBinding/RelayCommand.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Mocks/DataBinding/ViewModelBase.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripButtonTests.cs
Due: production, test

Make wrapper explicit on IHandle<T>
  src/System.Windows.Forms.Primitives/src/Interop/IHandle.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.BitBlt.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.GetAncestor.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.GetClientRect.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.GetParent.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.GetSystemMenu.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.GetWindow.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.GetWindowRect.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.IsChild.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.IsWindow.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.IsWindowVisible.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.MapWindowPoints.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.PostMessage.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.SetActiveWindow.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.SetFocus.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.SetParent.cs
  src/System.Windows.Forms/src/GlobalUsings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CachedItemHdcInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
Due: production

Improving accessible object for label edit in ListView (#6309)
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.SetWinEventHook.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.UnhookWinEvent.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.WINEVENT.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.WINEVENTPROC.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.ListViewAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewLabelEditAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewLabelEditNativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewLabelEditUiaTextProvider.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewLabelEditAccessibleObjectTests.cs
Due: production, test
