Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Update
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/AxImporterTests.cs
Due: test

Updated
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ListViewActionListTests.cs
Due: test

Add a manual test case for clones ListViewItem to WinformsControlsApp
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ListViewTest.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ListViewTest.cs
Due: test

Add code coverage for MaskDescriptorTemplate (#11743)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/MaskDescriptorTemplateTests.cs
Due: test

Defer GDI+ initialization to first PInvoke access (#11781)
  src/System.Drawing.Common/src/ModuleInitializer.cs
  src/System.Drawing.Common/src/NativeMethods.txt
  src/System.Drawing.Common/src/System/Drawing/Gdiplus.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/src/System/Drawing/ToolboxBitmapAttribute.cs
  src/System.Drawing.Common/src/Windows/Win32/PInvoke.cs
  src/System.Private.Windows.Core/src/NativeMethods.txt
  src/System.Private.Windows.Core/src/System/Drawing/ImageCodecInfoHelper.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/GdiPlus/GdiPlusInitialization.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/GdiPlus/GdiplusStartupInputEx.cs
Due: production

Fixes duplicate component name 'BindingNavigatorSeparator' and adds BindingNavigator to the DemoConsole
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/BindingNavigator.cs
  src/System.Windows.Forms/tests/IntegrationTests/DesignSurface/DemoConsole/MainForm.cs
Due: production, test

Handle null PropertyDescriptor in PropertyGrid value set event
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.cs
Due: production

Refactor PropertyStore.RemoveObject usage
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCellStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/CommonProperties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyStoreTests.cs
Due: production, test

Put back AddStatement call in CodeDomSerializer
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializerBase.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ResourceCodeDomSerializer.cs
Due: production

Handle null PropertyDescriptor in PropertyGrid value set event (#11787)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.cs
Due: production

Put back AddStatement call in CodeDomSerializer (#11788)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializerBase.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ResourceCodeDomSerializer.cs
Due: production

Refactor PropertyStore.GetInteger
  src/System.Windows.Forms/src/System/Windows/Forms/Control.Ime.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/CommonProperties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
Due: production

Update Analyzer docs and number groups.
  docs/analyzers/AppManifestAnalyzer.Help.md
  docs/analyzers/ApplicationConfigurationGenerator.Help.md
  docs/analyzers/Experimental.Help.md
  docs/analyzers/WinFormsCSharpAnalyzers.Help.md
  docs/analyzers/WinFormsVisualBasicAnalyzers.Help.md
  docs/analyzers/akams.txt
  src/System.Windows.Forms.Analyzers.CSharp/src/AnalyzerReleases.Unshipped.md
  src/System.Windows.Forms.Analyzers.CSharp/src/System.Windows.Forms.Analyzers.CSharp.csproj
  src/System.Windows.Forms.Analyzers.VisualBasic/src/System.Windows.Forms.Analyzers.VisualBasic.vbproj
  src/System.Windows.Forms.Analyzers/src/System.Windows.Forms.Analyzers.csproj
  src/System.Windows.Forms.Analyzers/src/System/Windows/Forms/Analyzers/Diagnostics/DiagnosticIDs.cs
Due: production

Rename sammButton to shouldRedrawAsSmallButton
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.FlatComboAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripComboBox.ToolStripComboBoxControl.ToolStripComboBoxFlatComboAdapter.cs
Due: production

fix comment
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
Due: test

Remove panel returning
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/FlowPanelDesignerTests.cs
Due: test

Disable test case "BindingContext_Item_GetIListSourceDataSourceWithDataMemberReturningIListNull_ThrowsArgumentNullException"
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BindingContextTests.cs
Due: test

Split test data
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/Control.ControlAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Properties.cs
Due: test

Disable test case "BindingContext_Item_GetIListSourceDataSourceWithDataMemberReturningIListNull_ThrowsArgumentNullException“ (#11796)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BindingContextTests.cs
Due: test

Issue 11760 fix tool strip combo box display (#11761)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.FlatComboAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripComboBox.ToolStripComboBoxControl.ToolStripComboBoxFlatComboAdapter.cs
Due: production

Adjusting the counter to fix the naming errors in DemoConsole App (#11732)
  src/System.Windows.Forms/tests/IntegrationTests/DesignSurface/DesignSurfaceExt/NameCreationServiceImp.cs
Due: test

Add unit tests for FlowPanelDesigner (#11735)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/FlowPanelDesignerTests.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2506961
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/Resources/xlf/SR.zh-Hant.xlf
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2506961
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/Resources/xlf/SR.zh-Hant.xlf
Due: none

Address review feedback.
  docs/analyzers/Experimental.Help.md
  src/System.Windows.Forms.Analyzers/src/System/Windows/Forms/Analyzers/Diagnostics/DiagnosticIDs.cs
Due: production

Update Analyzer docs and number groups. (#11791)
  docs/analyzers/AppManifestAnalyzer.Help.md
  docs/analyzers/ApplicationConfigurationGenerator.Help.md
  docs/analyzers/Experimental.Help.md
  docs/analyzers/WinFormsCSharpAnalyzers.Help.md
  docs/analyzers/WinFormsVisualBasicAnalyzers.Help.md
  docs/analyzers/akams.txt
  src/System.Windows.Forms.Analyzers.CSharp/src/AnalyzerReleases.Unshipped.md
  src/System.Windows.Forms.Analyzers.CSharp/src/System.Windows.Forms.Analyzers.CSharp.csproj
  src/System.Windows.Forms.Analyzers.VisualBasic/src/System.Windows.Forms.Analyzers.VisualBasic.vbproj
  src/System.Windows.Forms.Analyzers/src/System.Windows.Forms.Analyzers.csproj
  src/System.Windows.Forms.Analyzers/src/System/Windows/Forms/Analyzers/Diagnostics/DiagnosticIDs.cs
Due: production

catch the specific expected exception
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.ListViewItemCollection.IInnerList.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2506992 (#11799)
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/Resources/xlf/SR.zh-Hant.xlf
Due: none

Do not crash when an invalid VirtualMode==true ListView is destroyed (#11679)
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.ListViewItemCollection.IInnerList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.ListViewItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.ListViewNativeItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
Due: production, test

Add unit test for image list action list (#11766)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ImageListActionListTests.cs
Due: test

Add test case for NotifyIconDesigner (#11774)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/NotifyIconDesignerTests.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2507042
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2507048
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Changes from review
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/CommonProperties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.cs
Due: production

fix GetWrapContents
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.cs
Due: production

Fix GetWrapContents and simplify ShouldSerializeSelectionForeColor
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCellStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.cs
Due: production

Property Store Refactor (#11779)
  src/System.Windows.Forms/src/System/Windows/Forms/Control.Ime.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCellStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewLinkCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/CommonProperties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyStoreTests.cs
Due: production, test

Update src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: test

Refactor PropertyStore.GetInteger
  src/System.Windows.Forms/src/System/Windows/Forms/Control.Ime.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewBand.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewButtonCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCellStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCheckBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewImageCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewLinkCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewTextBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Labels/Label.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripMenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/Microsoft.VisualBasic/src/, src/Microsoft.VisualBasic.Forms/src/, src/System.Drawing.Common/src/, src/System.Drawing.Design/src/, src/System.Private.Windows.Core/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Analyzers/src/, src/System.Windows.Forms.Analyzers.CSharp/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/, src/System.Windows.Forms.Primitives/src/, src/System.Windows.Forms.PrivateSourceGenerators/src/
  test: any of: src/Common/tests/, src/Microsoft.VisualBasic/tests/, src/Microsoft.VisualBasic.Forms/tests/, src/System.Drawing.Common/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Analyzers/tests/, src/System.Windows.Forms.Analyzers.CSharp/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Primitives/tests/, src/System.Windows.Forms.PrivateSourceGenerators/tests/
