Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

simplify code
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonBase.ButtonBaseAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RadioButton.RadioButtonAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.TextBoxBaseAccessibleObject.cs
Due: production

fix Datagridcheckbox Accessibility checkstate indeterminate(#9256) (#9274)
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCheckBoxCell.DataGridViewCheckBoxCellAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCheckBoxCell.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/DataGridViewTest.Designer.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewCheckBoxCellAccessibleObjectTests.cs
Due: production, test

fix IsPatternSupported
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.ListViewAccessibleObject.cs
Due: production

fix AccessibleState
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.TreeViewAccessibleObject.cs
Due: production

Unify local variable name
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.MonthCalendarAccessibleObject.cs
Due: production

Resolve a conflict
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Control.ControlAccessibleObjectTests.cs
Due: test

Add unit test for System.Windows.Forms.Design.ControlDesigner.#ctor
  src/System.Windows.Forms.Design/tests/UnitTests/ControlDesignerTests.cs
Due: test

Add the logical judgment of scaledHeightPadding in the function DetailsClick
  src/System.Windows.Forms/src/System/Windows/Forms/ThreadExceptionDialog.cs
Due: production

Update CoreSwitches.cs
  src/System.Windows.Forms/src/misc/CoreSwitches.cs
Due: production

Change `ContainerSelectorGlyph` to use Icon internally (#9432)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/ContainerSelectorGlyph.cs
Due: production

add name parameter,remove null check
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonBase.ButtonBaseAccessibleObject.cs
Due: production

Remove useless codes and modify test cases
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.MonthCalendarAccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Control.ControlAccessibleObjectTests.cs
Due: production, test

Change scaledHeightPadding to local variable
  src/System.Windows.Forms/src/System/Windows/Forms/ThreadExceptionDialog.cs
Due: production

Update ControlDesigner unit test
  src/System.Windows.Forms.Design/tests/UnitTests/ControlDesignerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/TestControlDesigner.cs
Due: test

Add test for VerifyResourceName of StronglyTypedResourceBuilder
  src/System.Windows.Forms.Design/tests/UnitTests/System/Resources/Tools/StronglyTypedResourceBuilderTests.cs
Due: test

Fix PrintPreviewControl persisting print failure: reset exceptionPrinting flag when Document property is set.
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
Due: production

Use compatible constructor for DrawItemEventArgs in ListBox
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.cs
Due: production

Fix ListBox rendering issues on horizontal scroll (#9475)
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.cs
Due: production

fix Accessible properties AccessKey and KeyboardShortcut ignore UseMnemonic = false (#9365)
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonBase.ButtonBaseAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Label.LabelAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RadioButton.RadioButtonAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.TextBoxBaseAccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Button.ButtonAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CheckBox.CheckBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Control.ControlAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/LabelAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RadioButton.RadioButtonAccessibleObjectTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2220144
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
Due: production

Enable nullability in HtmlShimManager
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlShimManager.cs
Due: production

Remove usage of TryGetValue
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlShimManager.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2220186 (#9480)
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
Due: production

Update control owning field of MonthCalendar to using weak reference (#9454)
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.MonthCalendarAccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Control.ControlAccessibleObjectTests.cs
Due: production, test

Small refactoring in CoreSwitches class (#9423)
  src/System.Windows.Forms/src/misc/CoreSwitches.cs
Due: production

Enable nullability in HtmlShimManager (#9460)
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlShimManager.cs
Due: production

Enable nullability in CodeDomSerializerBase (#9099)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializerBase.cs
  src/System.Windows.Forms.Primitives/src/System/ComponentModel/Design/Serialization/DesignerSerializationManagerHelper.cs
Due: production

Fix PrintPreviewControl persisting print failure. (#9476)
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
Due: production

[internal/release/7.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

[internal/release/6.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Declare explicit type
  src/System.Windows.Forms.Design/tests/UnitTests/System/Resources/Tools/StronglyTypedResourceBuilderTests.cs
Due: test

Fix Combox rendering issues
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
Due: production

Moving judgement for _scaledHeightPadding from function "DetailsClick" to "ThreadExceptionDialog_DpiChanged"
  src/System.Windows.Forms/src/System/Windows/Forms/ThreadExceptionDialog.cs
Due: production

Removing duplicated variable "_scaledHeightPadding"
  src/System.Windows.Forms/src/System/Windows/Forms/ThreadExceptionDialog.cs
Due: production

Remove the useless codes
  src/System.Windows.Forms.Design/tests/UnitTests/TestControlDesigner.cs
Due: test

Modify the code to retrigger the validation pipeline.
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: test

Fix issue 9438: when setting GripStyle = hidden, the next focus position is not correct. (#9439)
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: production, test

Add unit tests to ToolboxItem and ComponentDesigner #714 Remove codeMarkers. Add Verbs,GetService,PostFilterProperties unitTests
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/CodeMarkers.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/EventBindingService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomDesignerLoader.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/OleDragDropHandler.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ComponentDesignerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerVerbCollectionTests.cs
Due: production, test

Update control owning field using weak reference.(#9452) simplify code
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonBase.ButtonBaseAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/CheckBox.CheckBoxAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.ComboBoxAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.DataGridViewEditingPanelAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DateTimePicker.DateTimePickerAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkLabel.LinkLabelAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.ListViewAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.MonthCalendarAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OwnedObjectExtensions.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Panel.PanelAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PrintPreviewControl.PrintPreviewControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.PropertyGridAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.PropertyGridViewAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RadioButton.RadioButtonAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollBar.ScrollBarAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/StatusStrip.StatusStripAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.TabControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabPage.TabPageAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.TextBoxBaseAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.ToolStripAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TrackBar.TrackBarAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TrackBar.TrackBarChildAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TrackBar.TrackBarFirstButtonAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TrackBar.TrackBarLastButtonAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TrackBar.TrackBarThumbAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.TreeViewAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/UpDownBase.UpDownButtons.UpDownButtonsAccessibleObject.DirectionButtonAccessibleObject.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
