Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add upload data to codecov.io task back to pipeline
  eng/pipelines/build.yml
Due: none

fix conflicts
  Test.targets
  eng/MergeCoverageData.ps1
Due: none

Fix RemoveTabType method
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.cs
Due: production

Fix ambiguous references in cref attributes
  src/System.Windows.Forms/src/GlobalUsings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Update branding to 8.0.2 (#10565)
  eng/Versions.props
Due: none

Update branding to 7.0.16 (#10564)
  eng/Versions.props
Due: none

Update branding to 6.0.27 (#10563)
  eng/Versions.props
Due: none

change ref to in
  src/System.Drawing.Common/src/System/Drawing/DrawingCom.ComWrappers.cs
Due: none

Removed an outdated comment (#10566)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TextBox/TextBoxBase.TextBoxBaseAccessibleObject.cs
Due: production

[release/8.0] Add ValuePattern.Value changed event to TextBox (#10369)
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.TextBoxBaseAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Control.ControlAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/MaskedTextBox.MaskedTextBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TextBoxBaseAccessibleObjectTests.cs
Due: production, test

Revert "fix isssue 10516 [Accessibility] CheckBox control should support ValuePattern property (#10533)" (#10569)
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Buttons/CheckBox.CheckBoxAccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/CheckBox.CheckBoxAccessibleObjectTests.cs
Due: production, test

fix [Accessibility] Accessibility Insights tool keeps loading when mouse-over DataGridView #10343 (#10472)
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxEditingControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxEditingControl.cs
Due: production

Fix RichTextBox drag and drop (#10475) (#10483)
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
Due: production

[release/8.0.x] Fix expandable property grid entries (#10507)
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/MultiPropertyDescriptorGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyDescriptorGridEntry.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridTests.cs
Due: production, test

Enable the xUnit1004 refactoring (#10554)
  eng/CodeAnalysis.test.globalconfig
Due: none

Update windows desktop manifest and readme
  Winforms.sln
  pkg/Microsoft.Private.Winforms/README.md
  pkg/Microsoft.Private.Winforms/sdk/dotnet-windowsdesktop/System.Windows.Forms.FileClassification.props
Due: none

Avoid finalization in Cursor.cs if freeing handle not needed (#10538)
  src/System.Windows.Forms/src/System/Windows/Forms/Input/Cursor.cs
Due: production

Enable nullability in some DataGridView.Methods members (#10543)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
Due: production

Undo ComScope changes
  src/System.Windows.Forms/tests/UnitTests/DataStreamFromComStreamTests.cs
  src/System.Windows.Forms/tests/UnitTests/SerializableTypesTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBox.ComboBoxUiaTextProviderTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComponentModel/Com2Interop/COM2PictureConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComponentModel/Com2Interop/ComNativeDescriptorTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Control.ActiveXImplTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/HtmlDocumentTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/HtmlElementTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/HtmlToClrEventProxyTest.cs
Due: test

Update src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/CommonDialogs/FolderBrowserDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/CommonDialogs/FolderBrowserDialog.cs
Due: production

Fix IDE0090 - 'new' expression can be simplified
  src/System.Windows.Forms/tests/UnitTests/SerializableTypesTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ListViewItem.ListViewSubItem.ListViewSubItemAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ApplicationContextTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewSelectedCellCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewSelectedColumnCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewSelectedRowCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ErrorProviderTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ImageList.ImageCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/InputLanguageTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/MonthCalendarTests.cs
Due: test

Extract out files and add comments
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/AdapterHelpers.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/IWrapper.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ListAdapter.cs
Due: production

Revert "Fix CS0436 error"
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridInternal/TestAccessors.PropertyGridTestAccessor.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridInternal/TestAccessors.PropertyGridViewTestAccessor.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TestAccessors.KeyboardToolTipStateMachineTestAccessor.cs
Due: test

Fix comment indent
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/AdapterHelpers.cs
Due: production

fix bug [Accessibility]Inspect or AccessibilityInsights tool's rectangle can't focus on the entire Treeview with scrollBar
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.TreeViewAccessibleObject.cs
Due: production

fix [Accessibility]Inspect or AccessibilityInsights tool's rectangle can't focus on the entire FlowLayoutPanel/Panel/SplitContainer/TableLayoutPanel/TabControl/TextBox with scrollBar
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TabControl/TabPage.TabPageAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TabControl/TabPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TextBox/TextBoxBase.TextBoxBaseAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Panels/Panel.PanelAccessibleObject.cs
Due: production

add scrollable contols asscessibility test
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/MainFormControlsTabOrder.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ScrollableControls.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ScrollableControls.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ScrollableControls.resx
Due: test

Remove useless variable
  eng/MergeCoverageData.ps1
Due: none

fix comments
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TabControl/TabPage.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ScrollableControls.cs
Due: production, test

Fix [Accessibility]Inspect or AccessibilityInsights tool's rectangle can't focus on the entire FlowLayoutPanel/Panel/SplitContainer/TableLayoutPanel/TabControl/TextBox with scrollBar (#10561)
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TabControl/TabPage.TabPageAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TabControl/TabPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TextBox/TextBoxBase.TextBoxBaseAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Panels/Panel.PanelAccessibleObject.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/MainFormControlsTabOrder.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ScrollableControls.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ScrollableControls.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ScrollableControls.resx
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/TextBoxBaseAccessibleObjectTests.cs
Due: production, test

Refactor `SnapLines` to use `IList` directly instead of casting to `ArrayList` (#10279)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/AdapterHelpers.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/BehaviorService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/DragAssistanceManager.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ButtonBaseDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ComboBoxDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DateTimePickerDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/FlowPanelDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/FormDocumentDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/IWrapper.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/LabelDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ListAdapter.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ParentControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SplitContainerDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TextBoxBaseDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripContainerDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/UpDownBaseDesigner.cs
Due: production

Refactoring ImageCodecInfoTests to replace Hashtable with Generic Dictionary
  src/System.Drawing.Common/tests/Imaging/ImageCodecInfoTests.cs
Due: none

Fix spelling mistakes
  src/System.Drawing.Common/tests/Imaging/ImageCodecInfoTests.cs
Due: none

Replace ArrayList usage in FlowLayoutPanelDesigner with List
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/FlowLayoutPanelDesigner .cs
Due: production

Add parameter LogicalSystemIconSize
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ScaleHelper.cs
Due: none

Test the path of reportTool
  eng/MergeCoverageData.ps1
Due: none

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
