Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Adapt more existing tests to new default DataGridView behavior, in which UIA rows begin index count at 1, instead of 0.
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/DataGridViewRowAccessibleObjectTests.cs
Due: test

Add descriptions to new properties
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/CommonDialogs/FolderBrowserDialog.cs
Due: production

Changes from review
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/ToolInfoWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/TaskDialog/TaskDialogButton.cs
Due: production

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20231122.13
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20231122.11
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20231122.23
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

[release/8.0] Add ValuePattern.Value changed event to TextBox
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WinFormsUtils.cs
Due: production

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20231122.26
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Adjust some tests for DataGridViewRowAccessibleObject and DataGridViewCellAccessibleObject.
  src/System.Windows.Forms.Primitives/src/System/LocalAppContextSwitches/LocalAppContextSwitches.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/DataGridViewCellAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/DataGridViewRowAccessibleObjectTests.cs
Due: test

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20231122.29
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Adds comments to make developers aware that some tests that depend on theDataGridViewUIAStartRowCountAtZero switch.
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/DataGridViewCellAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/DataGridViewRowAccessibleObjectTests.cs
Due: test

apply review feedback
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ComponentCache.ResourceEntry.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ResourceCodeDomSerializer.SerializationResourceManager.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ResourceCodeDomSerializer.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2322746
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.cs.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.de.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.es.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.fr.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.it.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.ja.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.ko.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.pl.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.pt-BR.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.ru.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.tr.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.zh-Hans.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.zh-Hant.xlf
Due: production

Merged PR 35497: [internal/release/8.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Set file scoped namespace declaration in editorconfig
  .editorconfig
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2323283 (#10375)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.cs.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.de.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.es.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.fr.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.it.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.ja.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.ko.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.pl.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.pt-BR.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.ru.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.tr.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.zh-Hans.xlf
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/xlf/StyleCollectionEditor.zh-Hant.xlf
Due: production

Add alias to tests
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/ComCtl32/TASKDIALOGCONFIGIconUnionTests.cs
Due: none

Update method comments
  src/System.Windows.Forms/src/System/Windows/Forms/WinFormsUtils.cs
Due: production

update (Variant)string.Empty to Variant.Empty
  src/System.Windows.Forms/src/System/Windows/Forms/TextBox/TextBoxBase.cs
Due: production

Set file scoped namespace declaration in editorconfig (#10381)
  .editorconfig
Due: none

Withdrawal of erroneous changes
  src/System.Windows.Forms/src/System/Windows/Forms/TextBox/TextBoxBase.TextBoxBaseAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WinFormsUtils.cs
Due: production

Update test cases
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/Control.ControlAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/MaskedTextBox.MaskedTextBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/TextBoxBaseAccessibleObjectTests.cs
Due: test

Control font code cleanup
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/RefCountedCache.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.FontHandleWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

Update code to fix failed test cases
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.TextBoxBaseAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WinFormsUtils.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Control.ControlAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/MaskedTextBox.MaskedTextBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TextBoxBaseAccessibleObjectTests.cs
Due: production, test

Enable nullability in ResourceCodeDomSerializer.SerializationResourceManager (#9457)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ComponentCache.ResourceEntry.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ComponentCache.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ResourceCodeDomSerializer.SerializationResourceManager.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ResourceCodeDomSerializer.cs
Due: production

Ensures that standard flat and visual style enabled button's borders have enough contrast ratio and round corners.
  src/System.Windows.Forms/src/System/Windows/Forms/Buttons/ButtonInternal/ButtonStandardAdapter.cs
Due: production

Control font code cleanup (#10385)
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/RefCountedCache.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.FontHandleWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

Changed color of unchecked standard flat visual style button's border to a lighter system color
  src/System.Windows.Forms/src/System/Windows/Forms/Buttons/ButtonInternal/ButtonStandardAdapter.cs
Due: production

Enable nullability in some DataGridView.Methods members (#10353)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView/DataGridViewColumnCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView/DataGridViewRowErrorTextNeededEventArgs.cs
Due: production

Comments relation between changes and GitHub issue
  src/System.Windows.Forms/src/System/Windows/Forms/Buttons/ButtonInternal/ButtonStandardAdapter.cs
Due: production

changes from review
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/TASKDIALOGCONFIG.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/TaskDialog/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/TaskDialog/TaskDialogButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/TaskDialog/TaskDialogPage.cs
Due: production

Migrate TaskDialogIndirect to CsWin32 (#9900)
  eng/Versions.props
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.LVGF.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.LVGROUPW.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.LVHITTESTINFO.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TASKDIALOGCONFIG.IconUnion.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TASKDIALOGCONFIG.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TASKDIALOG_BUTTON.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TDCBF.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TTOOLINFOW.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TVINSERTSTRUCTW.cs
  src/System.Windows.Forms.Primitives/src/Interop/ComCtl32/Interop.TaskDialogIndirect.cs
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/TASKDIALOGCONFIG.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/TVINSERTSTRUCTW.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/ToolInfoWrapper.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/ComCtl32/TASKDIALOGCONFIGIconUnionTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/ComCtl32/TASKDIALOGCONFIGTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/ComCtl32/TASKDIALOG_BUTTONTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/TaskDialog/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/TaskDialog/TaskDialogButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/TaskDialog/TaskDialogFootnote.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/TaskDialog/TaskDialogPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider/ErrorProvider.ErrorWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView/ListViewInsertionMark.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView/ListViewItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid/PropertyGridInternal/GridToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip/ToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView/TreeNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView/TreeView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewGroupTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
Due: production, test

Merged PR 35625: [internal/release/8.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Further move of files
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/CheckedListBox.CheckedIndexCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/CheckedListBox.CheckedItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/CheckedListBox.CheckedListBoxAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/CheckedListBox.CheckedListBoxItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/CheckedListBox.ObjectCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/CheckedListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.IntegerCollection.CustomTabOffsetsEnumerator.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.IntegerCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.ItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.ObjectCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.SelectedIndexCollection.SelectedIndexEnumerator.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.SelectedIndexCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.SelectedObjectCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/AutoScaleMode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/FixedPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/IContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/SplitContainer.SplitContainerAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/SplitContainer.SplitContainerMessageFilter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/SplitContainer.SplitContainerTypedControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/SplitContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/SplitterCancelEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/SplitterCancelEventHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/ValidationConstraints.cs
Due: production

Remove the WeakHashtable
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/ComNativeDescriptor.cs
  src/System.Windows.Forms/src/misc/WeakHashtable.cs
Due: production

Enable nullability in some DataGridViewCell members
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCheckBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRowCollection.RowComparer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRowCollection.RowList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRowCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewTextBoxCell.cs
Due: production

Add comment about checking that EditingControl is not null
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCell.cs
Due: production

Check if CurrencyManager is null
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRow.cs
Due: production
