Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add missing using-statements
  src/System.Windows.Forms/tests/UnitTests/PropertyGridInternal/PropertyGridView.GridViewListBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PictureBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolTipTests.cs
Due: test

Fix regression in ImageEditor
  src/System.Windows.Forms.Design/src/System/Drawing/Design/ImageEditor.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/ImageEditorTests.cs
Due: production, test

Fix regression in ImageListImageEditor
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ImageListImageEditor.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ImageListImageEditorTests.cs
Due: production, test

Make sure BitmapEditor doesn't have the same regression
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/BitmapEditorTests.cs
Due: test

Fix trailing null in NativeGetItemText (#3282)
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.cs
  src/System.Windows.Forms/tests/UnitTests/CheckedListBoxTests.cs
Due: production, test

Add HtmlElement/HtmlDocument tests
  src/System.Windows.Forms.Primitives/src/Interop/Mshtml/Interop.IHTMLDocument4.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/HtmlDocumentTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/HtmlElementTests.cs
Due: production, test

Cleanup MultiByteToWideChar code
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ByteViewer.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ByteViewerTests.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.CP.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.MultiByteToWideChar.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.WideCharToMultiByte.cs
  src/System.Windows.Forms.Primitives/src/Interop/Shell32/Interop.DROPFILES.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TableLayoutPanelTests.cs
Due: production, test

Cleanup ImageList CopyMemory
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageList.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ImageList.ImageCollectionTests.cs
Due: production, test

Fix local WebBrowser tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/WebBrowserTests.cs
Due: test

Cleanup CA code
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.CA.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.IPerPropertyBrowsing.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.AxPropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/BaseCAMarshaler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IPerPropertyBrowsingHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/Int32CAMarshaler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/OleStrCAMarshaler.cs
Due: production

Call UiaDisconnectProvider from Control.ReleaseUiaProvider (#3398)
  build-local.ps1
  src/Common/src/OsVersion.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  start-code.cmd
  start-vs.cmd
Due: production

Fix sourcelink validation
  Directory.Build.props
Due: none

Review feedback.
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

Cleanup CA code (#3407)
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.CA.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.IPerPropertyBrowsing.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.AxPropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/BaseCAMarshaler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IPerPropertyBrowsingHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/Int32CAMarshaler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/OleStrCAMarshaler.cs
Due: production

Fixing DPI changed events by changing the order in setting child Form owner (#3394)
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

do not dispose stream owned by image (#3404)
  src/System.Windows.Forms.Design/src/System/Drawing/Design/ImageEditor.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ImageListImageEditor.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/BitmapEditorTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/ImageEditorTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ImageListImageEditorTests.cs
Due: production, test

Dispose controls in unit tests (#3403)
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ErrorProviderAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/PropertyGridInternal/PropertyGridView.GridViewListBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PictureBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolTipTests.cs
Due: test

Add tests for HtmlElement/HtmlDocument (#3349)
  src/System.Windows.Forms.Primitives/src/Interop/Mshtml/Interop.IHTMLDocument4.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/HtmlDocumentTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/HtmlElementTests.cs
Due: production, test

Fix local WebBrowser tests (#3408)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/WebBrowserTests.cs
Due: test

Remove ComVisible from enums
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionListsChangedType.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/MenuCommandsChangedType.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Appearance.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ArrangeDirection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Border3DSide.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Border3DStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/BorderStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewElementStates.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DialogResult.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DragAction.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FormBorderStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FormStartPosition.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FormWindowState.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HorizontalAlignment.cs
  src/System.Windows.Forms/src/System/Windows/Forms/IMEMode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Keys.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LeftRightAlignment.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MouseButtons.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertySort.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollEventType.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SelectionMode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Shortcut.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SystemParameter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripStatusLabelBorderSides.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeViewHitTestLocation.cs
Due: production

Remove ComVisible from EventArgs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/MenuCommandsChangedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DragEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GiveFeedbackEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HelpEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ItemCheckEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ItemDragEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/KeyEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/KeyPressEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkClickedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkLabelLinkClickedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItemMouseHoverEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MouseEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/NavigateEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyTabChangedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyValueChangedEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/QueryAccessibilityHelpEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/QueryContinueDragEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ScrollEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SplitterEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNodeMouseHoverEventArgs.cs
Due: production

Remove ComVisible from public classes
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionListCollection.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerOptions.cs
Due: production

Remove ComVisible from Delegates
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionListsChangedEventHandler.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/MenuCommandsChangedEventHandler.cs
Due: production

Remove ComVisible from non-public code
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ISupportInSituService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
Due: production

Resolve GUID conflict of IWin32Window
  src/System.Windows.Forms/src/System/Windows/Forms/IWin32window.cs
Due: production

Remove ComVisible from IDataObject
  src/System.Windows.Forms/src/System/Windows/Forms/IDataObject.cs
Due: production

Remove redundant ComVisible
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.AxComponentEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.ControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MDIClient.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.ControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowser.cs
Due: production

Make IWin32Window a managed interface
  src/System.Windows.Forms/src/System/Windows/Forms/IWin32window.cs
Due: production

Set default visibility for COM
  src/System.Windows.Forms.Design/src/Properties/InternalsVisibleTo.cs
  src/System.Windows.Forms.Primitives/src/Properties/InternalsVisibleTo.cs
  src/System.Windows.Forms/src/Properties/InternalsVisibleTo.cs
Due: production

Fix WebBrowser scripting test
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/WebBrowserTests.cs
Due: test

PR feedback: rename files
  src/System.Windows.Forms.Design/src/Properties/AssemblyInfo.cs
  src/System.Windows.Forms.Primitives/src/Properties/AssemblyInfo.cs
  src/System.Windows.Forms/src/Properties/AssemblyInfo.cs
Due: production

Consolidate CHARFORMATW and CHARFORMAT2W (#3089)
  src/System.Windows.Forms.Primitives/src/Interop/Richedit/Interop.CHARFORMAT2W.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Primitives/tests/Interop/Richedit/CHARFORMAT2WTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/TextBoxBaseTests.cs
Due: production, test

Use [MemberNotNull] to reduce use of `= null!;` (dotnet/runtime#37490)
  src/System.Drawing.Common/ref/System.Drawing.Common.cs
  src/System.Drawing.Common/src/System/Drawing/Font.cs
Due: none

Fix build after CHARFORMAT2W merge
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/Richedit/CHARFORMAT2WTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/Richedit/CHARFORMATWTests.cs
Due: none

Use ConditionalFact/Theory for skipping RemoteExecutor on unsupported platforms (dotnet/runtime#37479)
  src/System.Drawing.Common/tests/IconTests.cs
Due: none

Fix build after CHARFORMAT2W merge (#3414)
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/Richedit/CHARFORMAT2WTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/Richedit/CHARFORMATWTests.cs
Due: none

Make HtmlElement tests machine agnostic
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/HtmlDocumentTests.cs
Due: test

Structify VARIANT and use in more places
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.DISPPARAMS.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.IPerPropertyBrowsing.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.VARIANT.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.VARIANTVector.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.VariantClear.cs
  src/System.Windows.Forms.Primitives/src/Interop/OleAut32/Interop.VariantInit.cs
  src/System.Windows.Forms.Primitives/src/Interop/VSSDK/Interop.IVSMDPerPropertyBrowsing.cs
  src/System.Windows.Forms.Primitives/tests/Interop/Oleaut32/VARIANTTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.AxPerPropertyBrowsingEnum.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IManagedPerPropertyBrowsingHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IPerPropertyBrowsingHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyDescriptor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlDocument.cs
  src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
