Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

spelling: these lists
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/DragAssistanceManager.cs
Due: production

spelling: won't
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDropDownDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripItemBehavior.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripKeyboardHandlingService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripMenuItemDesigner.cs
Due: production

spelling: typehere
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripMenuItemDesigner.cs
Due: production

spelling: transaction
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/CollectionEditor.cs
Due: production

spelling: thrown
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/MenuCommandsChangedEventHandler.cs
Due: production

spelling: unnecessary
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlCommandSet.cs
Due: production

spelling: verify
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUI.cs
Due: production

spelling: these
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/DragAssistanceManager.cs
Due: production

Spelling src system.windows.forms.design tests unit tests (#5011)
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignSurfaceTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionServiceTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationServiceTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Drawing/Design/FontNameEditorTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/MenuCommandsTests.cs
Due: test

Spelling src system.windows.forms tests test utilities (#5004)
  src/System.Windows.Forms/tests/TestUtilities/BinarySerialization.cs
  src/System.Windows.Forms/tests/TestUtilities/Properties/InternalsVisibleTo.cs
Due: test

Spelling src system.windows.forms tests integration tests winforms controls test (#5005)
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Calendar.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/Calendar.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.cs
Due: test

Spelling src system.windows.forms tests integration tests maui tests maui tests helper (#5006)
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiTestsHelper/MouseHelper.cs
Due: test

Spelling src system.windows.forms.primitives tests unit tests (#5009)
  src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/Oleaut32/VARIANTTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/Automation/UiaTextRangeTests.cs
Due: none

Spelling src system.windows.forms tests accessibility tests (#5010)
  src/System.Windows.Forms/tests/AccessibilityTests/CommonControls2.Designer.cs
  src/System.Windows.Forms/tests/AccessibilityTests/CustomAccessiblePropertiesForm.Designer.cs
  src/System.Windows.Forms/tests/AccessibilityTests/DataBindingExample.cs
Due: test

Spelling src system.windows.forms tests integration tests design surface design surface ext (#5008)
  src/System.Windows.Forms/tests/IntegrationTests/DesignSurface/DesignSurfaceExt/IDesignSurfaceExt.cs
  src/System.Windows.Forms/tests/IntegrationTests/DesignSurface/DesignSurfaceExt/TabOrderHooker.cs
Due: test

spelling: suppress (#5001)
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/Microsoft.Dotnet.Winforms.ProjectTemplates.csproj
Due: none

spelling: explicitly (#5002)
  pkg/Microsoft.Private.Winforms/ProcessFrameworkListFiles.ps1
Due: none

spelling: accessible (#5003)
  src/System.Windows.Forms/tests/InteropTests/AccessibleObjectTests.cs
Due: test

Spelling src system.windows.forms tests integration tests design surface demo console (#5007)
  src/System.Windows.Forms/tests/IntegrationTests/DesignSurface/DemoConsole/MainForm.cs
Due: test

Enable nullability in BindingCompleteEventArgs (#4994)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/BindingCompleteEventArgs.cs
Due: production

spelling: the
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/DeviceContextHdcScope.cs
Due: none

spelling: unofficial
  src/System.Windows.Forms.Primitives/src/Interop/Mso/Interop.msoloop.cs
Due: none

spelling: anchoring
  docs/designer-releases/0.1/releasenotes.md
Due: none

spelling: assertion
  docs/testing.md
Due: none

spelling: changes
  docs/accessibility/monthcalendar-expected-behavior.md
Due: none

spelling: missing
  docs/roadmap.md
Due: none

spelling: exactly
  docs/testing.md
Due: none

spelling: external
  CONTRIBUTING.md
Due: none

spelling: described
  docs/accessibility/monthcalendar-expected-behavior.md
Due: none

spelling: recommendation
  docs/testing.md
Due: none

spelling: embedding
  Directory.Build.props
Due: none

spelling: implementations
  README.md
Due: none

spelling: picture
  docs/designer-releases/0.1/releasenotes.md
Due: none

spelling: right-hand side
  README.md
Due: none

spelling: virtual
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeMethods.vb
Due: none

spelling: async
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
Due: none

spelling: space
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/UnsafeNativeMethods.vb
Due: none

spelling: initialize
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
Due: none
