Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/Microsoft.VisualBasic/src/
      - src/Microsoft.VisualBasic.Forms/src/
      - src/System.Drawing.Common/src/
      - src/System.Drawing.Design/src/
      - src/System.Private.Windows.Core/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Analyzers/src/
      - src/System.Windows.Forms.Analyzers.CSharp/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
      - src/System.Windows.Forms.Primitives/src/
      - src/System.Windows.Forms.PrivateSourceGenerators/src/
  test:
    paths:
      - src/Common/tests/
      - src/Microsoft.VisualBasic/tests/
      - src/Microsoft.VisualBasic.Forms/tests/
      - src/System.Drawing.Common/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Analyzers/tests/
      - src/System.Windows.Forms.Analyzers.CSharp/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Primitives/tests/
      - src/System.Windows.Forms.PrivateSourceGenerators/tests/

Fix Merge issue
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/TestData/DualTimeZone.vb
Due: test

Fix term due to compliance
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/WebBrowser/HtmlElement.cs
Due: production

Set IsDialog property and AccessibleName property for StatusDialog (#12046)
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintControllerWithStatusDialog.StatusDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/StatusDialogAccessibility.cs
Due: production

Update the verification of the test "TextBoxBase_Paste_InvokeEmpty_Success"
  src/System.Windows.Forms/tests/UnitTests/TextBoxBaseTests.ClipboardTests.cs
Due: test

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20240905.11
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Improve FileLogTraceListenerTests
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/FileLogTraceListenerTests.vb
Due: test

Minor cleanup
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/FileSystemProxy.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/FileLogTraceListenerTests.vb
Due: production, test

Wrap long lines
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/FileSystemProxy.vb
Due: production

Shorted long lines in FileSystemProxy
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/Logging/FileLogTraceListenerTests.cs
Due: test

Sort FileSystemProxy
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/FileSystemProxy.vb
Due: production

Minor cleanup
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Audio.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.ReferencedStream.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/FileSystemProxy.vb
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/Devices/ComputerTests.cs
Due: production, test

Bump Microsoft.Private.Intellisense version (#12059)
  eng/Versions.props
Due: none

Bump Microsoft.Private.Intellisense version
  eng/Versions.props
Due: none

Update src/System.Drawing.Common/src/System/Drawing/ImageConverter.cs
  src/System.Drawing.Common/src/System/Drawing/ImageConverter.cs
Due: production

Update src/System.Private.Windows.Core/src/Windows/Win32/System/Com/CY.cs
  src/System.Private.Windows.Core/src/Windows/Win32/System/Com/CY.cs
Due: production

Update src/System.Private.Windows.Core/src/Windows/Win32/System/Variant/VARIANT.cs
  src/System.Private.Windows.Core/src/Windows/Win32/System/Variant/VARIANT.cs
Due: production

Resoond to PR feedback
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.vb
  src/System.Drawing.Common/src/Windows/Win32/PInvoke.SHGetStockIconInfo.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/Core/BinaryFormat/BinaryType.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/Core/BinaryFormat/ClassRecord.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/Controls/Dialogs/DEVNAMES.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/Controls/Dialogs/PRINTDLGEXW.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/Controls/Dialogs/PRINTPAGERANGE.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionListsChangedType.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUIService.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ScaleHelper.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/Foundation/COLORREF.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.MaxClassName.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/CHOOSECOLORW.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/CHOOSEFONTW.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/PAGESETUPDLGW.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/PRINTDLGW_64.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/TaskDialog/TaskDialog.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/ScreenRecordService.cs
Due: production, test

Missed on \</see>..
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/CHOOSEFONTW.cs
Due: production

Fix a few more "see" issues
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.vb
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.MaxClassName.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/CHOOSEFONTW.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/PRINTDLGW_64.cs
Due: production

Update src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/TestData/DualTimeZones.TimeZoneNames.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/TestData/DualTimeZones.TimeZoneNames.vb
Due: test

Add missing documentation
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/Matrix.cs
  src/System.Drawing.Common/src/System/Drawing/Drawing2D/PathGradientBrush.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ColorMatrix.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ColorPalette.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/Effect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/GrayScaleEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/InvertEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/SepiaEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/VividEffect.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/ImageAttributes.cs
Due: production

Respond to PR Feedback
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/TestUtilitiesTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/TestData/DualTimeZones.TimeZoneNames.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/TestData/TimeTestData.vb
Due: test

Fix Merge Conflict
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/TimeTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/TestData/DualTimeZones.TimeZone.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/TestData/DualTimeZones.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/TestData/TimeTestData.vb
Due: test

Notify the drag-image manager prior to raising drop and leave events
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/RichTextBox/RichTextBox.OleCallback.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripDropTargetManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DropTarget.cs
Due: production

Clean up another 100 long lines
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignSurface.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUI.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerHost.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/IMultitargetHelperService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/InheritanceService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/LoadedEventArgs.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/SelectionService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CollectionCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ResourceCodeDomSerializer.SerializationResourceManager.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/TypeCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/TypeDescriptorFilterService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/UndoEngine.UndoUnit.UndoEvent.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/UndoEngine.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/ContainerSelectorBehavior.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/DropSourceBehavior.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/ToolboxSnapDragDropEventArgs.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DataGridViewRowCollectionCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerFrame.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/FlowLayoutPanelDesigner .cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ISelectionUIService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/OleDragDropHandler.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ParentControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SelectionUIService.SelectionUIItem.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SelectionUIService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TabOrder.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TableLayoutControlCollectionCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripItemBehavior.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripItemDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripMenuItemCodeDomSerializer.cs
Due: production

Next Batch of long lines
  src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Accessibility/AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ContextMenuStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.DataConnection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewBand.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewColumnCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRowHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ImageList/ImageList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListControl/ListControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListViewGroup.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListViewItem.ListViewItemDetailsAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TextBox/MaskedTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.ToolStripAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripDropDown.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripPanelRow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripSeparator.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripSystemRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolstripProfessionalRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/CurrencyManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/ListBindingConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider/ErrorProvider.IconRegion.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/DefaultLayout.AnchorInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/DefaultLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/TableLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/NativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.Composition.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DragEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip/ToolTip.cs
Due: production

Update AppManifestAnalyzer reference
  docs/analyzers/akams.txt
  src/System.Windows.Forms.Analyzers/src/AnalyzerReleases.Shipped.md
Due: production

Fix a few spelling issues
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerHost.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/SelectionService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/ContainerSelectorBehavior.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/DropSourceBehavior.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripMenuItemCodeDomSerializer.cs
Due: production

Next batch of line shorting
  src/System.Windows.Forms.Design/src/Resources/MaskDesignerDialog.Designer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionListsChangedEventHandler.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUIStateChangeEventArgs.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationService.CodeDomSerializationStore.ComponentListCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/SerializeAbsoluteContext.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/UndoEngine.UndoUnit.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ISupportInSituService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SplitContainerDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDropDownDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripEditorManager.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripItemBehavior.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripKeyboardHandlingService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripMenuItemDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripTemplateNode.cs
  src/System.Windows.Forms.Primitives/src/Microsoft/Office/IMsoComponent.cs
  src/System.Windows.Forms.Primitives/src/Microsoft/Office/IMsoComponentManager.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Automation/UiaTextRange.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ScaleHelper.DpiAwarenessScope.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/ComSafeArrayScopeExtensions.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/PAGESETUPDLGW.cs
Due: production

Add code coverage for ToolStripSplitStackDragDropHandler
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripSplitStackDragDropHandlerTests.cs
Due: test

Update
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
Due: test

Add Clipboard.Clear(); at the end of the tests (#12032)
  src/System.Windows.Forms/tests/UnitTests/TextBoxBaseTests.ClipboardTests.cs
Due: test

Add copyright
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ListBoxAccesibleObjectTests.cs
Due: test

Add unit tests for ControlDesigner.DesignerControlCollection
  src/System.Windows.Forms.Design/tests/UnitTests/ControlDesigner.DesignerControlCollectionTests.cs
Due: test

Modify the file path
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ControlDesigner.DesignerControlCollectionTests.cs
Due: test
