Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2347333
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
Due: production

Add LogicalSmallSystemIconSize and LogicalLargeSystemIconSize to ScaleHelper.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/InheritanceUI.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripTemplateNode.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ScaleHelper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridErrorDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/ThreadExceptionDialog.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2347685 (#10605)
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Avoid pack ref for System.Private.Windows.Core
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
Due: none

Avoid System.Private.Windows.Core Package Reference in System.Drawing.Common (#10609)
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
Due: none

Refactoring `DesignerActionMethodItem` usage to use nameof instead of inline string (#10588)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DataGridViewDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/NotifyIconDesignerActionList.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TableLayoutPanelDesigner.cs
Due: production

Move HTML help to CsWin32
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HH.cs
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HH_ALINKW.cs
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HH_FTS_QUERYW.cs
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HH_POPUPW.cs
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HtmlHelpW.cs
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.HtmlHelp.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Help/Help.cs
Due: production

Update src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.HtmlHelp.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.HtmlHelp.cs
Due: none

Move HTML help to CsWin32 (#10611)
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HH.cs
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HH_ALINKW.cs
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HH_FTS_QUERYW.cs
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HH_POPUPW.cs
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HtmlHelpW.cs
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.HtmlHelp.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Help/Help.cs
Due: production

Unify WeakRefCollections into single implementation in Common and share between projects. Refactor to use Generics
  src/Common/src/WeakRefCollection.cs
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/ClientUtils.cs
  src/System.Drawing.Common/src/misc/GDI/DeviceContexts.cs
  src/System.Windows.Forms.Primitives/src/System.Windows.Forms.Primitives.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
Due: production

Fix off by one in loop
  src/Common/src/WeakRefCollection.cs
Due: production

Fix compile error
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
Due: production

Changes from review
  src/Common/src/WeakRefCollection.cs
  src/System.Drawing.Common/src/misc/GDI/DeviceContexts.cs
Due: production

remove incorrect debug.assert based on review
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripPanelCell.cs
Due: production

rename WeakRefCollection fields
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
Due: production

Fix usings and small change to enumerator from review
  src/Common/src/WeakRefCollection.cs
  src/System.Drawing.Common/src/System/Drawing/ClientUtils.cs
Due: production

Small refactor to use WeakRefCollection.ScavengeReferences instead of own implementation
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
Due: production

Fix blank line
  src/Common/src/WeakRefCollection.cs
Due: production

Fix up comments
  src/Common/src/WeakRefCollection.cs
Due: production

Add documentation to WeakRefCollection and small changes from review
  src/Common/src/WeakRefCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
Due: production

Cleanup/refactor of ToolStripManager
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
Due: production

Change from review
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.ListViewAccessibleObject.cs
Due: production

Follow existing pattern where tempList is assigned value from CopyDragObjects return value
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/FlowLayoutPanelDesigner .cs
Due: production

Add Click Through behaviour to ToolStrip
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
Due: production

avoid standard WndProc WM_MOUSEACTIVATE when AllowClickThrough is enabled
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
Due: production

Fix exception when specifying MessageBoxOptions.ServiceNotification | MessageBoxOptions.DefaultDesktopOnly
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MessageBoxes.cs
Due: test

Fix help button
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MessageBoxes.cs
Due: test

Refactor `WeakRefCollection` to Generics (#10291)
  src/Common/src/WeakRefCollection.cs
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/ClientUtils.cs
  src/System.Drawing.Common/src/misc/GDI/DeviceContexts.cs
  src/System.Windows.Forms.Primitives/src/System.Windows.Forms.Primitives.csproj
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/WeakRefCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripPanelCell.cs
Due: production

Revert useless changes
  codecov.yml
  eng/Test.props
  eng/Test.targets
  eng/pipelines/build.yml
  src/System.Windows.Forms.Primitives/tests/TestUtilities.Tests/System.Windows.Forms.Primitives.TestUtilities.Tests.csproj
Due: none

Revert useless changes
  eng/CodeCoverage.proj
  src/System.Windows.Forms.Primitives/tests/TestUtilities.Tests/System.Windows.Forms.Primitives.TestUtilities.Tests.csproj
Due: none

Revert useless changes
  src/System.Windows.Forms.Primitives/tests/TestUtilities.Tests/System.Windows.Forms.Primitives.TestUtilities.Tests.csproj
Due: none

Add the projects to Codecov
  Directory.Build.props
Due: none

Fix `ListViewAccessibleObject` control type to be dependent on ListView View type (#10560)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.ListViewAccessibleObject.cs
Due: production

Declare in public api
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
Due: production

Fix indent
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MessageBoxes.cs
Due: test

Change tempList to be initialized from CopyDragObjects directly
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/FlowLayoutPanelDesigner .cs
Due: production

Enable nullability in some DataGridView.Methods members
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.SelectedCellsAccessibleObject.cs
Due: production

Use pattern matching
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
Due: production

Add comment about cellStyle
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
