Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Fix build + CTI test regression finds
  src/System.Windows.Forms/src/System/Windows/Forms/Accessibility/AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.ComboBoxAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.SelectedCellsAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.TopRowAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewColumnHeaderCell.DataGridViewColumnHeaderCellAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewComboBoxEditingControl.DataGridViewComboBoxEditingControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRow.DataGridViewRowAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRow.DataGridViewSelectedRowCellsAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRowHeaderCell.DataGridViewRowHeaderCellAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewTextBoxEditingControl.DataGridViewTextBoxEditingControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Labels/LinkLabel.Link.LinkAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.ItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListViewItem.ListViewItemImageAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListViewItem.ListViewSubItem.ListViewSubItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListViewLabelEditAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.CalendarAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.CalendarBodyAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.CalendarButtonAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.CalendarCellAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.CalendarHeaderAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.CalendarRowAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.GridEntryAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripItem.ToolStripItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeNode.TreeNodeAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeViewLabelEditAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/UpDown/DomainUpDown.DomainItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/UpDown/UpDownBase.UpDownButtons.UpDownButtonsAccessibleObject.DirectionButtonAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/UpDown/UpDownBase.UpDownButtons.UpDownButtonsAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider/ErrorProvider.ControlItem.ControlItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.ScrollBarAccessibleObject.cs
  src/System.Windows.Forms/tests/InteropTests/AccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/AccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComponentModel/Com2Interop/ComNativeDescriptorTests.cs
Due: production, test

oops
  src/System.Windows.Forms/src/System/Windows/Forms/Accessibility/AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.ComboBoxAccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComponentModel/Com2Interop/ComNativeDescriptorTests.cs
Due: production, test

Enable nullability in some DataGridView.Methods members (#10463)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRowCollection.RowComparer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewSortCompareEventArgs.cs
Due: production

Update the logic of the function GetIconResourceAsBitmap in class Sca… (#10459)
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/DesignerActionGlyph.cs
Due: production

fix ToolStripItem SelectdChanged event is invoked twice
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripItem.cs
Due: production

Fix GH issue 10499 by layout current form's controls
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/DragDrop.Designer.cs
Due: test

Fix GH issue 10499 by layout current form's controls (#10517)
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/DragDrop.Designer.cs
Due: test

Use Cswin32 UIA_X_ID enums
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Accessibility/UIA_CONTROLTYPE_ID.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Accessibility/UIA_PATTERN_ID.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Accessibility/UIA_PROPERTY_ID.cs
Due: none

Use Cswin32 UIA_X_ID Enums (#10520)
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Accessibility/UIA_CONTROLTYPE_ID.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Accessibility/UIA_PATTERN_ID.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Accessibility/UIA_PROPERTY_ID.cs
Due: none

remove SR.InvalidHighBoundArgumentEx
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewBand.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRowHeightInfoNeededEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.cs
Due: production

modify unit test
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripItemTests.cs
Due: test

remove SR.InvalidHighBoundArgument
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DateTimePicker/DateTimePicker.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.cs
Due: production

fix ToolStripItem SelectedChanged event is invoked twice (#10514)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripItem.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripItemTests.cs
Due: production, test

remove SR.InvalidExBoundArgument
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/RichTextBox/RichTextBox.cs
Due: production

leftovers
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListViewItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ProgressBar/ProgressBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/RichTextBox/RichTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TextBox/TextBoxBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/UpDown/DomainUpDown.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/UpDown/NumericUpDown.cs
Due: production

review feedback
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/RichTextBox/RichTextBox.cs
Due: production

Scale icon to Dpi when initializing icon in ThreadExceptionDialog
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/InheritanceUI.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/ThreadExceptionDialog.cs
Due: production

Add rectangle.Offset in IconEditor.cs
  src/System.Drawing.Common/src/System/Drawing/Icon.cs
  src/System.Windows.Forms.Design/src/System/Drawing/Design/IconEditor.cs
Due: production

Use the assignment operator to avoid New a point object
  src/System.Windows.Forms.Design/src/System/Drawing/Design/IconEditor.cs
Due: production

fix bug [Accessibility]Inspect or AccessibilityInsights tool's rectangle can't focus on the entire Treeview with scrollBar
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeView.TreeViewAccessibleObject.cs
Due: production

Enable nullability in some DataGridView.Methods members
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCell.DataGridViewCellAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewImageCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRow.DataGridViewRowAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewTopLeftHeaderCell.DataGridViewTopLeftHeaderCellAccessibleObject.cs
Due: production

fix isssue 10516 [Accessibility] CheckBox control should support ValuePattern property
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Buttons/CheckBox.CheckBoxAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/CheckedListBox.cs
Due: production

Rename file to correct spelling issue
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkTests.vb
Due: none

Update Cursor.cs avoid finalization if we don't need to free the unmanaged handle
  src/System.Windows.Forms/src/System/Windows/Forms/Input/Cursor.cs
Due: production

Fix issue 9999: Update IconEditor to offset the icon within the property grid entry (#10131)
  src/System.Windows.Forms.Design/src/System/Drawing/Design/IconEditor.cs
Due: production

fix format and add unit test
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Buttons/CheckBox.CheckBoxAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/CheckedListBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/CheckBox.CheckBoxAccessibleObjectTests.cs
Due: production, test

fix bug [Accessibility]Inspect or AccessibilityInsights tool's rectangle can't focus on the entire Treeview with scrollBar (#10532)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeView.TreeViewAccessibleObject.cs
Due: production

Enable nullability in some DataGridView.Methods members (#10511)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCell.DataGridViewCellAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewImageCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRow.DataGridViewRowAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewTopLeftHeaderCell.DataGridViewTopLeftHeaderCellAccessibleObject.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2342047
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2342050
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

fix comments
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/CheckBox.CheckBoxAccessibleObjectTests.cs
Due: test

Enable nullability in some DataGridView.Methods members
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
Due: production

Enable nullability in some PropertyGrid members
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.cs
  src/System.Windows.Forms/tests/TestUtilities/PropertyGridInternal/SubPropertyGrid.cs
Due: production, test

Check if tabComponents is null
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.cs
Due: production

Update src/System.Windows.Forms/src/System/Windows/Forms/Input/Cursor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Input/Cursor.cs
Due: production
