Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Enable and fix CA1840 warnings
  eng/CodeAnalysis.src.globalconfig
  eng/CodeAnalysis.test.globalconfig
  src/System.Windows.Forms.Primitives/tests/TestUtilities/NoAssertContext.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.Ime.cs
Due: production

Enable and fix CA1845 warnings
  eng/CodeAnalysis.src.globalconfig
  eng/CodeAnalysis.test.globalconfig
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerHost.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
  src/System.Windows.Forms/src/System/Resources/ResXFileRef.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IManagedPerPropertyBrowsingHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/InputLanguage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.cs
Due: production

Enable and fix CA1846 warnings
  eng/CodeAnalysis.src.globalconfig
  eng/CodeAnalysis.test.globalconfig
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomDesignerLoader.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DocumentDesigner.AxToolboxItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.OleInterfaces.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SendKeys.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutSettingsTypeConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.cs
Due: production

Last time
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.cs
Due: none

Enable nullability in classes that inherit from Com2ExtendedUITypeEditor
  src/System.Windows.Forms.Primitives/src/Interop/VSSDK/Interop.IProvidePropertyBuilder.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IProvidePropertyBuilderHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyBuilderUITypeEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyPageUITypeConverter.cs
Due: production

Fix private field names
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyBuilderUITypeEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyPageUITypeConverter.cs
Due: production

Enable and fix CA2251 warnings
  eng/CodeAnalysis.src.globalconfig
  eng/CodeAnalysis.test.globalconfig
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/FileSystemUtils.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.vb
  src/System.Windows.Forms/src/System/Resources/AssemblyNamesTypeResolutionService.cs
  src/System.Windows.Forms/tests/UnitTests/SRCategoryAttributeTests.cs
  src/System.Windows.Forms/tests/UnitTests/SRDescriptionAttributeTests.cs
Due: production, test

Replace hashtables with generic dictionaries in ErrorProvider
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider.cs
Due: production

Fixing ShowInTaskbar=false doesn't work in some cases (#6421) (#6989)
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/MainFormControlsTabOrder.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/FormShowInTaskbar.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/FormTests.cs
Due: production, test

Replace hashtable with generic dictionary in TreeView
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
Due: production

Rename _nodeTable to _nodesByHandle
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNodeCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNodeCollectionTests.cs
Due: production, test

Use generic list in MonitorEnumCallback
  src/System.Windows.Forms/src/System/Windows/Forms/Screen.MonitorEnumCallback.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Screen.cs
Due: production

Changed TreeNode accessible object control type.
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.TreeNodeAccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNode.TreeNodeAccessibleObjectTests.cs
Due: production, test

Enable nullability in classes that inherit from Com2ExtendedUITypeEditor (#7036)
  src/System.Windows.Forms.Primitives/src/Interop/VSSDK/Interop.IProvidePropertyBuilder.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IProvidePropertyBuilderHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyBuilderUITypeEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2PropertyPageUITypeConverter.cs
Due: production

Use Microsoft.CodeAnalysis.NetAnalyzers instead of Microsoft.CodeAnalysis.FxCopAnalyzers (#7035)
  eng/CodeAnalysis.src.globalconfig
  eng/CodeAnalysis.test.globalconfig
  eng/CodeStyle.props
  eng/CodeStyle.targets
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/FileSystemUtils.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.vb
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerHost.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomDesignerLoader.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DocumentDesigner.AxToolboxItem.cs
  src/System.Windows.Forms.Primitives/tests/TestUtilities/NoAssertContext.cs
  src/System.Windows.Forms/src/System/Resources/AssemblyNamesTypeResolutionService.cs
  src/System.Windows.Forms/src/System/Resources/ResXFileRef.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.OleInterfaces.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IManagedPerPropertyBrowsingHandler.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.Ime.cs
  src/System.Windows.Forms/src/System/Windows/Forms/InputLanguage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridToolTip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SendKeys.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutSettingsTypeConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.cs
  src/System.Windows.Forms/tests/UnitTests/SRCategoryAttributeTests.cs
  src/System.Windows.Forms/tests/UnitTests/SRDescriptionAttributeTests.cs
Due: production, test

Fixing MonthCalendar accessible object leaks (#6853)
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.CalendarAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.CalendarBodyAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.CalendarRowAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.MonthCalendarAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.cs
Due: production

Replace hashtables with generic dictionaries in ErrorProvider (#7037)
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider.cs
Due: production

ensure that all buttons fit into the MainForm in WinFormsControlsTest app
  src/System.Windows.Forms/tests/AccessibilityTests/AccessibilityTests.csproj
  src/System.Windows.Forms/tests/AccessibilityTests/app.manifest
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/WinformsControlsTest.csproj
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/app.manifest
Due: test

Enable nullability in SplitContainer (#7022)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SplitterPanel.cs
Due: production

Apply PR suggestions
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.DoDragDrop.cs
  src/System.Windows.Forms.Primitives/src/Interop/WinFormsComWrappers.IDataObjectVtbl.cs
Due: none

Publishing APIs - no new but reordered by running the tool.
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
Due: production

ensure that all buttons fit into the MainForm in WinFormsControlsTest app (#7048)
  src/System.Windows.Forms/tests/AccessibilityTests/AccessibilityTests.csproj
  src/System.Windows.Forms/tests/AccessibilityTests/app.manifest
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/WinformsControlsTest.csproj
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/app.manifest
Due: test

Changed TreeNode accessible object control type. (#7044)
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.TreeNodeAccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNode.TreeNodeAccessibleObjectTests.cs
Due: production, test

Replace hashtable with generic dictionary in ListView (#7029)
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.ListViewNativeItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Use generic list in MonitorEnumCallback (#7041)
  src/System.Windows.Forms/src/System/Windows/Forms/Screen.MonitorEnumCallback.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Screen.cs
Due: production

Replace hashtable with generic dictionary in TreeView (#7040)
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNodeCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNodeCollectionTests.cs
Due: production, test

Publishing APIs - no new but reordered by running the tool. (#7053)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
Due: production

Disable LOC on release
  azure-pipelines.yml
Due: none

Disable LOC on release (#7054)
  azure-pipelines.yml
Due: none

Update bot
  .github/fabricbot.json
Due: none

Update bot (#7055)
  .github/fabricbot.json
Due: none

Fixing PGV accessibility tree for property descriptors and dropdown holders (#6341)
  src/System.Windows.Forms/src/Properties/AssemblyInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/DropDownButton.DropDownButtonAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyDescriptorGridEntry.PropertyDescriptorGridEntryAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.DropDownHolder.DropDownHolderAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.GridViewListBoxAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.GridViewTextBox.GridViewTextBoxAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/PropertyGridInternal/DropDownButton.DropDownButtonAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/PropertyGridInternal/PropertyDescriptorGridEntry.PropertyDescriptorGridEntryAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/PropertyGridInternal/PropertyGridView.DropDownHolder.DropDownHolderAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/PropertyGridInternal/PropertyGridView.GridViewListBox.GridViewListBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/PropertyGridInternal/PropertyGridView.GridViewTextBox.GridViewTextBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/System.Windows.Forms.UI.IntegrationTests.csproj
  src/System.Windows.Forms/tests/TestUtilities/Properties/InternalsVisibleTo.cs
  src/System.Windows.Forms/tests/TestUtilities/PropertyGridInternal/SubPropertyGrid.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridInternal/DropDownButton.DropDownButtonAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridInternal/PropertyGridView.DropDownHolder.DropDownHolderAccessibleObjectTests.cs
Due: production, test

Remove unused propDesc
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IDispatchConverter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IVsPerPropertyBrowsingHandler.cs
Due: production

Enable nullability in Com2IDispatchConverter
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IDispatchConverter.cs
Due: production

Fix variable names
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IDispatchConverter.cs
Due: production

Enable nullability in NotifyIcon
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/NotifyIcon.cs
Due: production

Fix private field names
  src/System.Windows.Forms/src/System/Windows/Forms/NotifyIcon.cs
Due: production

Remove unnecessary null check
  src/System.Windows.Forms/src/System/Windows/Forms/NotifyIcon.cs
Due: production

Enable and fix CA1066 warnings in src files
  eng/CodeAnalysis.src.globalconfig
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SelectionUIService.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.HDC.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.HGDIOBJ.cs
  src/System.Windows.Forms.Primitives/src/Interop/Interop.COLORREF.cs
  src/System.Windows.Forms.Primitives/src/Interop/Kernel32/Interop.LCID.cs
  src/System.Windows.Forms.Primitives/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Message.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Padding.cs
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/BindingMemberInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.HLSColor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkArea.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutPanelCellPosition.cs
Due: production
