Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add code coverage for ToolStripSplitButton
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripSplitButtonTests.cs
Due: test

Add retry mechanism instead of Sleeping before testing
  src/System.Windows.Forms/tests/UnitTests/ClipboardTestBase.cs
  src/System.Windows.Forms/tests/UnitTests/TextBoxBaseTests.ClipboardTests.cs
Due: test

[NRBF] adjust to upcoming breaking changes
  src/System.Private.Windows.Core/src/System/Private/Windows/Core/Nrbf/SerializationRecordExtensions.cs
Due: production

Add retry mechanism for clipboard tests (#12231)
  src/System.Windows.Forms/tests/UnitTests/TextBoxBaseTests.ClipboardTests.cs
Due: test

Handle FeedBacks
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripSplitButtonTests.cs
Due: test

handle feedbacks
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ToolStripContainerDesignerTests.cs
Due: test

Add tests for MaskedTextBoxTextEditorDropDown.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/MaskedTextBoxTextEditorDropDownTests.cs
Due: test

Update test "ProcessDialogKey_SetsCancel_WhenEscapePressed"
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/MaskedTextBoxTextEditorDropDownTests.cs
Due: test

Namespace correction
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/PictureBoxActionListTests.cs
Due: test

Correction
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ItemTypeToolStripMenuItemTests.cs
Due: test

Adds coverage to FormatStringEditor
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/FormatStringEditorTests.cs
Due: test

Adds code coverage to FormatStringEditorTests (#12208)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/FormatStringEditorTests.cs
Due: test

Correction 2
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ItemTypeToolStripMenuItemTests.cs
Due: test

Indentation update
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ItemTypeToolStripMenuItemTests.cs
Due: test

Indentation update
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/PictureBoxActionListTests.cs
Due: test

Revert "Makes DataGridView row header left border have proper luminosity in RightToLeft mode, both with VisualStyles enabled or disabled"
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRow.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewRowTests.cs
Due: production, test

Simplify lines
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/PictureBoxActionListTests.cs
Due: test

Rename update
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ItemTypeToolStripMenuItem.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ItemTypeToolStripMenuItemTests.cs
Due: production, test

Remove older feeds
  NuGet.config
Due: none

[release/9.0] Extra Border Color in DataGridView with RightToLeft layout (#12246)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRow.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewRowTests.cs
Due: production, test

Get rid of a warning in the latest IntPreview VS build (#12251)
  src/System.Windows.Forms/tests/UnitTests/NumericUpDownTests.cs
Due: test

Categorize packages
  Directory.Packages.props
Due: none

Update MicrosoftCodeAnalysisNetAnalyzersVersion to stable version
  NuGet.config
  eng/Versions.props
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/CommandSet.cs
  src/System.Windows.Forms/src/System/Resources/AssemblyNamesTypeResolutionService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataBinding/BindingSource.cs
Due: production

Pin dependencies
  Directory.Packages.props
  eng/Versions.props
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System.Windows.Forms.Analyzers.CSharp.Tests.csproj
  src/System.Windows.Forms.Analyzers/tests/UnitTests/System.Windows.Forms.Analyzers.Tests.csproj
Due: test

Remove comments
  NuGet.config
Due: none

Update branding to 6.0.36
  eng/Versions.props
Due: none

Update branding to 8.0.11
  eng/Versions.props
Due: none

Add member name assertion to GetSortedActionItems
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/PictureBoxActionListTests.cs
Due: test

IDisposable update
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ItemTypeToolStripMenuItemTests.cs
Due: test

Moved to SDK RC2 to get the same build errors in VS and CLI build and be able to fix them.
  global.json
  src/System.Drawing.Common/tests/System/Drawing/Drawing2D/GraphicsPathTests.cs
  src/System.Drawing.Common/tests/System/Drawing/GraphicsTests.cs
  src/System.Drawing.Common/tests/System/Drawing/Graphics_DrawLineTests.cs
  src/System.Drawing.Common/tests/System/Drawing/Imaging/ColorMatrixTests.cs
  src/System.Drawing.Common/tests/System/Drawing/Imaging/ImageAttributesTests.cs
  src/System.Drawing.Common/tests/System/Drawing/PenTests.cs
  src/System.Drawing.Common/tests/System/Drawing/RegionTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/GraphicsTests.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/StyleEditorForm.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationServiceTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ControlDesigner.DesignerControlCollectionTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.FlatComboAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripComboBox.ToolStripComboBoxControl.ToolStripComboBoxFlatComboAdapter.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ListViewTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ListViewTest.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ListVIew.ListViewAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ListViewItem.ListViewItemAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ListViewItem.ListViewItemDetailsAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ListViewItem.ListViewSubItem.ListViewSubItemAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DomainUpDownTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewItemConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewSubItemCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripComboBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripMenuItemTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripPanel.ToolStripPanelRowCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
Due: production, test

Update branding to 6.0.36 (#12252)
  eng/Versions.props
Due: none

Update branding to 8.0.11 (#12253)
  eng/Versions.props
Due: none

[release/8.0] Avoid Creating Graphics in TabControl.WmReflectDrawItem() (#12216)
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
Due: production

Don't use `decimal` constructor that uses int array
  .editorconfig
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/StyleEditorForm.cs
Due: production

Update AreaPath in sdl-tsa-vars.config
  eng/sdl-tsa-vars.config
Due: none

Add internals visibility to System.Windows.Primitives
  src/System.Private.Windows.Core/src/Properties/AssemblyInfo.cs
Due: production

Add internals visibility to System.Windows.Primitives (#12260)
  src/System.Private.Windows.Core/src/Properties/AssemblyInfo.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/Microsoft.VisualBasic/src/, src/Microsoft.VisualBasic.Forms/src/, src/System.Drawing.Common/src/, src/System.Drawing.Design/src/, src/System.Private.Windows.Core/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Analyzers/src/, src/System.Windows.Forms.Analyzers.CSharp/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/, src/System.Windows.Forms.Primitives/src/, src/System.Windows.Forms.PrivateSourceGenerators/src/
  test: any of: src/Common/tests/, src/Microsoft.VisualBasic/tests/, src/Microsoft.VisualBasic.Forms/tests/, src/System.Drawing.Common/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Analyzers/tests/, src/System.Windows.Forms.Analyzers.CSharp/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Primitives/tests/, src/System.Windows.Forms.PrivateSourceGenerators/tests/
