Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Refactoring property store usage to use new APIs and remove old APIs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewBand.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCellStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCheckBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewColumnHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewImageCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewLinkCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRowHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewTextBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripDropDown.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/CommonProperties.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyStoreTests.cs
Due: production, test

Cleanup NetworkDownload comments
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network/NetworkDownload.vb
Due: production

Clean up formatting and comments in NetworkDownload
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network/NetworkDownload.vb
Due: production

Fix formatting in 2 files
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/CantStartSingleInstanceException.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Audio.vb
Due: production

Fix formatting in Audio.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Audio.vb
Due: production

Cleanup NativeMethids Split NativeTypes
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeMethods.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.LateInitSafeHandleZeroOrMinusOneIsInvalid.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.PROCESS_INFORMATION.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.SECURITY_ATTRIBUTES.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.STARTUPINFO.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.vb
Due: production

More Native Type cleanup.
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeMethods.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.LateInitSafeHandleZeroOrMinusOneIsInvalid.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.SECURITY_ATTRIBUTES.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.STARTUPINFO.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/SafeNativeMethods.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/UnsafeNativeMethods.vb
Due: production

Merge NativeTypes
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.LateInitSafeHandleZeroOrMinusOneIsInvalid.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.PROCESS_INFORMATION.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.SECURITY_ATTRIBUTES.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.STARTUPINFO.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/SafeNativeMethods.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/UnsafeNativeMethods.vb
Due: production

Cleanup formatting for NativeTypes
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeTypes.STARTUPINFO.vb
Due: production

Use "As New" where possible
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/VBInputBox.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.ReferencedStream.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/ProgressDialog.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/WebClientCopy.vb
Due: production

More refactoring to remove GetInteger/SetInteger
  src/System.Windows.Forms/src/System/Windows/Forms/Control.Ime.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewBand.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewButtonCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCellStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCheckBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewHeaderCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewImageCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewLinkCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewTextBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Labels/Label.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripMenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/FlowLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
Due: production

Refactor TryGetObject usage to TryGetValue
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCellStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewLinkCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Labels/Label.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripMenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyStoreTests.cs
Due: production, test

Refactor GetObject usage to appropriate APIs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripPanelRow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripItemTests.cs
Due: production, test

fix clipboardproxytests and use fluent assertions for
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/MyServices/ClipboardProxyTests.cs
Due: test

ClipboardComTests is removed in Loni's PR
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardComTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
Due: test

ClipboardProxy Tests
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/MyServices/ClipboardProxyTests.cs
Due: test

Clean up document comments and long line formatting Move some classes into separate files. Add See Cref when possible No code changes.
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/ApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/ApplyApplicationDefaultsEventArgs.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/AssemblyInfo.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/CantStartSingleInstanceException.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/ConsoleApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/NoStartupFormException.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/SingleInstanceHelpers.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/StartupEventArgs.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Clock.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Computer.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/ComputerInfo.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Keyboard.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/ServerComputer.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/FileSystemUtils.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/IVbHost.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/VBInputBox.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Log.DefaultTraceSource.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Log.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/ClipboardProxy.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/FileSystemProxy.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/ContextValue.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/ProgressDialog.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/RegistryProxy.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/SpecialDirectoriesProxy.vb
Due: production

Refactoring API usage in PropertyStoreTests
  src/System.Private.Windows.Core/src/System/Value.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyStoreTests.cs
Due: production, test

Check if stack trace or type name are null
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
Due: production

Enable nullability in remaining ControlDesigner members
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.ChildSubClass.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
Due: production

Add comment about checking if Parent is null
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
Due: production

Make owner nullable in SetUnhandledException
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.ChildSubClass.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
Due: production

Enable nullability in TransparentBehavior
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/ControlBodyGlyph.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.TransparentBehavior.cs
Due: production

Remove null check
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.TransparentBehavior.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 164: Build ID 2499303
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
Due: production

Issue 2053861 fix combo box flickering issue (#11529)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.FlatComboAdapter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
Due: production

Using ? replace of ! in IDictionary_TestData
  src/System.Windows.Forms.Design/tests/UnitTests/ButtonBaseDesignerTests.cs
Due: test

Add test coverage for BaseContextMenuStrip
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/BaseContextMenuStripTests.cs
Due: test

Separate test code into a separate class
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
Due: test

Using pattern matching and using theory to tests
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ListBoxDesigner.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ListBoxDesignerTests.cs
Due: production, test

Update function OnComponentChanged and OnCreateHandle
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ListBoxDesigner.cs
Due: production

Add code coverage for ListBoxAccessibleObject and ListBoxItemAccessibleObject
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ListBox.ListBoxItemAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ListBoxAccessibleObjectTests.cs
Due: test

Handle feedback!
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGrid.PropertyTabCollectionTests.cs
Due: test

Minor correction
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ListBox.ListBoxItemAccessibleObjectTests.cs
Due: test

Testcase correction
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ListBoxAccessibleObjectTests.cs
Due: test

Add a new accessor method without throw no exception
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.ListViewItemCollection.IInnerList.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.ListViewItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.ListViewNativeItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListViewGroupItemCollection.cs
Due: production

Update
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ListBoxAccessibleObjectTests.cs
Due: test

Add unit test for ImageListDesigner
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ImageListDesignerTests.cs
Due: test

Update 2
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ListBoxAccessibleObjectTests.cs
Due: test

Update remaining cref attributes to resolve properly
  src/Common/tests/TestUtilities/AppContextSwitchNames.cs
  src/System.Drawing.Common/src/System/Drawing/Bitmap.cs
  src/System.Drawing.Common/src/System/Drawing/Image.cs
  src/System.Private.Windows.Core/src/System/SpanReader.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/Gdi/CreateDcScope.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/Gdi/DeviceContextHdcScope.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/Gdi/GetDcScope.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/Gdi/IGraphicsHdcProvider.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/Gdi/RegionScope.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/Gdi/SaveDcScope.cs
  src/System.Private.Windows.Core/src/Windows/Win32/Graphics/Gdi/SelectObjectScope.cs
  src/System.Private.Windows.Core/src/Windows/Win32/System/Com/AgileComPointer.cs
  src/System.Private.Windows.Core/src/Windows/Win32/System/Com/ComHelpers.cs
  src/System.Private.Windows.Core/src/Windows/Win32/System/Com/SafeArrayScope.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/Controls/Dialogs/PRINTPAGERANGE.cs
  src/System.Windows.Forms.Primitives/src/System/LocalAppContextSwitches/LocalAppContextSwitches.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/BeginPaintScope.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/CreatePenScope.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.HtmlHelp.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/SetBackgroundColorScope.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/SetMapModeScope.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/SetRop2Scope.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/SetTextAlignmentScope.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/SetTextColorScope.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/System/Com/ComSafeArrayScope.cs
  src/System.Windows.Forms.Primitives/tests/TestUtilities/TargetFrameworkNameScope.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/Control_ActiveXControlInterfaces.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ThreadContext.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripItem.ToolStripItemAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TrackBar/TrackBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DataObject.BitmapBinder.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/TestHelpers.cs
Due: production, test

Path conditions:
  production: any of: src/Common/src/, src/Microsoft.VisualBasic/src/, src/Microsoft.VisualBasic.Forms/src/, src/System.Drawing.Common/src/, src/System.Drawing.Design/src/, src/System.Private.Windows.Core/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Analyzers/src/, src/System.Windows.Forms.Analyzers.CSharp/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/, src/System.Windows.Forms.Primitives/src/, src/System.Windows.Forms.PrivateSourceGenerators/src/
  test: any of: src/Common/tests/, src/Microsoft.VisualBasic/tests/, src/Microsoft.VisualBasic.Forms/tests/, src/System.Drawing.Common/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Analyzers/tests/, src/System.Windows.Forms.Analyzers.CSharp/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Primitives/tests/, src/System.Windows.Forms.PrivateSourceGenerators/tests/
