Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/Microsoft.VisualBasic/src/
      - src/Microsoft.VisualBasic.Forms/src/
      - src/System.Drawing.Common/src/
      - src/System.Drawing.Design/src/
      - src/System.Private.Windows.Core/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Analyzers/src/
      - src/System.Windows.Forms.Analyzers.CSharp/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
      - src/System.Windows.Forms.Primitives/src/
      - src/System.Windows.Forms.PrivateSourceGenerators/src/
  test:
    paths:
      - src/Common/tests/
      - src/Microsoft.VisualBasic/tests/
      - src/Microsoft.VisualBasic.Forms/tests/
      - src/System.Drawing.Common/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Analyzers/tests/
      - src/System.Windows.Forms.Analyzers.CSharp/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Primitives/tests/
      - src/System.Windows.Forms.PrivateSourceGenerators/tests/

Shorten long Lines
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/TimeTests.vb
Due: test

Updated
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ListViewActionListTests.cs
Due: test

Shorten long lines Cleanup FileIoProxyTests
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ClipboardProxyTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ExceptionUtilsTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/FileIoProxyTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkDownloadTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NntiveTypesTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/SingleInstanceHelpersTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/TimeTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/TempDirectoryFileFunctions.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/WebListener.vb
Due: test

Shorten long lines Cleanup CliboardProxyTests
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ClipboardProxyTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/ExceptionUtilsTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/FileIoProxyTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NativeTypesTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkDownloadTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/SingleInstanceHelpersTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/TimeTests.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/TempDirectoryFileFunctions.vb
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/TestUtilities/WebListener.vb
Due: test

Minor formatting changes
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkDownloadTests.vb
Due: test

Revert "fix comment"
  src/System.Windows.Forms.Design/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripActionList.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripContainerDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripContentPanelDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripPanelDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TrackBarDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TreeViewActionList.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/UpDownBaseDesigner.cs
Due: production

add condition when create DesignerActionListCollection
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SplitContainerDesigner.cs
Due: production

Remove some extra blank lines
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkDownloadTests.vb
Due: test

Remove extra blank lines
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkDownloadTests.vb
Due: test

Remove blank lines
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/NetworkDownloadTests.vb
Due: test

Settle comments
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/CloneTestListView.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ListViewTest.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ListViewTest.cs
Due: test

Fix backwards compat issue in Application.RenderWithVisualStyles.
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
Due: production

Add tests for CleanupDirectories
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/FileIoProxyTests.vb
Due: test

Add testing for CleanupDirectories
  src/Microsoft.VisualBasic.Forms/tests/UnitTests/System/Windows/Forms/FileIoProxyTests.vb
Due: test

Add code coverage for ToolStripTextBox
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTextBoxTests.cs
Due: test

Fix some CTI found issues around the new form border attributes APIs.
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

Refactor WinForms async features.
  src/System.Windows.Forms/src/System/Windows/Forms/Control_InvokeAsync.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/MessageBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/TaskDialog/TaskDialog.cs
Due: production

Add Form.ShowAsync to async API.
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ThemedSystemColors.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Theming/DarkThemedSystemColors.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Theming/LightThemedSystemColors.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ApplicationTests.cs
Due: production, test

Fix merge issues.
  src/System.Windows.Forms.Primitives/src/GlobalUsings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

First draft of DarkMode implementation.
  src/System.Windows.Forms.Primitives/src/GlobalUsings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DarkModeSettings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ThemedSystemColors.cs
Due: production

Refactor and clean up code.
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Rendering/AsyncGraphicsFactory.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Rendering/PaintEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ThemedSystemColors.cs
Due: production

Refactor InvokeAsync implementation.
  src/System.Windows.Forms/src/System/Windows/Forms/Control_InvokeAsync.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DarkModeSettings.cs
Due: production

Fixing merge issues.
  src/System.Windows.Forms/src/System/Windows/Forms/DarkModeSettings.cs
Due: production

First draft of Darkmode for ToolStrips.
  src/System.Windows.Forms/src/System/Windows/Forms/DarkProfessionalColors.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Theming/DarkThemedSystemColors.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Theming/LightThemedSystemColors.cs
Due: production

Introduce WinForms Async support.
  src/System.Windows.Forms/src/GlobalSuppressions.cs
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control_Annotated.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control_InvokeAsync.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/MessageBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Rendering/AsyncGraphicsFactory.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Rendering/PaintEventArgs.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/ControlTestBase.cs
Due: production, test

Switch out experimental URL.
  src/System.Windows.Forms/src/System/Windows/Forms/Control_InvokeAsync.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/TaskDialog/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

Refactor Form.ShowAsync and Form.ShowDialogAsync.
  src/System.Windows.Forms/src/System/Windows/Forms/DarkProfessionalColors.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

Finalize Invoke async including the docs.
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Control_InvokeAsync.cs
Due: production

Refactor Async functions based on new Diagnostic IDs.
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Control_InvokeAsync.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/TaskDialog/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

Ensure, we're not setting task completion results twice.
  src/System.Windows.Forms/src/System/Windows/Forms/Control_InvokeAsync.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/TaskDialog/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

Add improved handling of Exceptions in Form.ShowAsync scenarios.
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlNativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

Refactor InvokeAsync.
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control_InvokeAsync.cs
Due: production

Refactor Form.ShowAsync and Form.ShowDialogAsync.
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/TaskDialog/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

Undo a few BeginInvokes
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Labels/Label.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PictureBox/PictureBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Scrolling/ScrollableControl.cs
Due: production

Implement Control.Async.
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Control_InvokeAsync.cs
Due: production
