Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Fixing the reference to ComboBoxAccessibleObject.
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190429.01
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190429.02
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190429.03
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190429.04
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190429.05
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190429.06
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Cleanup ToolStripItemDesignerAvailabilityAttribute
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ToolStripDesignerAvailability.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ToolStripItemDesignerAvailabilityAttribute.cs
Due: production

Add ToolStripItemDesignerAvailabilityAttribute tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/ToolStripItemDesignerAvailabilityAttributeTests.cs
Due: test

Rename file
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ToolStripItemDesignerAvailabilityAttribute.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190429.07
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Rename files
  src/System.Windows.Forms/src/System/Windows/Forms/Design/IWindowsFormsEditorService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/WindowsFormsComponentEditor.cs
Due: production

Add WindowsFormsComponentEditor tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/WindowsFormsComponentEditorTests.cs
Due: test

Cleanup WindowsFormsComponentEditor
  src/System.Windows.Forms/src/System/Windows/Forms/Design/IUIService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/IWindowsFormsEditorService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/WindowsFormsComponentEditor.cs
Due: production

Cleanup PropertyTab
  src/System.Windows.Forms/src/System/Windows/Forms/Design/PropertyTab.cs
Due: production

Rename fields
  src/System.Windows.Forms/src/System/Windows/Forms/Design/PropertyTab.cs
Due: production

Add PropertyTab tests
  src/System.Windows.Forms/tests/UnitTests/System.Windows.Forms.Tests.csproj
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/PropertyTabTests.cs
Due: test

Fix PropertyTab debug assertion
  src/System.Windows.Forms/src/System/Windows/Forms/Design/PropertyTab.cs
Due: production

PR feedback
  src/System.Windows.Forms/src/System/Windows/Forms/Design/WindowsFormsComponentEditor.cs
Due: production

Fix tests...
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/ToolStripItemDesignerAvailabilityAttributeTests.cs
Due: test

Update dependencies from https://github.com/dotnet/arcade build 20190429.8
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Cleanup and add ToolStripItemDesignerAvailabilityAttribute tests (#900)
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ToolStripDesignerAvailability.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ToolStripDesignerAvailabilityAttribute.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ToolStripItemDesignerAvailabilityAttribute.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/ToolStripItemDesignerAvailabilityAttributeTests.cs
Due: production, test

Cleanup and add WindowsFormsComponentEditor tests (#901)
  src/System.Windows.Forms/src/System/Windows/Forms/Design/IUIService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/IWindowsFormsEditorService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/WinFormsComponentEditor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/WindowsFormsComponentEditor.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/WindowsFormsComponentEditorTests.cs
Due: production, test

Add PropertyTab tests, cleanup and fix debug assertion (#902)
  src/System.Windows.Forms/src/System/Windows/Forms/Design/PropertyTab.cs
  src/System.Windows.Forms/tests/UnitTests/System.Windows.Forms.Tests.csproj
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/PropertyTabTests.cs
Due: production, test

Update dependencies from https://github.com/dotnet/arcade build 20190430.6
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Cleanup GridTablesFactory
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridTablesFactory.cs
Due: production

Add GridTablesFactory tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/GridTablesFactoryTests.cs
Due: test

Rename DataGridTablesFactory.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GridTablesFactory.cs
Due: production

Add GridTablesFactory tests and cleanup GridTablesFactory (#909)
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridTablesFactory.cs
  src/System.Windows.Forms/src/System/Windows/Forms/GridTablesFactory.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/GridTablesFactoryTests.cs
Due: production, test

Remove InitializeLifetimeService
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentManagerBroker.cs
Due: production

Remove dead
  src/System.Windows.Forms/src/workarounds.cs
Due: production

remove dead code
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentManagerBroker.cs
Due: production

Update dependencies from https://github.com/dotnet/core-setup build 20190501.08
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190501.09
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Publish test artifacts to AzDO (dotnet/corefxdotnet/runtime#37296)
  src/System.Drawing.Common/tests/Printing/PrintDocumentTests.cs
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190501.11
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190501.12
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Update dependencies from https://github.com/dotnet/core-setup build 20190501.13
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
