Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Update Pre-Release Iteration and Resource Management Milestone (#10942)
  .github/policies/resourceManagement.yml
  eng/Versions.props
Due: none

Fix some trim warnings in DesignerHost
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerHost.cs
Due: production

Add convenience / performance related methods to ListViewItemCollection / ControlCollection
  src/System.Windows.Forms/src/GlobalSuppressions.cs
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.ListViewItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripPanel.ToolStripPanelControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/ArrangedElementCollection.cs
Due: production

Improve codeQL messages for BinaryFormatter.Deserialization
  src/Common/tests/TestUtilities/BinarySerialization.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/BinaryFormatWriterTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/HashTableTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/ListTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/PrimitiveTypeTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BinaryFormat/WinFormsBinaryFormattedObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ImageListTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Layout/TableLayoutSettingsTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewSubItemTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/OwnerDrawPropertyBagTests.cs
Due: test

Modify judgment logic
  src/System.Windows.Forms.Primitives/src/System/LocalAppContextSwitches/LocalAppContextSwitches.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: production, test

Removing extra changes
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripManagerTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: production, test

Fix spacing in comments
  src/Common/tests/TestUtilities/BinarySerialization.cs
  src/System.Drawing.Common/tests/DrawingTest.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/BinaryFormatWriterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ImageListTests.cs
Due: test

Fix some trim warnings in DesignerHost (#10943)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerHost.cs
Due: production

Fix typo.
  src/Common/tests/TestUtilities/BinarySerialization.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/BinaryFormatWriterTests.cs
Due: test

Update remaining unit tests
  src/System.Drawing.Common/tests/DrawingTest.cs
  src/System.Drawing.Common/tests/System/Drawing/Graphics_DrawBezierTests.cs
  src/System.Drawing.Common/tests/System/Drawing/Graphics_DrawLineTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/BitmapTests.cs
Due: none

add ProducesDotNetReleaseShippingAssets property
  eng/Publishing.props
Due: none

Delete UsingToolMicrosoftNetCompilers property
  eng/Versions.props
Due: none

Delete UsingToolMicrosoftNetCompilers property (#10959)
  eng/Versions.props
Due: none

Improves CodeQL comment for format method in testhelpers.h
  src/System.Windows.Forms/tests/InteropTests/NativeTests/testhelpers.h
Due: test

Remove CodeQL warning suppression comments due to changes in #10939
  src/System.Drawing.Common/tests/DrawingTest.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/BitmapTests.cs
Due: none

Specify that various CodeQL comments are made in tests.
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/BinaryFormatWriterTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/HashTableTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/ListTests.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/BinaryFormat/PrimitiveTypeTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHost.PropertyBagStreamTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BinaryFormat/WinFormsBinaryFormattedObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataObject_BitmapBinderTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ImageListTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Layout/TableLayoutSettingsTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewGroupTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewSubItemTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/OwnerDrawPropertyBagTests.cs
Due: test

Replace MD5 with SHA256 (#10939)
  src/System.Drawing.Common/tests/DrawingTest.cs
  src/System.Drawing.Common/tests/System/Drawing/Graphics_DrawBezierTests.cs
  src/System.Drawing.Common/tests/System/Drawing/Graphics_DrawLineTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/BitmapTests.cs
Due: none

Rename switch and add test
  src/System.Windows.Forms.Primitives/src/System/LocalAppContextSwitches/LocalAppContextSwitches.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: production, test

Adjust the order of judgment to avoid unnecessary method calls
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
Due: production

Restore the default font of the Application after test
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: test

Add form.showDialog in test "ToolStrip_Font_ApplyParentFontToMenus_GetReturnFont_SameAsApplication"
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: test

Adds missing warning code for suppresion
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ImageListTests.cs
Due: test

Remove unsupported target framework from template
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-VisualBasic/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-VisualBasic/.template.config/template.json
Due: none

Add code coverage for Label
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/LabelTests.cs
Due: test

Removing the test ToolStrip_Font_ApplyParentFontToMenus_GetReturnFont_SameAsApplicati
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: test

Add AppContext switch "System.Windows.Forms.ApplyParentFontToMenus" (#10906)
  src/System.Windows.Forms.Primitives/src/System/LocalAppContextSwitches/LocalAppContextSwitches.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: production, test

Add test "ToolStrip_Font_ApplyParentFontToMenus_GetReturnFont_SameAsApplication"
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: production, test

Add test coverage for Label
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/LabelTests.cs
Due: test

Update test cases
  src/System.Windows.Forms.Primitives/src/System/LocalAppContextSwitches/LocalAppContextSwitches.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
Due: production

Add test coverage for MaskedTextBox
  src/System.Windows.Forms/tests/UnitTests/MaskedTextBoxTests.cs
Due: test

Add test Form_Font_GetReturnFont_SameAsApplication
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: production, test

fix An exception popped up when click "Type Here" on ContextMenuStrip control in DemoConsole application
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripMenuItemDesigner.cs
Due: production

Add form to current application
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: test

Update machine requirements
  docs/developer-guide.md
Due: none

Update machine requirements (#10982)
  docs/developer-guide.md
Due: none

Update tests
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: production, test
