Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below
  behavior: default               # updates, if exists; otherwise post new
  require_changes: false          # post comment even if coverage does not change
  require_head: yes               # must have these two in order to post
  require_base: yes

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Add GW enum and GetWindow methods to Interop User32
  src/Common/src/Interop/User32/Interop.GW.cs
  src/Common/src/Interop/User32/Interop.GetWindow.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ParkingWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Cleanup GDI interop in System.Drawing.Common (dotnet/corefxdotnet/runtime#39727)
  src/System.Drawing.Common/src/PinvokeAnalyzerExceptionList.analyzerdata
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
  src/System.Drawing.Common/src/System/Drawing/BufferedGraphicsContext.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Font.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Font.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Font.cs
  src/System.Drawing.Common/src/System/Drawing/Gdiplus.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs
  src/System.Drawing.Common/src/System/Drawing/Graphics.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Icon.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/NativeMethods.cs
  src/System.Drawing.Common/src/System/Drawing/NativeStructs.Unix.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/DefaultPrintController.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PageSettings.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PreviewPrintController.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrintPreviewGraphics.cs
  src/System.Drawing.Common/src/System/Drawing/Printing/PrinterSettings.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/Region.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/ScreenDC.cs
  src/System.Drawing.Common/src/System/Drawing/SystemFonts.Windows.cs
  src/System.Drawing.Common/src/System/Drawing/UnsafeNativeMethods.cs
  src/System.Drawing.Common/src/misc/DpiHelper.cs
  src/System.Drawing.Common/src/misc/GDI/DeviceContext.cs
  src/System.Drawing.Common/src/misc/GDI/NativeMethods.cs
  src/System.Drawing.Common/src/misc/GDI/SafeNativeMethods.cs
  src/System.Drawing.Common/src/misc/GDI/UnsafeNativeMethods.cs
  src/System.Drawing.Common/src/misc/GDI/WindowsRegion.cs
  src/System.Drawing.Common/src/misc/GDI/WindowsRegionCombineMode.cs
Due: none

Remove unused DeviceContextLayout enum and LAYOUT constants
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/misc/GDI/DeviceContextLayout.cs
Due: production

Remove dead code from Control.PerformLayout
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Don't recreate the handle twice in TabControl.Alignment setter
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabControlTests.cs
Due: production, test

Cleanup GetParent interop
  src/Common/src/Interop/User32/Interop.GetParent.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ParkingWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FileDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserSiteBase.cs
Due: production

Remove dead code from Control.PerformLayout (#2271)
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Remove unused DeviceContextLayout enum and LAYOUT constants (#2269)
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/misc/GDI/DeviceContextLayout.cs
Due: production

Add GW enum and GetWindow methods to Interop User32 (#2267)
  src/Common/src/Interop/User32/Interop.GW.cs
  src/Common/src/Interop/User32/Interop.GetWindow.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.ParkingWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Add more Control tests especially for layout (#2245)
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/tests/UnitTests/MonthCalendarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ContainerControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Handlers.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Internals.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Properties.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/ComponentEditorPageTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/FlowLayoutPanelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/HScrollBarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PanelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PictureBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ProgressBarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScrollBarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ScrollableControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabPageTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripPanelTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/VScrollBarTests.cs
Due: production, test

Remove assignment duplication (#2255)
  src/System.Windows.Forms/src/System/Windows/Forms/Binding.cs
Due: production

Add TVHT enum in Interop ComCtl32 and remove corresponding constants from NativeMethods.cs
  src/Common/src/Interop/ComCtl32/Interop.TVHT.cs
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeViewHitTestLocation.cs
Due: production

Add ControlCollection tests
  src/Common/src/Interop/User32/Interop.GetParent.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.ControlCollection.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Handlers.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Properties.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
Due: production, test

Remove invalid Debug Assert
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Added FormatString Editor WIP
  src/Common/src/Interop/Interop.WindowMessages.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/DpiHelper.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Resources/SR.resx
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Design.Editors/src/System.Windows.Forms.Design.Editors.csproj
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/BindingFormattingDialog.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/BindingFormattingWindowsFormsEditorService.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/DataSourceDescriptor.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/DataSourceDescriptorCollection.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/DataSourceGroup.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/DataSourceGroupCollection.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/DataSourceProviderService.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/DesignBinding.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/DesignBindingPicker.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/DropDownHolder.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/FormatControl.Designer.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/FormatControl.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/FormatStringDialog.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/FormatStringEditor.cs
Due: production

Add ControlCollection tests (#2273)
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.ControlCollection.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Handlers.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Properties.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.cs
Due: production, test

Add TVHT enum in Interop ComCtl32 and remove corresponding cons… (#2268)
  src/Common/src/Interop/ComCtl32/Interop.TVHT.cs
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeViewHitTestLocation.cs
Due: production

Cleanup TCS_ constants
  src/Common/src/Interop/ComCtl32/Interop.TCS.cs
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
Due: production

Cleanup TCS_ constants (#2256)
  src/Common/src/Interop/ComCtl32/Interop.TCS.cs
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs
Due: production

Add test scaffolds for UITypeEditors
  src/System.Design/src/System.Design.Forwards.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/EnsureEditorsTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System.Windows.Forms.Design.Editors.Tests.csproj
  src/System.Windows.Forms/src/System/Drawing/Design/UITypeEditor.cs
Due: production, test

Port IconEditor
  src/System.Windows.Forms.Design.Editors/src/Resources/SR.resx
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/IconEditor.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/EnsureEditorsTests.cs
  src/System.Windows.Forms/src/System/Drawing/Design/UITypeEditor.cs
Due: production, test

Port ImageIndexEditor
  src/System.Design/src/System.Design.Forwards.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/ImageIndexEditor.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/EnsureEditorsTests.cs
Due: production, test

Port TabPageCollectionEditor
  src/System.Design/src/System.Design.Forwards.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/TabPageCollectionEditor.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/EnsureEditorsTests.cs
Due: production, test

Port ContentAlignmentEditor
  .gitattributes
  src/System.Windows.Forms.Design.Editors/src/Misc/DpiHelper.cs
  src/System.Windows.Forms.Design.Editors/src/Resources/SR.resx
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/ContentAlignmentEditor.ContentUI.cs
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/ContentAlignmentEditor.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/EnsureEditorsTests.cs
  src/System.Windows.Forms/src/System/Drawing/Design/UITypeEditor.cs
Due: production, test

Port ListControlStringCollectionEditor
  src/System.Design/src/System.Design.Forwards.cs
  src/System.Windows.Forms.Design.Editors/src/Resources/SR.resx
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/ListControlStringCollectionEditor.cs
Due: production

Port BinaryEditor from NET Fx
  src/Common/src/Interop/Kernel32/Interop.MultiByteToWideChar.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/EnsureEditorsTests.cs
  src/System.Windows.Forms.Design/src/Resources/SR.resx
  src/System.Windows.Forms.Design/src/Resources/System/ComponentModel/Design/BinaryEditor.resx
  src/System.Windows.Forms.Design/src/Resources/System/ComponentModel/Design/xlf/BinaryEditor.cs.xlf
  src/System.Windows.Forms.Design/src/Resources/System/ComponentModel/Design/xlf/BinaryEditor.de.xlf
  src/System.Windows.Forms.Design/src/Resources/System/ComponentModel/Design/xlf/BinaryEditor.es.xlf
  src/System.Windows.Forms.Design/src/Resources/System/ComponentModel/Design/xlf/BinaryEditor.fr.xlf
  src/System.Windows.Forms.Design/src/Resources/System/ComponentModel/Design/xlf/BinaryEditor.it.xlf
  src/System.Windows.Forms.Design/src/Resources/System/ComponentModel/Design/xlf/BinaryEditor.ja.xlf
  src/System.Windows.Forms.Design/src/Resources/System/ComponentModel/Design/xlf/BinaryEditor.ko.xlf
  src/System.Windows.Forms.Design/src/Resources/System/ComponentModel/Design/xlf/BinaryEditor.pl.xlf
  src/System.Windows.Forms.Design/src/Resources/System/ComponentModel/Design/xlf/BinaryEditor.pt-BR.xlf
  src/System.Windows.Forms.Design/src/Resources/System/ComponentModel/Design/xlf/BinaryEditor.ru.xlf
  src/System.Windows.Forms.Design/src/Resources/System/ComponentModel/Design/xlf/BinaryEditor.tr.xlf
  src/System.Windows.Forms.Design/src/Resources/System/ComponentModel/Design/xlf/BinaryEditor.zh-Hans.xlf
  src/System.Windows.Forms.Design/src/Resources/System/ComponentModel/Design/xlf/BinaryEditor.zh-Hant.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/BinaryEditor.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ByteViewer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DisplayMode.cs
Due: production, test

Replace ToolStripItem.ImageIndex editor
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
Due: production

Port DateTimeEditor
  src/System.Windows.Forms.Design.Editors/src/System/ComponentModel/Design/DateTimeEditor.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/EnsureEditorsTests.cs
Due: production, test

Port ListViewSubItemCollectionEditor
  src/System.Design/src/System.Design.Forwards.cs
  src/System.Windows.Forms.Design.Editors/src/Resources/SR.resx
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/ListViewSubItemCollectionEditor.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/EnsureEditorsTests.cs
Due: production, test

Port ListViewGroupCollectionEditor
  src/System.Design/src/System.Design.Forwards.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/ListViewGroupCollectionEditor.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/EnsureEditorsTests.cs
Due: production, test

Port ListViewItemCollectionEditor
  src/System.Design/src/System.Design.Forwards.cs
  src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/ListViewItemCollectionEditor.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/EnsureEditorsTests.cs
Due: production, test

Partially revert "Porting DataMemberFieldConverter" f477b2a
  src/System.Design/src/System.Design.Forwards.cs
  src/System.Windows.Forms.Design/src/Properties/InternalsVisibleTo.cs
  src/System.Windows.Forms/src/AssemblyRef.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListControl.cs
Due: production

Move KillTimer and SetTimer methods to Interop User32
  src/Common/src/Interop/User32/Interop.KillTimer.cs
  src/Common/src/Interop/User32/Interop.SetTimer.cs
  src/Common/src/SafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Timer.cs
Due: production

Add the case MauiLabelTests
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiLabelTests/MauiLabelTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiLabelTests/MauiLabelTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiLabelTests.cs
Due: test

Cleanup LVIF_ constants
  src/Common/src/Interop/ComCtl32/Interop.LVIF.cs
  src/Common/src/Interop/ComCtl32/Interop.NMLISTVIEW.cs
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms.Design/src/System.Windows.Forms.Design.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.cs
Due: production

Remove LVITEM.Reset
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
Due: production

Cleanup PBS constants
  src/Common/src/Interop/ComCtl32/Interop.PBS.cs
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ProgressBar.cs
Due: production

Cleanup PBM constants
  src/Common/src/Interop/ComCtl32/Interop.CCM.cs
  src/Common/src/Interop/ComCtl32/Interop.PBM.cs
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ProgressBar.cs
Due: production
