Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Fix COM interop ELEMDESC (#1254)
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2TypeInfoProcessor.cs
Due: production

Add ApplicationContext tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ApplicationContextTests.cs
Due: test

Cleanup ApplicationContext
  src/System.Windows.Forms/src/System/Windows/Forms/ApplicationContext.cs
Due: production

Follow-Up: Use a single placeholder instead of two as it is a single expression.
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogRadioButton.cs
Due: production

Fix COM interop ELEMDESC (#1254) (#1266)
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2TypeInfoProcessor.cs
Due: production

PR feedback: Invert property "DoNotSetForeground" to "SetToForeground".
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialog.cs
Due: production

Updating NetAssembly definition.
  src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs
Due: production

Fix typo
  Documentation/winforms-designer.md
Due: none

Invert ifs to reduce nesting
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
Due: production

Cleanup: remove duplicated code
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ComponentDesignerTests.cs
Due: production, test

Port NET Fx code
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ComponentDesignerTests.cs
Due: production, test

Add more XML documentation.
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogButtons.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogResult.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogStandardIcon.cs
Due: production

Clean out dead interop code
  src/Common/src/CommonUnsafeNativeMethods.cs
  src/Common/src/NativeMethods.cs
  src/Common/src/SafeNativeMethods.cs
  src/Common/src/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/CommonUnsafeNativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/NativeMethods.cs
  src/System.Windows.Forms.Design.Editors/src/Misc/UnsafeNativeMethods.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionPanel.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/BehaviorService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/DragAssistanceManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/FxCopSuppression.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SystemInformation.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
  src/System.Windows.Forms/src/misc/DbgUtil.cs
  src/System.Windows.Forms/src/misc/GDI/FxCopSuppression.cs
  src/System.Windows.Forms/src/misc/GDI/NativeMethods.cs
  src/System.Windows.Forms/src/misc/GDI/SafeNativeMethods.cs
  src/System.Windows.Forms/src/misc/GDI/UnsafeNativeMethods.cs
  src/System.Windows.Forms/tests/UnitTests/ApiHelperTests.cs
Due: production, test

Fix argument name & use nameof instead of magic string (dotnet/corefxdotnet/runtime#39154)
  src/System.Drawing.Common/src/System/Drawing/Graphics.Unix.cs
  src/System.Drawing.Common/tests/GraphicsTests.cs
Due: none

proposed removal of serializable attribute(s) where no longer necessary
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ExceptionCollection.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializerException.cs
  src/System.Windows.Forms.Design/src/System/Drawing/Design/ToolboxItem.cs
  src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs
  src/System.Windows.Forms/src/System/Resources/ResXNullRef.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageListStreamer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkArea.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewGroup.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewItemImageIndexer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OwnerDrawPropertyBag.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Padding.cs
  src/System.Windows.Forms/src/misc/InvariantComparer.cs
Due: production

cleanup ListViewItem, ExceptionCollection, and associated tests
  src/Common/src/NativeMethods.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerHost.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ExceptionCollection.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializerException.cs
  src/System.Windows.Forms.Design/src/System/Drawing/Design/ToolboxItem.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ExceptionCollectionTests.cs
  src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ImageListStreamer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewGroup.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewItemImageIndexer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItem.SubItemStyle.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItemCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OwnerDrawPropertyBag.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Padding.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewItemTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewSubItemCollectionTests.cs
Due: production, test

tests for Serializable attribute presence
  src/System.Windows.Forms/tests/UnitTests/SerializableAttributeTests.cs
Due: test

Port EventHandlerService from NET Fx
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/EventHandlerService.cs
Due: production

Clean up and add tests
  src/Common/tests/TraceListenerlessContext.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/EventHandlerService.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System.Windows.Forms.Design.Tests.csproj
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/EventHandlerServiceTests.cs
Due: production, test

Improve editor tests
  src/Common/tests/CommonTestHelper.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/ComponentModel/Design/ArrayEditorTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/ComponentModel/Design/CollectionEditorTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Drawing/Design/BitmapEditorTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Drawing/Design/FontEditorTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Drawing/Design/FontNameEditorTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Drawing/Design/ImageEditorTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Drawing/Design/MetafileEditorTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Windows/Forms/Design/FileNameEditorTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Windows/Forms/Design/FolderNameEditorTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Drawing/Design/UITypeEditorTests.cs
Due: test

Add more ComponentDesigner tests
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ComponentDesignerTests.cs
Due: test

Fix ComponentDesigner bugs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
Due: production

First_AddNew_Case
  Winforms.sln
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAddNewTests/MauiAddNewTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiAddNewTests/MauiAddNewTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/System.Windows.Forms.Maui.IntegrationTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiAddNewTests.cs
Due: test

Update src/System.Windows.Forms/tests/UnitTests/SerializableAttributeTests.cs
  src/System.Windows.Forms/tests/UnitTests/SerializableAttributeTests.cs
Due: test

Enable XUnit Analyzers (dotnet/corefxdotnet/runtime#38676)
  src/System.Drawing.Common/tests/BrushTests.cs
  src/System.Drawing.Common/tests/ColorTranslatorTests.cs
  src/System.Drawing.Common/tests/Drawing2D/CustomLineCapTests.cs
  src/System.Drawing.Common/tests/FontTests.cs
  src/System.Drawing.Common/tests/Imaging/ImageAttributesTests.cs
  src/System.Drawing.Common/tests/Imaging/MetafileTests.cs
  src/System.Drawing.Common/tests/Printing/PrintDocumentTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/BitmapTests.cs
  src/System.Drawing.Common/tests/mono/System.Drawing/GraphicsTests.cs
  src/System.Drawing.Common/tests/mono/System.Imaging/MetafileTest.cs
Due: none

Remove DesignSurface dead code
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignSurface.cs
Due: production

Add more DesignHost/Surface tests
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignSurfaceTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionListCollectionTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerHostTests.cs
Due: test

Add ObjectSelectorEditor tests
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/ComponentModel/Design/ObjectSelectorEditorTests.cs
Due: test

Fix ObjectSelectorEditor ICE
  src/System.Windows.Forms.Design.Editors/src/System/ComponentModel/Design/ObjectSelectorEditor.cs
Due: production

Add MultilineStringEditor tests
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/ComponentModel/Design/MultilineStringEditorTests.cs
Due: test

Fix MultilineStringEditor bugs
  src/System.Windows.Forms.Design.Editors/src/System/ComponentModel/Design/MultilineStringEditor.cs
Due: production

Add ColorEditor tests
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Drawing/Design/ColorEditorTests.cs
Due: test

Fix ColorEditor bugs
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/ColorEditor.cs
Due: production

Add CursorEditor tests
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Drawing/Design/CursorEditorTests.cs
Due: test

Fix CursorEditor bugs
  src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/CursorEditor.cs
Due: production

Add more editor tests
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Windows/Forms/Design/AnchorEditorTests.cs
  src/System.Windows.Forms.Design.Editors/tests/UnitTests/System/Windows/Forms/Design/DockEditorTests.cs
Due: test

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
