Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/System.Design/src/
      - src/System.Drawing/src/
      - src/System.Drawing.Design/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
  test:
    paths:
      - src/Common/tests/
      - src/System.Drawing.Design/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Design.Editors/tests/

Add tets for interop structures
  src/System.Windows.Forms/tests/InteropTests/NativeTests/CMakeLists.txt
  src/System.Windows.Forms/tests/InteropTests/NativeTests/RichTextBoxTests.cpp
  src/System.Windows.Forms/tests/InteropTests/RichTextBoxTests.cs
Due: test

Oops
  src/System.Windows.Forms/tests/InteropTests/NativeTests/RichTextBoxTests.cpp
Due: test

Cut working incorrectly in ToolStripTextBox
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripTextBox.cs
Due: production

Fixing ShowInTaskbar=false doesn't work in some cases (#6421)
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

Add Skip attribute or adjust skip condition for flaky tests
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ButtonTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: test

Add Skip attribute or adjust skip condition for flaky tests (#6991)
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ButtonTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Due: test

Enable nullability in MdiClient
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/MDIClient.cs
Due: production

Fix private field name
  src/System.Windows.Forms/src/System/Windows/Forms/MDIClient.ControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MDIClient.cs
Due: production

Enable nullability in SplitterPanel
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/SplitterPanel.cs
Due: production

Enable nullability in Com2ExtendedUITypeEditor
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ExtendedUITypeEditor.cs
Due: production

Fix private field name
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ExtendedUITypeEditor.cs
Due: production

Use pattern matching
  src/System.Windows.Forms/src/System/Windows/Forms/MDIClient.ControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MDIClient.cs
Due: production

Replace ArrayList with generic list
  src/System.Windows.Forms/src/System/Windows/Forms/MDIClient.ControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MDIClient.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/MdiClientTests.cs
Due: production, test

Move ControlCollectionEnumerator to a separate file
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlCollection.ControlCollectionEnumerator.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlCollection.cs
Due: production

Move SplitData and SplitterMessageFilter to separate files
  src/System.Windows.Forms/src/System/Windows/Forms/Splitter.SplitData.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Splitter.SplitterMessageFilter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Splitter.cs
Due: production

Fix private field name
  src/System.Windows.Forms/src/System/Windows/Forms/Splitter.SplitterMessageFilter.cs
Due: production

Switch to using globalconfig instead of ruleset for analyzer configuration
  eng/CodeAnalysis.src.globalconfig
  eng/CodeAnalysis.test.globalconfig
  eng/CodeStyle.targets
  eng/NonShipping.ruleset
  eng/Shipping.ruleset
Due: none

Fixed PGV accessibility tree for property descriptors and dropdown holders
  src/System.Windows.Forms/src/Properties/AssemblyInfo.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/DropDownButton.DropDownButtonAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyDescriptorGridEntry.PropertyDescriptorGridEntryAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.DropDownHolder.DropDownHolderAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.GridViewListBoxAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.GridViewTextBox.GridViewTextBoxAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/PropertyGridInternal/DropDownButton.DropDownButtonAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/PropertyGridInternal/PropertyDescriptorGridEntry.PropertyDescriptorGridEntryAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/PropertyGridInternal/PropertyGridView.DropDownHolder.DropDownHolderAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/PropertyGridInternal/PropertyGridView.GridViewListBox.GridViewListBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/PropertyGridInternal/PropertyGridView.GridViewTextBox.GridViewTextBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/System.Windows.Forms.UI.IntegrationTests.csproj
  src/System.Windows.Forms/tests/TestUtilities/Properties/InternalsVisibleTo.cs
  src/System.Windows.Forms/tests/TestUtilities/PropertyGridInternal/SubPropertyGrid.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridInternal/DropDownButton.DropDownButtonAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridInternal/PropertyGridView.DropDownHolder.DropDownHolderAccessibleObjectTests.cs
Due: production, test

Move ControlCollectionEnumerator to a separate file (#6998)
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlCollection.ControlCollectionEnumerator.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlCollection.cs
Due: production

Move SplitData and SplitterMessageFilter to separate files (#6999)
  src/System.Windows.Forms/src/System/Windows/Forms/Splitter.SplitData.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Splitter.SplitterMessageFilter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Splitter.cs
Due: production

Enable nullability in ColumnHeaderCollection
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.ColumnHeaderCollection.cs
Due: production

Fix private field name
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.ColumnHeaderCollection.cs
Due: production

Enable nullability in MdiClient (#6992)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/MDIClient.ControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MDIClient.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/MdiClientTests.cs
Due: production, test

Enable nullability in SplitterPanel (#6993)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/SplitterPanel.cs
Due: production

Enable nullability in Com2ExtendedUITypeEditor (#6994)
  src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2ExtendedUITypeEditor.cs
Due: production

Enable nullability in ToolStripRendererSwitcher
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripRendererSwitcher.cs
Due: production

Fix private field names
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripRendererSwitcher.cs
Due: production

Enable nullability in ToolStripRendererSwitcher (#7003)
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripRendererSwitcher.cs
Due: production

Move SplitContainerMessageFilter and SplitContainerTypedControlCollection to separate files
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.SplitContainerMessageFilter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.SplitContainerTypedControlCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.cs
Due: production

Enable nullability in SplitContainerMessageFilter and SplitContainerTypedControlCollection
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.SplitContainerMessageFilter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.SplitContainerTypedControlCollection.cs
Due: production

Merge nested if statements
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.SplitContainerTypedControlCollection.cs
Due: production

Cut working incorrectly in ToolStripTextBox (#6986)
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripTextBox.cs
Due: production

Enable nullability in ColumnHeaderCollection (#7002)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.ColumnHeaderCollection.cs
Due: production

Use generic dictionary and list in ACNativeWindow
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.ACNativeWindow.cs
Due: production

Check for null instead of using pattern matching and use more descriptive variable names
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.ACNativeWindow.cs
Due: production

Use new() and rename nulllist to toRemove
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.ACNativeWindow.cs
Due: production

Invert ifs to reduce nesting
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.SplitContainerMessageFilter.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Splitter.SplitterMessageFilter.cs
Due: production

Reduce nesting in SetChildIndexInternal
  src/System.Windows.Forms/src/System/Windows/Forms/SplitContainer.SplitContainerTypedControlCollection.cs
Due: production

Use generic dictionary and list in ACNativeWindow (#7001)
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.ACNativeWindow.cs
Due: production

Minor fixes (dotnet/runtime#67931)
  src/System.Drawing.Common/src/System/Drawing/Printing/PreviewPrintController.Windows.cs
Due: none
