Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add ThrowInvalidOperationExceptionIfNull
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
Due: production

Created Designer Selection document.
  docs/designer/designer-selection.md
  docs/images/designer-selection-feature-dialog.png
  docs/images/designer-selection-feature-flag.png
Due: none

Updated dialog image size.
  docs/designer/designer-selection.md
Due: none

Updating designer selection dialog image reference.
  docs/designer/designer-selection.md
Due: none

Fix coding style link in CONTRIBUTING.md (#10450)
  CONTRIBUTING.md
Due: none

1. PR comments. 2. Added InfoBar details.
  docs/designer/designer-selection.md
  docs/images/netfx-oop-designer-infobar.png
Due: none

PR comment: Forms -> forms
  docs/designer/designer-selection.md
Due: none

PR comments
  docs/designer/designer-selection.md
  docs/images/designer-selection-project-configuration.png
Due: none

PR comments
  docs/designer/designer-selection.md
Due: none

Minor update
  docs/designer/designer-selection.md
Due: none

Update the logic of the function GetIconResourceAsBitmap in class ScaleHelper
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ScaleHelper.cs
Due: none

Makes uia consider starting row as 1 (new default) for new lines in DataGridView
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
Due: production

Enable nullability in some DataGridView.Methods members (#10392)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
Due: production

Added property
  docs/designer/designer-selection.md
Due: none

Update docs/designer/designer-selection.md
  docs/designer/designer-selection.md
Due: none

Added a line break.
  docs/designer/designer-selection.md
Due: none

Add Test for PropertyDescriptorGridEntry
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/PropertyGridTests.cs
Due: test

add some comments
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripItemTests.cs
Due: test

Adding Designer Selection feature wiki (#10454)
  docs/designer/designer-selection.md
  docs/images/designer-selection-feature-dialog.png
  docs/images/designer-selection-feature-flag.png
  docs/images/designer-selection-project-configuration.png
  docs/images/netfx-oop-designer-infobar.png
Due: none

Update the logic of the funtion GetIconResourceAsBitmap
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ScaleHelper.cs
Due: none

Visual Studio shows a warning that a method could be made static
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Automation/UiaTextProvider.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Automation/UiaTextRange.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/Automation/UiaTextProviderTests.cs
Due: none

Add ScaleHelper.ScaleToInitialSystemDpi
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/DesignerActionGlyph.cs
Due: production

Introduce an internal method to check _component for null
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
Due: production

add Flags attribute to PropertySort
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertySort.cs
Due: production

Get rid of CA1822 in UiaTextProvider (#10465)
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Automation/UiaTextProvider.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Automation/UiaTextRange.cs
  src/System.Windows.Forms.Primitives/tests/UnitTests/System/Windows/Forms/Automation/UiaTextProviderTests.cs
Due: none

fix [Accessibility] Accessibility Insights tool keeps loading when mouse-over DataGridView #10343 (#10372)
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewComboBoxEditingControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewTextBoxEditingControl.cs
Due: production

fix [Accessibility] Accessibility Insights tool keeps loading when mouse-over DataGridView #10343
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewComboBoxEditingControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewTextBoxEditingControl.cs
Due: production

Revert PR_9884 “Migrate HtmlHelp to CsWin32” and add unit test (#10435)
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HH.cs
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HH_ALINKW.cs
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HH_FTS_QUERYW.cs
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HH_POPUPW.cs
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HtmlHelpW.cs
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.HtmlHelp.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Help/Help.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Help/HelpTests.cs
Due: production, test

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
