Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Updated test cases
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DateTimePickerTests.cs
Due: test

Update
  src/System.Windows.Forms/tests/UnitTests/TrackBarTests.cs
Due: test

Add test coverage for MaskedTextBox (#10978)
  src/System.Windows.Forms/tests/UnitTests/MaskedTextBoxTests.cs
Due: test

Remove TraceSwitch from CodeDomSerializer (#11062)
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUI.DesignerActionToolStripDropDown.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionUI.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/InheritanceService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/MenuCommandService.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/MultilineStringEditor.OleCallback.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationService.CodeDomSerializationStore.ComponentListCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomComponentSerializationService.CodeDomSerializationStore.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomDesignerLoader.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializerBase.TraceIfInterpolatedStringHandler.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializerBase.TraceInterpolatedStringHandler.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomSerializerBase.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CollectionCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ComponentCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ContainerCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/EnumCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/EventMemberCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/PrimitiveCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/PropertyMemberCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ResourceCodeDomSerializer.SerializationResourceManager.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/ResourceCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/TypeCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlCodeDomSerializer.cs
Due: production

First draft of Darkmode for ToolStrips.
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Buttons/ButtonBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/StatusStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripMenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DarkProfessionalColors.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Theming/DarkThemedSystemColors.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Theming/LightThemedSystemColors.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Theming/ThemedSystemColors.cs
Due: production

Fix merge issues.
  src/System.Windows.Forms.Primitives/src/GlobalUsings.cs
  src/System.Windows.Forms/src/GlobalUsings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

First draft of DarkMode implementation.
  src/System.Windows.Forms.Primitives/src/GlobalUsings.cs
  src/System.Windows.Forms/src/GlobalUsings.cs
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DarkModeSettings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ThemedSystemColors.cs
Due: production

Implement Form title bar coloring and
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Theming/DarkThemedSystemColors.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Theming/LightThemedSystemColors.cs
Due: production

* Enable GroupBox... * Enable PropertyGrid * Fix some code formatting issues * Try easy fixes for Calendar.
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DateTimePicker/DateTimePicker.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/GroupBox/GroupBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/MonthCalendar/MonthCalendar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.cs
Due: production

Correct Formatting/Merge issues.
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/StatusStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
Due: production

Added more XML comments and refactored the IsDarkModeEnabled logic a bit.
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DarkModeSettings.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Theming/ForcedLightThemedSystemColors.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Theming/ThemedSystemColors.cs
Due: production

Update unshipped API list.
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
Due: production

Fix rendering ListView ColumnHeaders in wrong text color in dark mode.
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.cs
Due: production

revert TrimTest project changes
  src/System.Windows.Forms/tests/IntegrationTests/TrimTest/TrimTest.csproj
Due: test

Fix release build
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripDropTargetManager.cs
Due: production

Migrate to 1es pipeline
  azure-pipelines-PR.yml
  azure-pipelines.yml
  eng/pipelines/build-PR.yml
  eng/pipelines/build.yml
  eng/pipelines/post-build-PR.yml
  eng/pipelines/post-build.yml
Due: none

Apply suggestions from code review
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/System/Windows/Forms/Internal/Formatter.cs
Due: production

migrate to 1es pipeline template
  azure-pipelines-PR.yml
  azure-pipelines.yml
  eng/pipelines/build-PR.yml
  eng/pipelines/build.yml
  eng/pipelines/post-build-PR.yml
  eng/pipelines/post-build.yml
Due: none

Fix merge issues.
  src/System.Drawing.Common/src/System/Drawing/SystemPens.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip/ToolTip.cs
Due: production

Fix compile error in DataGridView.
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
Due: production

Fix build break
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Remove another batch of tracing
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/OleDragDropHandler.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ParentControlDesigner.cs
  src/System.Windows.Forms.Primitives/src/System/ComponentModel/CompModSwitches.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Message.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Buttons/RadioButton.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TabControl/TabControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TabControl/TabPage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TextBox/TextBoxBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripDropDown.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripDropTargetManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripPanelCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripPanelRow.HorizontalRowManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripPanelRow.VerticalRowManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripPanelRow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/WebBrowser/WebBrowserBase.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/ContainerControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/Containers/SplitContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/NativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DropTarget.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Internals.cs
Due: production, test

Update README.md
  README.md
Due: none

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Add code coverage for RichTextBox (#10994)
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.cs
Due: test

Enable nullability in some GridEntry members (#10872)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/ArrayElementGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/CategoryGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/ImmutablePropertyDescriptorGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/MultiPropertyDescriptorGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyDescriptorGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.GridViewTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/SingleSelectRootGridEntry.cs
Due: production

Add code coverage for ProgressBarRender
  src/System.Windows.Forms/tests/UnitTests/ProgressBarRendererTest.cs
Due: test

Fix test
  src/System.Drawing.Common/tests/System/Drawing/Drawing2D/LinearGradientBrushTests.cs
Due: none

Update Pre-Release Iteration and Resource Management Milestone to preview4
  .github/policies/resourceManagement.yml
  eng/Versions.props
Due: none

Fix warnings
  src/System.Windows.Forms/tests/UnitTests/ProgressBarRendererTest.cs
Due: test

Enable nullability in DesignerExtenders
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerExtenders.NameExtenderProvider.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerExtenders.NameInheritedExtenderProvider.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerExtenders.cs
Due: production

Enable nullability in some GridEntry members
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.AxContainer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGrid.MeasureTextHelper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/ArrayElementGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.GridEntryAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/ImmutablePropertyDescriptorGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyDescriptorGridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.DropDownHolder.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/PropertyGridView.cs
Due: production

Simplify VbMakeException, properly wrap parameters
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/CompilerServices/ExceptionUtils.vb
Due: none

Update 2
  src/System.Windows.Forms/tests/UnitTests/TrackBarTests.cs
Due: test

InternalsVisibleTo("Microsoft.VisualBasic.Forms.Tests")
  src/Microsoft.VisualBasic.Forms/src/Properties/AssembtyInfo.vb
Due: none

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
