Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Localized file check-in by OneLocBuild Task
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Primitives/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Enable nullability in DataGridViewColumn EventArgs
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumnDividerDoubleClickEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumnEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumnStateChangedEventArgs.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewColumnStateChangedEventArgsTests.cs
Due: production, test

Disable failing arm64 win10 Graphics.FromHdc tests (dotnet/runtime#56732)
  src/System.Drawing.Common/tests/GraphicsTests.cs
Due: none

Update branding for 5.0.10
  eng/Versions.props
Due: none

Update branding for 5.0.10 (#5382)
  eng/Versions.props
Due: none

disable loc PR.
  eng/common/templates/job/onelocbuild.yml
Due: none

Default to SA instead of PMv2 for ApplicationConfiguration.Initialize()
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/ApplicationConfigurationGeneratorTests.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/ApplicationConfigurationInitializeBuilderTests.GenerateInitialize_DefaultFont=Tahoma.verified.txt
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/ApplicationConfigurationInitializeBuilderTests.GenerateInitialize_DefaultFont=default.verified.txt
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/ApplicationConfigurationInitializeBuilderTests.GenerateInitialize_DefaultFont=null.verified.txt
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/ApplicationConfigurationInitializeBuilderTests.GenerateInitialize_EnableVisualStyles=false.verified.txt
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/ApplicationConfigurationInitializeBuilderTests.GenerateInitialize_EnableVisualStyles=true.verified.txt
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/ApplicationConfigurationInitializeBuilderTests.GenerateInitialize_UseCompTextRendering=false.verified.txt
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/ApplicationConfigurationInitializeBuilderTests.GenerateInitialize_UseCompTextRendering=true.verified.txt
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/MockData/ApplicationConfigurationGeneratorTests.GenerateInitialize_default_boilerplate.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/MockData/ApplicationConfigurationGeneratorTests.GenerateInitialize_default_top_level.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/MockData/ApplicationConfigurationGeneratorTests.GenerateInitialize_user_settings_boilerplate.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/MockData/ApplicationConfigurationGeneratorTests.GenerateInitialize_user_top_level.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/MockData/ApplicationConfigurationInitializeBuilderTests.default_boilerplate.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/MockData/ApplicationConfigurationInitializeBuilderTests.default_top_level.cs
  src/System.Windows.Forms.Analyzers/src/System/Windows/Forms/ApplicationConfig.cs
Due: none

Remove old fwlink from Obsolete messages and make message improvements (dotnet/runtime#56690)
  src/System.Drawing.Common/ref/System.Drawing.Common.cs
  src/System.Drawing.Common/src/System/Drawing/FontFamily.cs
  src/System.Drawing.Common/src/System/Drawing/Imaging/EncoderParameter.cs
Due: none

Replace all remaining pkgprojs with NuGet Pack task (dotnet/runtime#56712)
  src/System.Drawing.Common/Directory.Build.props
  src/System.Drawing.Common/pkg/System.Drawing.Common.pkgproj
  src/System.Drawing.Common/src/CompatibilitySuppressions.xml
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
Due: none

Localized file check-in by OneLocBuild Task
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Analyzers.CSharp/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms.Analyzers/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms.Design/src/Resources/xlf/SR.zh-Hant.xlf
Due: production

Fix Color contrast ratio of Collapsed icon of Font node is less than 3:1 #4356
  src/System.Windows.Forms/src/Resources/System/Windows/Forms/PropertyGrid/ClosedGlyph.ico
  src/System.Windows.Forms/src/Resources/System/Windows/Forms/PropertyGrid/OpenedGlyph.ico
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridEntry.cs
Due: production

Strong name key id cleanup and pkg testing move (dotnet/runtime#57044)
  src/System.Drawing.Common/Directory.Build.props
Due: none

Automatically generate .NETStandard compat errors (dotnet/runtime#57057)
  src/System.Drawing.Common/src/System.Drawing.Common.csproj
Due: none

Migrate to source generators API v2
  eng/Versions.props
  src/System.Windows.Forms.Analyzers.CSharp/src/System/Windows/Forms/Generators/ApplicationConfigurationGenerator.cs
  src/System.Windows.Forms.Analyzers.CSharp/src/System/Windows/Forms/Generators/ApplicationConfigurationSyntaxReceiver.cs
Due: none

Migrate public source generators to API v2
  src/System.Windows.Forms.Analyzers.CSharp/src/System/Windows/Forms/Generators/ApplicationConfigurationGenerator.cs
  src/System.Windows.Forms.Analyzers.CSharp/src/System/Windows/Forms/Generators/ProjectFileReader.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/ApplicationConfigurationGeneratorTests.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Verifiers/CSharpIncrementalSourceGeneratorVerifier.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Verifiers/CSharpVerifierHelper.cs
Due: none

Feedback
  src/System.Windows.Forms.Analyzers.CSharp/src/System/Windows/Forms/Generators/ApplicationConfigurationGenerator.cs
Due: none

Migrate to source generators API v2 (#5412)
  eng/Versions.props
  src/System.Windows.Forms.Analyzers.CSharp/src/System/Windows/Forms/Generators/ApplicationConfigurationGenerator.cs
  src/System.Windows.Forms.Analyzers.CSharp/src/System/Windows/Forms/Generators/ApplicationConfigurationSyntaxReceiver.cs
  src/System.Windows.Forms.Analyzers.CSharp/src/System/Windows/Forms/Generators/ProjectFileReader.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System/Windows/Forms/Generators/ApplicationConfigurationGeneratorTests.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Verifiers/CSharpIncrementalSourceGeneratorVerifier.cs
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Verifiers/CSharpVerifierHelper.cs
Due: none

Implement IsAncestorSiteInDesignMode. (#5375)
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Fix compilation error
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/WinformsControlsTest.cs
Due: test

Fix Selection of dropdown throws exception in getting Accessible role #5397
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.ItemAccessibleObject.cs
Due: production

[internal/release/5.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Fixing the issue with getting a ListBox.ItemAccessibleObject.Role (#5416)
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.ItemAccessibleObject.cs
Due: production

Disable System.Drawing.Common tests for mobile workloads and skip a few other tests (dotnet/runtime#57114)
  src/System.Drawing.Common/tests/System.Drawing.Common.Tests.csproj
Due: none

Mechanical cleanup - renamed some variables, while reading the code.
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.ToolTipNativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Mechanical cleanup - renamed some variables, while reading the code. (#5423)
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.ToolTipNativeWindow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs
Due: production

Add single-file analyzer and fix warnings
  Directory.Build.targets
  src/System.Windows.Forms.Design/src/System/Drawing/Design/ToolboxItem.cs
  src/System.Windows.Forms/src/System/Resources/AssemblyNamesTypeResolutionService.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlVersionInfo.cs
Due: production

Reduce flackiness of the integration tests (#5351)
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/WinformsControlsTest.cs
Due: test

Add a new virtual property StatusStripBorder to ToolStripProfessionalRenderer
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/System/Windows/Forms/ProfessionalColorTable.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ProfessionalColors.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolstripProfessionalRenderer.cs
Due: production

Add a new virtual property StatusStripBorder to ToolStripProfessionalRenderer Pt.2
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/ProfessionalColorTable.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolstripProfessionalRenderer.cs
Due: production

Add a new virtual property StatusStripBorder to ToolStripProfessionalRenderer Pt.3
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/StatusStripTests.Rendering.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/StatusStripTests.cs
Due: production, test

Add a new virtual property StatusStripBorder to ToolStripProfessionalRenderer Pt.4
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
Due: production

Add a new virtual property StatusStripBorder to ToolStripProfessional… (#4739)
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/ProfessionalColorTable.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ProfessionalColors.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolstripProfessionalRenderer.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/StatusStripTests.Rendering.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/StatusStripTests.cs
Due: production, test

Run `dotnet template-localizer export pkg\Microsoft.Dotnet.WinForms.ProjectTemplates\content -r`
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/.template.config/localize/templatestrings.en.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/.template.config/localize/templatestrings.en.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/.template.config/localize/templatestrings.en.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-VisualBasic/.template.config/localize/templatestrings.en.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-VisualBasic/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/.template.config/localize/templatestrings.en.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-VisualBasic/.template.config/localize/templatestrings.en.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-VisualBasic/.template.config/template.json
Due: none

fixup! Run `dotnet template-localizer export pkg\Microsoft.Dotnet.WinForms.ProjectTemplates\content -r`
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-VisualBasic/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-VisualBasic/.template.config/template.json
Due: none

fixup! Run `dotnet template-localizer export pkg\Microsoft.Dotnet.WinForms.ProjectTemplates\content -r`
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/.template.config/localize/templatestrings.en.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/.template.config/localize/templatestrings.en.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-VisualBasic/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/.template.config/localize/templatestrings.en.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-VisualBasic/.template.config/localize/templatestrings.en.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-VisualBasic/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/.template.config/localize/templatestrings.en.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-VisualBasic/.template.config/localize/templatestrings.en.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-VisualBasic/.template.config/template.json
Due: none

Add implicit global usings to C# templates
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/Company.WinFormsApplication1.csproj
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/Company.ControlLibrary1.csproj
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/Company.ClassLibrary1.csproj
Due: none

Update templates
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/Form1.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/Program.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsControlLibrary-CSharp/UserControl1.cs
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/Class1.cs
Due: none

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
