Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  range: 20..80                   # 20 is red, 80 is green
  round: down                     # always round down
  precision: 5                    # highest level of decimal precision
  status:
    project:
      default: false
    patch:
      default: false
  fixes:
    - "eng/::/"

comment:
  layout: "diff, flags"           # coverage difference, flags below

flags:                            # which files to include in the reporting
  production:
    paths:
      - src/Common/src/
      - src/Microsoft.VisualBasic/src/
      - src/Microsoft.VisualBasic.Forms/src/
      - src/System.Drawing.Common/src/
      - src/System.Drawing.Design/src/
      - src/System.Private.Windows.Core/src/
      - src/System.Windows.Forms/src/
      - src/System.Windows.Forms.Analyzers/src/
      - src/System.Windows.Forms.Analyzers.CSharp/src/
      - src/System.Windows.Forms.Design/src/
      - src/System.Windows.Forms.Design.Editors/src/
      - src/System.Windows.Forms.Primitives/src/
      - src/System.Windows.Forms.PrivateSourceGenerators/src/
  test:
    paths:
      - src/Common/tests/
      - src/Microsoft.VisualBasic/tests/
      - src/Microsoft.VisualBasic.Forms/tests/
      - src/System.Drawing.Common/tests/
      - src/System.Windows.Forms/tests/
      - src/System.Windows.Forms.Analyzers/tests/
      - src/System.Windows.Forms.Analyzers.CSharp/tests/
      - src/System.Windows.Forms.Design/tests/
      - src/System.Windows.Forms.Primitives/tests/
      - src/System.Windows.Forms.PrivateSourceGenerators/tests/

Enable binskim
  azure-pipelines.yml
Due: none

Add core coverage for ListAdapter (#12093)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ListAdapterTests.cs
Due: test

Add unit tests for TextBoxDesigner (#12095)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/TextBoxDesignerTests.cs
Due: test

Add unit tests for PrintDialogDesigner (#12117)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/PrintDialogDesignerTests.cs
Due: test

Update dependencies from https://dev.azure.com/dnceng/internal/_git/dotnet-runtime build 20240911.12
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Enable Binskim (#12126)
  azure-pipelines.yml
Due: none

Update src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
Due: production

Fix spelling of C#
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDesigner.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ColumnHeader.cs
Due: production

Enable NuGet Audit and Fix Errors (#12120)
  Directory.Build.props
  NuGet.config
  eng/Versions.props
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/System.Windows.Forms.Analyzers.CSharp.Tests.csproj
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/System.Windows.Forms.Analyzers.VisualBasic.Tests.vbproj
  src/System.Windows.Forms.Analyzers/tests/UnitTests/System.Windows.Forms.Analyzers.Tests.csproj
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/CollectionEditorTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/MaskedTextBoxTextEditorTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/DataGridViewCellAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ApplicationContextTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxSystemMonitorTests.cs
Due: test

Shorten long lines REVIEW FIRST (#12106)
  src/System.Private.Windows.Core/src/Windows/Win32/System/Variant/VARIANT.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerActionPanel.TextBoxPropertyLine.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripItemDesigner.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerActionMethodItemTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ActiveX/AxHost.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewColumn.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewImageCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRowCollection.RowComparer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRowCollection.UnsharingRowEnumerator.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRowCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewTextBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/CheckedListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListBoxes/ListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PictureBox/PictureBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/RichTextBox/RichTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TabControl/TabControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TrackBar/TrackBar.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TreeView/TreeView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/WebBrowser/WebBrowser.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/TestHelpers.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ListViewTests.cs
  src/System.Windows.Forms/tests/InteropTests/NativeTests/RawErrorInfoUsageTest.cpp
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/ListViewGroup.ListViewGroupAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHost.AxPropertyDescriptorTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ColumnHeaderCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewCellTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewSubItemCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabPageTests.cs
Due: production, test

Dispose _control
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/ControlDesigner.DesignerControlCollectionTests.cs
Due: test

Handling of premature use of using
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/TabPageDesignerTests.cs
Due: test

Update
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/PanelDesignerTests.cs
Due: test

Fix build failure issue
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/PropertyGridInternal/DropDownButton.DropDownButtonAccessibleObjectTests.cs
Due: test

PR Feedback
  src/System.Drawing.Common/src/System/Drawing/Icon.cs
  src/System.Drawing.Common/src/Windows/Win32/PInvoke.SHGetStockIconInfo.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/Controls/Dialogs/DEVNAMES.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/Controls/Dialogs/PRINTDLGEXW.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/Controls/Dialogs/PRINTPAGERANGE.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/Foundation/COLORREF.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.MaxClassName.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/CHOOSECOLORW.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/CHOOSEFONTW.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/PAGESETUPDLGW.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/PRINTDLGW_64.cs
Due: production

PR Feedback
  src/System.Drawing.Common/src/Windows/Win32/PInvoke.SHGetStockIconInfo.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/Controls/Dialogs/DEVNAMES.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/Controls/Dialogs/PRINTDLGEXW.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/Controls/Dialogs/PRINTPAGERANGE.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/Foundation/COLORREF.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.MaxClassName.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/CHOOSECOLORW.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/CHOOSEFONTW.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/PAGESETUPDLGW.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/PRINTDLGW_64.cs
Due: production

Fixed the build failures -- 4
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/PropertyGridInternal/PropertyGridView.DropDownHolder.DropDownHolderAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/PropertyGridInternal/PropertyGridView.GridViewListBox.GridViewListBoxAccessibleObjectTests.cs
Due: test

More lines
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ComponentTray.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DataGridViewCellStyleBuilder.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DataGridViewColumnCollectionDialog.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DataGridViewDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignBindingPicker.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignBindingValueUIHandler.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/FormatControl.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ISelectionUIService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/MaskDesignerDialog.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/MaskedTextBoxDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/OleDragDropHandler.ComponentDataObject.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ParentControlDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SelectionUIService.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SplitContainerDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SplitterDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TableLayoutPanelDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TemplateNodeCustomMenuItemCollection.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripAdornerWindowService.cs
Due: production

fix issue
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripSystemRenderer.cs
Due: production

Fixed the build failures -- 5
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/PropertyGridInternal/PropertyGridView.GridViewTextBox.GridViewTextBoxAccessibleObjectTests.cs
Due: test

Add unit test for TabControlDesigner.cs file
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/TabControlDesignerTests.cs
Due: test

fix: Border of SplitButton of ToolStrip is not contrasting enough … (#12092)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripHighContrastRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripSystemRenderer.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolstripProfessionalRenderer.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripButtonTests.Rendering.cs
Due: production, test

Add unit tests for PanelDesigner (#12113)
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/PanelDesignerTests.cs
Due: test

Notify the drag-image manager prior to invoking the DragDrop and DragLeave events (#12070)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/RichTextBox/RichTextBox.OleCallback.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripDropTargetManager.cs
  src/System.Windows.Forms/src/System/Windows/Forms/OLE/DropTarget.cs
Due: production

Fix failing Ping Test
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/Devices/NetworkTests.cs
Due: test

Minor PR Feedback
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/ConsoleApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/HttpClientCopy.vb
Due: production

Restore Disable message
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Clock.vb
Due: production

PR Feedback
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/ColorMatrixEffect.cs
Due: production

Update src/System.Windows.Forms.Primitives/src/System/Windows/Forms/AccessibiltyExtensions.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/AccessibiltyExtensions.cs
Due: production

Revert comment change
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
Due: production

Revert some formatting changes
  src/System.Drawing.Common/src/System/Drawing/Imaging/Effects/ColorMatrixEffect.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/Core/BinaryFormat/ArrayRecord.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/Core/BinaryFormat/BinaryType.cs
  src/System.Private.Windows.Core/src/System/Private/Windows/Core/BinaryFormat/RecordType.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Dialogs/TaskDialog/TaskDialog.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Input/InputLanguage.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolTip/KeyboardToolTipStateMachine.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/ScreenRecordService.cs
Due: production, test

Change see href to avoid spelling errors
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/MyServices/ClipboardProxyTests.cs
  src/System.Drawing.Common/src/System/Drawing/Icon.cs
  src/System.Drawing.Common/src/Windows/Win32/PInvoke.SHGetStockIconInfo.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/Controls/Dialogs/DEVNAMES.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/Controls/Dialogs/PRINTDLGEXW.cs
  src/System.Private.Windows.Core/src/Windows/Win32/UI/Controls/Dialogs/PRINTPAGERANGE.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripDesigner.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/Foundation/COLORREF.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.MaxClassName.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/CHOOSECOLORW.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/CHOOSEFONTW.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/PAGESETUPDLGW.cs
  src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/PRINTDLGW_64.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ColumnHeader.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Input/InputLanguage.cs
  src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/Infra/ScreenRecordService.cs
Due: production, test
