Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Pospont to PR Feedback
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
Due: production

Respond to PR Feedback
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
Due: production

Restore NetworkDownload
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network/NetworkDownload.vb
Due: production

Sort and cleanup whitespace 2 files
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationServices.vb
Due: production

Sort WindowsFormsApplicationBase
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
Due: production

fix comment
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
Due: test

Fix OnItemChecked method throw exception when the ListViewItem is clone object.
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ListView/ListView.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/CloneTestListView.cs
Due: production, test

Refactor AddDesignerSerializationVisibilityCodeFix.
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Analyzers/MissingPropertySerializationConfiguration/ControlPropertySerializationDiagnosticAnalyzerTest.cs
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/System/Windows/Forms/CSharp/CodeFixes/AddDesignerSerializationVisibility/AddDesignerSerializationVisibilityCodeFixProvider.cs
Due: test

Add test case
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
Due: test

Remove unnecessary using
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewTests.cs
Due: test

Add tests for property "ForeColor" of the DateTimePicker.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DateTimePickerTests.cs
Due: test

Changes TextFormatFlat when drawing text in SplitterPanelDesigner in DemoConsole to avoid crash while debugging
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SplitterPanelDesigner.cs
Due: production

Update DateTimePickerTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DateTimePickerTests.cs
Due: test

Merged PR 41782: [internal/release/8.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Fix CSharp code fix.
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Analyzers/MissingPropertySerializationConfiguration/ControlPropertySerializationDiagnosticAnalyzerTest.cs
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/System/Windows/Forms/CSharp/CodeFixes/AddDesignerSerializationVisibility/AddDesignerSerializationVisibilityCodeFixProvider.cs
Due: test

Update list-of-diagnostics.md
  docs/list-of-diagnostics.md
Due: none

Update list-of-diagnostics.md (#11903)
  docs/list-of-diagnostics.md
Due: none

Fix VB AddDesignerSerializationVisibilityCodeFix edge cases.
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/System/Windows/Forms/CSharp/CodeFixes/AddDesignerSerializationVisibility/AddDesignerSerializationVisibilityCodeFixProvider.cs
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/AddDesignerSerializationVisibility/AddDesignerSerializationVisibilityCodeFixProvider.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/MissingPropertySerializationConfigurationAnalyzerTest.vb
Due: none

Fix raising wrong event on changing FormCaptionTextColor.
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

Fix bug where in Visual Basic VisualStyles no longer get applied.
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
Due: production

Respond to PR Feedback
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/ApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/AssemblyInfo.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/User.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.ApplicationMode.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.ShutdownMode.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/CompilerServices/ExceptionUtils.VbErrors.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/CompilerServices/ExceptionUtils.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Keyboard.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Mouse.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/FileSystemUtils.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeMethods.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/UnsafeNativeMethods.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.ReferencedStream.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Log.DefaultTraceSource.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Logging.DiskSpaceExhaustedOption.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Logging.LogFileCreationScheduleOption.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Logging.LogFileLocation.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/ClipboardProxy.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/FileSystemProxy.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/ProgressDialog.vb
Due: production

Partial Merge with Sort PR
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/ApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/AssemblyInfo.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/User.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.AuthenticationMode.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.ShutdownMode.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/CompilerServices/ExceptionUtils.VbErrors.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/CompilerServices/ExceptionUtils.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Keyboard.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Mouse.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/FileSystemUtils.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeMethods.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/UnsafeNativeMethods.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.ReferencedStream.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Log.DefaultTraceSource.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Logging.DiskSpaceExhaustedOption.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Logging.LogFileCreationScheduleOption.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Logging.LogFileLocation.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/ClipboardProxy.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/FileSystemProxy.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/ProgressDialog.vb
  src/System.Windows.Forms.Analyzers.CSharp/tests/UnitTests/Analyzers/MissingPropertySerializationConfiguration/ControlPropertySerializationDiagnosticAnalyzerTest.cs
  src/System.Windows.Forms.Analyzers.CodeFixes.CSharp/System/Windows/Forms/CSharp/CodeFixes/AddDesignerSerializationVisibility/AddDesignerSerializationVisibilityCodeFixProvider.cs
  src/System.Windows.Forms.Analyzers.CodeFixes.VisualBasic/AddDesignerSerializationVisibility/AddDesignerSerializationVisibilityCodeFixProvider.vb
  src/System.Windows.Forms.Analyzers.VisualBasic/tests/UnitTests/System.Windows.Forms.Analyzers.VisualBasic.Tests/MissingPropertySerializationConfigurationAnalyzerTest.vb
Due: production, test

Sort ExceptionUtils
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/CompilerServices/ExceptionUtils.vb
Due: production

Sort remainder of functions
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/FileSystemProxy.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/ProgressDialog.vb
Due: production

Sort functions
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/ApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/FileSystemProxy.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/ProgressDialog.vb
Due: production

Correct Name of WindowsFormsApplicationBase.AuthenticationMode
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.AuthenticationMode.vb
Due: production

Fix reading Dark Mode; extrend XML docs for FormBorderxxx properties clarification.
  src/System.Windows.Forms/src/System/Windows/Forms/Application.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

Partial Merge with Sort
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/AssemblyInfo.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/User.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.AuthenticationMode.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.ShutdownMode.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/CompilerServices/ExceptionUtils.VbErrors.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/CompilerServices/ExceptionUtils.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Keyboard.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Mouse.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/FileSystemUtils.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeMethods.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/UnsafeNativeMethods.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.ReferencedStream.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/FileLogTraceListener.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Log.DefaultTraceSource.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Logging.DiskSpaceExhaustedOption.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Logging.LogFileCreationScheduleOption.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Logging.LogFileLocation.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/ClipboardProxy.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/FileSystemProxy.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/ProgressDialog.vb
Due: production

Cleanup from Merge
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.ApplicationMode.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Logging.LogFileCreationScheduleOption.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/WebClientCopy.vb
Due: production

Minor cleanup
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network/NetworkDownload.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/WebClientCopy.vb
Due: production

Clean up spacing
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Logging/Logging.LogFileCreationScheduleOption.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/MyServices/Internal/WebClientCopy.vb
Due: production

Cleanup Spacing
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/CompilerServices/ExceptionUtils.vb
Due: production

Fix more Sync Issues
  src/Microsoft.VisualBasic.Forms/src/GlobalSuppressions.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/CompilerServices/ExceptionUtils.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Audio.AutioPlayMode.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb
Due: production

Correct spelling for Audio.AudioPlayMode
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Audio.AudioPlayMode.vb
Due: production

Correct spelling for Audio.AudioPlayMode
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Audio.AutioPlayMode.vb
Due: production

Fix reason in SuppressMessage
  src/Microsoft.VisualBasic.Forms/src/GlobalSuppressions.vb
Due: production

Merged PR 41819: [internal/release/6.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: none

Fix XML comments and property value handling in Formxxx properties.
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
Due: production

Make use of ExceptionUtilsand Utils functions very explicit.
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Devices/Network.vb
Due: production

Path conditions:
  production: any of: src/Common/src/, src/Microsoft.VisualBasic/src/, src/Microsoft.VisualBasic.Forms/src/, src/System.Drawing.Common/src/, src/System.Drawing.Design/src/, src/System.Private.Windows.Core/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Analyzers/src/, src/System.Windows.Forms.Analyzers.CSharp/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/, src/System.Windows.Forms.Primitives/src/, src/System.Windows.Forms.PrivateSourceGenerators/src/
  test: any of: src/Common/tests/, src/Microsoft.VisualBasic/tests/, src/Microsoft.VisualBasic.Forms/tests/, src/System.Drawing.Common/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Analyzers/tests/, src/System.Windows.Forms.Analyzers.CSharp/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Primitives/tests/, src/System.Windows.Forms.PrivateSourceGenerators/tests/
