Repository dotnet/winforms: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

revert PR#9884: Migrate HtmlHelp to CsWin32
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HH.cs
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HH_ALINKW.cs
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HH_FTS_QUERYW.cs
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HH_POPUPW.cs
  src/System.Windows.Forms.Primitives/src/Interop/Hhctrl/Interop.HtmlHelpW.cs
  src/System.Windows.Forms.Primitives/src/NativeMethods.txt
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.HtmlHelp.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Help/Help.cs
Due: production

rollback changes addressed in other PRs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/FlowPanelDesigner.cs
Due: production

null-annotate ComponentDesigner
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.ShadowPropertyCollection.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
Due: production

review feedback
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.ControlDesignerAccessibleObject.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SplitContainerDesigner.cs
Due: production

fix tests
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ComponentDesignerTests.cs
Due: test

fix annotations in annotated consumers
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.ControlDesignerAccessibleObject.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SplitContainerDesigner.OrientationActionList.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SplitContainerDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SplitterPanelDesigner.cs
Due: production

post rebase fixes
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/BindingNavigatorDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/BindingSourceDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DataGridViewColumnDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DataGridViewDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/NotifyIconDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/PrintDialogDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripContainerDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripPanelDesigner.cs
Due: production

review feedback
  src/System.Windows.Forms.Design/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SplitContainerDesigner.OrientationActionList.cs
Due: production

review feedback
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
Due: production

review feedback: cleanups
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.ControlDesignerAccessibleObject.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripContainerDesigner.cs
Due: production

small fix and consolidation of UpdateTextualDefaultProperty
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
Due: production

review feedback: GetRequiredService
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.ControlDesignerAccessibleObject.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SplitContainerDesigner.OrientationActionList.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/SplitContainerDesigner.cs
Due: production

make GetService less strict
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
Due: production

add backing nullable field to Component property
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
Due: production

review feedback: nesting
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
Due: production

update tests
  src/System.Windows.Forms.Design/tests/UnitTests/ControlDesignerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ComponentDesignerTests.cs
Due: test

change ControlDesigner.Dispose to account for new behavior
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlDesigner.cs
Due: production

Enable nullability in remaining DataGridViewCell members (#10406)
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCellPaintingEventArgs.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewCheckBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewComboBoxCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridViewRowHeaderCell.cs
Due: production

Apply NotifyParentsOfChanges fix to MultiPropertyDescriptorGridEntry
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/MultiPropertyDescriptorGridEntry.cs
Due: production

Add unit test for Help
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Help/HelpTests.cs
Due: test

Add unit test for Shortcut
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripMenuItemTests.cs
Due: test

Fix HasErrors so it returns correct value
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider/ErrorProvider.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ErrorProviderTests.cs
Due: production, test

Add ValuePattern.Value changed event to TextBox (#10295)
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TextBox/TextBoxBase.TextBoxBaseAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/TextBox/TextBoxBase.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/Control.ControlAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/MaskedTextBox.MaskedTextBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjects/TextBoxBaseAccessibleObjectTests.cs
Due: production, test

[API Proposal]: add ToolStripItem.SelectedChanged event #8548
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripItem.cs
Due: production

fix format
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ToolStrips/ToolStripItem.cs
Due: production

Add unit test
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripItemTests.cs
Due: test

Respond to feedback.
  docs/coding-style.md
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/PaddingConverter.cs
Due: none

Update ScaleHelper file name
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/DpiHelper.DpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ScaleHelper.DpiAwarenessScope.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ScaleHelper.cs
Due: none

Update ScaleHelper file name (#10447)
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/DpiHelper.DpiAwarenessContext.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ScaleHelper.DpiAwarenessScope.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ScaleHelper.cs
Due: none

review feedback
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/PropertyGrid/PropertyGridInternal/MultiSelectRootGridEntry.PropertyMerger.cs
Due: production

throw NRE in Initialize
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs
Due: production

changes from review
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ErrorProviderTests.cs
Due: test

Fix `ErrorProvider.HasErrors` so maintains correct value (#10440)
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider/ErrorProvider.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ErrorProviderTests.cs
Due: production, test

Reduce nesting in LinkLabel
  src/System.Windows.Forms.Primitives/src/Windows/Win32/PInvoke.RegionScope.cs
  src/System.Windows.Forms/src/PublicAPI.Unshipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.ObjectCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/ComboBox/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/GroupBox/GroupBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Labels/Label.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Labels/LinkLabel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/Labels/LinkUtilities.cs
Due: production

Update test case
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripMenuItemTests.cs
Due: test

Fix coding style link in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Enable nullability in some DataGridView.Methods members
  src/System.Windows.Forms/src/System/Windows/Forms/Controls/DataGridView/DataGridView.Methods.cs
Due: production

Path conditions:
  production: any of: src/Common/src/, src/System.Design/src/, src/System.Drawing/src/, src/System.Drawing.Design/src/, src/System.Windows.Forms/src/, src/System.Windows.Forms.Design/src/, src/System.Windows.Forms.Design.Editors/src/
  test: any of: src/Common/tests/, src/System.Drawing.Design/tests/, src/System.Windows.Forms/tests/, src/System.Windows.Forms.Design/tests/, src/System.Windows.Forms.Design.Editors/tests/
